<div class="requirement" id="requirement_<%= requirement.object_id %>">
  <div class="<%= requirement.name %> serializable_item">
    <%= hidden_field_tag("#{container}[requirements][requirement_#{requirement.object_id}][type]", requirement.name) %>

    <%= link_to_function(t(".remove"), "$('#requirement_#{requirement.id}').remove()", :class => :remove) %>

    <h4><%= t("requirements.#{requirement.name}.name") %></h4>

    <% fields_for "#{container}[requirements][requirement_#{requirement.object_id}]", requirement do |form| %>
      <%= form.fields "admin/requirements/form_fields/#{requirement.name}" %>
      <%= form.fields "admin/requirements/form_fields/common" %>
    <% end %>
  </div>
</div>