<tr>
  <td class="picture"><%= boost_image(boost, :small) %></td>
  <td class="info">
    <div class="name"><%= boost.name %></div>
    <div class="description"><%= boost.description %></div>
  </td>
  <td class="requirements">
    <% if boost.price? %>
      <h3><%= Boost.human_attribute_name("price") %></h3>

      <%= attribute_requirement(:basic_money, number_to_currency(boost.basic_price)) if boost.basic_price > 0 %>
      <%= vip_money_requirement(boost.vip_price) if boost.vip_price > 0 %>
    <% else %>
      <strong><%= t(".free") %></strong>
    <% end %>
  </td>
  <td class="controls">
    <% form_tag "", :class => :clearfix do %>
      <%= amount_select_tag %>

      <%= link_to_remote(button(:buy),
            :url    => purchased_boosts_path(:boost_id => boost.id),
            :update => :result,
            :with   => "$(this).parent('form').serialize()",
            :html   => {:class => "buy button"}
          ) %>
    <% end %>
  </td>
</tr>
