<% result_for :hit_listing do %>
  <% if @fight %>

    <% if !@fight.new_record? %>
      <% if @fight.winner == current_character %>
        <%= render "fights/create/success", :fight => @fight %>
      <% else %>
        <%= render "fights/create/failure", :fight => @fight %>
      <% end %>
    <% elsif !@fight.enough_stamina? %>
      <%= render("requirements/not_satisfied/stamina_point",
            :requirement => @fight.stamina_requirement
          ) %>
    <% elsif current_character.weak? %>
      <%= render("requirements/not_satisfied/health_point",
            :requirement => @fight.health_requirement
          ) %>
    <% else %>
      <p><%= @fight.errors.on(:character) %></p>
    <% end %>
      
  <% else %>
    <%= raw t(".already_completed", :victim => character_name_link(@hit_listing.victim)) %>
  <% end %>
<% end %>

<% dom_ready do %>
  $(document).trigger('result.received');
<% end %>