<div class="monster clearfix" id="<%= dom_id(monster) %>">
  <div class="image"><%= link_to(monster_image(monster, :normal), monster) %></div>

  <div class="info">
    <div class="name"><%= monster.name %></div>
    <div class="description"><%= monster.description %></div>
  </div>

  <div class="status info">
    <% if monster.won? %>
      <%= t('.won') %>
    <% else %>
      <%= t('.expired') %>
    <% end %>
  </div>

  <div class="controls">
    <% if fight.reward_collectable? %>
      <%= link_to(button(:reward), monster, :class => "reward button") %>
    <% else %>
      <%= link_to(button(:view), monster, :class => "view button") %>
    <% end %>
  </div>
</div>