<div id="inventory_for_equipment"
  <h2><%= t(".header") %></h2>

  <% current_character.inventories.available_for_equipment.each do |inventory| %>
    <% div_for inventory do %>
      <div class="image"><%= item_image(inventory, :small) %></div>
      <div class="name"><%= inventory.name %></div>
      <div class="amount"><%= t(".amount", :count => inventory.amount_available_for_equipment) %></div>
      <div class="controls">
        <% form_tag "", :class => :clearfix do %>
          <% if inventory.placements.size > 1 %>
            <%= raw t(".assign_to",
                  :placement => select_tag(:placement, options_for_select(inventory.placement_options_for_select))
                ) %>
          <% else %>
            <%= hidden_field_tag :placement, inventory.placements.first %>
        
            <%= raw t(".assign_to",
                  :placement => content_tag(:span, 
                    Character::Equipment.placement_name(inventory.placements.first)
                  )
                ) %>
          <% end %>

          <%= link_to_remote(button(:assign),
                :url    => equip_inventory_url(inventory, :canvas => false),
                :update => :result,
                :with   => "this.getParentNode().serialize()",
                :html   => {:class => "assign button"}
              ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>