<div class="boosts <%= "#{type} #{destination}" %>">
  <h3 class="description">
    <%= t(".types.#{type}.#{destination}") %>
    <%= help_link("boosts_#{type}_#{destination}") %>
  </h3>

  <div class="boost_content">
    <div class="container classic-carousel">
      <ul>
        <% current_character.boosts.for(type, destination).each do |boost| %>
          <li>
            <%= render("inventories/boost", :boost => boost, :destination => destination) %>
          </li>
        <% end %>

        <% current_character.boosts.available_for_purchase(type, destination).each do |item| %>
          <li>
            <div class="boost not_owned" data-item-id="<%= item.id %>" id="<%= boost_dom_id(item, destination) %>">
              <%= item_image(item, :small, :tooltip => true, :tooltip_on_click => true) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% dom_ready do %>
  Boost.setup('<%= type %>', '<%= destination %>', 3);
<% end %>
