<div class="boosts <%= "#{type} #{destination}" %>">
  <h3 class="description">
    <%= t(".types.#{type}.#{destination}") %>
    <%= help_link("boosts_#{type}_#{destination}") %>
  </h3>
  
  <div class="boost_content">
    <% if boosts = current_character.boosts.for(type, destination) and boosts.any? %>
      <div class="container classic-carousel">
        <ul>
          <% boosts_list(boosts, type, destination) do |boost, active| %>
            <li>
              <div class="boost <%= 'active' if active %>" id="<%= boost_dom_id(boost, destination) %>">
                <%= link_to_remote(inventory_item_image(boost, :small, :tooltip => true, :count => true),
                      :url => toggle_boost_inventory_path(boost),
                      :with => "'destination=#{destination}'",
                      :update => :ajax
                    ) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="buy"><%= t(".buy_boosts") %></div>
        
      <div class="buttons">
        <%= link_to(button(:buy_boosts), items_path, :class => 'button shop') %>
      </div>
    <% end %>
  </div>
</div>

<% dom_ready do %>
  $('.boosts.<%= type %>.<%= destination %>').setupBoost(3);
<% end %>
