<table class="character_attributes">
  <tr>
    <th colspan="2">
      <h3><%= fb_i(t(".header")) %></h3>
    </th>
  </tr>
  <tr class="attack">
    <th><%= fb_i(t(".personal_attack")) %></th>
    <td class="value"><%= character.inventory_attack_points %></td>
  </tr>
  <tr class="defence">
    <th><%= fb_i(t(".personal_defence")) %></th>
    <td class="value"><%= character.inventory_defence_points %></td>
  </tr>
  <tr class="attack">
    <th><%= fb_i(t(".relation_attack")) %></th>
    <td class="value"><%= character.relation_inventory_attack_points %></td>
  </tr>
  <tr class="defence">
    <th><%= fb_i(t(".relation_defence")) %></th>
    <td class="value"><%= character.relation_inventory_defence_points %></td>
  </tr>
</table>