<div id="equippables">
  <% if inventories_equippable_grouped_by_item_group.any? %>

    <div id="equippables-tabs">
      <ul>
        <% inventories_equippable_grouped_by_item_group.each do |item_group, inventories| %>
          <li><%= link_to(item_group.name, "##{dom_id(item_group, :inventories)}") %></li>
        <% end %>
      </ul>

      <% inventories_equippable_grouped_by_item_group.each do |item_group, inventories| %>
        <div class="item_group" id="<%= dom_id(item_group, :inventories) %>">
          <ul class="carousel-container">
            <% inventories.each do |inventory| %>
              <li class="inventory" id="<%= dom_id(inventory, :equipment) %>" data-placements="<%= inventory.placements.join(',') %>" data-equip="<%= equip_inventory_path(inventory) %>">
                <%= inventory_item_image(inventory, :small, 
                      :count => inventory.amount_available_for_equipment, 
                      :tooltip => {
                        :position => {
                          :my => 'top center',
                          :at => 'bottom center'
                        }
                      }
                    ) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="drag_tip">
      <%= t(".drag_tip") %>
    </div>

  <% else %>

    <%= empty_set %>

  <% end %>
</div>
