<div id="equippables">
  <% if inventories_equippable_grouped_by_item_group.any? %>

    <% tabs :id => :equipment_tabs do |t| %>
      <% inventories_equippable_grouped_by_item_group.each do |item_group, inventories| %>
        <% t.tab dom_id(item_group, :inventories), item_group.name do %>
          <ul class="item_group">
            <% inventories.each do |inventory| %>
              <li class="inventory" id="<%= dom_id(inventory.item, :equipment) %>"
                  data-placements="<%= inventory.placements.join(',') %>"
                  data-equip="<%= equip_inventory_path(inventory.item) %>">
                <%= inventory_item_image(inventory, :small,
                      :count => inventory.amount_available_for_equipment,
                      :tooltip => {
                        :position => {
                          :my => 'top center',
                          :at => 'bottom center'
                        }
                      }
                    ) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>

    <div class="drag_tip">
      <%= t(".drag_tip") %>
    </div>

  <% else %>

    <%= empty_set %>

  <% end %>
</div>
