<table id="inventory_holders" cellspacing="0">
  <tr class="holder" id="self">
    <td class="image"><%= character_picture(current_character) %></td>
    <td class="info">
      <div class="name"><%= character_name(current_character, :capitalize => true) %></div>
    </td>
  </tr>

  <tr><th colspan="2"><%= fb_i(t(".relations")) %></th></tr>

  <% if current_character.relations.size > 0 %>
    <% current_character.relations.each do |relation| %>
      <% content_tag_for :tr, relation.becomes(Relation), :class => :holder do %>
        <%= render :partial => "inventories/holders/#{relation.class.to_s.underscore}", :locals => {:relation => relation} %>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2">
        <div class="empty_set">
          <%= fb_i(t(".empty_set.text")) %>

          <%= link_to(t(".empty_set.invite"), invite_users_path, :class => :invite) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  Inventory.Holders.initialize();
</script>