<% if inventories.size > 0 %>
  <table cellspacing="0">
    <% ItemGroup.all.each do |group| %>
      <% if by_group = inventories.by_item_group(group) and by_group.any? %>
        <tr>
          <th colspan="3"><h3><%= fb_i(group.name) %></h3></th>
        </tr>
        <% by_group.each do |inventory| %>
          <% content_tag_for(:tr, inventory) do %>
            <td class="picture"><%= image_tag(inventory.image.url(:small)) if inventory.image? %></td>
            <td class="info">
              <div class="name"><%= fb_i(inventory.name) %></div>
              <div class="description"><%= fb_i(inventory.description) %></div>
            </td>
            <td class="effects">
              <%= attack(inventory.attack) %>
              <%= defence(inventory.defence) %>
              
              <% inventory.effects.each do |effect| %>
                <%= content_tag(:div, effect.value, :class => effect.name) %>
              <% end %>
            </td>
            <td class="stats">
              <div class="owned">
                <% fb_i do %>
                  <%= t(".owned") %>
                  <%= fb_it(:amount, inventory.amount) %>
                <% end %>
              </div>

              <% if inventory.use_in_fight > 0 %>
                <div class="used">
                  <% fb_i do %>
                    <%= t(".used") %>
                    <%= fb_it(:amount, inventory.use_in_fight) %>
                  <% end %>
                </div>
              <% end %>
            </td>
            <td class="controls">
              <%= link_to_remote(inventory_use_label(inventory),
                    :url    => use_inventory_url(inventory, :canvas => false),
                    :update => :result,
                    :html   => {:class => "use button"}
                  ) if inventory.usable? %>

              <%= link_to_remote(fb_i(t(".buttons.sell") + fb_it(:amount, number_to_currency(inventory.sell_price))),
                    :url    => inventory_url(inventory.item, :canvas => false),
                    :method => :delete,
                    :update => :result,
                    :html   => {:class => "sell button"}
                  ) if inventory.can_be_sold? %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set">
    <% fb_i do %>
      <%= t(".empty_set.text") %>

      <%= fb_it(:shop, link_to(fb_i(t(".empty_set.shop")), items_path)) %>
    <% end %>
  </div>
<% end %>