<% if inventories.size > 0 %>
  <table cellspacing="0" cellpadding="0">
    <% ItemGroup.all.each do |group| %>
      <% if by_group = inventories.by_item_group(group) and by_group.any? %>
        <tr>
          <th colspan="3"><h2><%= group.name %></h2></th>
        </tr>
        <% by_group.each do |inventory| %>
          <% content_tag_for(:tr, inventory) do %>
            <td class="picture"><%= item_image(inventory, :small) %></td>
            <td class="info">
              <div class="name"><%= inventory.name %></div>
              <div class="description"><%= inventory.description %></div>
              <div class="stats">
                <div class="owned">
                  <%= t(".owned",
                        :amount => content_tag(:span, inventory.amount, :class => :value)
                      ).html_safe %>
                </div>

                <% if inventory.equipped > 0 %>
                  <div class="used">
                    <%= t(".used",
                          :amount => content_tag(:span, inventory.equipped, :class => :value)
                        ).html_safe %>
                  </div>
                <% end %>
              </div>
            </td>
            <td class="payouts">
              <% if inventory.effects? %>
                <h3><%= Item.human_attribute_name("effects") %></h3>

                <%= render "items/effects", :item => inventory %>
              <% end %>
            </td>
            <td class="controls">
              <% if inventory.can_be_sold? %>
                <% form_tag "", :class => :clearfix do %>
                  <%= amount_select_tag %>

                  <%= link_to_remote(button(:sell, :price => number_to_currency(inventory.sell_price)),
                        :url    => inventory_path(inventory.item),
                        :method => :delete,
                        :with   => "$(this).parent('form').serialize()",
                        :update => :result,
                        :html   => {:class => "sell button"}
                      ) %>
                <% end %>
              <% end %>
              
              <%= link_to_remote(button(inventory.use_button_label.present? ? inventory.use_button_label : :use),
                    :url    => use_inventory_path(inventory),
                    :update => :result,
                    :html   => {:class => "use button"}
                  ) if inventory.usable? %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set">
    <%= t(".empty_set.text",
          :shop => link_to(t(".empty_set.shop"), items_path)
        ).html_safe %>
  </div>
<% end %>