<tr class="inventory" id="<%= dom_id(inventory) %>">
  <td class="picture"><%= item_image(inventory, :small) %></td>
  <td class="info">
    <div class="name"><%= inventory.name %></div>
    <div class="description"><%= inventory.description %></div>
    <div class="stats">
      <div class="owned">
        <%= t(".owned",
              :amount => span_tag(inventory.amount, :value)
            ).html_safe %>
      </div>

      <% if inventory.equipped > 0 %>
        <div class="used">
          <%= t(".equipped",
                :amount => span_tag(inventory.equipped, :value)
              ).html_safe %>
        </div>
      <% end %>
    </div>
  </td>
  <td class="payouts">
    <%= item_effects(inventory.item) %>
  </td>
  <td class="controls">
    <%= link_to(inventory_use_button(inventory), use_inventory_path(inventory),
          :remote => true,
          :method => :post,
          :"data-click-once" => true,
          :class => "use button"
        ) if inventory.usable? %>

    <% if inventory.can_be_sold? %>
      <% form_tag(inventory_path(inventory.item), :remote => true, :method => :delete, :class => :clearfix) do %>
        <%= amount_select_tag %>

        <%= link_to_function(button(:sell, :price => number_to_currency(inventory.sell_price)),
              "$(this).parent('form').submit()",
              :confirm  => t(".sell_confirm", :price => number_to_currency(inventory.sell_price)),
              :"data-click-once" => true,
              :class => "sell button"
            ) %>
      <% end %>
    <% end %>

    <% if inventory.can_be_sold_on_market? and Setting.b(:market_enabled) %>
      <% if inventory.market_items_count == 0 %>
        <%= link_to(button(:sell_on_market), new_market_item_path(:inventory_id => inventory),
              :remote => true,
              :method => :get,
              :class => "market button"
            ) %>
      <% else %>
        <div class="market_listing"><%= t(".listed_on_market") %></div>
      <% end %>
    <% end %>

    <% if Setting.b(:inventory_exchange_enabled) && inventory.item.exchangeable %>
      <% if current_character.exchanges.in_exchange?(inventory.item) %>
        <%= link_to(button(:view_exchange), exchange_path(current_character.exchanges.exchange_by(inventory.item).key),
              :class => "exchange button"
            ) %>
      <% else %>
        <%= link_to(button(:exchange), new_exchange_path(:inventory_id => inventory),
              :method => :get,
              :class => "exchange button"
            ) %>
      <% end %>
    <% end %>
  </td>
</tr>