<% if inventories.size > 0 %>
  <table cellspacing="0" cellpadding="0">
    <% ItemGroup.all.each do |group| %>
      <% if by_group = inventories.by_item_group(group) and by_group.any? %>
        <tr>
          <th colspan="3"><h3><%= group.name %></h3></th>
        </tr>
        <% by_group.each do |inventory| %>
          <% content_tag_for(:tr, inventory) do %>
            <td class="picture"><%= item_image(inventory, :small) %></td>
            <td class="info">
              <div class="name"><%= inventory.name %></div>
              <div class="description"><%= inventory.description %></div>
            </td>
            <td class="payout_preview">
              <%= payout_preview(:attack, "+%d" % inventory.attack) if inventory.attack > 0 %>
              <%= payout_preview(:defence, "+%d" % inventory.defence) if inventory.defence > 0 %>

              <% inventory.effects.each do |effect| %>
                <%= payout_preview(effect.name, "+%d" % effect.value, :label => t("effects.#{effect.name}.name")) %>
              <% end %>
            </td>
            <td class="stats">
              <div class="owned">
                <%= raw t(".owned",
                      :amount => content_tag(:span, inventory.amount, :class => :value)
                    ) %>
              </div>

              <% if inventory.equipped > 0 %>
                <div class="used">
                  <%= raw t(".used",
                        :amount => content_tag(:span, inventory.equipped, :class => :value)
                      ) %>
                </div>
              <% end %>
            </td>
            <td class="controls">
              <% if inventory.can_be_sold? %>
                <% form_tag "", :class => :clearfix do %>
                  <%= amount_select_tag %>

                  <%= link_to_remote(button(:sell, :price => number_to_currency(inventory.sell_price)),
                        :url    => inventory_url(inventory.item, :canvas => false),
                        :method => :delete,
                        :with   => "this.getParentNode().serialize()",
                        :update => :result,
                        :html   => {:class => "sell button"}
                      ) %>
                <% end %>
              <% end %>
              
              <%= link_to_remote(button(inventory_use_label(inventory)),
                    :url    => use_inventory_url(inventory, :canvas => false),
                    :update => :result,
                    :html   => {:class => "use button"}
                  ) if inventory.usable? %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set">
    <%= raw t(".empty_set.text",
          :shop => link_to(t(".empty_set.shop"), items_path)
        ) %>
  </div>
<% end %>