<div class="inventory" id="<%= dom_id(inventory) %>">
  <div class="picture"><%= inventory_item_image(inventory, :medium, :count => true) %></div>

  <div class="info">
    <div class="name"><%= inventory.name %></div>

    <% unless inventory.description.blank? %>
      <div class="description"><%= inventory.description %></div>
    <% end %>

    <% if inventory.equipped > 0 %>
      <div class="equipped">
        <%= t(".equipped",
              :amount => span_tag(inventory.equipped, :value)
            ).html_safe %>
      </div>
    <% end %>

    <div class="payouts">
      <%= item_effects(inventory.item) %>
    </div>
  </div>

  <div class="controls clearfix">
    <% if inventory.can_be_sold? %>
      <%= form_tag(inventory_path(inventory.item), :remote => true, :method => :delete, :class => :clearfix) do %>
        <%= amount_select_tag %>

        <%= link_to_function(button(:sell, :price => number_to_currency(inventory.sell_price)),
              "$(this).parent('form').submit()",
              :confirm  => t(".sell_confirm", :price => number_to_currency(inventory.sell_price)),
              :"data-click-once" => true,
              :class => "sell button"
            ) %>

        <%= amount_select_tag %>
      <% end %>
    <% end %>

    <%= link_to(inventory_use_button(inventory), use_inventory_path(inventory),
          :remote => true,
          :method => :post,
          :class => "use button",
          :'data-click-once' => true
        ) if inventory.usable? %>

    <% if inventory.can_be_sold_on_market? and Setting.b(:market_enabled) and !current_character.restrict_market? %>
      <% if inventory.market_items_count == 0 %>
        <%= link_to(button(:sell_on_market), new_market_item_path(:inventory_id => inventory),
              :remote => true,
              :method => :get,
              :class => "market button"
            ) %>
      <% else %>
        <div class="market_listing"><%= t(".listed_on_market") %></div>
      <% end %>
    <% end %>

    <% if Setting.b(:inventory_exchange_enabled) && inventory.item.exchangeable %>
      <% if current_character.exchanges.in_exchange?(inventory.item) %>
        <%= link_to(button(:view_exchange), exchange_path(current_character.exchanges.exchange_by(inventory.item).key),
              :class => "exchange button"
            ) %>
      <% else %>
        <%= link_to(button(:exchange), new_exchange_path(:inventory_id => inventory),
              :remote => true,
              :method => :get,
              :class => "exchange button"
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
