<div id="placements">
  <%= inventory_placement(character, :head, :small) %>
  <%= inventory_placement(character, :left_hand, :medium) %>
  <%= inventory_placement(character, :right_hand, :medium) %>
  <%= inventory_placement(character, :body, :medium) %>
  <%= inventory_placement(character, :legs, :medium) %>
  <%= inventory_placement(character, :belt, :belt) %>
</div>