<div id="placements">
  <%= inventory_placement(character, :head) %>
  <%= inventory_placement(character, :left_hand) %>
  <%= inventory_placement(character, :right_hand) %>
  <%= inventory_placement(character, :body) %>
  <%= inventory_placement(character, :legs) %>
</div>