<div id="placements">
  <%= inventory_placement(holder, :head, :small) %>
  <%= inventory_placement(holder, :left_hand, :medium) %>
  <%= inventory_placement(holder, :right_hand, :medium) %>
  <%= inventory_placement(holder, :body, :medium) %>
  <%= inventory_placement(holder, :legs, :medium) %>
  <%= inventory_placement(holder, :belt, :belt) %>
</div>