<h2><%= t(".header") %></h2>

<div id="placements">
  <% character.equipment.main_placements.each do |placement| %>
    <div class="placement <%= placement %>" data-placement="<%= placement %>">
      <% character.equipment.inventories_by_placement(placement).each do |inventory| %>
        <% inventory_placement_tag(inventory, placement) do %>
          <%= inventory_item_image(inventory, Character::Equipment::IMAGE_SIZES[placement],
                  :tooltip => true,
                  :count => 1
                ) %>

          <%= link_to(image_tag("1px.gif", :width => 16, :height => 16, :alt => t(".remove")),
                unequip_inventory_path(inventory.item, :placement => placement),
                :remote => true,
                :method => :post,
                :"data-click-once" => true,
                :class => :remove,
                :title => t(".remove")
              ) if character == current_character %>
          <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="additional clearfix">
    <div class="header">
      <h2><%= Character::Equipment.placement_name(:additional) %></h2>

      <%= help_link(:equipment_additional) %>
    </div>

    <div class="container">
      <% inventory_group_placement(:additional) do |inventory, count| %>
        <%= inventory_item_image(inventory, Character::Equipment::IMAGE_SIZES[:additional], :tooltip => true, :count => count) %>

        <%= link_to(image_tag("1px.gif", :width => 16, :height => 16, :alt => t(".remove")),
              unequip_inventory_path(inventory.item, :placement => :additional),
              :remote => true,
              :method => :post,
              :"data-click-once" => true,
              :class => :remove,
              :title => t(".remove")
            ) if character == current_character %>
      <% end %>

      <% inventory_additonal_slots_note do |free_slots| %>
        <div class="note">
          <%= t(".additional.free_slots",
                :count        => free_slots,
                :count_label  => span_tag(free_slots, free_slots == 0 ? "value zero" : "value")
              ).html_safe %>

          <%= t(".additional.relations",
                :relations  => link_to(Character.human_attribute_name("relations"), relations_path),
                :amount     => span_tag(Setting.i(:character_relations_per_equipment_slot), :value)
              ).html_safe %>
        </div>

      <% end %>
    </div>

  </div>
</div>
