<div id="shop_result">
  <% if @inventory.valid? %>
    <div class="buttons">
      <%= link_to_function(t(".buttons.publish"), inventory_stream_dialog(@inventory),
            :class => "publish button"
          ) %>
      
      <%= link_to(fb_i(t(".buttons.inventory")), inventories_url, :class => "inventory button") %>
    </div>

    <p>
    <% fb_i t(".messages.success") do %>
      <%= fb_it(:amount, @amount) %>
      <%= fb_it(:item_name, content_tag(:b, fb_i(@amount > 1 ? @item.plural_name : @item.name))) %>
    <% end %>
    </p>

    <h3><%= fb_i(t(".you_spent.title")) %></h3>

    <div class="payouts">
      <% if @item.basic_price.to_i > 0 %>
        <%= payout(:basic_money, 
              Character.human_attribute_name("basic_money"),
              number_to_currency(@inventory.basic_money)
            ) %>
      <% end %>

      <% if @item.vip_price.to_i > 0 %>
        <%= payout(:vip_money,
              Character.human_attribute_name("vip_money"),
              number_to_currency(@inventory.vip_money)
            ) %>
      <% end %>
    </div>
  <% else %>
    <p>
      <% fb_i @inventory.errors.on(:character) do %>
        <%= fb_it(:item_name, content_tag(:b, fb_i(@item.name))) %>
      <% end %>
    </p>
  <% end %>
</div>

<% fb_js_string :fight_attributes do %>
  <%= render :partial => "characters/fight_attributes" %>
<% end %>

<% content_for :script do %>
  Inventory.onPurchase();

  if($('inventory_fight_attributes')){
    $('inventory_fight_attributes').setInnerFBML(fight_attributes);
  }

  $('result').show();
<% end %>