<div id="shop_result">
  <% if @inventory.valid? %>
    <div class="buttons">
      <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Item, :bought,
              :template_data => {
                :item           => fb_i(@item.name),
              },
              :html => {:class => "publish button"},
              :images => @item.image? ? {
                :src  => image_path(@item.image.url(:medium)),
                :href => item_group_items_url(@item.item_group, :canvas => true)
              } : nil
            ) %>
      <%= link_to(fb_i(t(".buttons.inventory")), inventories_url(:canvas => true), :class => "inventory button") %>
    </div>

    <p>
    <% fb_i do %>
      <%= t(".messages.success") %>
      
      <%= fb_it(:item_name, content_tag(:b, fb_i(@item.name))) %>
    <% end %>
    </p>

    <h3><%= fb_i(t(".you_spent.title")) %></h3>

    <div class="payouts">
      <% if @item.basic_price.to_i > 0 %>
        <%= payout(:basic_money, 
              Character.human_attribute_name("basic_money"),
              number_to_currency(@item.basic_price)
            ) %>
      <% end %>

      <% if @item.vip_price.to_i > 0 %>
        <%= payout(:vip_money,
              Character.human_attribute_name("vip_money"),
              number_to_currency(@item.vip_price)
            ) %>
      <% end %>
    </div>
  <% else %>
    <p>
      <% fb_i do %>
        <%= @inventory.errors.on(:character) %>
        <%= fb_it(:item_name, content_tag(:b, fb_i(@item.name))) %>
      <% end %>
    </p>
  <% end %>
</div>

<% fb_js_string :fight_attributes do %>
  <%= render :partial => "characters/fight_attributes" %>
<% end %>

<% content_for :script do %>
  Inventory.onPurchase();

  if($('inventory_fight_attributes')){
    $('inventory_fight_attributes').setInnerFBML(fight_attributes);
  }

  $('result').show();
<% end %>