<% if !@inventory.new_record? %>
  <p>
  <% fb_i do %>
    You successfully bought {item_name}
    <%= fb_it(:item_name, content_tag(:b, fb_i(@item.name))) %>
  <% end %>
  </p>

  <h3><%= fb_i("You spent:") %></h3>
  <ul>
    <% if @item.basic_price.to_i > 0 %>
      <li class="basic_money">
        <b><%= fb_i("Money:") %></b>
        <div><%= @item.basic_price %></div>
      </li>
    <% end %>
    
    <% if @item.vip_price.to_i > 0 %>
      <li class="vip_money">
        <b><%= fb_i("Gems:") %></b>
        <div><%= @item.vip_price %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <% fb_i do %>
      <%= @inventory.errors.on(:character) %>
      <%= fb_it(:item_name, content_tag(:b, fb_i(@item.name))) %>
    <% end %>
  </p>
<% end %>

<% content_for :script do %>
  $('shop_result').show();
<% end %>