<%= render_to_result :shop do |builder| %>
  <% if @inventory.valid? %>
    <% builder.buttons do %>
      <%= link_to_function(button(:publish), stream_dialog(:item_purchased, @inventory.item),
            :class => "publish button"
          ) if Setting.b(:stream_dialog_enabled) %>
      
      <% if @inventory.item.equippable? %> 
        <%= link_to(button(:equipment), equipment_inventories_path,
          :class => "equipment button"
        ) %>
        
      <% else %>
        <%= link_to(button(:inventory), inventories_url,
              :class => "inventory button"
            ) %>
       
      <% end %>      

      <%= link_to(inventory_use_button(@inventory), use_inventory_path(@inventory),
            :remote => true,
            :method => :post,
            :"data-click-once" => true,
            :class => "use button"
          ) if @inventory.usable? %>
    <% end %>

    <% builder.success do %>
      <%=  t(".messages.success",
            :amount     => @amount,
            :item_name  => strong_tag(@amount > 1 ? @item.plural_name : @item.name)
          ).html_safe %>
    <% end %>

    <% if @item.price? %>
      <table class="payouts">
        <tr>
          <td class="received">
            <h3><%= t(".you_received.title") %></h3>

            <%= payout(:item, item_image(@inventory, :medium), 
                  :label => (@amount ? @inventory.name + t(".amount", :amount => @amount) : @inventory.name)
                ) %>
          </td>
          <td class="spent">
            <h3><%= t(".you_spent.title") %></h3>

            <% if @item.basic_price > 0 %>
              <%= payout(:basic_money, number_to_currency(@inventory.basic_money)) %>
            <% end %>

            <% if @item.vip_price > 0 %>
              <%= payout(:vip_money, number_to_currency(@inventory.vip_money)) %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

    <% builder.on_ready do %>
      $('#inventory_fight_attributes').html('<%= escape_javascript(render("characters/fight_attributes")) %>');

      $(document).trigger('item.purchase', {item_id: <%= @item.id %>, inventory_id: <%= @inventory.id %>});
      
      <%= ga_track_event('Items', 'Purchased', "#{@item.name} (#{@item.availability})", @amount) %>
    <% end %>
  <% elsif !@inventory.requirements.satisfies?(current_character) %>
    <div class="unsatisfied_requirements">
      <%= unsatisfied_requirement_first(@inventory.requirements) %>
    </div>
  <% else %>
    <% builder.fail do %>
      <% @inventory.errors.each_error do |attr, message| %>
        <%= message %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
