<div id="inventory_result">
  <p>
    <% fb_i do %>
      <%= t(".messages.success") %>
      <%= fb_it(:item_name, content_tag(:b, fb_i(@inventory.name))) %>
    <% end %>
  </p>

  <h3><%= fb_i(t(".you_received.title")) %></h3>
  <ul>
    <li class="basic_money">
      <b><%= fb_i(Character.human_attribute_name("basic_money")) %></b>
      <div><%= @inventory.sell_price %></div>
    </li>
  </ul>
</div>

<% content_for :script do %>
  $('result').show();
  $('inventory_<%= @inventory.id %>').hide();
<% end %>