<%= render_to_result :inventory_sell do |builder| %>
  <% builder.success do %>
    <%= t(".messages.success",
          :amount     => @amount,
          :item_name  => strong_tag(@amount > 1 ? @item.plural_name : @item.name)
        ).html_safe %>
  <% end %>

  <h3><%= t(".you_received.title") %></h3>

  <div class="payouts">
    <%= payout(:basic_money, number_to_currency(@amount * @item.sell_price)) %>
  </div>

  <% builder.on_ready do %>
    $(document).trigger('sold.items', {
      inventory_id: '<%= dom_id(@item) %>',
      amount: <%= @inventory ? @inventory.amount : 0 %>
    });

    $('#inventory_fight_attributes').html('<%= escape_javascript(render("characters/fight_attributes")) %>');

    <%= ga_track_event('Items', 'Sold', "#{@item.name} (#{@item.availability})", @amount) %>
  <% end %>
<% end %>
