<div id="inventory_result">
  <p>
    <% fb_i do %>
      <%= t(".messages.success") %>
    
      <%= fb_it(:amount, @amount) %>
      <%= fb_it(:item_name, content_tag(:b, fb_i(@amount > 1 ? @inventory.plural_name : @inventory.name))) %>
    <% end %>
  </p>

  <h3><%= fb_i(t(".you_received.title")) %></h3>

  <div class="payouts">
    <%= payout(:basic_money,
          Character.human_attribute_name("basic_money"),
          number_to_currency(@inventory.basic_money)
        ) %>
  </div>
</div>

<% fb_js_string :list do %>
  <%= render :partial => "list", :locals => {:inventories => current_character.inventories} %>
<% end %>

<% fb_js_string :fight_attributes do %>
  <%= render :partial => "characters/fight_attributes" %>
<% end %>

<% content_for :script do %>
  $('inventory_list').setInnerFBML(list);
  $('inventory_fight_attributes').setInnerFBML(fight_attributes);
  $('result').show();
<% end %>