<%= title(t(".title")) %>

<%= render("inventories/buttons", :current => :equipment) %>

<div id="inventory_fight_attributes">
  <%= render("characters/fight_attributes") %>
</div>

<div id="equipment">
  <div id="equipment_inventories">
    <%= render("equippables") %>
  </div>
  
  <div id="equipment_placements">
    <%= render("placements", :character => current_character) %>
  </div>

  <div id="equipment_buttons" class="buttons clearfix">
    <%= link_to(button(:auto_equip), equip_inventories_path,
          :remote => true,
          :method => :post,
          :class => "button auto_equip"
        ) %>
        
    <%= link_to(button(:unequip), unequip_inventories_path,
          :remote => true,
          :method => :post,
          :class => "button unequip"
        ) %>
  </div>
</div>

<% dom_ready do %>
  Equipment.setup({
    groupedPlacementSize: 6,
    wrapGroupEquipment: 2
  });
<% end %>
