<%= title(fb_i("Inventory")) %>

<div id="inventory_result" class="result" style="display:none"></div>

<div id="inventory_placements">
  <%= render(:partial => "inventories/placements", :locals => {:character => current_character}) %>
</div>

<% if @inventories.count != 0 %>
  <table id="inventory_list" cellspacing="0">
    <% %w{weapons armors}.each do |type| %>
      <% if @inventories.send(type).any? %>
        <tr>
          <th colspan="3"><h3><%= fb_i(type.capitalize) %></h3></th>
          <th><%= fb_i("Sell Price") %></th>
        </tr>
        <% @inventories.send(type).each do |inventory| %>
          <% content_tag_for(:tr, inventory) do %>
            <td class="picture"><%= image_tag(inventory.image.url(:small)) %></td>
            <td class="info">
              <div class="name"><%= inventory.name %></div>
              <div class="description"><%= inventory.description %></div>
            </td>
            <td class="details">
              <% inventory.effects.each do |effect| %>
                <%= content_tag(:div, effect.value, :class => effect.name) %>
              <% end %>
            </td>
            <td class="sell">
              <div class="basic_money"><%= inventory.sell_price %></div>
            </td>
            <td class="controls">
              <% inventory.possible_placements.each do |placement| %>
                <%= link_to_remote("To #{placement.titleize}",
                      :url    => apply_inventory_url(inventory, :placement => placement, :canvas => false),
                      :update => :inventory_placements,
                      :html   => {:class => :apply}
                    ) %>
              <% end %>
              
              <%= link_to_remote("Sell for #{inventory.sell_price}", 
                    :url    => inventory_url(inventory, :_method => :delete, :canvas => false),
                    :update => :inventory_result,
                    :html   => {:class => :sell}
                  ) %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p><%= fb_i("Your inventory is empty") %></p>
<% end %>