<%= title(t(".title")) %>

<%= render("inventories/buttons", :current => :inventory) %>

<% if @inventories.size > 0 %>
  <div id="inventory_fight_attributes">
    <%= render("characters/fight_attributes") %>
  </div>
<% end %>

<% inventory_free_slots_note do |free_slots| %>
  <div class="note">
    <%= t(".free_slots.text",
          :count => free_slots,
          :count_label => span_tag(free_slots, :value)
        ).html_safe %>

    <%= link_to(t(".free_slots.link").html_safe, equipment_inventories_path) %>
  </div>
<% end %>


<% tabs :id => :inventory_tabs do |t| %>

  <% @item_groups.each do |group| %>

    <% if group == @current_group %>
      <% t.tab(dom_id(group), group.name) do %>
        <%= render("list", :inventories => @inventories) %>
      <% end %>
    <% else %>
      <% t.tab(dom_id(group), group.name, item_group_inventories_path(group)) do %>
      <% end %>
    <% end %>

  <% end %>

<% end %>


<% dom_ready do %>
  Inventory.setup();
<% end %>