<%= title(fb_i("Inventory")) %>

<div id="inventory_placements">
  <%= render(:partial => "inventories/placements", :locals => {:character => current_character}) %>
</div>

<% if @inventories.count != 0 %>
  <table id="inventory_list" cellspacing="0">
    <% Item::TYPES.each do |type| %>
      <% if @inventories.send(type).any? %>
        <tr>
          <th colspan="3"><h3><%= fb_i(type.capitalize) %></h3></th>
        </tr>
        <% @inventories.send(type).each do |inventory| %>
          <% content_tag_for(:tr, inventory) do %>
            <td class="picture"><%= image_tag(inventory.image.url(:small)) %></td>
            <td class="info">
              <div class="name"><%= fb_i(inventory.name) %></div>
              <div class="description"><%= fb_i(inventory.description) %></div>
            </td>
            <td class="details">
              <% inventory.effects.each do |effect| %>
                <%= content_tag(:div, effect.value, :class => effect.name) %>
              <% end %>
            </td>
            <td class="controls">
              <% inventory.placements.each do |placement| %>
                <%= link_to_remote(fb_i("To #{placement.titleize}"),
                      :url    => place_inventory_url(inventory, :placement => placement, :canvas => false),
                      :update => :inventory_placements,
                      :html   => {:class => :place}
                    ) %>
              <% end %>

              <%= link_to_remote(inventory_use_label(inventory),
                    :url    => use_inventory_url(inventory, :canvas => false),
                    :update => :result,
                    :html   => {:class => :use}
                  ) if inventory.usable? %>
              
              <%= link_to_remote(fb_i("Sell for {amount}" + fb_it(:amount, inventory.sell_price)),
                    :url    => inventory_url(inventory, :_method => :delete, :canvas => false),
                    :update => :result,
                    :html   => {:class => :sell}
                  ) %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set"><%= fb_i("Your inventory is empty") %></div>
<% end %>