<% dialog :id => :shop_dialog do %>
  <% if @item %>
    <h2><%= @item.name %></h2>

    <table class="item">
      <tr>
        <td class="picture"><%= item_image(@item, :small) %></td>

        <td class="payouts">
          <h3><%= Item.human_attribute_name("effects") %></h3>

          <%= render "items/effects", :item => @item %>
        </td>

        <td class="requirements">
          <h3><%= Item.human_attribute_name("price") %></h3>

          <%= attribute_requirement(:basic_money, number_to_currency(@item.basic_price)) if @item.basic_price > 0 %>
          <%= vip_money_requirement(@item.vip_price) if @item.vip_price > 0 %>
        </td>
      </tr>
    </table>
      
    <% if @item.description.present? %>
      <div class="description"><%= @item.description %></div>
    <% end %>

    <% if @item.left or @item.available_till %>
      <%= render "items/limit", :item => @item %>
    <% end %>

    <div class="amount">
      <strong><%= t(".amount") %></strong> <%= @amount %>
    </div>

    <div class="buttons">
      <%= link_to_remote(button(:buy),
            :url    => inventories_path(:item_id => @item.id, :amount => @amount),
            :update => :result,
            :before => "$.dialog.close()",
            :html   => {:class => "buy button"}
          ) %>
    </div>
  <% else %>
    <p><%= t(".cannot_purchase") %></p>
  <% end %>
<% end %>