<% result_for :inventory_use do %>
  <p>
    <%= (
          @inventory.use_message.present? ? @inventory.use_message : t(".messages.success", :item => @inventory.name)
        ).html_safe! %>
  </p>

  <table class="payouts" cellspacing="0" cellpadding="0">
    <tr>
      <td class="received">
        <h3><%= t(".you_received") %></h3>

        <%= payout_list(@result, :add) %>
      </td>
      <td class="spent">
        <h3><%= t(".you_spent") %></h3>

        <%= payout_list(@result, :remove) %>

        <%= payout(:item, item_image(@inventory, :icon), :label => @inventory.name) %>
      </td>
    </tr>
  </table>
<% end %>

<% dom_ready do %>
  $('#inventory_list').html('<%=
    escape_javascript(
      render("list", :inventories => current_character.inventories)
    )
  %>');

  $(document).trigger('result.received');
<% end %>