<% result_for :inventory_use do %>
  <p>
    <%= raw t(".messages.success", :item => @inventory.name) %>
  </p>

  <h3><%= t(".effects") %></h3>

  <div class="payouts">
    <% @inventory.effects.each do |effect| %>
      <%= payout(effect.name, effect.value, :label => t("effects.#{effect.name}.name")) %>
    <% end %>
  </div>

  <% if @inventory.frozen? %>
    <p>
      <%= raw t(".messages.item_gone", :item => @inventory.name) %>
    </p>
  <% end %>
<% end %>

<% dom_ready do %>
  $('#inventory_list').html('<%=
    escape_javascript(
      render("list", :inventories => current_character.inventories)
    )
  %>');

  $(document).trigger('result.received');
<% end %>