<%= render_to_result :inventory_use do |builder| %>
  <% if @result %>
    <% builder.success do %>
      <% if @inventory.use_message.present? %>
        <%= @inventory.use_message.html_safe %>
      <% else %>
        <%= t(".messages.success", :item => @inventory.name).html_safe %>
      <% end %>
    <% end %>
  
    <% builder.buttons do %>
      <%= link_to(inventory_use_again_button(@inventory), use_inventory_path(@inventory.item),
            :remote => true,
            :method => :post,
            :"data-click-once" => true,
            :class => "use button"
          ) if @inventory.usable? %>
    <% end %>

    <table class="payouts" cellspacing="0" cellpadding="0">
      <tr>
        <td class="received">
          <h3><%= t(".you_received") %></h3>

          <%= payout_list(@inventory, @result) %>
        </td>
        <td class="spent">
          <h3><%= t(".you_spent") %></h3>

          <%= payout_list(@inventory, @result, :action => :remove) %>

          <%= payout(:item, item_image(@inventory.item, :icon, :tooltip => true), :label => @inventory.name) %>
        </td>
      </tr>
    </table>

    <% builder.on_ready do %>
      $(document).trigger('used.items', {
        inventory_id: '<%= dom_id(@inventory.item) %>',
        amount: <%= @inventory.amount %>
      });

      <%= ga_track_event('Items', 'Used', "#{ @inventory.name } (#{ @inventory.item.availability })", current_character.level) %>
    <% end %>
  <% else %>
    <% builder.fail do %>
      <%= t(".messages.not_found") %>
    <% end %>
  <% end %>
<% end %>
