<div id="inventory_result">
  <p>
    <% fb_i do %>
      <%= t(".messages.success") %>

      <%= fb_it(:item, fb_i(@inventory.name)) %>
    <% end %>
  </p>

  <h3><%= fb_i(t(".effects")) %></h3>

  <div class="payouts">
    <% @inventory.effects.each do |effect| %>
      <%= payout(effect.name, t("effects.#{effect.name}.name"), effect.value) %>
    <% end %>
  </div>

  <% if @inventory.frozen? %>
    <p>
      <% fb_i do %>
        <%= t(".messages.item_gone") %>

        <%= fb_it(:item, fb_i(@inventory.name)) %>
      <% end %>
    </p>
  <% end %>
</div>

<% fb_js_string :list do %>
  <%= render :partial => "list", :locals => {:inventories => current_character.inventories.available} %>
<% end %>

<% content_for :script do %>
  $('result').show();
  $('inventory_list').setInnerFBML(list);
<% end %>