<%= render_to_result :inventory_use do |builder| %>
  <% if @result %>
    <% builder.success do %>
      <% if @inventory.use_message.present? %>
        <%= @inventory.use_message.html_safe %>
      <% else %>
        <%= t(".messages.success", :item => @inventory.name).html_safe %>
      <% end %>
    <% end %>
  
    <% if @inventory.usable? %>
      <% builder.buttons do %>
        <%= form_tag(use_inventory_path(@inventory.item), :remote => true, :method => :post, :class => :clearfix) do %>
          <%= amount_select_tag(:max => @inventory.amount) %>

          <%= link_to_function(inventory_use_again_button(@inventory),
                "$(this).parent('form').submit()",
                :"data-click-once" => true,
                :class => "use button"
              ) %>
        <% end %>
      <% end %>
    <% end %>

    <table class="payouts" cellspacing="0" cellpadding="0">
      <tr>
        <td class="received">
          <h3><%= t(".you_received") %></h3>

          <%= payout_list(@inventory, @result) %>
        </td>
        <td class="spent">
          <h3><%= t(".you_spent") %></h3>

          <%= payout_list(@inventory, @result, :action => :remove) %>

          <%= payout(:item, inventory_item_image(@inventory, :icon, :tooltip => true, :count => @amount), :label => @inventory.name) %>
        </td>
      </tr>
    </table>

    <% builder.on_ready do %>
      $(document).trigger('used.items', {
        inventory_id: '<%= dom_id(@inventory.item) %>',
        amount: <%= @inventory.amount %>
      });

      <%= ga_track_event('Items', 'Used', "#{ @inventory.name } (#{ @inventory.item.availability })", current_character.level) %>
    <% end %>
  <% else %>
    <% builder.fail do %>
      <%= t(".messages.not_found") %>
    <% end %>
  <% end %>
<% end %>
