<%= title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_stylesheet_path) %>
</div>

<% if @stylesheets.any? %>
  <table id="stylesheet_list" cellspacing="0">
    <tr>
      <th><%= Stylesheet.human_attribute_name("name") %></th>
      <th><%= Stylesheet.human_attribute_name("created_at") %></th>
      <th><%= Stylesheet.human_attribute_name("updated_at") %></th>
      <th></th>
    </tr>
    <% @stylesheets.each do |style| %>
      <% content_tag(:tr, :class => (:current if style.current)) do %>
        <td class="name">
          <%= link_to(style.name, edit_admin_stylesheet_path(style)) %>
          
          <% if style.current %>
            (<%= Stylesheet.human_attribute_name("current") %>)
          <% end %>
        </td>
        <td class="created_at"><%= l(style.created_at, :format => :short) %></td>
        <td class="updated_at"><%= l(style.updated_at, :format => :short) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_stylesheet_path(style)) %>
          <%= link_to(t(".controls.try"), root_path(:try_stylesheet => style), :target => :_blank) %>
          <%= link_to(t(".controls.use"), use_admin_stylesheet_path(style),
                :method   => :post,
                :confirm  => t(".controls.use_confirm")
              ) %>
          <%= link_to(t(".controls.delete"), admin_stylesheet_path(style),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set"><%= t(".empty_set") %></div>
<% end %>

<div class="controls">
  <%= link_to(t(".controls.default"), source_stylesheet_path(:default, :format => :css)) %>
</div>

<% form_tag log_admin_stylesheet_path(:default) do %>
  <%= label(:log, :since, t(".log.label")) %><br />
  <%= date_select(:log, :since, :default => 7.days.ago) %>

  <%= submit_tag t(".log.submit") %>
<% end %>