<%= form.select :item_group_id, ItemGroup.all.to_dropdown, :required => true %>

<%= form.text_field :name, :required => true %>
<%= form.text_area :description %>

<%= form.select :availability, %w{shop loot quest}, :required => true %>

<%= form.text_field :level, :required => true %>
<%= form.text_field :basic_price, :required => true %>
<%= form.text_field :vip_price %>
<%= form.select :placements, Inventory::PLACEMENTS.collect{|v| [v.to_s.humanize, v.to_s]}, {}, {:multiple => true} %>
<%= form.check_box :usable %>
<%= form.text_field :usage_limit %>

<div class="effects" id="effect_list">
  <h2><%= Item.human_attribute_name("effects") %></h2>

  <div>
    <b><%= t(".add_effect") %></b>
    
    <% Effects::Base.types.each do |type| %>
      <%= link_to_remote(t("effects.#{type.effect_name}.name"),
            :url    => add_effect_new_admin_item_url(:type => type.effect_name, :canvas => false),
            :update => :result
          ) %>
    <% end %>
  </div>

  <% if form.object.effects %>
    <% form.object.effects.each do |effect| %>
      <%= content_tag(:div,
            render(:partial => "effect", :locals => {:effect => effect}),
            :class => "effect",
            :id => "effect_#{effect.id}"
          ) %>
    <% end %>
  <% end %>
</div>