<%= form.select :item_group_id, ItemGroup.all.to_dropdown, :required => true %>

<%= form.text_field :name, :required => true, :size => 40 %>
<%= form.text_field :plural_name, :size => 40 %>

<%= form.text_area :description, :cols => 80, :rows => 5 %>

<%= form.file_field :image, :after_field => (image_tag(form.object.image(:small)) if form.object.image?) %>

<% placements = capture do %>
  <% Character::Equipment::PLACEMENTS.each do |p| %>
    <div>
      <%= check_box_tag "#{form.object_name}[placements][]", p, form.object.placements.include?(p), :id => "placement_#{p}" %>
      <%= label_tag "placement_#{p}",Character::Equipment.placement_name(p) %>
    </div>
  <% end %>
<% end %>
<%= form.field :placements, placements %>

<%= form.select :availability, Item::AVAILABILITIES, :required => true %>
<%= form.text_field :limit, :size => 6, :autocomplete => :off %>
<%= form.datetime_select :available_till, :prompt => true %>

<%= form.text_field :level, :required => true, :size => 6, :autocomplete => :off %>

<%= form.text_field :basic_price, :size => 6, :autocomplete => :off %>
<%= form.text_field :vip_price, :size => 6, :autocomplete => :off %>
<%= form.check_box :can_be_sold %>

<%= form.check_box :usable %>
<%= form.text_field :usage_limit, :size => 6, :autocomplete => :off %>


<h2><%= Item.human_attribute_name("effects") %></h2>

<%= form.text_field :attack, :size => 6, :autocomplete => :off %>
<%= form.text_field :defence, :size => 6, :autocomplete => :off %>

<%= render :partial => "admin/effects/collection", :locals => {:form => form} %>
