<table id="item_fields">
  <tr>
    <td>
      <%= form.select :item_group_id, ItemGroup.all.to_dropdown, :required => true %>

      <%= form.text_field :name, :required => true %>
      <%= form.text_area :description %>

      <%= form.file_field :image,
            :after_field => (form.object.image? ? content_tag(:div, "Current Image:") + image_tag(form.object.image(:small)) : "") %>
      
      <%= form.select :availability, Item::AVAILABILITIES, :required => true %>

      <%= form.text_field :level, :required => true, :size => 3 %>
      <%= form.text_field :basic_price, :size => 3 %>
      <%= form.text_field :vip_price, :size => 3 %>
      <%= form.check_box :usable %>
      <%= form.text_field :usage_limit, :size => 3 %>
      <%= form.check_box :can_be_sold %>
    </td>
    <td>
      <div class="serializable" id="effect_list">
        <h2><%= Item.human_attribute_name("effects") %></h2>

        <%= form.text_field :attack, :size => 3 %>
        <%= form.text_field :defence, :size => 3 %>

        <%= render :partial => "admin/effects/collection", :locals => {:form => form} %>
      </div>
    </td>
  </tr>
</table>