<%= title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_item_path) %>
</div>

<% if @items.any? %>
  <%= will_paginate @items %>

  <table id="item_list" cellspacing="0">
    <% @items.each do |item| %>
      <% group_header item.item_group do |group| %>
        <tr>
          <th colspan="10" class="subheader"><%= group.name %></th>
        </tr>
        <tr>
          <th><%= Item.human_attribute_name("image") %></th>
          <th><%= Item.human_attribute_name("name") %></th>
          <th><%= Item.human_attribute_name("availability") %></th>
          <th><%= Item.human_attribute_name("level") %></th>
          <th><%= Item.human_attribute_name("basic_price") %></th>
          <th><%= Item.human_attribute_name("vip_price") %></th>
          <th><%= Item.human_attribute_name("usable") %></th>
          <th><%= Item.human_attribute_name("effects") %></th>
          <th>Bought</th>
        </tr>
      <% end %>
      <tr>
        <td class="image"><%= image_tag(item.image.url(:icon)) if item.image? %></td>
        <td class="name"><%= link_to(item.name, edit_admin_item_path(item)) %></td>
        <td class="availability"><%= item.availability %></td>
        <td class="level"><%= item.level %></td>
        <td class="basic_price"><%= number_to_currency(item.basic_price) %></td>
        <td class="vip_price"><%= number_to_currency(item.vip_price) %></td>
        <td class="usable"><%= item.usable %><%= ", #{item.usage_limit}" if item.usage_limit %></td>
        <td class="effects">
          <% item.effects.each do |effect| %>
            <%= render :partial => "admin/effects/preview/#{effect.name}", :locals => {:effect => effect} %>
          <% end %>
        </td>
        <td class="bought"><%= item.inventories.count %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_item_path(item)) %>
          <%= link_to(t(".controls.delete"), admin_item_path(item),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @items %>
<% else %>
  <div class="empty_set"><%= t(".empty_set") %></div>
<% end %>