<%= title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_item_path) %>
</div>

<% if @items.any? %>
  <%= will_paginate @items %>

  <table id="item_list">
    <% @items.each do |item| %>
      <% group_header item.item_group do |group| %>
        <tr>
          <th colspan="3"><%= group.name %></th>
        </tr>
      <% end %>
      <tr>
        <td class="image"><%= image_tag(item.image.url(:icon)) if item.image? %></td>
        <td class="name"><%= link_to(item.name, edit_admin_item_path(item)) %></td>
        <td class="controls">
          <%= link_to(t(".controls.delete"), admin_item_path(item),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @items %>
<% else %>
  <div class="empty_set"><%= t(".empty_set") %></div>
<% end %>