<div class="assignment">
  <% if assignment.relation.is_a?(FriendRelation) %>
    <div class="image"><%= character_picture_link(assignment.relation.character) %></div>
    <div class="name"><%= character_name_link(assignment.relation.character) %></div>
  <% else %>
    <div class="image"><%= image_tag('mercenary.png', :alt => assignment.relation.name) %></div>
    <div class="name"><%= assignment.relation.name %></div>
  <% end %>

  <div class="effect">
    <%= t("assignments.roles.#{assignment.role}.description") %>
    <%= t("assignments.roles.#{assignment.role}.effect",
          :value => assignment_effect(assignment)
        ) %>
  </div>
</div>
