<fb:js-string var="dialog_content">
  <% filters = %w{not_assigned assigned} %>
  
  <% form_for @assignment, :url => polymorphic_url([@assignment.context, @assignment]) do |f| %>
    <%= f.hidden_field :role %>
    <%= f.hidden_field :relation_id %>

    <table>
      <tr>
        <td colspan="2" class="tab_titles">
          <% filters.each do |filter| %>
            <%= link_to_function(fb_i(t(".#{filter}.title")), "toggleAssignedTabTo('#{filter}')", :id => "#{filter}_title") %>
          <% end %>
        </td>
      </tr>
      <tr class="tabs">
        <% filters.each do |filter| %>
          <td id="<%= filter %>" class="hidden">
            <% if relations = current_character.friend_relations.send(filter) and relations.any? %>
              <table class="relations" cellspacing="0" cellpadding="0">
                <tr>
                  <th colspan="3"><%= fb_i(t(".columns.user")) %></th>
                  <th><%= fb_i(t("assignments.roles.#{@assignment.role}.description")) %></th>
                </tr>
                <% relations.each do |relation| %>
                  <% content_tag_for :tr, relation.becomes(Relation) do %>
                    <td class="picture"><%= link_to_function(character_picture(relation.target_character), "setAssignmentRelation(#{relation.id})") %></td>
                    <td class="name"><%= link_to_function(character_name(relation.target_character), "setAssignmentRelation(#{relation.id})") %></td>
                    <td class="level"><%= Character.human_attribute_name("level") %> <%= relation.target_character.level %></td>
                    <td class="effect"><%= assignment_effect(@assignment, relation, :format => :short) %></td>
                  <% end %>
                <% end %>
              </table>
            <% else %>
            <div class="empty_set"><%= fb_i(t(".#{filter}.empty_set")) %></div>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  <% end %>
</fb:js-string>

<fb:js-string var="dialog_title"><%= fb_i(t(".title")) %></fb:js-string>

<script>
  function setAssignmentRelation(id){
    if($('new_assignment').selectedRelation){
      $('new_assignment').selectedRelation.removeClassName('selected');
    }

    $('relation_' + id).addClassName('selected');
    $('new_assignment').selectedRelation = $('relation_' + id);

    $('assignment_relation_id').setValue(id);
  }
  function toggleAssignedTabTo(tab){
    var filters = <%= filters.to_json %>;
    for(i = 0; i < filters.length; i++){
      if(filters[i] == tab){
        $(filters[i]).removeClassName("hidden");
        $(filters[i] + '_title').addClassName("selected");
      }else{
        $(filters[i]).addClassName("hidden");
        $(filters[i] + '_title').removeClassName("selected");
      }
    }
  }

  var dialog = new Dialog(Dialog.DIALOG_POP);
  dialog.onconfirm = function(){
    $('new_assignment').submit();
  };
  dialog.showChoice(dialog_title, dialog_content);
  toggleAssignedTabTo('not_assigned');
</script>