<div class="buttons">
  <%= link_to_function(button(:publish), mission_complete_stream_dialog(mission),
        :class => "publish button"
      ) %>
</div>

<h2><%= t(".title") %></h2>

<p>
  <%= mission.complete_text %>
</p>

<% unless mission.title.blank? %>
  <p><%= t(".message") %></p>

  <h3 class="title"><%= mission.title %></h3>
<% end %>

<% if mission.child_missions.any? %>
  <div class="child_missions">
    <p><%= t(".child_missions") %></p>

    <% mission.child_missions.each do |child| %>
      <div class="child"><%= child.name %></div>
    <% end %>
  </div>
<% end %>

<% if missions %>
  <% dom_ready do %>
    $('#mission_list').html('<%= escape_javascript(render("list", :missions => missions)) %>');
  <% end %>
<% end %>

<% if result.rank.just_completed? %>
  <% dom_ready do %>
    $(document).trigger('mission.complete');
  <% end %>
<% end %>