<div class="buttons">
  <%= link_to_function(t(".buttons.publish"), mission_complete_stream_dialog(mission),
        :class => "publish button"
      ) %>
</div>

<h2><%= fb_i(t(".title")) %></h2>

<p>
  <%= fb_i(mission.complete_text) %>
</p>

<% unless mission.title.blank? %>
  <p><%= fb_i(t(".message")) %></p>

  <h3 class="title"><%= fb_i(mission.title) %></h3>
<% end %>

<% if mission.child_missions.any? %>
  <div class="child_missions">
    <p><%= fb_i(t(".child_missions")) %></p>

    <% mission.child_missions.each do |child| %>
      <div class="child"><%= child.name %></div>
    <% end %>
  </div>
<% end %>

<% content_for :script do %>
  <%= mission_complete_stream_dialog(mission) %>
<% end %>

<% if missions %>
  <%= fb_js_string :mission_list, render(:partial => "list", :locals => {:missions => missions}) %>

  <% content_for :script do %>
    var list = $('mission_list');

    if(list){
      list.setInnerFBML(mission_list);
    }
  <% end %>
<% end %>

<% if result.rank.just_completed? %>
  <% content_for :script do %>
    Mission.onComplete();
  <% end %>
<% end %>