<table class="payouts" cellspacing="0" cellpadding="0">
  <tr>
    <% if result.received_something? %>
      <td class="received">
        <h3><%= t(".you_received.title") %></h3>

        <%= payout(:experience, result.experience) if result.experience %>

        <%= payout(:basic_money, number_to_currency(result.money)) if result.money %>

        <%= payout_list(result.payouts, :add) %>

        <% if result.loot %>
          <div class="loot">
            <div class="relation">
              <% if result.looter %>
                <%= raw t(".you_received.loot_with_looter",
                      :user => (
                        result.looter.is_a?(FriendRelation) ? character_name_link(result.looter.target_character) : result.looter.name
                      ),
                      :item => content_tag(:strong, result.loot.name)
                    ) %>
              <% else %>
                <%= raw t(".you_received.loot_without_looter",
                      :item => content_tag(:strong, result.loot.name)
                    ) %>
              <% end %>
            </div>

            <%= item_image(result.loot, :icon) %>
          </div>
        <% end %>
      </td>
    <% end %>
      
    <td class="spent">
      <h3><%= t(".you_spent.title") %></h3>

      <% if result.free_fulfillment %>
        <% payout("energy zero", 0, :label => Character.human_attribute_name("energy")) do %>
          <span class="relation">
            <%= raw t(".you_spent.zero_energy",
                  :user => character_name_link(
                    current_character.assignments.by_role(:mission_energy).relation.target_character
                  )
                ) %>
          </span>
        <% end %>
      <% else %>
        <%= payout(:energy, mission.ep_cost) %>
      <% end %>

      <%= payout_list(result.payouts, :remove) %>
    </td>
    <td class="progress">
      <h3><%= t(".progress.title") %></h3>

      <%= mission_progress(current_character, mission) %>
    </td>
  </tr>
</table>