<div class="buttons">
  <%= link_to_remote(button(:continue),
        :url    => fulfill_mission_path(mission),
        :update => :result,
        :html   => {:class => "fulfill_again button"}
      ) %>

  <%= help_request_link(button(:request_help), mission,
        :class => "request_help button"
      ) %>
</div>

<p>
  <%= t(".message") %> <%= result.success_text %>
</p>

<% dom_ready do %>
  $('#<%= dom_id(mission, :progress) %>').html(<%= mission_progress(current_character, mission).to_json.html_safe %>);
<% end %>
