<div class="buttons">
  <%= link_to_remote(fb_i(t(".buttons.continue")),
        :url => fulfill_mission_url(mission, :canvas => false, :tutorial => tutorial?),
        :update => :result,
        :html   => {:class => "fulfill_again button"}
      ) if current_character.can_fulfill?(mission) %>

  <%= help_request_link(fb_i(t(".buttons.request_help")), mission,
        :class => "request_help button"
      ) %>
</div>

<p>
  <%= fb_i(t(".message")) %> <%= fb_i(result.success_text) %>
</p>

<%= fb_js_string :mission_progress, mission_progress(current_character, @mission) %>

<% content_for :script do %>
  var progress = $('<%= dom_id(mission, :progress) %>');

  if(progress){
    progress.setInnerFBML(mission_list);
  }
<% end %>
