<div id="boss_fight_result">
  <% if @fight.valid? %>
    <%= render "boss_fights/create/#{@fight.state}", :fight => @fight %>

    <%= render("boss_fights/create/payouts", :fight => @fight) if @fight.lost_something? || @fight.received_something? %>

    <%= render("mission_groups/complete", :result => @fight) if @fight.group_rank.try(:just_created?) %>
  <% else %>
    <p><%= @fight.errors.on(:character) %></p>
  <% end %>
</div>

<%= character_level_up_block %>

<% content_for :script do %>
  $('result').show();
<% end %>