<% result_for :boss_fight do %>
  <% if @fight.valid? %>
    <%= render "boss_fights/create/#{@fight.state}", :fight => @fight %>

    <%= render("boss_fights/create/payouts", :fight => @fight) if @fight.lost_something? || @fight.received_something? %>

    <%= render("mission_groups/complete", :result => @fight) if @fight.group_rank.try(:just_created?) %>
  <% else %>
    <p><%= @fight.errors.on(:character) %></p>
  <% end %>
<% end %>

<%= character_level_up_block %>

<% dom_ready do %>
  $(document).trigger('result.received');
<% end %>