<% result_for :boss_fight do %>
  <% if !@fight.new_record? %>
    <%= render "boss_fights/create/#{@fight.state}", :fight => @fight %>

    <%= render("boss_fights/create/payouts", :fight => @fight) if @fight.lost_something? || @fight.received_something? %>

    <%= render("mission_groups/complete", :result => @fight) if @fight.group_rank.try(:just_created?) %>
  <% elsif !@fight.requirements_satisfied? %>
    <p><%= t(".requirements_not_satisfied.message") %></p>

    <div class="requirements clearfix">
      <%= unsatisfied_requirement_list(@fight.boss.requirements) %>
    </div>
  <% elsif !@fight.enough_energy? %>
    <%= render "requirements/not_satisfied/energy_point", :required_value => @fight.ep_cost %>
  <% elsif current_character.weak? %>
    <%= render "requirements/not_satisfied/health_point", :required_value => current_character.weakness_minimum %>
  <% else %>
    <p><%= @fight.errors.on(:character) %></p>
  <% end %>
<% end %>

<%= character_level_up_block %>

<% dom_ready do %>
  $(document).trigger('result.received');
<% end %>