<h2><%= t(".title") %></h2>

<div id="assignments" cellspacing="0" cellpadding="0">
  <% Assignment::ROLES.each do |role| %>
    <div class="position">
      <b><%= t("assignments.roles.#{role}.title") %></b>

      <% if assignment = current_character.assignments.by_role(role) %>
        <div class="controls">
          <%= link_to(button(:demote), assignment_path(assignment),
                :method   => :delete,
                :class    => "demote button",
                :confirm  => t(".buttons.demote_confirm")
              ) %>
        </div>

        <%= render assignment %>
      <% else %>
        <div class="controls">
          <%= link_to_function(button(:promote),
                "$.dialog(%s);" % {
                  :ajax => new_character_assignment_path(current_character, :role => role)
                }.to_json,
                :class => "promote button"
              ) %>
        </div>
      
        <div class="description">
          <%= t("assignments.roles.#{role}.description") %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if current_character.assignments.any? %>
    <div class='position'>
      <b>&nbsp;</b>
      <div class='controls'>
        <%= link_to(button(:demote_all), assignment_path(:all),
              :method => :delete,
              :class => 'demote button', 
              :confirm => t('.buttons.demote_all_confirm')
            ) %>
      </div>
      <div class='clearfix'></div>
    </div>
  <% end %>
</div>
