<h2><%= t(".title") %></h2>

<% Assignment::ROLES.each do |role| %>
  <div class="position">
    <b><%= t("assignments.roles.#{role}.title") %></b>

    <% if assignment = current_character.assignments.by_role(role) %>
      <div class="controls">
        <%= link_to(button(:demote), assignment_path(assignment),
              :remote => true,
              :method => :delete,
              :confirm  => t(".buttons.demote_confirm"),
              :"data-click-once" => true,
              :class => "demote button"
            ) %>
      </div>

      <%= render(assignment) %>
    <% else %>
      <div class="controls">
        <%= link_to_function(button(:promote), "AssignmentDialogController.show('#{role}')",
              :class => "promote button"
            ) %>
      </div>

      <div class="description">
        <%= t("assignments.roles.#{role}.description") %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_character.assignments.any? %>
  <div class='position'>
    <b>&nbsp;</b>
    <div class='controls'>
      <%= link_to(button(:demote_all), assignment_path(:all),
            :remote => true,
            :method => :delete,
            :confirm => t('.buttons.demote_all_confirm'),
            :class => 'demote button'
          ) %>
    </div>
    <div class='clearfix'></div>
  </div>
<% end %>
