<tr>
  <td class="picture"><%= character_picture_link(relation.target_character) %></td>
  <td class="name"><%= character_name_link(relation.target_character) %></td>
  <td class="level"><%= fb_i(Character.human_attribute_name("level")) %> <%= relation.target_character.level %></td>
  <td class="controls">
    <%= link_to(button(:break), relation_path(relation.target_character),
          :method   => :delete,
          :confirm  => t(".break.confirmation"),
          :class    => "delete button"
        ) %>
  </td>
</tr>