<tr>
  <td class="picture"><%= character_picture_link(relation.character) %></td>
  <td class="name"><%= character_name_link(relation.character) %></td>
  <td class="level">
    <span class="label"><%= Character.human_attribute_name("level") %></span>
    <span class="value"><%= relation.level %></span>
  </td>
  <td class="controls">
    <%= link_to(image_tag("icons/delete.png", :alt => t('.buttons.break')),
          relation_path(relation.character),
          :remote   => true,
          :method   => :delete,
          :confirm  => t(".break.confirmation"),
          :class => "delete"
        ) %>
  </td>
</tr>
