<tr>
  <td class="picture"><%= character_picture_link(relation.target_character) %></td>
  <td class="name"><%= character_name_link(relation.target_character) %></td>
  <td class="level">
    <span class="label"><%= Character.human_attribute_name("level") %></span>
    <span class="value"><%= relation.target_character.level %></span>
  </td>
  <td class="controls">
    <%= link_to(button(:break), relation_path(relation.target_character),
          :method   => :delete,
          :confirm  => t(".break.confirmation"),
          :class    => "delete button"
        ) %>
  </td>
</tr>