<%= title(fb_i(t(".title"))) %>

<div class="note" id="alliance_recruit">
  <p>
    <%= fb_i(t(".note")) %>
  </p>

  <div class="buttons">
    <%= link_to(button(:recruit), invite_users_path, :class => :button) %>
    <%= link_to(button(:hire), premium_path, :class => :button) %>
    <%= link_to(button(:gift), new_gift_path, :class => :button) %>
  </div>
</div>

<% if @relations.any? %>
  <table width="100%">
    <tr>
      <td>
        <h2><%= fb_i(t(".members.title")) %></h2>

        <table id="alliance_members" cellspacing="0">
          <% @relations.each do |relation| %>
            <%= render :partial => "relations/#{relation.class.to_s.underscore}", :locals => {:relation => relation} %>
          <% end %>
        </table>

        <%= will_paginate(@relations) %>
      </td>
      <td><%= render :partial => "assignments" %></td>
    </tr>
  </table>
<% else %>
  <div class="empty_set">
    <%= fb_i(t(".empty_set")) %>
  </div>
<% end %>