<%= title(fb_i(t(".title"))) %>

<div class="note">
  <p>
    <%= fb_i(t(".note.text")) %>
  </p>

  <%= link_to(fb_i(t(".note.button")), invite_users_path, :id => :alliance_recruit) %>
</div>

<% if @relations.any? %>
  <table width="100%">
    <tr>
      <td>
        <h2><%= fb_i(t(".members.title")) %></h2>

        <table id="alliance_members" cellspacing="0">
          <% @relations.each do |relation| %>
            <tr>
              <td class="picture"><%= character_picture_link(relation.target_character) %></td>
              <td class="name"><%= character_name_link(relation.target_character) %></td>
              <td class="level"><%= fb_i(Character.human_attribute_name("level")) %> <%= relation.target_character.level %></td>
              <td class="controls">
                <%= link_to(fb_i(t(".buttons.break")), relation_path(relation.target_character),
                      :method   => :delete,
                      :confirm  => t(".break.confirmation"),
                      :class    => :delete
                    ) %>
              </td>
            </tr>
          <% end %>
        </table>

        <%= will_paginate(@relations) %>
      </td>
      <td><%= render :partial => "assignments" %></td>
    </tr>
  </table>

  <%= will_paginate @relations %>
<% else %>
  <div class="empty_set">
    <%= fb_i(t(".empty_set")) %>
  </div>
<% end %>