<%= title(t(".title")) %>

<%= render "relations/buttons", :current => :relations %>

<%= render "relations/note" %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td id="alliance_members">
      <h2><%= t(".members.title") %></h2>

      <% collection(@relations) do %>
        <table class="relations" cellspacing="0" cellpadding="0">
          <% @relations.each do |relation| %>
            <%= render "relations/#{relation.class.to_s.underscore}", :relation => relation %>
          <% end %>
        </table>

        <%= will_paginate(@relations) %>
      <% end %>
    </td>
    <td id="assignments"><%= render "assignments" %></td>
  </tr>
</table>
