<%= title(fb_i("Your Alliance")) %>

<div class="note">
  <p>
    <% fb_i do %>
      Your alliance gives you additional attack and defence points. The more
      members in your alliance, the more chances you have in every battle.
    <% end %>
  </p>

  <%= link_to(fb_i("Recruit to Alliance"), invite_users_path, :id => :alliance_recruit) %>
</div>

<% if @relations.any? %>
  <table id="alliance_members" cellspacing="0">
    <% @relations.each do |relation| %>
      <tr>
        <td class="picture"><%= character_picture_link(relation.target) %></td>
        <td class="name"><%= character_name_link(relation.target) %></td>
        <td class="level"><%= fb_i("Level:") %> <%= relation.target.level %></td>
        <td class="controls">
          <%= link_to(fb_i("Break Alliance"), relation_path(relation.target), :method => :delete, :confirm => "Are you sure?", :class => :delete) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate(@relations) %>
<% else %>
  <div class="empty_set">
    <%= fb_i("You don't have any members in your Alliance") %>
  </div>
<% end %>