<div class="fighters">
  <h3>
    <%= t(".title") %> 
    <%= help_link(:monsters_damage_leaders)%>
  </h3>

  <% collectors_border_drawed = false %>
  <% monster.monster_fights.top_damage.each do |fight| %>
    <%
      if !collectors_border_drawed && !fight.significant_damage? 
        collectors_border_drawed = true
        collectors_border = 'collectors_border'
      else
        collectors_border = ''
      end
    %>
    <div class="fighter clearfix <%= collectors_border %>">
      <div class="damage"><%= fight.damage %></div>
      <div class="name"><%= character_name_link(fight.character) %></div>
    </div>
  <% end %>
</div>