<div class="fighters">
  <h3>
    <%= t(".title") %> 
    <%= help_link(:monsters_damage_leaders)%>
  </h3>

  <% monster.damage.leaders.each do |character, damage| %>
    <div class="fighter <%= 'current' if character == current_character %> <%= yield_once(:monster_collector_border){ 'collectors_border' if !monster.will_get_reward?(character) } %> clearfix">
      <div class="damage"><%= damage %></div>
      <div class="name"><%= character_name_link(character) %></div>
    </div>
  <% end %>
</div>