<div class="monster">
  <div class="image"><%= monster_image(type, :normal) %></div>
  <div class="name"><%= type.name %></div>
  <div class="description"> <%= type.description%> </div>

  <div class="health">
    <div class="lebel"><%= Monster.human_attribute_name("health")%></div>
    <div class="value"> <%= type.health %> </div>
  </div>
  
  <div class="fight_time">
    <div class="lebel"> <%= Monster.human_attribute_name("fight_time") %> </div>
    <div class="value"> <%= type.fight_time %> </div>
  </div>
  
  <div class='payouts' colspan=3>
              
    <% payout_list(type, type.payouts, :format => :preview) do |p| %>
      <h3><%= Monster.human_attribute_name("payouts") %></h3>
  
      <%= p.payout_list %>
    <% end %>

  </div>
  <div class='requirements' colspan=3>
              <h3><%= Monster.human_attribute_name("requirements") if type.requirements.any?%></h3>

              <%= requirement_list(type.requirements) %>
  </div>
  <div class="controls">
    <%= link_to(button(:attack), new_monster_path(:monster_type_id => type), :class => "attack button") %>
  </div>
</div>