<% content_tag_for :div, monster do %>
  <div class="image"><%= link_to(monster_image(monster, :normal), monster) %></div>
  <div class="name"><%= monster.name %></div>
  <div class="description"><%= monster.description %></div>
  <div class="payouts">
    <% payout_list(monster.monster_type, monster.monster_type.payouts, :format => :preview) do |p| %>
      <h3><%= Monster.human_attribute_name("payouts") %></h3>

      <%= p.payout_list %>
    <% end %>
  </div>
      <div class="health">
        <%= monster_health_bar(monster) %>
      </div>
  <div class="status">
    <% if monster.progress? %>
      <%= t('.current.time_remaining') %>
      <span class="timer"></span>

      <% dom_ready do %>
        Timer.start('#<%= dom_id(monster) %> .status .timer', <%= monster.time_remaining %>)
      <% end %>
    <% elsif monster.won? %>
      <%= t('.current.won') %>
    <% else %>
      <%= t('.current.expired') %>
    <% end %>
  </div>

  <div class="controls">
    <% if monster.progress? %>
      <%= link_to(button(:engage), monster, :class => "engage button") %>
    <% elsif monster.expired? || !fight.reward_collectable? %>
      <%= link_to(button(:view), monster, :class => "view button") %>
    <% else %>
      <%= link_to(button(:reward), monster, :class => "reward button") %>
    <% end %>
  </div>
<% end %>