<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="info">
      <div class="timer">
        <%= t(".timer") %>

        <span class="value"></span>
      </div>

      <div class="health">
        <%= monster_health_bar(monster) %>
      </div>

      <div class="controls clearfix">
        <%= link_to(button(:attack), monster_path(monster),
              :remote => true,
              :method => :put,
              :"data-click-once" => true,
              :class => "attack button"
            ) %>

        <% if monster.monster_type.power_attack_enabled? %>
          <%= link_to(button(:power_attack, :factor => Setting.i(:monster_fight_power_attack_factor)),
                monster_path(monster, :power_attack => 1),
                :remote => true,
                :method => :put,
                :"data-click-once" => true,
                :class => "power_attack button"
              ) %>
        <% end %>

        <% if Setting.b(:friends_invite_enabled) && monster.monster_type.available_for_friends_invite %>
          <%= link_to_function(button(:invite_request),
                invite_dialog(:monster_invite,
                  :dialog => {
                    :title    => t('.invitation.title'),
                    :message  => t('.invitation.message', :name => monster.name, :app => t('app_name')),
                    :data     => {
                      :target_id    => monster.id,
                      :target_type  => Monster.name
                    }
                  }
                ),
                :class => "invite button"
              ) %>

          <%= link_to_function(button(:invite), stream_dialog(:monster_invite, monster),
                :class => "invite button"
              ) if Setting.b(:stream_dialog_enabled) %>
        <% end %>
      </div>

      <% payout_list(monster, monster.monster_type.applicable_payouts, :format => :preview, :triggers => fight.payout_triggers) do |p| %>
        <div class="payouts clearfix">
          <h3><%= MonsterType.human_attribute_name('payouts') %></h3>

          <%= p.payout_list %>
        </div>
      <% end %>

      <%= render('fighters', :monster => monster) %>
    </td>

    <td class="image">
      <%= monster_image(monster, :large) %>
    </td>
  </tr>
</table>

<% dom_ready do %>
  new VisualTimer(['#monster .timer .value']).start(<%= monster.time_remaining %>);
<% end %>