<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="image">
      <%= monster_image(monster, :normal) %>
    </td>

    <td class="info">
      <div class="timer">
        <%= t(".timer") %>

        <span class="value"></span>
      </div>

      <div class="health">
        <%= monster_health_bar(monster) %>
      </div>

      <div class="controls clearfix">
        <%= link_to_remote(button(:attack),
              :url    => monster_path(monster),
              :method => :put,
              :update => :result,
              :before => "$(this).css('visibility', 'hidden')",
              :html   => {:class => "attack button"}
            ) %>

        <%= link_to_function(button(:invite), monster_invite_stream_dialog(monster),
              :class => "invite button"
            ) %>
      </div>

      <% payout_list(monster, monster.monster_type.payouts, :format => :preview, :triggers => fight.payout_triggers) do |p| %>
        <div class="payouts clearfix">
          <h3><%= MonsterType.human_attribute_name('payouts') %></h3>

          <%= p.payout_list %>
        </div>
      <% end %>

      <%= render('fighters', :monster => monster) %>
    </td>
  </tr>
</table>

<% dom_ready do %>
  Timer.start('#monster .timer .value', <%= monster.time_remaining %>)
<% end %>