<%= title(t(".title")) %>

<%= render("missions/buttons", :current => :monsters) %>

<%= render('layouts/promo_block', :context => :monsters) %>

<% unless @defeated_monster_fights.empty? %>
  <div id="previous_monsters" class="monster_list clearfix">
    <h2><%= t(".previous") %></h2>

    <% @defeated_monster_fights.each do |fight| %>
      <%= render("monsters/preview/completed", 
            :monster  => fight.monster, 
            :fight    => fight
          ) %>
    <% end %>
  </div>
<% end %>

<% unless @active_monster_fights.empty? %>
  <div id="current_monsters" class="monster_list clearfix">
    <h2><%= t(".current") %></h2>

    <% @active_monster_fights.each do |fight| %>
      <%= render(fight.monster.progress? ? "monsters/preview/current" : "monsters/preview/completed", 
            :monster  => fight.monster, 
            :fight    => fight
          ) %>
    <% end %>
  </div>
<% end %>

<% unless @monster_types.empty? %>
  <div id="available_monsters" class="monster_list clearfix">
    <h2><%= t(".available") %></h2>

    <% @monster_types.each do |type| %>
      <%= render("monsters/preview/available", :type => type, :locked => false) %>
    <% end %>
  </div>
<% end %>

<% if @locked_monster %>
  <div id="locked_monster" class="monster_list clearfix">
    <h2><%= t(".locked", :level => @locked_monster.level) %></h2>
    
    <%= render("monsters/preview/available", :type => @locked_monster, :locked => true) %>
  </div>
<% end %>

<div id="finished_fights">
  <%= link_to(t(".finished"), finished_monsters_path,
        :remote => true
      ) %>
</div>
