<%= title(t(".title")) %>

<%= render "missions/buttons", :current => :monsters %>

<% if @monsters.any? %>
  <div id="current_monsters" class="monster_list clearfix">
    <h2><%= t(".current.title") %></h2>

    <% monster_list(@monsters) do |monster, fight| %>
      <% if monster.progress? %>
        <%= render "monster_current", :monster => monster, :fight => fight%>
      <% elsif monster.expired? || !fight.reward_collectable?%>
        <%= render "monster_completed", :monster => monster, :fight => fight %>
      <% end %>
    <% end %>

  </div>
<% end %>

<% if @monster_types.any? %>
  <div id="available_monsters" class="monster_list clearfix">
    <h2><%= t(".available.title") %></h2>

    <% @monster_types.each do |type| %>
      <%= render "monster_available", :type => type%>
    <% end %>

  </div>
<% end %>

<% if @locked_monster %>
  <div id="locked_monster" class="monster_list clearfix">
    <h2><%= t(".locked.title") %></h2>
    
  </div>
<% end %>
