<% if @monster %>
  <div id="monster">
    <div class='fight'></div>
    <div class='impact'></div>
    <div class='fighters'></div>
  </div>
<% end %>

<%= javascript_tag do %>
  Character.update(<%= current_character.to_json_for_overview.html_safe %>);

  new MonstersController(
    <%= @monster.as_json.to_json.html_safe %>,
    <%= @fight.as_json.to_json.html_safe %>,
    <%= @monster.damage.leaders.to_json.to_json %>
  );
<% end %>
