<% dialog :item_upgrades do %>
  <h2><%= t(".title") %></h2>
  
  <% remote_form_for(@inventory, :url => item_upgrade_path(@inventory.id), :html => {:method => :put}, :update => :ajax) do |f| %>
    <div class="item field">
      <div>
        <div class="item_image">
          <%= item_image(@inventory.item, :small) %>
        </div>
        <div class="name"><%= @inventory.item.name %></div>
        <div class="amount">(<%= @inventory.amount %>)</div>
      </div>
    </div>

    <div class="item field">
      <div>
        <div class="item_image">
          <%= item_image(@recipe.result, :small) %>
        </div>
        <div class="name"><%= @recipe.result.name %></div>
      </div>
    </div>

    <div class="price"><%= t(".price", :amount => @recipe.price) %></div>
    <div class="tokens"><%= t(".tokens", :amount => current_character.upgrade_tokens) %></div>

	<%= f.text_field :amount %>

    <%= link_to_function(button(:upgrade), "$(this).parents('form').submit()", 
          :class => 'upgrade button', :'data-click-once' => true
        ) %>
  <% end %>
<% end %>
