<%= form.select :mission_group_id, MissionGroup.to_dropdown, :required => true %>

<%= form.select :parent_mission_id, Mission.all.to_dropdown, :include_blank => true %>

<%= form.text_field :name, :required => true, :size => 50 %>
<%= form.text_area :description, :cols => 80, :rows => 5 %>

<%= form.text_area :success_text, :required => true, :cols => 80, :rows => 3 %>
<%= form.text_area :failure_text, :required => true, :cols => 80, :rows => 3 %>
<%= form.text_area :complete_text, :required => true, :cols => 80, :rows => 3 %>

<%= form.file_field :image, :after_field => (image_tag(form.object.image(:small)) if form.object.image?) %>

<%= form.text_field :win_amount, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :success_chance, :required => true, :size => 6, :autocomplete => :off %>
<%= form.check_box :repeatable %>


<h2><%= Mission.human_attribute_name("requirements") %></h2>

<%= form.text_field :ep_cost, :required => true, :size => 6, :autocomplete => :off %>

<%= render "admin/requirements/collection", :form => form %>

<h2><%= Mission.human_attribute_name("payouts") %></h2>

<%= form.text_field :experience, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :money_min, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :money_max, :required => true, :size => 6, :autocomplete => :off %>

<%= form.text_field :title %>

<%= form.check_box :allow_loot %>
<%= form.text_field :loot_chance, :size => 6, :autocomplete => :off %>
<%= form.grouped_select :loot_item_ids, Item.to_grouped_dropdown, {}, {:multiple => true} %>

<%= render "admin/payouts/collection", :form => form %>