<%= admin_title(t(".title")) %>

<%= render("controls") %>

<% collection @missions do %>
  <table id="mission_list" class="data">
    <% @missions.each do |mission| %>
      <% group_header mission.mission_group do |group| %>
        <tr>
          <th colspan="7" class="subheader">
            <%= group.name %>
          </th>
        </tr>
        <tr>
          <th><%= Mission.human_attribute_name("image") %></th>
          <th><%= Mission.human_attribute_name("name") %></th>
          <th><%= Mission.human_attribute_name("requirements") %></th>
          <th><%= Mission.human_attribute_name("payouts") %></th>
          <th><%= Mission.human_attribute_name("state") %></th>
          <th></th>
          <th></td>
        </tr>
      <% end %>
      
      <% content_tag_for(:tbody, mission) do %>
        <tr>
          <td class="image"><%= image_tag(mission.pictures.url(:icon)) if mission.image? %></td>
          <td class="name"><%= link_to(mission.name, edit_admin_mission_path(mission)) %></td>
          <td class="requirements">
            <%= admin_requirements_preview(mission.requirements) %>
          </td>
          <td class="payouts">
            <%= admin_payouts_preview(mission.payouts) %>
          </td>
          <td class="state"><%= admin_state(mission, :exclude => [(:visible if mission.levels.empty?)]) %></td>
          <td class="controls">
            <%= link_to(t(".controls.edit"), edit_admin_mission_path(mission)) %>
          </td>
          <td class="position_controls">
            <%= admin_position_controls(mission) %>
          </td>
        </tr>

        <tr class="levels">
          <td class="indent">&nbsp;</td>
          <td colspan="6">
            <%= render "levels", :mission => mission %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
