<%= title(t(".title")) %>

<%= render :partial => "controls" %>

<% if @missions.any? %>
  <%= will_paginate @missions %>

  <table id="mission_list" cellspacing="0">
    <% @missions.each do |mission| %>
      <% group_header mission.mission_group do |group| %>
        <tr>
          <th colspan="10" class="subheader">
            <%= group.name %> (<%= MissionGroup.human_attribute_name("level") %> <%= group.level %>)
          </th>
        </tr>
        <tr>
          <th><%= Mission.human_attribute_name("image") %></th>
          <th><%= Mission.human_attribute_name("name") %></th>
          <th><%= Mission.human_attribute_name("ep_cost") %></th>
          <th><%= Mission.human_attribute_name("experience") %></th>
          <th><%= Mission.human_attribute_name("basic_money") %></th>
          <th><%= Mission.human_attribute_name("requirements") %></th>
          <th><%= Mission.human_attribute_name("payouts") %></th>
        </tr>
      <% end %>
      <tr>
        <td class="image"><%= image_tag(mission.image.url(:icon)) if mission.image? %></td>
        <td class="name"><%= link_to(mission.name, edit_admin_mission_path(mission)) %></td>
        <td class="ep_cost"><%= mission.ep_cost %></td>
        <td class="experience"><%= mission.experience %></td>
        <td class="basic_money"><%= mission.money_min %> - <%= mission.money_max %></td>
        <td class="requirements">
          <% mission.requirements.each do |requirement| %>
            <%= render :partial => "admin/requirements/preview/#{requirement.name}", :locals => {:requirement => requirement} %>
          <% end %>
        </td>
        <td class="payouts">
          <% mission.payouts.each do |payout| %>
            <%= render :partial => "admin/payouts/preview/#{payout.name}", :locals => {:payout => payout} %>
          <% end %>
        </td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_mission_path(mission)) %>
          <%= link_to(t(".controls.delete"), admin_mission_path(mission),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @missions %>
<% else %>
  <div class="empty_set"><%= t(".empty_set") %></div>
<% end %>