<div id="current_contest" class="contest clearfix" style="<%= contest_logo_background(current_contest) %>">
  <div id="contest_info">
    <div class="description"><%= current_contest.description.html_safe if current_contest.description %></div>

    <% if current_contest.available? %>
      <div class="current_position">
        <%= t('.current_position',
              :value => '<span class="value">%s</span>' % current_contest.position(current_character)
            ).html_safe %>
      </div>
    <% end %>

    <% unless current_contest.finished? %>
      <%= contest_timer(current_contest) %>
    <% end %>

    <% if current_contest.available? %>
      <div class="buttons clearfix">
        <%= contest_points_type_button(current_contest) %>
        <%= link_to(button(:rating), contest_path(current_contest), :class => 'button rating') %>
      </div>
    <% end %>
  </div>
</div>