<% if current_contest %>

  <div id="current_contest" class="clearfix">
    <h2><%= t(".header") %></h2>
    <div id="contest_info">
      <div class="name"><%= current_contest.name %></div>
      
      <%= contest_image(current_contest, :normal) %>
      
      <div class="description"><%= current_contest.description.html_safe %></div>
      <div class="current_position">
        <%= t('.current_position', 
              :value => content_tag(:span, 
                current_contest.position(current_character),
                :class => 'value') 
              ).html_safe %>
      </div>
      
      <% if current_contest.finished? %>
        <%= content_tag(:div, t(".finished"), :class => "finished") %>
      <% else %>
        <%= contest_timer(current_contest) %>
      <% end %>
      
      <div class="buttons">
        <%= link_to(button(:fights), new_fight_path, :class => 'button fight') %>
        <%= link_to(button(:contest), contest_path(current_contest), :class => 'button contest') %>
      </div>
    </div>
  </div>
  
<% end%>
