<% content_tag(:div, :id => :current_contest, :class => 'contest clearfix', :style => contest_logo_background(current_contest)) do %>
  <div id="contest_info">
    <div class="description"><%= current_contest.description.html_safe %></div>
    
    <% if current_contest.available? %>
      <div class="current_position">
        <%= t('.current_position', 
              :value => content_tag(:span, 
                current_contest.position(current_character),
                :class => 'value') 
              ).html_safe %>
      </div>
    <% end %>
    
    <% if current_contest.finished? %>
      <%= render 'contests/winners_table', :contest => current_contest %>
    <% else %>
      <%= contest_timer(current_contest) %>
    <% end %>
    
    <% if current_contest.available? %>
      <div class="buttons clearfix">
        <%= contest_points_type_button(current_contest) %>
        <%= link_to(button(:rating), contest_path(current_contest), :class => 'button rating') %>
      </div>
    <% end %>
  </div>
<% end %>