<table class="contest_table contest_group" id="<%= dom_id(group) %>" cellspacing="0" cellpadding="0">
  <tr>
    <th>#</th>
    <th colspan="2"><%= Character.model_name.human %></th>
    <th><%= t(".points_types.#{group.contest.points_type}") %></th>
  </tr>

  <% contest_group_table(group) do |character, points, position, current| %>
    <tr class="<%= :current if current %>">
      <td class="position"><%= position %></td>
      <td class="picture"><%= character_picture_link(character) %></td>
      <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
      <td class="points last"><%= points %></td>
    </tr>
  <% end %>
</table>