<table class="contest_table contest_group" id="<%= dom_id(group) %>" cellspacing="0" cellpadding="0">
  <tr>
    <th>#</th>
    <th colspan="2"><%= Character.human_name %></th>
    <th><%= t(".points_types.#{group.contest.points_type}") %></th>
    <% if group.contest.finished? %>
      <th><%= t(".payouts") %></th>
    <% end %>
  </tr>

  <% contest_group_table(group) do |character, points, position, current| %>
    <tr class="<%= :current if current %>">
      <td class="position"><%= position %></td>
      <td class="picture"><%= character_picture_link(character) %></td>
      <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
      <td class="points <%= "last" unless group.contest.finished? %>"><%= points %></td>

      <% if group.contest.finished? %>
        <td class="payouts last"><%= payout_list(character, group.payouts_for_position(position)) %></td>
      <% end %>
    </tr>
  <% end %>
</table>