<% content_tag_for(:table, group, 
  :class => 'contest_table', :cellspacing => 0, :cellpadding => 0) do %>
  <tr>
    <th>#</th>
    <th colspan="2"><%= Character.human_name %></th>
    <th><%= t("contests.group.points_types.#{group.contest.points_type}") %></th>
    <th><%= t("contests.winners_table.payouts") %></th>
  </tr>
  
  <% group.winners_with_points.each_with_index do |winner_with_point, i| %>
    <tr>
      <td class="position"><%= i + 1  %></td>
      <td class="picture"><%= character_picture_link(winner_with_point.character) %></td>
      <td class="name"><%= character_name_link(winner_with_point.character, {}, {:capitalize => true}) %></td>
      <td class="points"><%= winner_with_point.points %></td>
      <td class="payouts"><%= payout_list(winner_with_point.character, group.payouts_for(winner_with_point.character)) %></td>
    </tr>
  <% end %>
<% end %>