<div id="contest">
  <%= title(@contest.name) %>
  
  <div class="buttons clearfix">
    <%= link_to(button(:relations), rating_path, :class => :button) %>
    <%= link_to(button(:global), global_rating_path, :class => :button) %>
  </div>
  
  <div class="results">
    <table class="contest_table" cellspacing="0" cellpadding="0">
      <tr>
        <th>#</th>
        <th colspan="2"><%= Character.human_name %></th>
        <th><%= Character.human_attribute_name("fights_won") %></th>
      </tr>
    
      <% contest_table(@contest, @leaders_with_points) do |character, points, position, current| %>
        <% content_tag(:tr, :class => (:current if current)) do %>
          <td class="position"><%= position %></td>
          <td class="picture"><%= character_picture_link(character) %></td>
          <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
          <td class="points last"><%= points %></td>
        <% end %>
      <% end %>
    </table>
  </div>
</div>