<div id="contest" class="contest">
  <%= title(@contest.name) %>

  <%= render("ratings/buttons", :current => :contest) %>

  <div class="results">

    <% if @contest.groups.size > 1 %>

      <% tabs :id => :contest_tabs do |t| %>
        <% @contest.groups_in_natural_order.each do |group| %>
          <% t.tab dom_id(group, :tab), group.title do %>
            <%= render('group', :group => group) %>
          <% end %>
        <% end %>
      <% end %>

    <% else %>

      <%= render('group', :group => @contest.groups.first) %>

    <% end %>

  </div>
</div>

<% dom_ready do %>
  Contest.setup('<%= dom_id(@current_group, :tab) %>');
<% end %>