<div id="contest" class="contest">
  <%= title(@contest.name) %>
  
  <div class="buttons clearfix">
    <%= link_to(button(:relations), rating_path, :class => :button) %>
    <%= link_to(button(:global), global_rating_path, :class => :button) %>
  </div>
  
  <div class="results">
    
    <% if @contest.groups.size > 1 %>
    
      <div class="tabs">
        <ul>
          <% @contest.groups_in_natural_order.each do |group| %>
            <% content_tag_for(:li, group, :tab) do %>
              <%= link_to group.title, "##{dom_id(group)}" %>
            <% end %>
          <% end %>
        </ul>
        
        <% @contest.groups_in_natural_order.each do |group| %>
          <%= render('group', :group => group) %>
        <% end %>
      </div>
      
    <% else %>
    
      <%= render('group', :group => @contest.groups.first) %>
      
    <% end %>
    
  </div>
</div>

<% dom_ready do %>
  Contest.setup('<%= dom_id(@current_group, :tab) %>');
<% end %>