<div id="contest" class="contest">
  <%= title(@contest.name) %>

  <%= render("ratings/buttons", :current => :contest) %>

  <div class="results">

    <% if @contest.groups.size > 1 %>

      <div class="tabs">
        <ul>
          <% @contest.groups_in_natural_order.each do |group| %>
            <li class="contest_group" id="<%= dom_id(group, :tab) %>">
              <a href="#<%= dom_id(group) %>"><%= group.title %></a>
            </li>
          <% end %>
        </ul>

        <% @contest.groups_in_natural_order.each do |group| %>
          <%= render('group', :group => group) %>
        <% end %>
      </div>

    <% else %>

      <%= render('group', :group => @contest.groups.first) %>

    <% end %>

  </div>
</div>

<% dom_ready do %>
  Contest.setup('<%= dom_id(@current_group, :tab) %>');
<% end %>