<div class="note"><%= t('forms.all_fields_required') %></div>

<%= form.text_field :name, :size => 50 %>

<%= form.datetime_select :started_at %>
<%= form.datetime_select :finished_at %>

<%= form.select :points_type, Contest.points_type_to_dropdown %>

<%= form.text_area :description_before_started, :cols => 120, :rows => 20 %>
<%= form.text_area :description_when_started, :cols => 120, :rows => 20 %>
<%= form.text_area :description_when_finished, :cols => 120, :rows => 20 %>

<% form.field_set form.object.class.human_attribute_name('pictures') do %>
  <%= form.fields 'admin/pictures/form_fields' %>
<% end %>
