<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_contest_path) %>
</div>

<% collection @contests do %>
  <table id="contest_list" class="data">
    <tr>
      <th><%= Contest.human_attribute_name("name") %></th>
      <th><%= Contest.human_attribute_name("started_at") %></th>
      <th><%= Contest.human_attribute_name("finished_at") %></th>
      <th><%= Contest.human_attribute_name("state") %></th>
      <th><%= Contest.human_attribute_name("points_type") %></th>
      <th></th>
    </tr>
    
    <% @contests.each do |contest| %>
      <% content_tag_for(:tbody, contest) do %>
        <tr>
          <td class="name"><%= link_to(contest.name, edit_admin_contest_path(contest)) %></td>
          <td class="started_at"><%= contest.started_at %></td>
          <td class="finished_at"><%= contest.finished_at %></td>
          <td class="state"><%= admin_state(contest) %></td>
          <td class="points_type"><%= contest.points_type %></td>
          <td class="controls">
            <%= link_to(t(".controls.edit"), edit_admin_contest_path(contest)) %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="5">
            <%= render("groups", :contest => contest) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
