<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_monster_type_path) %>
</div>

<% collection @types do %>
  <table id="monster_type_list" class="data">
    <tr>
      <th><%= MonsterType.human_attribute_name("image") %></th>
      <th><%= MonsterType.human_attribute_name("name") %></th>
      <th><%= MonsterType.human_attribute_name("level") %></th>
      <th><%= MonsterType.human_attribute_name("health") %></th>
      <th><%= MonsterType.human_attribute_name("effects") %></th>
      <th><%= MonsterType.human_attribute_name("requirements") %></th>
      <th><%= MonsterType.human_attribute_name("payouts") %></th>
      <th><%= MonsterType.human_attribute_name("state") %></th>
      <th></th>
    </tr>
    
    <% @types.each do |type| %>
      <%= content_tag_for(:tr, type) do %>
        <td class="image"><%= image_tag(type.pictures.url(:icon)) if type.pictures? %></td>
        <td class="name"><%= link_to(type.name, edit_admin_monster_type_path(type)) %></td>
        <td class="level"><%= type.level %></td>
        <td class="health"><%= type.health %></td>
        <td class="effects">
          <%= admin_effects_preview(type.effects) %>
        </td>
        <td class="requirements"><%= admin_requirements_preview(type.requirements) %></td>
        <td class="payouts"><%= admin_payouts_preview(type.payouts) %></td>
        <td class="state"><%= admin_state(type) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_monster_type_path(type)) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
