<%= render_to_result :market do |builder| %>
  <% if @market_item.errors.empty? %>
    <% builder.buttons do %>
      <%= link_to_function(button(:publish), stream_dialog(:item_purchased, @market_item.item),
            :class => "publish button"
          ) if Setting.b(:stream_dialog_enabled) %>

      <%= link_to(button(:inventory), inventories_url,
            :class => "inventory button"
          ) %>
    <% end %>

    <% builder.success do %>
      <%= t(".messages.success",
            :amount     => @market_item.amount,
            :item_name  => strong_tag(@market_item.amount > 1 ? @market_item.plural_name : @market_item.name)
          ).html_safe %>
    <% end %>

    <% if @market_item.price? %>
      <table class="payouts">
        <tr>
          <td class="spent">
            <h3><%= t(".you_spent.title") %></h3>

            <% if @market_item.basic_price > 0 %>
              <%= payout(:basic_money, number_to_currency(@market_item.basic_price)) %>
            <% end %>

            <% if @market_item.vip_price > 0 %>
              <%= payout(:vip_money, number_to_currency(@market_item.vip_price)) %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

    <% builder.on_ready do %>
      $('#<%= dom_id(@market_item) %>').remove();

      <%= ga_track_event('Items', 'Purchased on Market', "#{@market_item.name} (#{@market_item.item.availability})", current_character.level) %>
    <% end %>
  <% else %>
    <div class="unsatisfied_requirements">
      <%= unsatisfied_requirement_first(@market_item.requirements) %>
    </div>
  <% end %>
<% end %>
