<%= admin_title(t(".title")) %>

<% collection @character_types do %>
  <table id="character_type_list" class="data">
    <tr>
      <th><%= t(".image") %></th>
      <th><%= t(".name") %></th>
      <th><%= t(".players") %></th>
    </tr>
    <% @character_types.each do |type| %>
      <tr>
        <td class="image"><%= image_tag(type.picture(:icon)) %></td>
        <td class="name"><%= type.name %></td>
        <td class="players">
          <%= Character.where(:character_type_id => type.id).count %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
