<% requirement(requirement.name, satisfied) do %>
  <% if [:shop, :special].include?(requirement.item.availability) && !satisfied %>
    <% link = capture do %>
      <span class="image">
        <%= item_image(requirement.item, :icon) %>
      </span>

      <span class="label">
        <%= raw            t(".text",
                :name   => content_tag(:span, requirement.item.name, :class => :value),
                :amount => requirement.amount
              )
             %>
      </span>
    <% end %>

    <%= link_to_remote(link,
          :url    => new_inventory_path(
            :item_id  => requirement.item,
            :amount   => requirement.missing_amount(current_character)
          ),
          :method => :get,
          :update => :ajax
        ) %>
  <% else %>
    <span class="image">
      <%= item_image(requirement.item, :icon) %>
    </span>

    <span class="label">
      <%= raw t(".text",
            :name   => content_tag(:span, requirement.item.name, :class => :value),
            :amount => requirement.amount
          ) %>
    </span>
  <% end %>
<% end %>