<%= form.text_field :name, :required => true %>

<%= form.text_field :level, :size => 6, :required => true, :autocomplete => :off %>

<%= form.file_field :image, :after_field => (image_tag(form.object.image.url) if form.object.image?) %>

<h2><%= MissionGroup.human_attribute_name("requirements") %></h2>

<%= form.fields "admin/requirements/collection" %>

<h2><%= MissionGroup.human_attribute_name("payouts") %></h2>

<%= form.fields "admin/payouts/collection" %>