<%= title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_mission_group_path) %>
</div>

<% if @groups.any? %>
  <table id="mission_group_list" cellspacing="0">
    <tr>
      <th><%= MissionGroup.human_attribute_name("name") %></th>
      <th><%= MissionGroup.human_attribute_name("level") %></th>
      <th><%= MissionGroup.human_attribute_name("missions") %></th>
    </tr>
    <% @groups.each do |group| %>
      <tr>
        <td class="name"><%= link_to(group.name, edit_admin_mission_group_path(group)) %></td>
        <td class="level"><%= group.level %></td>
        <td class="missions"><%= group.missions.size %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_mission_group_path(group)) %>
          <%= link_to(t(".controls.delete"), admin_mission_group_path(group),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="empty_set"><%= t(".empty_set") %></div>
<% end %>