<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_mission_group_path) %>
</div>

<% collection @groups do %>
  <table id="mission_group_list" class="data">
    <tr>
      <th><%= MissionGroup.human_attribute_name("name") %></th>
      <th><%= MissionGroup.human_attribute_name("missions") %></th>
      <th><%= MissionGroup.human_attribute_name("requirements") %></th>
      <th><%= MissionGroup.human_attribute_name("payouts") %></th>
      <th><%= MissionGroup.human_attribute_name("state") %></th>
      <th></th>
    </tr>
    <% @groups.each do |group| %>
      <%= content_tag_for(:tr, group) do %>
        <td class="name"><%= link_to(group.name, edit_admin_mission_group_path(group)) %></td>
        <td class="missions"><%= group.missions.size %></td>
        <td class="requirements"><%= admin_requirements_preview(group.requirements) %></td>
        <td class="payouts"><%= admin_payouts_preview(group.payouts) %></td>
        <td class="state"><%= admin_state(group) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_mission_group_path(group)) %>
        </td>
        <td class="position_controls">
          <%= admin_position_controls(group) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
