<% message = capture do %>
  <p class="success"><%= t('.accepted') %></p>
<% end %>

<% controls = capture do %>
  <%= link_to(button(:watch_clan), clan_path(app_request.sender.clan), :class => "watch button" ) %>
<% end %>

<% dom_ready do %>
  var $request = $('#<%= dom_id(app_request) %>');

  $request.find('.message').html('<%= escape_javascript(message) %>');
  $request.find('.controls').html('<%= escape_javascript(controls) %>');
<% end %>