<% message = capture do %>
  <p class="success"><%= t('.accepted') %></p>
<% end%>

<% controls = capture do %>
  <%= link_to_remote(inventory_use_button(app_request.inventory),
        :url    => use_inventory_path(app_request.inventory),
        :update => :result,
        :html   => {
          :"data-click-once" => true,
          :class => "use button"
        }
      ) if app_request.inventory.try(:usable?) %>
    
  <%= gift_send_button(app_request.item, :to => app_request.sender.facebook_id) %>
<% end %>

<% dom_ready do %>
  var $request = $('#<%= dom_id(app_request) %>');

  $request.find('.message').html('<%= escape_javascript(message) %>');
  $request.find('.controls').html('<%= escape_javascript(controls) %>');

  <%= ga_track_event('Requests', "#{app_request.type_name.titleize} - Accepted", app_request.item.name) %>
<% end %>
