<% message = capture do %>
  <p class="success"><%= t('.accepted') %></p>
<% end%>

<% controls = capture do %>
  <%= link_to_remote(inventory_use_button(app_request.inventory),
        :url    => use_inventory_path(app_request.inventory),
        :update => :result,
        :html   => {
          :"data-click-once" => true,
          :class => "use button"
        }
      ) if app_request.inventory.try(:usable?) %>
    
  <% if app_request.can_send_back? %>
    <%= gift_send_button(app_request.item, 
          :dialog => {:to => app_request.sender.facebook_id}, 
          :before => "$('##{ dom_id(app_request) }').find('.send.button').replaceWith('#{ escape_javascript(span_tag(t('.sending'), :sending)).html_safe }');",
          :callback => "$('##{ dom_id(app_request) }').find('.controls .sending').text('#{ t('.sent') }').removeClass('sending').addClass('sent');"
        ) %>
  <% end %>
<% end %>

<% dom_ready do %>
  var $request = $('#<%= dom_id(app_request) %>');

  $request.find('.message').html('<%= escape_javascript(message) %>');
  $request.find('.controls').html('<%= escape_javascript(controls) %>');

  <%= ga_track_event('Requests', "#{app_request.type_name.titleize} - Accepted", app_request.item.name) %>
<% end %>
