<% dialog :contest_winner_notification do |d| %>
  <h2><%= t(".title") %></h2>

  <p class="text">
    <%= t(".text", :name => notification.contest.name, :position => notification.contest_position) %>
  </p>
  
  <div class="payouts clearfix">
    <%= payout_list(notification.contest, notification.contest_payouts) %>
  </div>

  <div class="controls">
    <%= link_to_function(button(:publish), stream_dialog(:won_contest, notification),
          :class => "publish button"
        ) if Setting.b(:stream_dialog_enabled) %>
  </div>

  <%= render("notifications/disable", :notification => notification) %>
  
<% end %>
