<% dialog :id => :exchange_offer_created do |d| %>
  <h2><%= t(".title") %></h2>

  <div class="character">
    <div class="picture"><%= character_picture_link(notification.exchange_offer.character) %></div>
    <div class="text">
      <%= t('.text', 
            :character => character_name_link(notification.exchange_offer.character)
          ).html_safe %>
    </div>
  </div>
  
  <h3><%= t(".offer.#{ notification.exchange_offer.character.user.gender }") %></h3>
  
  <div class="payouts clearfix">
    <%= render('payouts/preview/item', :payout => notification.exchange_offer.payout) %>
  </div>
  
  <div class="controls">
    <%= link_to(button(:view), exchange_path(notification.exchange.key),
          :class => "view button"
        ) %>
  </div>
<% end %>