<% dialog :id => :exchange_offer_accepted do |d| %>
  <h2><%= t(".title") %></h2>

  <div class="character">
    <div class="picture"><%= character_picture_link(notification.exchange.character) %></div>
    <div class="text">
      <%= t('.text', 
            :character => character_name_link(notification.exchange.character)
          ).html_safe %>
    </div>
  </div>
  
  <div class="payouts received">
    <h3><%= t(".you_received") %></h3>
    
    <%= render('payouts/preview/item', :payout => notification.exchange.payout) %>
  </div>
  
  <div class="payouts lost">
    <h3><%= t(".you_lost") %></h3>

    <%= render('payouts/preview/item', :payout => notification.exchange_offer.payout) %>
  </div>
<% end %>