<% dialog :id => :exchange_offer_created do |d| %>
  <h2><%= t(".title") %></h2>

  <p class="text">
    <%= t(".text") %>
  </p>
  
  <div class="character">
    <h3><%= t(".user") %></h3>
    <div class="name"><%= character_name_link(notification.exchange_offer.character) %></div>
    <div class="picture"><%= character_picture_link(notification.exchange_offer.character) %></div>
  </div>
  
  <div class="payouts clearfix">
    <h3><%= t(".offer") %></h3>
    
    <%= render('payouts/preview/item', :payout => notification.exchange_offer.payout) %>
  </div>
  
  <div class="controls">
    <%= link_to(button(:view), exchange_path(notification.exchange.key),
          :class => "view button"
        ) %>
  </div>

  <%= render("notifications/disable", :notification => notification) %>
<% end %>