<% dialog :friends_to_invite_notification do |d| %>
  <h2><%= t(".title") %></h2>

  <p class="text">
    <%= t(".text") %>
  </p>

  <div class="users clearfix">
    <% notification.data[:friend_ids][0, 6].each do |facebook_id| %>
      <div class="user">
        <div class="picture"><%= fb_profile_pic(facebook_id, :size => :square) %></div>
        <div class="name"><%= fb_name(facebook_id, :linked => false, :firstnameonly => true) %></div>
      </div>
    <% end %>
  </div>

  <div class="controls">
    <%= link_to_function(button(:invite),
          invite_dialog(:invitation,
            :dialog => {
              :title    => t('relations.invitation.title'),
              :message  => t('relations.invitation.message', :app_name => t('app_name')),
              :data     => {
                :reference => :invite_dialog
              }
            }
          ),
          :class => 'invite button'
        ) %>
  </div>

  <%= render("notifications/disable", :notification => notification) %>
<% end %>
