<% dialog :id => :new_achievement_notification do |d| %>
  <h2><%= t(".title") %></h2>

  <p class="text">
    <%= t('.text') %>
  </p>
  
  <div class="achievement clearfix">
    <div class="image"><%= image_tag(notification.achievement.pictures.url(:small)) if notification.achievement.pictures? %></div>
    <div class="name"><%= notification.achievement.name %></div>
    <div class="description"><%= notification.achievement.description %></div>
  </div>
  
  <div class="controls">
    <%= link_to(button(:collect), achievements_path, :class => 'collect button') %>
    
    <%= link_to_function(button(:publish), stream_dialog(:achievement, notification.achievement.achievement_type),
          :class => "publish button"
        ) if Setting.b(:stream_dialog_enabled) %>
  </div>
<% end %>