<% dialog :id => :send_gift_notification do |d| %>
  <h2><%= t(".title") %></h2>

  <p class="text">
    <%= t(".text") %>
  </p>
  
  <div class="gifts clearfix">
    <% notification.items.each do |item| %>
      <div class="gift">
        <div class="name"><%= item.name %></div>
        
        <div class="image"><%= item_image(item, :medium, :tooltip => true) %></div>

        <%= gift_send_button(item) %>
      </div>
    <% end %>
  </div>

  <div class="controls">
    <%= link_to(button(:send_other), new_gift_path, :class => 'send_other button')%>
  </div>

  <%= render("notifications/disable", :notification => notification) %>
  
  <% d.on_ready do %>
    $('#send_gift_notification').giftForm();
  <% end %>
<% end %>
