<% dialog :notification_settings do %>
  <%= title(t(".title")) %>
  
  <div class="note"><%= t('.note') %></div>

  <%= form_for(current_character, :url => update_settings_notifications_path, 
        :method => :post, :remote => true) do |form| %>
  
    <div class="notifications">
      <% @notification_types.each do |type| %>
        <% if type.optional? %>
          <div class="notification">
            <%= check_box_tag "notification[types][]",
                  type, !@disabled_notifications.include?(type.class_to_type_name),
                  :id => "notification_#{type}" %>
            <%= label_tag "notification_#{type}", t(".types.#{type.class_to_type_name}") %>
          </div>
        <% end %>
      <% end %>
    </div>
      
    <%= link_to_function(button(:save), "$(this).parents('form').submit()", :class => 'save button')%>
  <% end %>
<% end %>
