<fb:fbml>
  <% if Rails.env.development? %>
    <style><%= render :file => "pages/stylesheets/common.css.erb" %></style>
    <style><%= render :file => "pages/stylesheets/admin.css.erb" %></style>

    <% %w{facebooker application}.each do |f| %>
      <script><%= File.read(File.join(RAILS_ROOT, "public", "javascripts", "#{f}.js")) %></script>
    <% end %>
  <% else %>
    <%= stylesheet_link_tag("common.css?#{File.mtime(File.join(RAILS_ROOT, "app/views/pages/stylesheets/common.css.erb")).to_i}") %>
    <%= stylesheet_link_tag("admin.css?#{File.mtime(File.join(RAILS_ROOT, "app/views/pages/stylesheets/admin.css.erb")).to_i}") %>
    
    <%= javascript_include_tag "facebooker", "application" %>
  <% end %>

  <%= render :partial => "layouts/admin/main_menu" %>
      
  <input type="text" style="width: 1px; height: 1px; border:0px;" id="top_field"/>

  <div id="spinner" style="display:none;">
    <%= image_tag("spinner.gif", :alt => t(".spinner.alt")) %>

    <%= fb_i(t(".spinner.text")) %>
  </div>

  <%= fb_i(fb_success(flash[:success])) if flash[:success] %>
  <%= fb_i(fb_error(flash[:error])) if flash[:error] %>

  <div id="result" style="display:none"></div>

  <%= yield %>

</fb:fbml>