<fb:fbml>
  <% if Rails.env.development? %>
    <style><%= File.read(File.join(RAILS_ROOT, "public", "stylesheets", "admin.css")) %></style>

    <script><%= File.read(File.join(RAILS_ROOT, "public", "javascripts", "facebooker.js")) %></script>
    <script><%= File.read(File.join(RAILS_ROOT, "public", "javascripts", "application.js")) %></script>
  <% else %>
    <%= stylesheet_link_tag("admin") %>
    
    <%= javascript_include_tag "facebooker", "application" %>
  <% end %>

  <%= render :partial => "layouts/admin/main_menu" %>
      
  <input type="text" style="width: 1px; height: 1px; border:0px;" id="top_field"/>

  <div id="spinner" style="display:none;">
    <%= image_tag("spinner.gif", :alt => t(".spinner.alt")) %>

    <%= fb_i(t(".spinner.text")) %>
  </div>

  <%= fb_i(fb_success(flash[:success])) if flash[:success] %>
  <%= fb_i(fb_error(flash[:error])) if flash[:error] %>

  <div id="result" style="display:none"></div>

  <%= yield %>

</fb:fbml>