<table class="details" cellspacing="0" cellpadding="0">
  <tr>
    <td class="attacker">
      <div class="character">
        <%= character_name_link(fight.attacker, {:class => :name}) %>
        <%= character_picture_link(fight.attacker, {:class => :picture}, {:size => :normal}) %>

        <div class="level">
          <span class="label"><%= Character.human_attribute_name("level") %></span>
          <span class="value"><%= fight.attacker.level %></span>
        </div>

        <div class="attributes">
          <div class="attack"><%= fight.attacker.attack_points %></div>
          <div class="relations"><%= fight.attacker.relations.effective_size %></div>
        </div>
      </div>

      <% if fight.attacker_boost %>
        <div class="best_items">
          <strong><%= t(".best_attacking_boost") %></strong>
          
          <%= item_image(fight.attacker_boost.item, :icon, :tooltip => true, :tooltip_on_click => true) %>
        </div>
      <% end %>

      <%= render "fights/create/best_items", :character => fight.attacker %>
    </td>
    <td class="vs"><%= t(".vs") %></td>
    <td class="victim">
      <div class="character">
        <%= character_name_link(fight.victim, {:class => :name}) %>
        <%= character_picture_link(fight.victim, {:class => :picture}, {:size => :normal}) %>

        <div class="level">
          <span class="label"><%= Character.human_attribute_name("level") %></span>
          <span class="value"><%= fight.victim.level %></span>
        </div>

        <div class="attributes">
          <div class="defence"><%= fight.victim.defence_points %></div>
          <div class="relations"><%= fight.victim.relations.effective_size %></div>
        </div>
      </div>

      <% if fight.victim_boost %>
        <div class="best_items">
          <strong><%= t(".best_defending_boost") %></strong>

          <%= item_image(fight.victim_boost.item, :icon, :tooltip => true, :tooltip_on_click => true) %>
        </div>
      <% end %>
      
      <%= render "fights/create/best_items", :character => fight.victim %>
    </td>
  </tr>
</table>

<div class="item_details" id="<%= dom_id(fight, :items) %>">
  <%= link_to(t(".show_items"), used_items_fight_path(fight),
        :remote => true
      ) %>
</div>
