<div class="buttons">
  <%= link_to_remote(button(:attack_again),
        :url    => fight.cause ? respond_fight_url(fight.cause, :canvas => false) : fights_url(:victim_id => @victim, :canvas => false),
        :update => :result,
        :html   => {:class => "attack_again button"}
      ) if current_character.energy > 0 %>
  
  <%= help_request_link(button(:request_help), fight,
        :class => "request_help button"
      ) %>
</div>

<p class="fail">
  <%= raw t(".message",
        :pronoun    => fb_pronoun(fight.victim.user, :objective => true),
        :user_name  => character_name_link(fight.victim)
      ) %>
</p>

<table class="payouts" cellspacing="0" cellpadding="0">
  <tr>
    <td class="lost">
      <h3><%= t(".you_lost") %></h3>

      <%= payout(:stamina, Configuration[:fight_stamina_required]) %>
      <%= payout(:health, fight.attacker_hp_loss) %>
      <%= payout(:basic_money, number_to_currency(fight.money)) %>
    </td>
    <td class="victim_lost">
      <h3><%= raw t(".victim_lost", :user_name => character_name_link(fight.victim)) %></h3>

      <%= payout(:health, fight.victim_hp_loss) %>
    </td>
  </tr>
</table>