<%= admin_title(t(".title")) %>

<%= render("controls") %>

<% collection @messages do %>

  <%= will_paginate @messages %>

  <table id="message_list" class="data">
    <tr>
      <th><%= Message.human_attribute_name("content") %></th>
      <th><%= Message.human_attribute_name("min_level") %></th>
      <th><%= Message.human_attribute_name("notify_new_users") %></th>
      <th><%= Message.human_attribute_name("amount_sent") %></th>
      <th><%= Message.human_attribute_name("created_at") %></th>
      <th><%= Message.human_attribute_name("state") %></th>
      <th></th>
    </tr>

    <% @messages.each do |message| %>
      <%= content_tag_for(:tr, message) do %>
        <td class="content"><%= message.content.html_safe %></td>
        <td class="level"><%= message.min_level %></td>
        <td class="level"><%= message.notify_new_users %></td>
        <td class="level"><%= message.amount_sent %></td>
        <td class="created_at"><%= message.created_at.strftime("%d:%m:%Y %H:%M") %></td>
        <td class="state"><%= admin_state(message, :controls => false) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_message_path(message)) %>
          <%= link_to(t(".controls.publish"), change_state_admin_message_path(message, :state => :sending),
                :remote   => true,
                :method   => :put,
                :confirm  => t(".controls.publish_confirm")
              )  if message.can_start_sending? %>
          <%= link_to(t(".controls.delete"), change_state_admin_message_path(message, :state => :deleted),
                :remote => true,
                :method   => :put,
                :confirm  => t(".controls.delete_confirm")
              ) if message.can_mark_deleted? %>
              
          <div class="send_to_admin">
            <%= link_to(t(".controls.send_to_admin"), send_to_admin_message_path(message),
                :remote => true,
                :method   => :put
              ) %>
          </div>      
        </td>
      <% end %>
    <% end %>
  </table>

  <%= will_paginate @messages %>
<% end %>
