<%= admin_title(t(".title")) %>

<%= render("controls") %>

<% collection @messages do %>

  <%= will_paginate @messages %>

  <table id="message_list" class="data">
    <tr>
      <th><%= Message.human_attribute_name("content") %></th>
      <th><%= Message.human_attribute_name("min_level") %></th>
      <th><%= Message.human_attribute_name("amount_sent") %></th>
      <th><%= Message.human_attribute_name("amount_sent_today") %></th>
      <th><%= Message.human_attribute_name("created_at") %></th>
      <th><%= Message.human_attribute_name("state") %></th>
      <th></th>
    </tr>

    <% @messages.each do |message| %>
      <%= content_tag_for(:tr, message) do %>
        <td class="content"><%= message.content.html_safe %></td>
        <td class="level"><%= message.min_level %></td>
        <td class="displayed"><%= message.amount_displayed %></td>
        <td class="displayed_today"><%= message.amount_displayed_today %></td>
        <td class="created_at"><%= message.created_at.strftime("%d:%m:%Y %H:%M") %></td>
        <td class="state"><%= admin_state(message) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_message_path(message)) %>
        </td>
      <% end %>
    <% end %>
  </table>

  <%= will_paginate @messages %>
<% end %>
