<%= title(t(".title")) %>

<% content_for :invite_message do %>
  <%= t(".invite.message",
        :user     => fb_name(current_user, :linked => :false),
        :pronoun  => fb_pronoun(current_user, :possessive => true),
        :app_name => t("app_name")
      ).html_safe %>

  <%= fb_custom_req_choice(
        t(".invite.buttons.visit_profile",
          :user => fb_name(current_user,
            :linked         => false,
            :possessive     => true,
            :firstnameonly  => true
          )
        ),
        character_url(current_character.key,
          :canvas     => true,
          :reference  => :invite_form_profile,
          :referrer   => current_user.id
        )
      ) %>

  <%= fb_custom_req_choice(
        t(".invite.buttons.accept",
          :user => fb_name(current_user,
            :linked         => false,
            :possessive     => true,
            :firstnameonly  => true
          )
        ),
        invitation_url(current_character.invitation_key, 
          :canvas     => true,
          :reference  => :invite_form_accept,
          :referrer   => current_user.id
        )
      ) %>
<% end %>

<%= render "relations/buttons", :current => :invite %>

<%= render "relations/note" %>

<div class="invitation_type">
  <% fb_serverfbml do %>
    <%= stylesheet_link_tag(skin_path) %>
  
    <div id="invitation_form_fbml">
      <% fb_request_form(t(".invite.title"), :invite_message, invite_users_url(:from_selector => true), :target => :_top) do %>
        <div class="selector">
          <%= fb_multi_friend_selector(t(".invite.note"),
                :exclude_ids => current_user.invitations.exclude_ids.join(","),
                :cols => 3,
                :rows => 3
              ) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="invitation_type">
  <h2><%= t(".copy_paste.title") %></h2>

  <p><%= t(".copy_paste.note") %></p>

  <p class="invitation_text">
    <%= t(".copy_paste.invitation",
          :app  => t("app_name"),
          :link => invitation_url(current_character.invitation_key, :canvas => true, :reference => :invite_link)
        ).html_safe %>
  </p>
</div>