<%= title(fb_i(t(".title"))) %>

<% if @sent_invitations and @sent_invitations.any? %>
  <div class="success">
    <% fb_i do %>
      <%= t(".success_message") %>

      <%= fb_it(:amount, @sent_invitations.size) %>
    <% end %>
  </div>
<% end %>

<% content_for :invite_message do %>
  <%= fb_i(
        t(".invite.message",
          :user     => fb_name(current_user, :linked => :false),
          :pronoun  => fb_pronoun(current_user, :possessive => true),
          :app_name => fb_app_name
        )
      ) %>

  <% content_tag("fb:req-choice", :url => root_url) do%>
    <%= fb_fa(:label, fb_i(t(".invite.buttons.accept"))) %>
  <% end %>

  <% content_tag("fb:req-choice", :url => character_url(current_character)) do%>
    <%= fb_fa(:label, fb_i(t(".invite.buttons.visit_profile", :user => fb_name(current_user, :linked => false, :possessive => true)))) %>
  <% end %>
<% end %>

<% fb_request_form(nil, :invite_message, invite_users_path) do %>
  <%= fb_fa(:type, fb_i(t(".invite.title"))) %>
  
  <% fb_custom_multi_friend_selector(:exclude_ids => (current_user.invitations.facebook_ids + current_character.relations.facebook_ids).uniq.join(",") ) do %>
    <%= fb_fa(:actiontext, fb_i(t(".invite.note"))) %>
  <% end %>
<% end %>