<%= title(t(".title")) %>

<% content_for :invite_message do %>
  <%= raw t(".invite.message",
        :user     => fb_name(current_user, :linked => :false),
        :pronoun  => fb_pronoun(current_user, :possessive => true),
        :app_name => t("app_name")
      ) %>

  <%= fb_custom_req_choice(
        t(".invite.buttons.visit_profile",
          :user => fb_name(current_user,
            :linked         => false,
            :possessive     => true,
            :firstnameonly  => true
          )
        ),
        character_url(current_character, :canvas => true, :reference => :invite_form_profile)
      ) %>

  <%= fb_custom_req_choice(
        t(".invite.buttons.accept",
          :user => fb_name(current_user,
            :linked         => false,
            :possessive     => true,
            :firstnameonly  => true
          )
        ),
        invitation_url(current_character.invitation_key, :canvas => true, :reference => :invite_form_accept)
      ) %>
<% end %>

<%= render "relations/buttons", :current => :invite %>

<%= render "relations/note" %>

<div class="invitation_type">
  <% fb_serverfbml do %>
    <% fb_request_form(t(".invite.title"), :invite_message, invite_users_url(:from_selector => true), :target => :_top) do %>
      <div style="margin: auto; width: 470px">
        <%= fb_multi_friend_selector(t(".invite.note"),
              :exclude_ids => (
                 current_user.invitations.facebook_ids +
                 current_character.friend_relations.facebook_ids
              ).uniq.join(","),
              :cols => 3
            ) %>
      </div>
    <% end %>
  <% end %>
</div>

<table id="invitation_form" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div class="invitation_type">
        <h2><%= t(".publish.title") %></h2>

        <p><%= t(".publish.note") %></p>

        <%= link_to_function(button(t(".publish.button")), invitation_stream_dialog,
              :class => "button publish"
            ) %>
      </div>

      <div class="invitation_type">
        <h2><%= t(".copy_paste.title") %></h2>

        <p><%= t(".copy_paste.note") %></p>

        <p class="invitation_text">
          <%= raw t(".copy_paste.invitation",
                :app  => t("app_name"),
                :link => invitation_url(current_character.invitation_key, :reference => :invite_link, :canvas => true)
              ) %>
        </p>
      </div>
    </td>
    <td id="chat_invitation">
      <div class="invitation_type" >
        <h2><%= t(".chat.title") %></h2>
        
        <p><%= t(".chat.note") %></p>

        <% fb_serverfbml do %>
        <%= fb_chat_invite(
              t(".chat.invitation",
                :app  => t("app_name"),
                :link => invitation_url(current_character.invitation_key, :reference => :invite_chat)
              )
            ) %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
