<%= title(t(".title")) %>

<% if @sent_invitations and @sent_invitations.any? %>
  <% content_for :result do %>
    <div id="invitation_result">
      <p><%= t(".success_message", :amount => @sent_invitations.size) %></p>
    </div>
  <% end %>
<% end %>

<% content_for :invite_message do %>
  <%= raw t(".invite.message",
        :user     => fb_name(current_user, :linked => :false),
        :pronoun  => fb_pronoun(current_user, :possessive => true),
        :app_name => fb_app_name
      ) %>

  <%= fb_req_choice(
        t(".invite.buttons.accept",
          :user => fb_name(current_user,
            :linked         => false,
            :possessive     => true,
            :firstnameonly  => true
          )
        ),
        invitation_url(current_character.invitation_key, :reference => :invite_form_accept)
      ) %>

  <%= fb_req_choice(
        t(".invite.buttons.visit_profile",
          :user => fb_name(current_user,
            :linked         => false,
            :possessive     => true,
            :firstnameonly  => true
          )
        ),
        character_url(current_character, :reference => :invite_form_profile)
      ) %>
<% end %>

<div class="note"><%= t(".note") %></div>

<table id="invitation_form" cellspacing="0" cellpadding="0">
  <tr>
    <td id="request_invitation">
      <div class="invitation_type">
        <h2><%= t(".request.title") %></h2>

        <% fb_request_form(t(".invite.title"), :invite_message, invite_users_path(:from_selector => true)) do %>
          <%= fb_multi_friend_selector_condensed(t(".invite.note"),
                :exclude_ids => (
                   current_user.invitations.facebook_ids +
                   current_character.friend_relations.facebook_ids
                ).uniq.join(",")
              ) %>

          <%= fb_request_form_submit %>
        <% end %>
      </div>

      <div class="invitation_type">
        <h2><%= t(".publish.title") %></h2>

        <p><%= t(".publish.note") %></p>

        <%= link_to_function(button(t(".publish.button")), invitation_stream_dialog,
              :class => :button
            ) %>
      </div>
    </td>
    <td id="manual_invitation">
      <div class="invitation_type">
        <h2><%= t(".copy_paste.title") %></h2>

        <p><%= t(".copy_paste.note") %></p>

        <p class="invitation_text">
          <%= raw t(".copy_paste.invitation",
                :app  => fb_app_name,
                :link => invitation_url(current_character.invitation_key, :reference => :invite_link)
              ) %>
        </p>
      </div>

      <div class="invitation_type" id="chat_invitation">
        <h2><%= t(".chat.title") %></h2>
        
        <p><%= t(".chat.note") %></p>

        <%= fb_chat_invite(
              t(".chat.invitation",
                :app  => t("app_name"),
                :link => invitation_url(current_character.invitation_key, :reference => :invite_chat)
              )
            ) %>
      </div>
    </td>
  </tr>
</table>
