<table cellspacing="0">
  <tr>
    <th></th>
    <th></th>
    <th><%= PropertyType.human_attribute_name("income") %></th>
    <th><%= Property.human_attribute_name("price") %></th>
  </tr>
  <% property_type_list(PropertyType.available_for(current_character), properties) do |type, property| %>
    <% content_tag_for(:tr, type) do %>
      <td class="picture"><%= property_image(type, :small) %></td>
      <td class="info">
        <div class="name"><%= fb_i(type.name) %></div>
        <div class="description"><%= fb_i(type.description) %></div>
        <div class="owned">
          <% fb_i t(".owned") do %>
            <%= fb_it(:amount, property ? property.amount : 0) %>
          <% end %>
        </div>
      </td>
      <td class="income">
        <% fb_i t(".income") do %>
          <%= fb_it(:amount, content_tag(:span, number_to_currency(type.income), :class => :basic_money)) %>
        <% end %>
      </td>
      <td class="requirements">
        <%= attribute_requirement(:basic_money, 
              number_to_currency(property ? type.inflated_price(property.amount + 1) : type.basic_price)
            ) if type.basic_price > 0 %>
        <%= attribute_requirement(:vip_money, type.vip_price) if type.vip_price > 0 %>
      </td>
      <td class="controls">
        <% form_tag "", :class => :clearfix do %>
          <%= amount_select_tag %>
        
          <%= link_to_remote(button(:buy),
                :url => properties_url(:property_type_id => type.id, :canvas => false),
                :with => "this.getParentNode().serialize()",
                :update => :result,
                :html => {:class => "buy button"}
              ) %>
        <% end %>

        <% if property %>
          <% form_tag "", :class => :clearfix do %>
            <%= amount_select_tag %>
        
            <%= link_to_remote(button(:sell, :price => property.sell_price),
                  :url    => property_url(type, :canvas => false),
                  :with   => "this.getParentNode().serialize()",
                  :method => :delete,
                  :update => :result,
                  :html   => {:class => "sell button"}
                ) %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  <% end %>
</table>