<table cellspacing="0" cellpadding="0">
  <% property_type_list(PropertyType.available_for(current_character), properties) do |type, property| %>
    <% content_tag_for(:tr, type) do %>
      <td class="picture"><%= property_image(type, :small) %></td>
      <td class="info">
        <div class="name"><%= type.name %></div>
        <div class="description"><%= type.description %></div>
        <div class="owned">
          <%= raw t(".owned",
                :amount => content_tag(:span, property ? property.amount : 0, :class => :value)
              ) %>
        </div>
      </td>
      <td class="payouts">
        <h3><%= PropertyType.human_attribute_name("income") %></h3>
        
        <%= payout(:basic_money, "+%s" % number_to_currency(type.income), :label => t(".income_label")) %>
      </td>
      <td class="requirements">
        <h3><%= PropertyType.human_attribute_name("price") %></h3>

        <%= attribute_requirement(:basic_money,
              number_to_currency(property ? type.inflated_price(property.amount + 1) : type.basic_price)
            ) if type.basic_price > 0 %>

        <%= vip_money_requirement(type.vip_price) if type.vip_price > 0 %>
      </td>
      <td class="controls">
        <% form_tag "", :class => :clearfix do %>
          <%= amount_select_tag %>
        
          <%= link_to_remote(button(:buy),
                :url    => properties_path(:property_type_id => type.id),
                :with   => "$(this).parent('form').serialize()",
                :update => :result,
                :html   => {:class => "buy button"}
              ) %>
        <% end %>

        <% if property %>
          <% form_tag "", :class => :clearfix do %>
            <%= amount_select_tag %>
        
            <%= link_to_remote(button(:sell, :price => property.sell_price),
                  :url    => property_path(type),
                  :with   => "$(this).parent('form').serialize()",
                  :method => :delete,
                  :update => :result,
                  :html   => {:class => "sell button"}
                ) %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  <% end %>
</table>