<div id="property_collect_all" class="note clearfix" style="<%= "display:none" if properties.collectable.empty? %>">
  <div class="controls">
    <%= link_to(button(:collect_all), collect_money_properties_path,
          :remote => true,
          :method => :put,
          :"data-click-once" => true,
          :class => "button collect_all"
        ) %>
  </div>

  <%= t(".collect_all",
        :amount => span_tag(properties.collectable.size, :value)
      ).html_safe %>
</div>

<table cellspacing="3" cellpadding="0">
  <tr>
    <% property_type_list(PropertyType.available_for(current_character), properties) do |type, property| %>
      <td class="property_type" id="<%= dom_id(type) %>">
        <% if property.new_record? %>
          <h2><%= type.name %></h2>

          <div class="picture"><%= property_image(type, :medium) %></div>

          <div class="description"><%= type.description %></div>

          <div class="controls">
            <%= link_to(button(:buy), properties_path(:property_type_id => type.id),
                  :remote => true,
                  :method => :post,
                  :"data-click-once" => true,
                  :class => "buy button"
                ) %>
          </div>

          <div class="payouts">
            <h3><%= PropertyType.human_attribute_name("income") %></h3>

            <%= payout(:basic_money, "+%s" % number_to_currency(type.income)) %>
          </div>

          <div class="requirements">
            <h3><%= PropertyType.human_attribute_name("build_requirements") %></h3>

            <%= requirement_list(property.purchase_requirements, :visible => true) %>
          </div>
        <% else %>
          <h2><%= type.upgradeable? ? t(".name_with_level", :name => property.name, :level => property.level) : property.name %></h2>

          <div class="picture"><%= property_image(type, :medium) %></div>

          <div class="description"><%= property.description %></div>

          <% if property.active? %>
            <div class="controls">
              <%= link_to(button(:collect), collect_money_property_path(property),
                    :remote => true,
                    :method => :put,
                    :"data-click-once" => true,
                    :class => "collect button",
                    :style => ("display: none" unless property.collectable?)
                  ) %>

              <%= link_to(button(:upgrade), upgrade_property_path(property),
                    :remote => true,
                    :method => :put,
                    :"data-click-once" => true,
                    :class => "upgrade button"
                  ) if property.upgradeable? %>
            </div>

            <div class="payouts">
              <h3><%= PropertyType.human_attribute_name("income") %></h3>

              <%= payout(:basic_money, "+%s" % number_to_currency(property.total_income)) %>
            </div>

            <div class="timer" style="<%= "display:none" if property.collectable? %>">
              <%= t(".collect_in") %>

              <span class="value" id="<%= dom_id(property, :timer) %>"></span>
            </div>

            <% dom_ready do %>
              $('#<%= dom_id(property, :timer) %>').timer(<%= property.time_to_next_collection %>, PropertyList.enableCollection);
            <% end %>

            <% if property.upgradeable? %>
              <div class="requirements">
                <h3><%= PropertyType.human_attribute_name("upgrade_requirements") %></h3>

                <%= requirement_list(property.upgrade_requirements) %>
              </div>
            <% end %>
          <% else %>
            <div class="controls">
              <%= link_to(button(:hire), hire_property_path(property),
                    :remote => true,
                    :method => :post,
                    :class => "hire button"
                  ) %>
            </div>

            <div class="missing_workers"><%= t('.missing_workers', :amount => property.missing_workers) %></div>
          <% end %>
        <% end %>
      </td>

      <%= cycle("", "</tr><tr>").html_safe %>
    <% end %>
  </tr>
</table>
