<div id="property_result">
  <% if @property.valid? %>
    <div class="buttons">
      <%= link_to_function(button(:publish), property_stream_dialog(@property),
            :class => "publish button"
          ) %>
    </div>
  
    <p>
    <% fb_i t(".messages.success") do %>
      <%= fb_it(:amount, @amount) %>
      <%= fb_it(:property_name, content_tag(:b, fb_i(@amount > 1 ? @property.plural_name : @property.name))) %>
    <% end %>
    </p>

    <h3><%= fb_i(t(".you_spent.title")) %></h3>

    <div class="payouts">
      <%= payout(:basic_money, number_to_currency(@property.basic_money)) if @property.basic_price > 0 %>
      <%= payout(:vip_money, number_to_currency(@property.vip_money)) if @property.vip_price > 0 %>
    </div>
  <% else %>
    <p>
      <% fb_i @property.errors.on(:character) do %>
        <%= fb_it(:name, content_tag(:b, fb_i(@property.name))) %>
        <%= fb_it(:plural_name, content_tag(:b, fb_i(@property.plural_name))) %>
      <% end %>
    </p>
  <% end %>
</div>

<% fb_js_string :list do %>
  <%= render :partial => "list", :locals => {:properties => @properties} %>
<% end %>

<% content_for :script do %>
  $('property_list').setInnerFBML(list);
  $('property_income_value').setTextValue('<%= number_to_currency(current_character.property_income) %>')
  $('result').show();
<% end %>