<% result_for :property do %>
  <% if @property.errors.empty? %>
    <div class="buttons">
      <%= link_to_function(button(:publish), property_stream_dialog(@property),
            :class => "publish button"
          ) %>
    </div>
  
    <p>
      <%= t(".messages.success",
            :amount         => @amount,
            :property_name  => content_tag(:b, @property.name)
          ).html_safe %>
    </p>

    <h3><%= t(".you_spent.title") %></h3>

    <div class="payouts">
      <%= payout(:basic_money, number_to_currency(@property.basic_price)) if @property.basic_price > 0 %>
      <%= payout(:vip_money, number_to_currency(@property.vip_price)) if @property.vip_price > 0 %>
    </div>
  <% else %>
    <p><%= @property.errors.on(:character) %></p>
  <% end %>
<% end %>

<% dom_ready do %>
  $('#property_list').html('<%= escape_javascript(render("list", :properties => @properties)) %>');
  
  $(document).trigger('result.received');
<% end %>