<div id="property_result">
  <% if @property.valid? %>
    <div class="buttons">
      <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Property, :bought,
          :template_data => {
            :property => fb_i(@property.name),
          },
          :html => {:class => "publish button"},
          :images => @property.image? ? {
            :src  => image_path(@property.image.url(:small)),
            :href => new_property_url
          } : nil
        ) %>
    </div>
  
    <p>
    <% fb_i do %>
      <%= t(".messages.success") %>

      <%= fb_it(:amount, @amount) %>
      <%= fb_it(:property_name, content_tag(:b, fb_i(@amount > 1 ? @property.plural_name : @property.name))) %>
    <% end %>
    </p>

    <h3><%= fb_i(t(".you_spent.title")) %></h3>

    <div class="payouts">
      <% if @property.basic_price > 0 %>
        <%= payout(:basic_money,
              Character.human_attribute_name("basic_money"),
              number_to_currency(@property.basic_money)
            ) %>
      <% end %>

      <% if @property.vip_price > 0 %>
        <%= payout(:vip_money,
              Character.human_attribute_name("vip_money"),
              number_to_currency(@property.vip_money)
            ) %>
      <% end %>
    </div>
  <% else %>
    <p>
      <% fb_i do %>
        <%= @property.errors.on(:character) %>

        <%= fb_it(:name, content_tag(:b, fb_i(@property.name))) %>
        <%= fb_it(:plural_name, content_tag(:b, fb_i(@property.plural_name))) %>
      <% end %>
    </p>
  <% end %>
</div>

<% fb_js_string :list do %>
  <%= render :partial => "list", :locals => {:properties => @properties} %>
<% end %>

<% content_for :script do %>
  $('property_list').setInnerFBML(list);
  $('property_income_value').setTextValue('<%= number_to_currency(current_character.property_income) %>')
  $('result').show();
<% end %>