<% result_for :property do |builder| %>
  <% if @property.errors.empty? %>
    <% builder.buttons do %>
      <%= link_to_function(button(:publish), stream_dialog(:property, @property),
            :class => "publish button"
          ) if Setting.b(:stream_dialog_enabled) %>
    <% end %>

    <% builder.success do %>
      <%= t(".messages.success",
            :amount         => @amount,
            :property_name  => content_tag(:b, @property.name)
          ).html_safe %>
    <% end %>
    
    <table class="payouts" cellspacing="0" cellspacing="0">
      <tr>
        <td class="spent">
          <h3><%= t(".you_spent.title") %></h3>

          <%= payout(:basic_money, number_to_currency(@property.basic_price)) if @property.basic_price > 0 %>
          <%= payout(:vip_money, number_to_currency(@property.vip_price)) if @property.vip_price > 0 %>
          
          <%= payout_list(@property, @result, :action => :remove) %>
        </td>
        
        <% unless @result.empty? %>
          <td class="received">
            <h3><%= t(".you_received.title") %></h3>
  
            <%= payout_list(@property, @result) %>
          </td>
        <% end %>
      </tr>
    </table>
    
    <% if @property.missing_workers? %>
      <p><%= t('.need_workers', :amount => @property.missing_workers) %></p>
      
      <%= link_to_remote(button(:hire),
            :url    => hire_property_path(@property),
            :update => :ajax,
            :html   => {
              :class => "hire button"
            }
          ) %>
    <% end %>

    <% builder.on_ready do %>
      $('#property_list').html('<%= escape_javascript(render("list", :properties => @properties)) %>');
    <% end %>
  <% else %>
    <% builder.fail do %>
      <%= t(".messages.requirements_not_satisfied") %>
    <% end %>

    <div class="unsatisfied_requirements">
      <%= unsatisfied_requirement_list(@property.purchase_requirements) %>
    </div>
  <% end %>
<% end %>
