<div id="property_result">
  <% if !@property.new_record? %>
    <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Property, :bought,
        :template_data => {
          :property => fb_i(@property.name),
        },
        :html => {:class => "publish button"},
        :images => {
          :src  => image_path(@property.image.url(:small)),
          :href => new_property_url(:canvas => true)
        }
      ) %>
    <%= link_to(fb_i(t(".buttons.properties")), properties_url(:canvas => true), :class => "properties button") %>

    <p>
    <% fb_i do %>
      <%= t(".messages.success") %>
      
      <%= fb_it(:property_name, content_tag(:b, fb_i(@property.name))) %>
    <% end %>
    </p>

    <h3><%= fb_i(t(".you_spent.title")) %></h3>

    <div class="payouts">
      <% if @property.basic_price.to_i > 0 %>
        <%= payout(:basic_money, Character.human_attribute_name("basic_money"), @property.basic_price) %>
      <% end %>

      <% if @property.vip_price.to_i > 0 %>
        <%= payout(:vip_money, Character.human_attribute_name("vip_money"), @property.vip_price) %>
      <% end %>
    </div>
  <% else %>
    <p>
      <% fb_i do %>
        <%= @property.errors.on(:character) %>
        <%= fb_it(:property_name, content_tag(:b, fb_i(@property.name))) %>
      <% end %>
    </p>
  <% end %>
</div>

<% content_for :script do %>
  $('result').show();
<% end %>