<% result_for :property do %>
  <% if @property %>
    <p>
      <%= raw t(".messages.success",
            :amount         => @amount,
            :property_name  => content_tag(:b, @amount > 1 ? @property.plural_name : @property.name)
          ) %>
    </p>

    <h3><%= t(".you_received.title") %></h3>

    <div class="payouts">
      <%= payout(:basic_money, number_to_currency(@property.basic_money)) %>
    </div>
  <% else %>
    <%= t(".messages.property_not_found") %>
  <% end %>
<% end %>

<% dom_ready do %>
  $('#property_list').html('<%= escape_javascript render("list", :properties => @properties) %>');
  $('#property_income_value').text('<%= number_to_currency(current_character.property_income) %>');

  $(document).trigger('result.received');
<% end %>