<% dialog :id => :hire_property_dialog do |d| %>
  <% if @result %>
    <%= t('.messages.success', :amount => @result) %>
  <% else %>
    <%= t('.note', :property => @property.name, :amount => @property.property_type.workers) %>
  <% end %>
  
  <div class="workers">
    <% @property.property_type.workers.times do |index| %>
      <div class="worker">
        <h3><%= @property.worker_names[index] || t('.worker') %></h3>

        <% if index <= @property.workers - 1 %>
          <% if friend = @property.worker_friends[index] %>
            <div class="image"><%= character_picture(friend) %></div>
        
            <div class="name"><%= character_name(friend) %></div>
          <% else %>
            <div class="image"><%= asset_image_tag(:worker) %></div>
      
            <div class="name"><%= t('.hired') %></div>
          <% end %>
        <% else %>
          <div class="image"><%= asset_image_tag(:worker_missing) %></div>
          
          <%= link_to_remote(button(:hire, :price => '<strong class="price">%s</strong>' % Setting.i(:property_worker_price)), 
                :url => hire_property_path(@property),
                :method => :put,
                :update => :ajax,
                :html => {
                  :class => "hire button"
                }
              ) %>
        <% end %>
      </div>
    <% end %>
    
    <div class="controls">
      <%= link_to_remote(
            button(:hire_all, 
              :price => '<strong class="price">%s</strong>' % (@property.missing_workers * Setting.i(:property_worker_price))
            ), 
            :url => hire_property_path(@property, :hire_all => true),
            :method => :put,
            :update => :ajax,
            :html => {
              :class => "hire button"
            }
          ) %>
    </div>
  </div>
<% end %>