<%= title(fb_i(t(".title"))) %>

<div class="note">
  <%= fb_i(t(".note")) %>
</div>

<div id="property_income">
  <b><%= fb_i(t(".income.label")) %></b>
  <span class="value" id="property_income_value">
    <%= number_to_currency(current_character.property_income) %>
  </span>
</div>

<div id="property_list">
  <%= render :partial => "list", :locals => {:properties => @properties} %>
</div>