<%= title(fb_i(t(".title"))) %>

<table id="property_type_list" cellspacing="0">
  <tr>
    <th colspan="2"></th>
    <th><%= fb_i(t(".columns.income")) %></th>
    <th><%= fb_i(t(".columns.requires")) %></th>
  </tr>
  <% @property_types.each do |type| %>
    <tr>
      <td class="picture"><%= image_tag(type.image.url(:small)) %></td>
      <td class="info">
        <div class="name"><%= fb_i(type.name) %></div>
        <div class="description"><%= fb_i(type.description) %></div>
      </td>
      <td class="income">
        <div class="basic_money"><%= type.money_min %> - <%= type.money_max %></div>
      </td>
      <td class="requires">
        <% %w{basic_price vip_price}.each do |attr| %>
          <%= content_tag(:div, type.send(attr), :class => attr)  if type.send(attr).to_i > 0 %>
        <% end %>
      </td>
      <td class="controls">
        <%= link_to_remote(fb_i(t(".buttons.buy")),
              :url => properties_url(:property_type_id => type.id, :canvas => false),
              :update => :result,
              :html => {:class => :buy}
            ) if current_character.can_buy?(type) %>
      </td>
    </tr>
  <% end %>
</table>