<table class="details lost" cellspacing="0" cellpadding="0">
  <tr>
    <td class="character">
      <%= render("boss_fights/create/character",
            :fight    => fight,
            :picture  => :small
          ) %>

      <div class="message">
        <%= raw t(".messages.character",
              :attacker => content_tag(:span, character_name(fight.character, :capitalize => true),
                :class => :attacker
              ),
              :victim   => content_tag(:span, fight.boss.name, :class => :victim),
              :damage   => content_tag(:span, fight.boss_hp_loss, :class => :damage)
            ) %>
      </div>
    </td>
    <td class="middle">
      <div class="result">
        <%= raw t(".messages.result",
              :boss => content_tag(:span, fight.boss.name, :class => :boss)
            ) %>
      </div>
    </td>
    <td class="boss">
      <%= render("boss_fights/create/boss",
            :fight    => fight,
            :picture  => :normal
          ) %>

      <div class="message">
        <%= raw t(".messages.boss",
              :attacker => content_tag(:span, fight.boss.name, :class => :attacker),
              :victim   => content_tag(:span, character_name(fight.character), :class => :victim),
              :damage   => content_tag(:span, fight.character_hp_loss, :class => :damage)
            ) %>
      </div>
    </td>
  </tr>
</table>

<% content_for :script do %>
  BossFight.hideReminder('<%= dom_id(fight) %>')
<% end %>