<h3><%= t(".title") %></h3>

<table class="participants" cellpadding="0" cellspacing="0">
  <% applications.each do |application| %>
    <tr class="<%= dom_class(application) %>" id="<%= dom_id(application) %>">
      <td class="picture"><%= character_picture_link(application.character) %></td>
      <td class="name"><%= character_name_link(application.character) %></td>
      <td class="level">
        <span class="label"><%= Character.human_attribute_name("level") %></span>
        <span class="value"><%= application.character.level %></span>
      </td>
      <td class="controls">
        <div class="approve">
          <%= link_to(button(:accept), approve_clan_membership_application_path(application),
                :remote => true,
                :method => :put,
                :'data-click-once' => false,
                :class => 'accept button'
              ) %>
        </div>

        <div class="reject">
          <%= link_to(image_tag("icons/delete.gif", :alt => t('.buttons.delete')),
                reject_clan_membership_application_path(application),
                :remote   => true,
                :method   => :delete,
                :confirm  => t(".delete.confirmation"),
                :class => "delete"
              ) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>