<h3><strong><%= t(".title") %></strong></h3>

<table class="participants" cellspacing="0" cellpadding="0">
  <% members.each do |member| %>
    <% unless member.creator? %>
      <tr>
        <td class="picture"><%= character_picture_link(member.character) %></td>
        <td class="name"><%= character_name_link(member.character) %></td>
        <td class="level">
          <span class="label"><%= Character.human_attribute_name("level") %></span>
          <span class="value"><%= member.character.level %></span>
        </td>
        <td class="controls">
          <%= link_to(image_tag("icons/delete.gif", :alt => t('.buttons.delete')),
                delete_clan_member_path(member),
                :remote   => true,
                :method   => :delete,
                :confirm  => t(".delete_confirm"),
                :class => "delete"
              ) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>