<div id="clan_form">
  <h2><%= t(".title") %></h2>
  
  <% if current_character.member_of?(@clan) && current_character.clan_member.creator? %>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <%= render("form", :clan => @clan) %>
          
          <h2 class="members_clan">
            <%= t(".members_clan", 
                  :count => @clan.members_count, 
                  :limit_count => Setting.i(:clan_max_size) 
                 ) %>
          </h2>
    
          <% unless @clan.clan_membership_applications.empty? %>
            <div id="applications"><%= render("applications", :applications => @clan.clan_membership_applications) %></div>
          <% end %>  
          
          <% if @clan_members.size > 1 || !@clan.clan_membership_applications.empty? %>
            <div id="members"><%= render("edit_participants", :members => @clan_members ) %></div>
          <% end %>
        </td>
        <td class="image"><%= render("edit_image", :clan => @clan) %></td>
      </tr>
    </table>
   
  <% else %>
    <%= t(".no_access") %>
  <% end %>  
</div>  