<% completed_mark = capture do %>
  <span class="completed"><%= t(".completed") %></span>
<% end %>

<div id="tutorial" class="block">
  <%= hide_block_link(:tutorial) %>

  <h2><%= fb_i(t(".title")) %></h2>

  <ul>
    <li>
      <% tutorial_step("missions", "index", current_character.missions_completed != 0) do |current, completed| %>
        <% if current %>
          <strong><%= t(".step_1.title") %></strong> <%= completed_mark if completed %>

          <p><%= t(".step_1.text") %></p>
        <% else %>
          <%= link_to(t(".step_1.title"), missions_path) %> <%= completed_mark if completed %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% tutorial_step("items", "index", current_character.inventories.count != 0) do |current, completed| %>
        <% if current %>
          <strong><%= t(".step_2.title") %></strong> <%= completed_mark if completed %>

          <p><%= t(".step_2.text") %></p>
        <% else %>
          <%= link_to(t(".step_2.title"), items_path) %> <%= completed_mark if completed %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% tutorial_step("fights", "new", current_character.level != 1) do |current, completed| %>
        <% if current %>
          <strong><%= t(".step_3.title") %></strong> <%= completed_mark if completed %>

          <p><%= t(".step_3.text") %></p>
        <% else %>
          <%= link_to(t(".step_3.title"), new_fight_path) %> <%= completed_mark if completed %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% tutorial_step("characters", "upgrade", current_character.level != 1 && current_character.points == 0) do |current, completed| %>
        <% if current %>
          <strong><%= t(".step_4.title") %></strong> <%= completed_mark if completed %>

          <p><%= t(".step_4.text") %></p>
        <% else %>
          <%= link_to(t(".step_4.title"), upgrade_character_path(:current)) %> <%= completed_mark if completed %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% tutorial_step("users", "invite", current_user.invitations.count != 0) do |current, completed| %>
        <% if current %>
          <strong><%= t(".step_5.title") %></strong> <%= completed_mark if completed %>

          <p><%= t(".step_5.text") %></p>
        <% else %>
          <%= link_to(t(".step_5.title"), invite_users_path) %> <%= completed_mark if completed %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>