<div id="tutorial">
  
  <div id="tutorial_overlay"></div>
  
  <div id="tutorial_progress">
    <div id="skip_tutorial" class="block">
      <%= hide_block_link('tutorial', 
            :title => t("tutorial.skip"),
            :before => "tutorialHide()"
          ) %>
    </div>
    <h3><%= t("tutorial.progress") %></h3>
    <div>
      <%= step_index %> / <%= (Tutorial::STEPS.size - 1) %>
    </div>
    <%= percentage_bar(step_index.to_f / (Tutorial::STEPS.size - 1).to_f * 100) %>
    
    <div id="current_step">
      <%= t("tutorial.steps.current") %>
      <%= step_title %>
    </div>
    
    <% unless final_step? %>
      <div>
        <%= t("tutorial.steps.next") %>
        <%= step_title(next_step) %>
      </div>
    <% end %>
  </div>
  
  <% step :hello_new_user, :ajax => true do %>
     
     <%= tutorial_dialog(
          :with_title => true,
          :with_close_button => true 
        ) %>
        
  <% end %>
      
  <% step :complete_first_mission, :ajax => true do %>
  
    <%= tip_on("#mission_list .mission:first a.fulfill") %>
    <%= click_trigger("#mission_list .mission:first a.fulfill") %>
    
  <% end %>
      
  <% step :first_mission_receive, :ajax => true do %>
    
    <%= tip_on("#result .received .value:last") %>
    <%= spot_on("#result .received .label:first") %>
    <%= click_trigger("#result a.fulfill_again") %>
    
  <% end %>
      
  <% step :first_mission_spent, :ajax => true do %>
    <%= tip_on("#result .spent .value:last") %>
    <%= spot_on("#result .spent .label:first") %>
    <%= click_trigger("#result a.fulfill_again") %>
    
  <% end %>

  <% step :first_level_up, :dont_control_upgrade => true, :ajax => true do %>
  
    $('#dialog').find('.close, a.continue, .disable_notification').hide();
    tutorialPrepareDialog();
    
    <%= click_trigger("#dialog .buttons a.upgrade") %>
    <%= tip_on("#dialog .buttons a.upgrade") %>
    
  <% end %>
    
  <% step :first_upgrade_character, :dont_control_upgrade => true, :ajax => true do %>
  
    $('#dialog').find('.close, a.continue, .disable_notification').hide();
    tutorialPrepareDialog();
        
    $("#dialog #upgrade_list .points .buy_more").hide();
    // change current step when user spents points
    $(document).bind('character.upgrade_complete.tutorial', function() {
      // close next dialog and trigger next step
      $(document).trigger('close.dialog').trigger('tutorial.next_step');
    });
    
    <%= tip_on("#dialog #upgrade_list",
        :position => {
          :corner => {
            :target => 'rightMiddle',
            :tooltip => 'leftMiddle'
          }
        }
       ) %>
       
  <% end %>
    
  <% step :goto_shop do %>
  
   <%= goto_main_menu_item("shop") %>
   
  <% end %>
     
  <% step :shop_buy_item, :ajax => true do %>
  
    <%= make_visible("#item_list .item:first") %>
    <%= click_trigger("#item_list .item:first a.buy") %>
    <%= tip_on("#item_list .item:first a.buy", 
        :position => {
          :corner => {
            :target => 'leftBottom',
            :tooltip => 'rightTop'
          }
        }
       ) %>
  <% end %>
    
  <% step :goto_inventory do %>
  
    <%= click_trigger("#result a.inventory") %>
    <%= tip_on("#result a.inventory") %>
    <%= spot_on("#result a.inventory") %>
    
  <% end %>
  
  <% step :goto_equip do %>
      
    <%= click_trigger("#content a.equipment") %>
    <%= tip_on("#content a.equipment") %>
    
  <% end %>
  
  <% step :equip_character, :ajax => true do %>
  
    <%= spot_on("#placements > .placement > .inventory") %>
    <%= tip_on("#placements > .placement > .inventory", 
        :with_close_button => true
      ) %>
    
  <% end %>
  
  <% step :goto_monsters do %>
    
    <%= goto_main_menu_item("monsters") %>
    
  <% end %>
  
  <% step :attack_monster, :ajax => true do %>
  
    <%= make_visible("#available_monsters .monster:first") %>
    <%= click_trigger("#available_monsters .monster:first a.attack") %>
    <%= tip_on("#available_monsters .monster:first a.attack",
        :position => {
          :corner => {
            :target => 'rightMiddle',
            :tooltip => 'leftMiddle'
          }
        }
       ) %>
       
  <% end %>
  
  <% step :attack_monster_first_time, :ajax => true do %>
    
    <%= spot_on("#monster a.attack") %>
    <%= tip_on("#monster a.attack") %>
    <%= click_trigger("#monster a.attack") %>
    
  <% end %>
  
  <% step :fight_with_monster_until_he_live, :ajax => true do %>
  
    <%= make_visible("#monster .health") %>
    <%= tip_on("#monster .health",
        :position => {
          :corner => {
            :target => 'topMiddle',
            :tooltip => 'bottomMiddle'
          }
        }
       ) %>
    <%= click_trigger("#monster a.attack") %>
  <% end %>
  
  <% step :monster_spent, :ajax => true do %>
    
    <%= spot_on("#result .monster_spent") %>
    <%= tip_on("#result .monster_spent") %>
    <%= click_trigger("#result a.attack") %>
    
  <% end %>
  
  <% step :monster_die, :ajax => true do %>
    
    tutorialPrepareDialog();
    $(document).bind('close.dialog.tutorial', function() {
      $(document).trigger('tutorial.next_step');
    });
    
  <% end %>
    
  <% step :goto_fight do %>
  
    <%= goto_main_menu_item("fights") %>
    
  <% end %>
  
  <% step :attack_other_player, :ajax => true do %>
  
    <%= tip_on("#victim_list .character:first a.attack",
        :position => {
          :corner => {
            :target => 'topMiddle',
            :tooltip => 'bottomMiddle'
          }
        }
       ) %>
    <%= click_trigger("#victim_list .character:first a.attack") %>
    
  <% end %>
  
  <% step :fight_result, :ajax => true do %>
  
    <%= make_visible("#result .payouts") %>
    <%= tip_on("#result .payouts",
        :position => {
          :corner => {
            :target => 'topMiddle',
            :tooltip => 'bottomMiddle'
          }
        },
        :with_close_button => true
       ) %>
       
  <% end %>
  
  <% step :goto_estate do %>
  
    <%= goto_main_menu_item("properties") %>
    
  <% end %>
  
  <% step :buy_estate, :ajax => true do %>
  
    <%= click_trigger("#property_list .property_type:first a.buy") %>
    <%= tip_on("#property_list .property_type:first a.buy", 
          :position => {
            :corner => {
              :target => 'bottomLeft',
              :tooltip => 'topRight'
            }
          }) %>
    
  <% end %>
  
  <% step :periodically_collect_property_income, :ajax => true do %>
  
    <%= make_visible("#property_list .property_type:first .timer") %>
    <%= tip_on("#property_list .property_type:first .timer", 
          :position => {
              :corner => {
                :target => 'topMiddle',
                :tooltip => 'bottomMiddle'
              }
            },
          :with_close_button => true
         ) %>
       
  <% end %>
    
  <% step :goto_gem_market do %>
  
    <%= goto_main_menu_item("premium") %>
    
  <% end %>
  
  <% step :spend_gems, :ajax => true do %>
  
    <%= tip_on("#current_vip_money", 
        :position => {
          :corner => {
            :target => 'topMiddle',
            :tooltip => 'bottomMiddle'
          }
        },
        :with_close_button => true
       ) %>
       
  <% end %>
  
  <% step :finish, :ajax => true do %>
  
    <%= tutorial_dialog :with_close_button => true %>
    
  <% end %>
</div>