<% dom_ready do %>
  // move dialog box after tutorial box
  $('#dialog').offset({top: $('#tutorial').offset().top + $('#tutorial').height() + 25 });
  
  $(document).bind('tutorial.next_step', function() {
    tutorialClearEffects();
    
    <% if final_step? %>
      <%= remote_function(
            :url => toggle_block_user_path(current_user, :block => 'tutorial'),
            :before => "tutorialHide()"
          ) %>
    <% else %>
      <%= remote_function(
            :url => update_step_tutorials_path,
            :method => :put,
            :update => :tutorial,
            :with => "'tutorial_step=#{next_step}'"
          ) %>
    <% end %>
  });
<% end %>

<div id="tutorial">
  
  <div id="tutorial_overlay"></div>
  
  <div id="tutorial_progress">
    <div id="skip_tutorial" class="block">
      <%= hide_block_link('tutorial', 
            :title => t("tutorial.skip"),
            :before => "tutorialHide()"
          ) %>
    </div>
    <h3><%= t("tutorial.progress") %></h3>
    <div>
      <%= step_index %> / <%= (Tutorial::STEPS.size - 1) %>
    </div>
    <%= percentage_bar(step_index.to_f / (Tutorial::STEPS.size - 1).to_f * 100) %>
    
    <div id="current_step">
      <%= t("tutorial.steps.current") %>
      <%= step_title %>
    </div>
    
    <div>
      <%= t("tutorial.steps.next") %>
      <% if final_step? %>
        <%= t("tutorial.steps.finish") %>
      <% else %>
        <%= step_title(next_step) %>
      <% end %>
    </div>
  </div>
  
  <% case current_step %>
    <% when :hello_new_user %>
    
      <% show_standard_dialog %>
      
    <% when :complete_first_mission %>
    
      <% tip_on("#mission_list .mission:first a.fulfill") %>
      <% click_trigger("#mission_list .mission:first a.fulfill") %>
      
    <% when :first_mission_receive %>
    
      <% tip_on("#result .received") %>
      <% spot_on("#result .received") %>
      <% click_trigger("#result a.fulfill_again") %>
      
    <% when :first_mission_spent %>
    
      <% tip_on("#result .spent") %>
      <% spot_on("#result .spent") %>
      <% click_trigger("#result a.fulfill_again") %>
      
    <% when :first_level_up %>
    
      <% dom_ready do %>
        $("#dialog .close").hide();
        $("#dialog .buttons a.continue").hide();
        $("#dialog .disable_notification").hide()
      <% end %>
      
      <% make_visible("#dialog") %>
      
      <% click_trigger("#dialog .buttons a.upgrade") %>
    
    <% when :first_upgrade_character %>
    
      <% make_visible("#dialog") %>
      <% tip_on("#dialog a.upgrade:first", 
          :position_corner_target => 'topMiddle',
          :position_corner_tooltip => 'bottomMiddle'
         ) %>
         
      <% dom_ready do %>
        // close next dialog box and change current step
        // TODO:
        $(document).bind('close.dialog.tutorial', function() {
          $(document).trigger('close.dialog').trigger('tutorial.next_step');
        });
      <% end %>
    
    <% when :goto_shop %>
    
     <% tip_on("a.missions") %>
     <% spot_on("a.missions") %>
     <% click_trigger("a.missions") %>
     
  <% end %>
</div>