<% dom_ready do %>

  tutorialClearEffects();
  
  $("#tutorial").bind('next_step.change_tutorial_step', function() {
    <% if final_step? %>
      <%= remote_function(
            :url => toggle_block_user_path(current_user, :block => 'tutorial'),
            :before => "tutorialHide()"
          ) %>
    <% else %>
      <%= remote_function(
            :url => update_step_tutorials_path,
            :method => :put,
            :update => :tutorial,
            :with => "'tutorial_step=#{next_step}'"
          ) %>
    <% end %>
  });
<% end %>

<div id="tutorial">
  
  <div id="tutorial_overlay"></div>
  
  <div id="tutorial_progress">
    <div id="skip_tutorial" class="block">
      <%= hide_block_link('tutorial', 
            :title => t("tutorial.skip"),
            :before => "tutorialHide()"
          ) %>
    </div>
    <h3><%= t("tutorial.progress") %></h3>
    <div>
      <%= step_index %> / <%= (Tutorial::STEPS.size - 1) %>
    </div>
    <%= percentage_bar(step_index.to_f / (Tutorial::STEPS.size - 1).to_f * 100) %>
    
    <div id="current_step">
      <%= t("tutorial.steps.current") %>
      <%= step_title %>
    </div>
    
    <div>
      <%= t("tutorial.steps.next") %>
      <% if final_step? %>
        <%= t("tutorial.steps.finish") %>
      <% else %>
        <%= step_title(next_step) %>
      <% end %>
    </div>
  </div>
  
  <% case current_step %>
    <% when :hello_new_user %>
    
      <%= show_standard_dialog %>
      
    <% when :complete_first_mission %>
    
      <%= tip_on("#mission_list .mission:first a.fulfill",
            :position_corner_target => 'bottomMiddle',
            :position_corner_tooltip => 'topMiddle'
          ) %>
      <%= click_on("#mission_list .mission:first a.fulfill") %>
      
    <% when :first_mission_receive %>
    
      <%= tip_on("#result .received",
            :position_corner_target => 'bottomMiddle',
            :position_corner_tooltip => 'topMiddle' 
          ) %>
      <%= spot_on("#result .received") %>
      <%= click_on("#result a.fulfill_again") %>
      
    <% when :first_mission_spent %>
    
      <%= tip_on("#result .spent",
        :position_corner_target => 'bottomMiddle',
        :position_corner_tooltip => 'topMiddle' 
      ) %>
      <%= spot_on("#result .spent") %>
      <%= click_on("#result a.fulfill_again") %>
      
    <% when :first_level_up %>
    <% when :mission_complete_increase_character %>
    
    <% when :shop_go %>
      <% dom_ready do %>
        $("a.missions").tutorialTip({
          content: "Click to the missions",
          position: {
            corner: {
              tooltip: 'topMiddle',
              target: 'bottomMiddle'
            }
          }
        });
        $("a.missions").tutorialSpot();
        $("a.missions").tutorialClickTarget();
      <% end %>
  <% end %>
</div>