<% dom_ready do %>
  $(document).unbind('tutorial.next_step').bind('tutorial.next_step', function() {
    <%= javascript_for_next_step_trigger %>
  });
<% end %>

<div id="tutorial">
  
  <div id="tutorial_overlay"></div>
  
  <div id="tutorial_progress">
    <div id="skip_tutorial" class="block">
      <%= hide_block_link('tutorial', 
            :title => t("tutorial.skip"),
            :before => "tutorialHide()"
          ) %>
    </div>
    <h3><%= t("tutorial.progress") %></h3>
    <div>
      <%= step_index %> / <%= (Tutorial::STEPS.size - 1) %>
    </div>
    <%= percentage_bar(step_index.to_f / (Tutorial::STEPS.size - 1).to_f * 100) %>
    
    <div id="current_step">
      <%= t("tutorial.steps.current") %>
      <%= step_title %>
    </div>
    
    <% unless final_step? %>
      <div>
        <%= t("tutorial.steps.next") %>
        <%= step_title(next_step) %>
      </div>
    <% end %>
  </div>
  
  <% step :hello_new_user, :change_event => 'qtip.dialog.close' do %>
     
     <%= tutorial_dialog(
          :with_title => true,
          :with_close_button => true 
        ) %>
     
  <% end %>
      
  <% step :complete_first_mission, :change_event => 'result.received' do %>
  
    <%= tip_on("#mission_list .mission:first a.fulfill") %>
    <%= make_visible("#mission_list .mission:first") %>
    <%= click_trigger("#mission_list .mission:first a.fulfill") %>
    
  <% end %>
      
  <% step :first_mission_receive, :change_event => 'result.received' do %>
    
    <%= tip_on("#result .received .value:last") %>
    <%= spot_on("#result .received .label:first") %>
    <%= click_trigger("#result a.fulfill_again") %>
    
  <% end %>
      
  <% step :first_mission_spent, :change_event => 'result.received' do %>
  
    <%= tip_on("#result .spent .value:last") %>
    <%= spot_on("#result .spent .label:first") %>
    <%= click_trigger("#result a.fulfill_again") %>
    
  <% end %>

  <% step :first_level_up, :control_upgrade_dialog => false, :change_event => 'afterReveal.dialog' do %>
  
    $('#dialog').find('.close, a.continue, .disable_notification').hide();
    tutorialPrepareDialog();
    
    <%= click_trigger("#dialog .buttons a.upgrade") %>
    <%= tip_on("#dialog .buttons a.upgrade") %>
    
  <% end %>
    
  <% step :first_upgrade_character, :control_upgrade_dialog => false, :change_event => 'character.upgrade_complete' do %>
  
    $('#dialog').find('.close, a.continue, .disable_notification, .buy_more').hide();
    tutorialPrepareDialog();
    
    <%= tip_on("#dialog #upgrade_list",
        :position => {
          :at => 'right middle',
          :my => 'left middle'
        }
       ) %>
        
    $(document).bind('character.upgrade_complete', function() {
      // close next dialog
      $(document).trigger('close.dialog');
    });
       
  <% end %>
    
  <% step :goto_shop do %>
  
   <%= goto_main_menu_item("shop") %>
   
  <% end %>
     
  <% step :shop_buy_item, :change_event => 'result.received' do %>
  
    <%= make_visible("#item_list .item:first") %>
    <%= make_responsible("#item_list .item:first") %>
    <%= click_trigger("#item_list .item:first a.buy") %>
    <%= tip_on("#item_list .item:first a.buy", 
        :position => {
          :at => 'leftBottom',
          :my => 'rightTop'
        }
       ) %>
  <% end %>
    
  <% step :goto_inventory do %>
  
    <%= click_trigger("#result a.inventory") %>
    <%= tip_on("#result a.inventory") %>
    <%= spot_on("#result a.inventory") %>
    
  <% end %>
  
  <% step :goto_equip do %>
      
    <%= click_trigger("#content a.equipment") %>
    <%= tip_on("#content a.equipment") %>
    
  <% end %>
  
  <% step :equip_character, :change_event => 'qtip.dialog.close' do %>
  
    <%= spot_on("#placements > .placement > .inventory") %>
    <%= tip_on("#placements > .placement > .inventory", 
        :with_close_button => true
      ) %>
    
  <% end %>
  
  <% step :goto_monsters do %>
    
    <%= goto_main_menu_item("monsters") %>
    
  <% end %>
  
  <% step :attack_monster do %>
  
    <%= make_visible("#available_monsters .monster:first") %>
    <%= click_trigger("#available_monsters .monster:first a.attack") %>
    <%= tip_on("#available_monsters .monster:first a.attack",
        :position => {
          :at => 'rightMiddle',
          :my => 'leftMiddle'
        }
       ) %>
       
  <% end %>
  
  <% step :attack_monster_first_time, :change_event => 'result.received' do %>
    
    <%= spot_on("#monster a.attack") %>
    <%= tip_on("#monster a.attack") %>
    <%= click_trigger("#monster a.attack") %>
    
  <% end %>
  
  <% step :fight_with_monster_until_he_live, :change_event => 'result.received' do %>
  
    <%= make_visible("#monster") %>
    <%= tip_on("#monster .health",
        :position => {
          :at => 'topMiddle',
          :my => 'bottomMiddle'
        }
       ) %>
    <%= click_trigger("#monster a.attack") %>
    
  <% end %>
  
  <% step :monster_spent, :change_event => 'result.received' do %>
    
    <%= tip_on("#result .monster_spent .value:last") %>
    <%= spot_on("#result .monster_spent .label:first") %>
    <%= click_trigger("#result a.attack") %>
    
  <% end %>
  
  <% step :monster_die, :change_event => 'close.dialog.tutorial' do %>
    
    tutorialPrepareDialog();
    
  <% end %>
    
  <% step :goto_fight do %>
  
    <%= goto_main_menu_item("fights") %>
    
  <% end %>
  
  <% step :attack_other_player, :change_event => 'result.received' do %>
  
    <%= tip_on("#victim_list .character:first a.attack",
        :position => {
          :at => 'topMiddle',
          :my => 'bottomMiddle'
        }
       ) %>
    <%= make_visible("#victim_list") %>
    <%= click_trigger("#victim_list .character:first a.attack") %>
    
  <% end %>
  
  <% step :fight_result, :change_event => 'qtip.dialog.close' do %>
  
    <%= make_visible("#result") %>
    <%= tip_on("#result",
        :position => {
          :at => 'topMiddle',
          :my => 'bottomMiddle'
        },
        :with_close_button => true
       ) %>
       
  <% end %>
  
  <% step :goto_estate do %>
  
    <%= goto_main_menu_item("properties") %>
    
  <% end %>
  
  <% step :buy_estate, :change_event => 'result.received' do %>
  
    <%= tip_on("#property_list .property_type:first a.buy", 
          :position => {
            :at => 'bottomLeft',
            :my => 'topRight'
          }) %>
    <%= make_visible("#property_list .property_type:first .picture img") %>
    <%= click_trigger("#property_list .property_type:first a.buy") %>
    
  <% end %>
  
  <% step :periodically_collect_property_income, :change_event => 'qtip.dialog.close' do %>
  
    <%= spot_on("#property_list .property_type:first .timer") %>
    <%= tip_on("#property_list .property_type:first .timer", 
          :position => {
              :at => 'topMiddle',
              :my => 'bottomMiddle'
            },
          :with_close_button => true
         ) %>
       
  <% end %>
    
  <% step :goto_gem_market do %>
  
    <%= goto_main_menu_item("premium") %>
    
  <% end %>
  
  <% step :spend_gems, :change_event => 'qtip.dialog.close' do %>
  
    <%= tip_on("#current_vip_money", 
        :position => {
          :at => 'topMiddle',
          :my => 'bottomMiddle'
        },
        :with_close_button => true
       ) %>
    <%= make_visible("#premia") %>
       
  <% end %>
  
  <% step :finish, :change_event => 'qtip.dialog.close' do %>
  
    <%= tutorial_dialog :with_close_button => true %>
    
  <% end %>
</div>