<%
  current_step = exract_current_step
%>

<% dom_ready do %>
  // unbind previously binded trigger (actually in ajax)
  $("#tutorial").unbind('next_step.change_tutorial_step');
  $("#tutorial").bind('next_step.change_tutorial_step', function() {
    <% if final_step? %>
      <%= remote_function(
            :url => toggle_block_user_path(current_user, :block => 'tutorial'),
            :before => "$('#tutorial').hide()"
          ) %>
    <% else %>
      <%= remote_function(
            :url => update_step_tutorials_path,
            :method => :put,
            :update => :tutorial,
            :with => "'tutorial_step=#{next_step(current_step)}'"
          ) %>
    <% end %>
  });
<% end %>

<div id="tutorial">
  
  <div id="tutorial_overlay"></div>
  
  <div id="tutorial_progress">
    <div id="skip_tutorial" class="block">
      <%= hide_block_link('tutorial', t("tutorial.skip")) %>
    </div>
    <h3><%= t("tutorial.progress") %></h3>
    <div>
      <%= step_index.next %> / <%= Tutorial::STEPS.size %>
    </div>
    <%= percentage_bar(step_index.next.to_f / Tutorial::STEPS.size.to_f * 100) %>
    
    <div id="current_step">
      <%= t("tutorial.steps.current") %>
      <%= step_title(current_step) %>
    </div>
    
    <div>
      <%= t("tutorial.steps.next") %>
      <% if final_step?(current_step) %>
        <%= t("tutorial.steps.finish") %>
      <% else %>
        <%= step_title(next_step(current_step)) %>
      <% end %>
    </div>
  </div>
  
  <% case current_step %>
    <% when :hello_new_user %>
      <%= show_standard_dialog(:step => current_step) %>
    <% when :complete_first_mission %>
      <% dom_ready do %>
        $("a.missions").tutorialTip({
          content: "Click to the missions",
          position: {
            corner: {
              tooltip: 'topMiddle',
              target: 'bottomMiddle'
            }
          }
        });
        $("a.missions").tutorialSpot();
        $("a.missions").tutorialClickTarget();
      <% end %>
  <% end %>
</div>

  