<%= title(fb_i(t(".title"))) %>

<div id="tutorial" class="note nobutton">
  <%= fb_i(t(".text")) %>

  <%= link_to(fb_i(t(".next")), {:action => :step_2}, {:class => :button}) %>
</div>

<% if @mission %>
  <table id="mission_list" cellspacing="0">
    <%= render :partial => "missions/mission", :locals => {:mission => @mission} %>
  </table>
<% else %>
  <% javascript_tag do %>
    $('tutorial').removeClassName('nobutton');
  <% end %>
<% end %>

<%= render :partial => "skip" %>

<% javascript_tag do %>
  Mission.onComplete = function(){
    $('tutorial').removeClassName('nobutton');
    $('result').addClassName('nobutton');
    $('mission_list').hide();
  }
<% end %>