<%= title(fb_i(t(".title"))) %>

<div id="tutorial" class="note nobutton">
  <%= fb_i(t(".text")) %>

  <%= link_to(fb_i(t(".next")), {:action => :step_5}, {:class => :button}) %>
</div>

<% if @victims.any? %>
  <%= render :partial => "fights/victim_list", :locals => {:victims => @victims} %>
<% else %>
  <% javascript_tag do %>
    $('tutorial').removeClassName('nobutton');
  <% end %>
<% end %>

<%= render :partial => "skip" %>

<% javascript_tag do %>
  $('result').addClassName('nobutton');

  Character.onNewLevel = function(){
    $('tutorial').removeClassName('nobutton');
    $('victim_list').hide();
  }
<% end %>