<%= title(fb_i(t(".title"))) %>

<div id="tutorial" class="note nobutton">
  <%= fb_i(t(".text")) %>

  <%= link_to(fb_i(t(".next")), {:action => :finish}, {:class => :button}) %>
</div>

<% if current_character.points > 0 %>
  <%= render :partial => "characters/upgrade_list" %>
<% else %>
  <% javascript_tag do %>
    $('tutorial').removeClassName('nobutton');
  <% end %>
<% end %>

<%= render :partial => "skip" %>

<% javascript_tag do %>
  Character.onUpgradeComplete = function(){
    $('tutorial').removeClassName('nobutton');
    $('upgrade_list').hide();
  }
<% end %>