<%= title(t(".title")) %>

<%= render "relations/buttons", :current => :gifts %>

<div class="note"><%= t(".note") %></div>

<div id="gift_form" class="clearfix">
  <h3>
    <%= t(".gift.title",
          :change => link_to(t(".gift.change"), edit_gift_path(@gift))
        ).html_safe %>
  </h3>

  <div class="gift clearfix">
    <div class="item">
      <%= item_image(@gift.item, :small) %>

      <div class="name"><%= @gift.item.name %></div>

      <div class="payouts">
        <%= render "items/effects", :item => @gift.item %>
      </div>
    </div>
  </div>

  <div class="friend_groups" style="display:none;">
    <% form_tag gift_url(@gift), :id => :group_switcher, :method => :put do %>
      <%= hidden_field_tag :group  %>
      <%= hidden_field_tag :friend_ids %>

      <% %w{all players non_players}.each do |type| %>
        <%= link_to_function(t(".groups.#{type}", :app => t("app_name")), "$('#group').val('#{type}'); $('#group_switcher').submit()",
              :id     => "group_#{type}",
              :class  => "friend_group #{:current if @group == type.to_sym}"
            ) %>
      <% end %>
    <% end %>
  </div>

  <div id="invitation_form">
    <% gift_message = capture do %>
      <%= t(".request.message",
            :user => fb_name(current_user, :linked => :false),
            :app  => t("app_name"),
            :item => @gift.item.name
          ).html_safe %>

      <%= fb_req_choice(
            t(".request.accept", :item => @gift.item.name),
            gift_url(@gift,
              :canvas     => true,
              :reference  => :gift,
              :referrer   => current_user.id
            )
          ) %>
    <% end %>

    <% fb_server_fbml do %>
      <%= stylesheet_link_tag(skin_path) %>

      <div id="invitation_form_fbml">
        <% fb_request_form(t(".request.title"), confirm_gift_url(@gift), gift_message) do %>
          <div class="selector">
            <%= fb_multi_friend_selector(t(".request.note"),
                  :exclude_ids => @exclude_ids.join(","),
                  :cols => 3,
                  :rows => 3
                ) %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>

<% dom_ready do %>
  $(document).bind('facebook.ready', function(){
    FB.api('/me/friends', function(response) {
      var ids = $.map(response.data, function(user){
        return user.id
      });

      $('#friend_ids').val(ids.join(','));
      $('.friend_groups').show();
    });
  });
<% end %>
