<%= title(fb_i(t(".title"))) %>

<div id="gift_form" class="clearfix">
  <div class="note">
    <%= fb_i(t(".note")) %>
  </div>

  <div class="gift">
    <h2><%= fb_i(t(".gift.title")) %></h2>

    <div class="item">
      <%= item_image(@gift.item, :small) %>

      <div class="name"><%= fb_i(@gift.item.name) %></div>

      <%= link_to(fb_i(t(".gift.change")), edit_gift_path(@gift)) %>
    </div>
  </div>

  <div class="friend_groups">
    <%= link_to(fb_i(t(".groups.all")), gift_path(@gift, :group => :all),
          :method => :put,
          :id => "group_all",
          :class => (:current if @group == :all)
        ) %>
    <%= link_to(fb_i(t(".groups.players", :app => fb_app_name)), gift_path(@gift, :group => :players),
          :method => :put,
          :id => "group_players",
          :class => (:current if @group == :players)
        ) %>
    <%= link_to(fb_i(t(".groups.non_players")), gift_path(@gift, :group => :non_players),
          :method => :put,
          :id => "group_non_players",
          :class => (:current if @group == :non_players)
        ) %>
  </div>

  <div class="invitation_form">
    <% content_for :gift_message do %>
      <% fb_i do %>
        <%= t(".request.message",
              :user => fb_name(current_user, :linked => :false),
              :app  => fb_app_name
            ) %>

        <%= fb_it(:item, fb_i(@gift.item.name)) %>
      <% end %>

      <% content_tag("fb:req-choice", :url => gift_url(@gift, :reference => :gift)) do%>
        <%= fb_fa(:label, fb_i(t(".request.accept") + fb_it(:item, fb_i(@gift.item.name)))) %>
      <% end %>
    <% end %>

    <% fb_request_form(nil, :gift_message, confirm_gift_path(@gift)) do %>
      <%= fb_fa(:type, fb_i(t(".request.title"))) %>

      <% fb_custom_multi_friend_selector(
           :exclude_ids => @exclude_ids.join(",")
         ) do %>
        <%= fb_fa(:actiontext, fb_i(t(".request.note"))) %>
      <% end %>
    <% end %>
  </div>

  <%= link_to(fb_i(t(".skip")), confirm_gift_path(@gift), :class => "skip button") %>
</div>