<%= title(fb_i(t(".title"))) %>

<div id="gift_form" class="clearfix">
  <div class="note">
    <%= fb_i(t(".note")) %>
  </div>

  <div class="gift">
    <h2><%= fb_i(t(".gift.title")) %></h2>

    <div class="item">
      <%= item_image(@gift.item, :small) %>

      <div class="name"><%= fb_i(@gift.item.name) %></div>

      <div class="effects">
        <%= attack(@gift.item.attack) %>
        <%= defence(@gift.item.defence) %>

        <% @gift.item.effects.each do |effect| %>
          <%= content_tag(:div, effect.value, :class => effect.name) %>
        <% end %>
      </div>
      
      <%= link_to(fb_i(t(".gift.change")), edit_gift_path(@gift)) %>
    </div>
  </div>

  <div class="friend_groups">
    <% %w{all players non_players}.each do |type| %>
      <%= link_to(fb_i(t(".groups.#{type}", :app => fb_app_name)), gift_path(@gift, :group => type),
            :method => :put,
            :id     => "group_#{type}",
            :class  => (:current if @group == type.to_sym)
          ) %>
    <% end %>
  </div>

  <div class="invitation_form">
    <% content_for :gift_message do %>
      <% fb_i do %>
        <%= raw t(".request.message",
              :user => fb_name(current_user, :linked => :false),
              :app  => fb_app_name
            ) %>

        <%= fb_it(:item, fb_i(@gift.item.name)) %>
      <% end %>

      <% content_tag("fb:req-choice", :url => gift_url(@gift, :reference => :gift)) do%>
        <%= fb_fa(:label, fb_i(t(".request.accept") + fb_it(:item, fb_i(@gift.item.name)))) %>
      <% end %>
    <% end %>

    <% fb_request_form(nil, :gift_message, confirm_gift_path(@gift)) do %>
      <%= fb_fa(:type, fb_i(t(".request.title"))) %>

      <% fb_custom_multi_friend_selector(:exclude_ids => @exclude_ids.join(",")) do %>
        <%= fb_fa(:actiontext, fb_i(t(".request.note"))) %>
      <% end %>
    <% end %>
  </div>

  <%= link_to(fb_i(t(".skip")), confirm_gift_path(@gift), :class => "skip button") %>
</div>