<%= title(t('.title')) %>

<% collection(@gifts) do %>
  <table id="gift_list">
    <% @gifts.each do |gift| %>
      <% content_tag_for(:tr, gift) do %>
        <td class="sender_picture"><%= character_picture_link(gift.sender) %></td>
        <td class="sender_name"><%= character_name_link(gift.sender) %></td>
        <td class="sends"><%= t(".sends") %></td>
        <td class="item_image"><%= item_image(gift.item, :small) %></td>
        <td class="item_name"><%= gift.item.name %></td>
        <td class="controls">
          <%= link_to_remote(button(:accept),
                :url => gift_path(gift),
                :update => :ajax,
                :method => :put,
                :html => {
                  :'data-click-once' => true,
                  :class => 'accept button'
                }
              ) if gift.acceptable? %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end%>
