<%= title(t(".title")) %>

<%= render "relations/buttons", :current => :gifts %>

<div class="note"><%= t(".note") %></div>

<div id="gift_form" class="clearfix">
  <% collection(@items) do %>
    <div class="gifts clearfix">
      <% @items.each do |item| %>
        <div class="gift">
          <%= link_to(item_image(item, :small), polymorphic_path(@gift, :item_id => item.id),
                :method => @gift.new_record? ? :post : :put
              ) %>

          <div class="name">
            <%= link_to(item.name, polymorphic_path(@gift, :item_id => item.id),
                  :method => @gift.new_record? ? :post : :put
                ) %>
          </div>

          <div class="payouts">
            <%= render "items/effects", :item => item %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="buttons">
    <%= link_to(button(:skip), @gift.new_record? ? root_path : confirm_gift_path(@gift),
          :class => "skip button"
        ) %>
  </div>
</div>
