<%= title(t(".title")) %>

<%= render "relations/buttons", :current => :gifts %>

<div class="note"><%= t(".note") %></div>

<div id="gift_form" class="clearfix">
  <%= render 'item_selector', :items => @items, :gift => @gift %>
</div>

<div id="gift_buttons" class="buttons">
  <%= link_to(button(:skip), root_path, :class => "skip button") %>
</div>

<% dom_ready do %>
  $('.gifts .gift').live('click', function(){
    var $this = $(this);

    jQuery.ajax({
      url: $this.attr('data-url'),
      success: function(request){
        $('#ajax').html(request);
      },
      type: $this.attr('data-method')
    });
  })
<% end %>