<%= title(fb_i(t(".title"))) %>

<div id="gift_form" class="clearfix">
  <div class="note">
    <%= fb_i(t(".note")) %>
  </div>

  <% collection(@items) do %>
    <div class="items clearfix">
      <% @items.each do |item| %>
        <% div_for(item) do %>
          <%= link_to(item_image(item, :small), polymorphic_path(@gift, :item_id => item.id),
                :method => @gift.new_record? ? :post : :put
              ) %>

          <div class="name">
            <%= link_to(fb_i(item.name), polymorphic_path(@gift, :item_id => item.id),
                  :method => @gift.new_record? ? :post : :put
                ) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= link_to(fb_i(t(".skip")), @gift.new_record? ? root_path : confirm_gift_path(@gift), :class => "skip button") %>
</div>