<% content_for :result do %>
  <% result_for :gift do %>
    <div class="buttons">
      <%= link_to(button(:accept_pending), fb_app_requests_url, :class => "pending button") %>
      <%= link_to(button(:play_now), root_path, :class => "play_now button") %>
    </div>
    
    <p><%= t(".success") %></p>

    <table class="details" cellspacing="0" cellpadding="0">
      <tr>
        <td class="item">
          <%= item_image(@gift.item, :small) %>

          <div class="name"><%= @gift.item.name %></div>
        </td>
        <td class="from"><%= t(".from") %></td>
        <td class="sender">
          <%= character_picture_link(@gift.character, {}, {:size => :small}) %><br />
          <%= character_name_link(@gift.character) %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>