<% response = capture do %>
  <% if @gift.accepted? %>
    <p><%= t('.accepted') %></p>
  
    <%= link_to_remote(inventory_use_button(@gift.inventory),
          :url    => use_inventory_path(@gift.inventory),
          :update => :result,
          :html   => {
            :"data-click-once" => true,
            :class => "use button"
          }
        ) if @gift.inventory.usable? %>
        
    <%= link_to(button(:send), new_gift_path, 
          :class => 'send button',     
          :'data-item-id' => @gift.item.id, 
          :'data-message' => t('gifts.new.request.message', :item => @gift.item.name, :app => t('app_name'))
        ) %>
    
    <% dom_ready do %>
      <%= ga_track_event('Gifts', 'Accepted', @gift.item.name)%>
    <% end %>
  <% else %>
    <p><%= @gift.errors.on(:base) %></p>
  <% end %>
<% end %>

<% dom_ready do %>
  $('#<%= dom_id(@gift) %> .controls').html('<%= escape_javascript(response) %>')
  $('#<%= dom_id(@gift) %> .send').giftButton({
    request_title: '<%= t('gifts.new.title') %>', 
    request_url: '<%= gifts_url(:canvas => true) %>', 
    request_callback_url: '<%= app_requests_path(:type => :gift) %>'
  });
<% end %>