<%= form.text_field :name, :required => true %>

<div id="item_set" class="items">
  <h2><%= t(".items") %></h2>

  <%= form.error_message_on :items %>

  <% form.object.items.each do |item, frequency| %>
    <%= render("item_fields", :item => item, :frequency => frequency) %>
  <% end %>
</div>

<%= link_to_remote(t(".add_item"),
      :url  => add_item_new_admin_item_set_path,
      :html => {:class => :add_item}
    ) %>
