<% if action_name == "global" %>
  <%= title(t(".title.global")) %>

  <div class="buttons" id="rating_buttons">
    <%= link_to(button(:relations), rating_path, :class => :button) %>
  </div>
<% else %>
  <%= title(t(".title.relations")) %>

  <div class="buttons" id="rating_buttons">
    <%= link_to(button(:global), global_rating_path, :class => :button) %>
  </div>
<% end %>

<table cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <h2><%= t(".level") %></h2>

      <table class="rating" cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th colspan="2"><%= Character.human_name %></th>
          <th><%= Character.human_attribute_name("level") %></th>
        </tr>
        <% @level.each_with_index do |character, index| %>
          <tr <% if character == current_character %>class="current"<% end %>>
            <td class="position"><%= index + 1 %></td>
            <td class="picture"><%= character_picture_link(character) %></td>
            <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
            <td class="level last"><%= character.level %></td>
          </tr>
        <% end %>

        <% unless @level.include?(current_character) %>
          <tr class="current">
            <td class="position"><%= @rating_scope.rating_position(current_character, :level) %></td>
            <td class="picture"><%= character_picture_link(current_character) %></td>
            <td class="name"><%= character_name_link(current_character, {}, {:capitalize => true}) %></td>
            <td class="level last"><%= current_character.level %></td>
          </tr>
        <% end %>
      </table>
    </td>

    <td>

      <h2><%= t(".bank") %></h2>

      <table class="rating" cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th colspan="2"><%= Character.human_name %></th>
          <th><%= Character.human_attribute_name("bank") %></th>
        </tr>
        <% @bank.each_with_index do |character, index| %>
          <tr <% if character == current_character %>class="current"<% end %>>
            <td class="position"><%= index + 1 %></td>
            <td class="picture"><%= character_picture_link(character) %></td>
            <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
            <td class="bank last"><%= number_to_currency(character.bank) %></td>
          </tr>
        <% end %>

        <% unless @bank.include?(current_character) %>
          <tr class="current">
            <td class="position"><%= @rating_scope.rating_position(current_character, :bank) %></td>
            <td class="picture"><%= character_picture_link(current_character) %></td>
            <td class="name"><%= character_name_link(current_character, {}, {:capitalize => true}) %></td>
            <td class="bank last"><%= number_to_currency(current_character.bank) %></td>
          </tr>
        <% end %>
      </table>

    </td>
  </tr>
  <tr>
    <td>
      <h2><%= t(".fights") %></h2>

      <table class="rating" cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th colspan="2"><%= Character.human_name %></th>
          <th><%= Character.human_attribute_name("fights_won") %></th>
        </tr>
        <% @fights.each_with_index do |character, index| %>
          <tr <% if character == current_character %>class="current"<% end %>>
            <td class="position"><%= index + 1 %></td>
            <td class="picture"><%= character_picture_link(character) %></td>
            <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
            <td class="fights_won last"><%= character.fights_won %></td>
          </tr>
        <% end %>

        <% unless @fights.include?(current_character) %>
          <tr class="current">
            <td class="position"><%= @rating_scope.rating_position(current_character, :fights_won) %></td>
            <td class="picture"><%= character_picture_link(current_character) %></td>
            <td class="name"><%= character_name_link(current_character, {}, {:capitalize => true}) %></td>
            <td class="fights_won last"><%= current_character.fights_won %></td>
          </tr>
        <% end %>
      </table>
    </td>

    <td>

      <h2><%= t(".missions") %></h2>

      <table class="rating" cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th colspan="2"><%= Character.human_name %></th>
          <th><%= Character.human_attribute_name("missions_succeded") %></th>
        </tr>
        <% @missions.each_with_index do |character, index| %>
          <tr <% if character == current_character %>class="current"<% end %>>
            <td class="position"><%= index + 1 %></td>
            <td class="picture"><%= character_picture_link(character) %></td>
            <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
            <td class="missions_succeeded last"><%= character.missions_succeeded %></td>
          </tr>
        <% end %>

        <% unless @missions.include?(current_character) %>
          <tr class="current">
            <td class="position"><%= @rating_scope.rating_position(current_character, :missions_succeeded) %></td>
            <td class="picture"><%= character_picture_link(current_character) %></td>
            <td class="name"><%= character_name_link(current_character, {}, {:capitalize => true}) %></td>
            <td class="missions_succeeded last"><%= current_character.missions_succeeded %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>

      <h2><%= t(".relations") %></h2>

      <table class="rating" cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th colspan="2"><%= Character.human_name %></th>
          <th><%= Character.human_attribute_name("relations_count") %></th>
        </tr>
        <% @relations.each_with_index do |character, index| %>
          <tr <% if character == current_character %>class="current"<% end %>>
            <td class="position"><%= index + 1 %></td>
            <td class="picture"><%= character_picture_link(character) %></td>
            <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
            <td class="relations_count last"><%= character.relations.effective_size %></td>
          </tr>
        <% end %>

        <% unless @relations.include?(current_character) %>
          <tr class="current">
            <td class="position"><%= @rating_scope.rating_position(current_character, :relations_count) %></td>
            <td class="picture"><%= character_picture_link(current_character) %></td>
            <td class="name"><%= character_name_link(current_character, {}, {:capitalize => true}) %></td>
            <td class="relations_count last"><%= current_character.relations.effective_size %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>