<%= render('layouts/promo_block', :context => :rating) if current_character.show_promo_block? %>

<%= title(t(".title")) %>

<%= render("buttons", :current => :rating) %>

<% if Setting.b(:total_score_publishing_in_facebook_enabled) %>
  <div class="note" id="rating_score_permissions">
    <p><%= t('.permissions') %></p>
    
    <%= link_to_function(button(:permissions), "Rating.requestPermissions()",
          :class => 'permissions button'
        ) %>
  </div>
<% end %>

<% tabs(:id => 'rating_list') do |t| %>
  <% Rating::FIELDS.each do |field| %>
    <% t.tab(field) do %>
      <table class="rating" cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th colspan="2"><%= Character.model_name.human %></th>
          <th colspan="2"><%= Character.human_attribute_name(field) %></th>
        </tr>

        <% rating_table(field) do |character, position, rank, current| %>
          <tr class="<%= :current if current %>">
            <td class="position"><%= position %></td>
            <td class="picture"><%= character_picture_link(character) %></td>
            <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
            <td class="value"><%= rank %></td>
            <td class="publish last"><%= rating_publish_button(position, field) if current %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>

<% dom_ready do %>
  Rating.setup();
<% end %>
