<% if action_name == "global" %>
  <%= title(t(".title.global")) %>

  <div class="buttons clearfix" id="rating_buttons">
    <%= link_to(button(:relations), rating_path, :class => :button) %>
  </div>
<% else %>
  <%= title(t(".title.relations")) %>

  <div class="buttons clearfix" id="rating_buttons">
    <%= link_to(button(:global), global_rating_path, :class => :button) %>
  </div>
<% end %>

<table id="rating_list" cellspacing="0" cellpadding="0">
  <tr>
    <td><%= render("level", :characters => @level) %></td>
    <td><%= render("total_money", :characters => @total_money) %></td>
  </tr>
  <tr>
    <td><%= render("fights", :characters => @fights) %></td>
    <td><%= render("missions", :characters => @missions) %></td>
  </tr>
  <tr>
    <td><%= render("relations", :characters => @relations) %></td>
  </tr>
</table>