<% if action_name == "global" %>
  <%= title(t(".title.global")) %>

  <%= render "buttons", :current => :global %>
<% else %>
  <%= title(t(".title.relations")) %>

  <%= render "buttons", :current => :relations %>
<% end %>

<table id="rating_list" cellspacing="0" cellpadding="0">
  <tr>
    <td><%= render("level", :characters => @level) %></td>
    <td><%= render("total_money", :characters => @total_money) %></td>
  </tr>
  <tr>
    <td><%= render("fights", :characters => @fights) %></td>
    <td><%= render("missions", :characters => @missions) %></td>
  </tr>
  <tr>
    <td><%= render("relations", :characters => @relations) %></td>
  </tr>
</table>