<%= render('layouts/promo_block', :context => :rating) if current_character.show_promo_block? %>

<%= title(t(".title")) %>

<%= render("buttons", :current => :rating) %>

<% if Setting.b(:total_score_publishing_in_facebook_enabled) %>
  <div class="note" id="rating_score_permissions">
    <p><%= t('.permissions') %></p>
    
    <%= link_to_function(button(:permissions), "Rating.requestPermissions()",
          :class => 'permissions button'
        ) %>
  </div>
<% end %>

<% tabs(:id => 'rating_list') do |t| %>
  <% Rating::FIELDS.each do |field| %>
  
    <% if field == @current_field %>
      <% t.tab(field, Character.human_attribute_name(field)) do %>
        <%= render("list", :field => field) %>
      <% end %>
    
    <% else %>
      <% t.tab(field, Character.human_attribute_name(field), rating_path(:field => field)) do %>
      <% end %>
    <% end %>
      
  <% end %>
<% end %>

<% dom_ready do %>
  Rating.setup();
<% end %>
