<%= render 'chats/js_template' %>

<div class="chat" id="<%= chat_dom_id(chat_id) %>" data-chat-id="<%= chat_id %>" data-template="chat_template">
  <div class="messages">
  </div>
  
  <% form_tag("/chats/#{chat_id}", :onsubmit => "return $(this).chat('onSubmit')") do |form| %>
    <%= hidden_field_tag :chat_character_id, current_character.id %>
    <%= text_field_tag :chat_text %>
    <%= link_to_function(button(:send), "$(this).parents('form').submit()", :class => 'send button')%>
  <% end %>
</div>

<% dom_ready do %>
  $('#<%= chat_dom_id(chat_id) %>').chat('init', <%= Setting.i(:chat_update_time) %>);
<% end %>