<div id="invitations" class="block">
  <h2><%= t('.title') %></h2>

  <table id="invitation_list" cellspacing="0" cellpadding="0">
    <% invitations.each do |invitation| %>
      <tr>
        <td class="picture"><%= character_picture_link(invitation.sender) %></td>
        <td class="name"><%= character_name_link(invitation.sender) %></td>
        <td class="level">
          <%= Character.human_attribute_name("level") %>
          <%= invitation.sender.character.level %>
        </td>
        <% content_tag(:td, :id => dom_id(invitation, :controls), :class => :controls) do %>
          <%= link_to_remote(button(:accept),
                :url    => accept_invitation_path(invitation),
                :update => dom_id(invitation, :controls),
                :html   => {
                  :"data-click-once" => true,
                  :class => "accept button"
                }
              ) %>
          <%= link_to_remote(button(:ignore),
                :url    => ignore_invitation_path(invitation),
                :update => dom_id(invitation, :controls),
                :html   => {
                  :"data-click-once" => true,
                  :class => "ignore button"
                }
              ) %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
