<% dialog do %>

  <div id="refill_dialog">
  
    <% enough_vip_money = current_character.vip_money >= @vip_money %>
    
      <div class="text">
        <% if enough_vip_money %>
          <%= t(".#{@type}.text") %>
        <% else %>
          <%= t(".dont_have_gems").html_safe %>
        <% end %>
      </div>
      
      <div class="requirements">
        <%= attribute_requirement(:vip_money, @vip_money) %>
      </div>
      
      <div class="buttons">
        <% if enough_vip_money %>
          <%= link_to_remote(button(:refill), 
                :url    => premium_path(:type => @type),
                :method => :put,
                :update => :result,
                :html   => {:class => "refill button", :onclick => "$(document).trigger('close.dialog')"}
              ) %>
        <% else %>
          <%= link_to(button(:gem_market), premium_path(:anchor => :buy), 
                :class => "premium button"
              ) %>
        <% end %>
      </div>
  </div>
  
<% end %>