<%= title(fb_i(t(".title"))) %>

<div id="current_vip_money">
  <% fb_i t(".current.label") do %>
    <%= fb_it(:amount, content_tag(:span, number_to_currency(current_character.vip_money), :class => :value)) %>
  <% end %>
</div>

<table id="premia" cellspacing="0" cellpadding="0">
  <tr>
    <td class="name">
      <% fb_i t(".buy_points.text") do %>
        <%= fb_it(:amount,
              content_tag(:span, Configuration[:premium_points_amount], :class => :points)
            ) %>
      <% end %>
    </td>
    <td class="vip_money">
      <div class=value><%= number_to_currency(Configuration[:premium_points_price]) %></div>
    </td>
    <td class="controls">
      <%= link_to(button(t(".buy_points.button")), premium_path(:type => :buy_points),
            :method => :put,
            :class  => :button
          ) %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <%= fb_i(t(".hire_mercenary.text")) %>
    </td>
    <td class="vip_money">
      <div class="value"><%= number_to_currency(Configuration[:premium_mercenary_price]) %></div>
    </td>
    <td class="controls">
      <%= link_to(button(t(".hire_mercenary.button")), premium_path(:type => :hire_mercenary),
            :method => :put,
            :class  => :button
          ) %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <% fb_i t(".exchange_money.text") do %>
        <%= fb_it(:amount,
              content_tag(:span, number_to_currency(Configuration[:premium_money_amount]), :class => :basic_money)
            ) %>
      <% end %>
    </td>
    <td class="vip_money">
      <div class=value><%= number_to_currency(Configuration[:premium_money_price]) %></div>
    </td>
    <td class="controls">
      <%= link_to(button(t(".exchange_money.button")), premium_path(:type => :exchange_money),
            :method => :put,
            :class  => :button
          ) %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <%= fb_i(t(".refill_energy.text")) %>
    </td>
    <td class="vip_money">
      <div class=value><%= number_to_currency(Configuration[:premium_energy_price]) %></div>
    </td>
    <td class="controls">
      <% if current_character.full_energy? %>
        <%= fb_i(t(".refill_energy.full")) %>
      <% else %>
        <%= link_to(button(t(".refill_energy.button")), premium_path(:type => :refill_energy),
              :method => :put,
              :class  => :button
            ) %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <%= fb_i(t(".refill_health.text")) %>
    </td>
    <td class="vip_money">
      <div class=value><%= number_to_currency(Configuration[:premium_health_price]) %></div>
    </td>
    <td class="controls">
      <% if current_character.full_health? %>
        <%= fb_i(t(".refill_health.full")) %>
      <% else %>
        <%= link_to(button(t(".refill_health.button")), premium_path(:type => :refill_health),
              :method => :put,
              :class  => :button
            ) %>
      <% end %>
    </td>
  </tr>
</table>

<div id="get_more_vip">
  <%= facebook_money %>
</div>