<%= title(fb_i(t(".title"))) %>

<div id="current_vip_money">
  <% fb_i do %>
    <%= t(".current.label") %>

    <%= fb_it(:amount, content_tag(:span, number_to_currency(current_character.vip_money), :class => :value)) %>
  <% end %>
</div>

<table id="premia" cellspacing="0">
  <tr>
    <td class="name">
      <% fb_i do %>
        <%= t(".buy_points.text") %>

        <%= fb_it(:amount,
              content_tag(:span, Character::BUY_POINTS_RATE[:points], :class => :points)
            ) %>
      <% end %>
    </td>
    <td class="vip_money"><%= number_to_currency(Character::BUY_POINTS_RATE[:vip_money]) %></td>
    <td class="controls">
      <%= link_to(t(".buy_points.button"), premium_path(:type => :buy_points),
            :method => :put,
            :class  => :button
          ) %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <%= fb_i(t(".hire_mercenary.text")) %>
    </td>
    <td class="vip_money"><%= number_to_currency(Character::HIRE_MERCENARY_RATE) %></td>
    <td class="controls">
      <%= link_to(t(".hire_mercenary.button"), premium_path(:type => :hire_mercenary),
            :method => :put,
            :class  => :button
          ) %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <% fb_i do %>
        <%= t(".exchange_money.text") %>

        <%= fb_it(:amount,
              content_tag(:span, number_to_currency(Character::MONEY_EXCHANGE_RATE[:basic_money]), :class => :basic_money)
            ) %>
      <% end %>
    </td>
    <td class="vip_money"><%= number_to_currency(Character::MONEY_EXCHANGE_RATE[:vip_money]) %></td>
    <td class="controls">
      <%= link_to(t(".exchange_money.button"), premium_path(:type => :exchange_money),
            :method => :put,
            :class  => :button
          ) %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <%= fb_i(t(".refill_energy.text")) %>
    </td>
    <td class="vip_money"><%= number_to_currency(Character::ENERGY_REFILL_RATE) %></td>
    <td class="controls">
      <% if current_character.full_energy? %>
        <%= fb_i(t(".refill_energy.full")) %>
      <% else %>
        <%= link_to(t(".refill_energy.button"), premium_path(:type => :refill_energy),
              :method => :put,
              :class  => :button
            ) %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td class="name">
      <%= fb_i(t(".refill_health.text")) %>
    </td>
    <td class="vip_money"><%= number_to_currency(Character::HEALTH_REFILL_RATE) %></td>
    <td class="controls">
      <% if current_character.full_health? %>
        <%= fb_i(t(".refill_health.full")) %>
      <% else %>
        <%= link_to(t(".refill_health.button"), premium_path(:type => :refill_health),
              :method => :put,
              :class  => :button
            ) %>
      <% end %>
    </td>
  </tr>
</table>

<%= render :partial => "premia/get_more_vip" %>