<%= title(t("items.index.title")) %>

<%= render "inventories/buttons", :current => :shop %>

<%= render 'items/tabs', :groups => ItemGroup.with_state(:visible).visible_in_shop, :current => :premium %>

<div id="tab_services" class="hash_tab">
  <div class="current_vip_money">
    <%= t(".current",
          :amount => content_tag(:span, number_to_currency(current_character.vip_money), :class => :value)
        ).html_safe %>

    <%= link_to(t('.get_more'), {:anchor => :buy}, {:class => :get_more})%>
  </div>

  <table id="premia" cellspacing="0" cellpadding="0">
    <tr>
      <td class="name"><%= t(".refill_energy.text") %></td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_energy_price)) %>
      </td>
      <td class="controls">
        <% if current_character.full_ep? %>
          <%= t(".refill_energy.full") %>
        <% else %>
          <%= link_to_remote(button(t(".refill_energy.button")),
                :url    => premium_path(:type => :refill_energy),
                :method => :put,
                :update => :result,
                :html   => {:class => :button}
              ) %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td class="name"><%= t(".refill_stamina.text") %></td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_stamina_price)) %>
      </td>
      <td class="controls">
        <% if current_character.full_sp? %>
          <%= t(".refill_stamina.full") %>
        <% else %>
          <%= link_to_remote(button(t(".refill_stamina.button")),
                :url    => premium_path(:type => :refill_stamina),
                :method => :put,
                :update => :result,
                :html   => {:class => :button}
              ) %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td class="name"><%= t(".refill_health.text") %></td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_health_price)) %>
      </td>
      <td class="controls">
        <% if current_character.full_hp? %>
          <%= t(".refill_health.full") %>
        <% else %>
          <%= link_to_remote(button(t(".refill_health.button")),
                :url    => premium_path(:type => :refill_health),
                :method => :put,
                :update => :result,
                :html   => {:class => :button}
              ) %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td class="name">
        <%= t(".buy_points.text",
              :amount => content_tag(:span, Setting.i(:premium_points_amount), :class => :points)
            ).html_safe %>
      </td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_points_price)) %>
      </td>
      <td class="controls">
        <%= link_to_remote(button(t(".buy_points.button")),
              :url    => premium_path(:type => :buy_points),
              :method => :put,
              :update => :result,
              :html   => {:class => :button}
            ) %>
      </td>
    </tr>


    <tr>
      <td class="name"><%= t(".hire_mercenary.text") %></td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_mercenary_price)) %>
      </td>
      <td class="controls">
        <% if !current_character.relations.maximum_size? %>
          <%= link_to_remote(button(t(".hire_mercenary.button")),
                :url    => premium_path(:type => :hire_mercenary),
                :method => :put,
                :update => :result,
                :html   => {:class => :button}
              ) %>
        <% else %>
          <%= t('.hire_mercenary.maximum') %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td class="name">
        <%= t(".exchange_money.text",
              :amount => content_tag(:span, number_to_currency(Setting.i(:premium_money_amount)), :class => :basic_money)
            ).html_safe %>
      </td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_money_price)) %>
      </td>
      <td class="controls">
        <%= link_to_remote(button(t(".exchange_money.button")),
              :url    => premium_path(:type => :exchange_money),
              :method => :put,
              :update => :result,
              :html   => {:class => :button}
            ) %>
      </td>
    </tr>

    <% if current_character.character_type %>
      <tr>
        <td class="name"><%= t(".reset_attributes.text") %></td>
        <td class="requirements">
          <%= attribute_requirement(:vip_money, Setting.i(:premium_reset_attributes_price)) %>
        </td>
        <td class="controls">
          <%= link_to_remote(button(t(".reset_attributes.button")),
                :url      => premium_path(:type => :reset_attributes),
                :method   => :put,
                :update   => :result,
                :confirm  => t(".reset_attributes.confirm"),
                :html     => {:class => :button}
              ) %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td class="name">
        <%= t(".change_name.text").html_safe %>
      </td>
      <td class="requirements">
        <%= attribute_requirement(:vip_money, Setting.i(:premium_change_name_price)) %>
      </td>
      <td class="controls">
        <%= link_to_remote(button(t(".change_name.button")),
              :url      => change_name_premium_path,
              :method   => :get,
              :update   => :ajax,
              :html     => {:class => :button}
            ) %>
      </td>
    </tr>
  </table>

  <div class="need_more_vip">
    <p><%= t('.need_more') %></p>
    
    <%= link_to(button(:buy), {:anchor => :buy}, {:class => "buy button"})%>
  </div>
</div>

<div id="tab_buy" class="hash_tab">
  <div class="current_vip_money">
    <%= t(".current",
          :amount => content_tag(:span, number_to_currency(current_character.vip_money), :class => :value)
        ).html_safe %>
  </div>

  <div class="note"><%= t('.buy.note', :vip_money => Character.human_attribute_name('vip_money'))%></div>

  <div id="get_more_vip">
    <%= render('credit_orders/form') if Setting.b(:premium_credits_enabled) %>
  </div>
</div>

<% dom_ready do %>
  $('.hash_tab').hide().first().show();
  $('#item_groups a.services').addClass('current');
  
  $.History.bind(function(state){
    $('.hash_tab').hide();
    $('#tab_' + state).show();
    $.scrollTo('#tab_' + state);
    $('#item_groups a').removeClass('current').filter('.' +state).addClass('current');
  })
<% end %>