<p id="total_users">
  <b><%= t(".total_users") %></b>:

  <h2><%= @total_users %> (+<%= @last_day_users %> in last 24 hours)</h2>
</p>

<b><%= t(".latest_users") %></b>

<table>
  <% @latest_users.each do |user| %>
    <tr>
      <td><%= l(user.created_at, :format => :short) %></td>
      <td><%= fb_profile_pic(user) %></td>
      <td><%= fb_name(user) %></td>
    </tr>
  <% end %>
</table>
