<%= admin_title(t(".title")) %>

<%= render("controls") %>
<table class="data">
  <tr>
    <th><%= t(".parameter") %></th>
    <th><%= t(".total") %></th>
    <th><%= t(".new") %></th>
    <th></th>
  </tr>
  <tr>
    <td><%= t(".users") %></td>
    <td><%= @all.users.total_users %></td>
    <td>+<%= @day.users.total_users %></td>
    <td class="controls"><%= link_to(t(".details"), user_admin_statistics_path) %></td>
  </tr>
  <tr>
    <td><%= t(".deposit") %></td>
    <td><%= @all.vip_money.total_deposit %></td>
    <td>+<%= @day.vip_money.total_deposit %></td>
    <td class="controls"><%= link_to(t(".details"), vip_money_admin_statistics_path) %></td>
  </tr>
  <tr>
    <td><%= t(".withdraw") %></td>
    <td><%= @all.vip_money.total_withdrawal %></td>
    <td>+<%= @day.vip_money.total_withdrawal %></td>
    <td class="controls"><%= link_to(t(".details"), vip_money_admin_statistics_path) %></td>
  </tr>
  <tr>
    <td><%= t(".complaints") %></td>
    <td><%= @complaints %></td>
    <td>+<%= @unread_complaints %></td>
    <td class="controls"><%= link_to(t(".details"), admin_complaints_path) %></td>
  </tr>

  <% Delayed::Job.count.tap do |jobs| %>
  <tr>
    <td><%= t(".jobs") %></td>
    <td <% if jobs >= 100 %>style="color: red"<% end %>><%= jobs %></td>
  </tr>
  <% end %>
</table>
