<%= admin_title(t(".title")) %>

<%= render "controls" %>

<table>
  <tr>
    <th><%= t(".parameter") %></th>
    <th><%= t(".value") %></th>
    <th><%= t(".change") %></th>
    <th></th>
  </tr>
  <tr>
    <td><%= t(".total_users") %></td>
    <td><%= @statistics.total_users %></td>
    <td>+ <%= @statistics.users_by_period %></td>
    <td><%= link_to(t(".details"), user_admin_statistics_path) %></td>
  </tr>
</table>
