<%= admin_title(t(".title")) %>

<h2><%= t(".total_users") %></h2>

<p id="total_users">
  <strong><%= @total_users %></strong> (<%= raw t(".user_amount_change", :amount => content_tag(:strong, @last_day_users)) %>)
</p>

<h2><%= t(".references") %></h2>

<table>
<% @total_reference_stats.each do |reference, total, day| %>
  <tr>
    <td><%= reference || t(".no_reference") %></td>
    <td><%= total %></td>
    <td><%= "+%d" % day if day > 0 %></td>
  </tr>
<% end %>
</table>

<h2><%= t(".latest_users") %></h2>

<table>
  <tr>
    <th><%= User.human_attribute_name("created_at") %></th>
    <th><%= User.human_attribute_name("facebook_id") %></th>
    <th><%= Character.human_name %></th>
    <th><%= User.human_attribute_name("reference") %></th>
  </tr>
  <% @latest_users.each do |user| %>
    <tr>
      <td><%= l(user.created_at, :format => :short) %></td>
      <td><%= link_to(user.facebook_id, fb_profile_url(user)) %></td>
      <td><%= user.character ? link_to(user.character.character_type.name, character_url(user.character, :canvas => true)) : content_tag(:em, t(".no_character")) %></td>
      <td><%= user.reference %></td>
    </tr>
  <% end %>
</table>