<%= admin_title(t(".title")) %>

<%= render("controls") %>
<table class="data">
  <tr>
    <th><%= t(".parameter") %></th>
    <th><%= t(".total") %></th>
    <th><%= t(".new") %></th>
    <th></th>
  </tr>
  <tr>
    <td><%= t(".users") %></td>
    <td><%= @all.users.total_users %></td>
    <td>+<%= @day.users.total_users %></td>
    <td class="controls"><%= link_to(t(".details"), user_admin_statistics_path) %></td>
  </tr>
  <tr>
    <td><%= t(".deposit") %></td>
    <td><%= @all.vip_money.total_deposit %></td>
    <td>+<%= @day.vip_money.total_deposit %></td>
    <td class="controls"><%= link_to(t(".details"), vip_money_admin_statistics_path) %></td>
  </tr>
  <tr>
    <td><%= t(".withdraw") %></td>
    <td><%= @all.vip_money.total_withdrawal %></td>
    <td>+<%= @day.vip_money.total_withdrawal %></td>
    <td class="controls"><%= link_to(t(".details"), vip_money_admin_statistics_path) %></td>
  </tr>
  <tr>
    <td><%= t(".complaints") %></td>
    <td><%= @complaints %></td>
    <td>+<%= @unread_complaints %></td>
    <td class="controls"><%= link_to(t(".details"), admin_complaints_path) %></td>
  </tr>
</table>

<h2><%= t('.background.title')%></h2>

<table class="data">
  <tr>
    <td><%= t(".jobs") %></td>
    <td <% if @delayed_jobs[:total] >= 100 %>style="color: red"<% end %>><%= @delayed_jobs[:total] %></td>
    <td><%= @delayed_jobs[:failed] %> <%= t('.background.failed') %></td>
  </tr>

  <tr>
    <td><%= t('.background.task') %></td>
    <td><%= @scheduler[:task] %></td>
    <td><%= t('.background.total', :count => @scheduler[:total_tasks]) %></td>
  </tr>

  <tr>
    <td><%= t('.background.started_at')%></td>

    <% if @scheduler[:started_at].is_a?(Time) %>
      <td><%= @scheduler[:started_at].strftime('%Y-%m-%d %H:%M:%S') %></td>
      <td><%= time_ago_in_words(@scheduler[:started_at]) %> <%= t('.background.ago') %></td>
    <% end %>
  </tr>

  <tr>
    <td><%= t('.background.finished_at')%></td>

    <% if @scheduler[:finished_at].is_a?(Time) %>
      <td><%= @scheduler[:finished_at].strftime('%Y-%m-%d %H:%M:%S') %></td>
      <td><%= time_ago_in_words(@scheduler[:finished_at]) %> <%= t('.background.ago') %></td>
    <% elsif @scheduler[:started_at].is_a?(Time) %>
      <td>
        <%= t('.background.processing') %>
      </td>
    <% end %>
  </tr>
</table>

<h2><%= t('.app_requests.title')%></h2>

<table class="data">
  <tr>
    <td><%= t(".app_requests.total") %></td>
    <td><%= $redis.scard("app_requests_for_deletion") %></td>
  </tr>
  <tr>
    <td><%= t(".app_requests.failed") %></td>
    <td><%= $redis.scard("app_requests_failed_deletion") %></td>
  </tr>
  <tr>
    <td><%= t(".app_requests.last_failed") %></td>
    <td><%= $redis.smembers("app_requests_failed_deletion").last %></td>
  </tr>
  <tr>
    <td><%= t(".app_requests.last_processed_at") %></td>
    <td <%= "style='color:red'" if time = (Time.now.to_i - $redis.get("app_requests_last_processed_at").to_i) and time > 120 %>>
      <%= time %>
    </td>
  </tr>
</table>
