<%= admin_title(t('.title'))%>

<%= render("controls") %>

<table>
  <tr>
    <td>
      <div class="section">
        <h2><%= t(".reference_types") %></h2>

        <table class="data">
          <tr>
            <th><%= t(".reference_type") %></th>
            <th><%= t(".users_amount") %></th>
            <th><%= t(".returned_amount") %></th>
            <th><%= t(".returned_percent") %></th>
            <th><%= t(".users_reached_level", :level => 2) %></th>
            <th><%= t(".percentage") %></th>
            <th><%= t(".users_reached_level", :level => 5) %></th>
            <th><%= t(".percentage") %></th>
            <th><%= t(".users_reached_level", :level => 20) %></th>
            <th><%= t(".percentage") %></th>
          </tr>

          <% @result.each_with_index do |reference, index| %>
            <tr class="<%= 'separator' if index > 0 && @result[index - 1][:users_amount] > 50 && @result[index][:users_amount] <= 50 %>">
              <td><%= reference[:name].blank? ? "-" : reference[:name].humanize %></td>

              <td><%= reference[:users_amount] %></td>

              <td><%= reference[:returned_amount] %></td>

              <td><%= reference[:users_amount] > 0 ? (100 * reference[:returned_amount].to_f / reference[:users_amount]).round : 0 %></td>

              <td><%= reference[:level_2] %></td>

              <td><%= reference[:users_amount] > 0 ? (100 * reference[:level_2].to_f / reference[:users_amount]).round : 0 %></td>

              <td><%= reference[:level_5] %></td>

              <td><%= reference[:users_amount] > 0 ? (100 * reference[:level_5].to_f / reference[:users_amount]).round : 0 %></td>

              <td><%= reference[:level_20] %></td>

              <td><%= reference[:users_amount] > 0 ? (100 * reference[:level_20].to_f / reference[:users_amount]).round : 0 %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
</table>
