<%= admin_title(t(".title")) %>

<%= render("controls") %>

<div class="section">
  <h2><%= t(".total_users") %></h2>

  <p id="total_users">
    <strong><%= @all.total_users %></strong>

    <%= admin_statistics_amount_change(@day.total_users) %>
  </p>
</div>

<div class="section">
  <h2><%= t('.new_users') %></h2>

  <div class="jqPlot" id="new_users_chart"></div>
</div>

<% dom_ready do %>
  $.jqplot.config.enablePlugins = true;
  
  var all     = <%= @month.users_by_day.to_json.html_safe %>;
  var level5  = <%= @month.scoped(:joins => :character, :conditions => 'characters.level >= 5').users_by_day.to_json.html_safe %>;
  var level10 = <%= @month.scoped(:joins => :character, :conditions => 'characters.level >= 10').users_by_day.to_json.html_safe %>;

  $.jqplot('new_users_chart', [all, level5, level10], {
    title:'<%= t('.new_users_chart.title') %>',
    series: [
      { label: '<%= t('.new_users_chart.total') %>' }, 
      { label: '<%= t('.new_users_chart.level5') %>' },
      { label: '<%= t('.new_users_chart.level10') %>' },
    ],
    legend: {
      show: true, 
      location:'ne'
    },
    axes:{
        xaxis:{
            renderer:$.jqplot.DateAxisRenderer,
            rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
            tickOptions:{
                formatString:'%b %#d', 
                fontSize:'10pt', 
                fontFamily:'Tahoma'
            }
        },
        yaxis:{
          rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
          tickOptions:{formatString:'%d'}
        }
    },
    highlighter: {sizeAdjust: 7.5}
  });
<% end %>

<div class="section">
  <h2><%= t('.returning_users') %></h2>

  <div class="jqPlot" id="returning_users_chart"></div>
</div>

<% dom_ready do %>
  $.jqplot.config.enablePlugins = true;
  
  var all         = <%= @month.users_by_day.to_json.html_safe %>;
  var same_day    = <%= @month.scoped(:conditions => "last_visit_at < created_at + INTERVAL 1 DAY").users_by_day.to_json.html_safe %>;
  var next_day    = <%= @month.scoped(:conditions => "last_visit_at BETWEEN (created_at + INTERVAL 1 DAY) AND (created_at + INTERVAL 2 DAY)").users_by_day.to_json.html_safe %>;
  var three_days  = <%= @month.scoped(:conditions => "last_visit_at BETWEEN (created_at + INTERVAL 2 DAY) AND (created_at + INTERVAL 3 DAY)").users_by_day.to_json.html_safe %>;
  var more_days   = <%= @month.scoped(:conditions => "last_visit_at > created_at + INTERVAL 3 DAY").users_by_day.to_json.html_safe %>;

  $.jqplot('returning_users_chart', [all, same_day, next_day, three_days, more_days], {
    title:'<%= t('.returning_users_chart.title') %>',
    series: [
      { label: '<%= t('.returning_users_chart.total') %>' }, 
      { label: '<%= t('.returning_users_chart.same_day') %>' },
      { label: '<%= t('.returning_users_chart.next_day') %>' },
      { label: '<%= t('.returning_users_chart.three_days') %>' },
      { label: '<%= t('.returning_users_chart.more_days') %>' },
    ],
    legend: {
      show: true, 
      location:'ne'
    },
    axes:{
        xaxis:{
            renderer:$.jqplot.DateAxisRenderer,
            rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
            tickOptions:{
                formatString:'%b %#d', 
                fontSize:'10pt', 
                fontFamily:'Tahoma'
            }
        },
        yaxis:{
          rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
          tickOptions:{formatString:'%d'}
        }
    },
    highlighter: {sizeAdjust: 7.5}
  });
<% end %>

<div class="section">
  <h2><%= t(".references") %> <%= admin_documentation_link(:references) %></h2>

  <table class="data">
    <% admin_statistics_references(@all.references, @day.references) do |reference, total, day| %>
      <tr>
        <td><%= reference.present? ? reference : content_tag(:span, t(".no_reference"), :class => :empty) %></td>
        <td><%= total %></td>
        <td><%= "+%d" % day if day %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="section">
  <h2><%= t(".latest_users") %></h2>

  <table class="data" id="latest_users">
    <tr>
      <th><%= User.human_attribute_name("created_at") %></th>
      <th><%= User.human_attribute_name("facebook_id") %></th>
      <th><%= Character.human_name %></th>
      <th><%= User.human_attribute_name("reference") %></th>
      <th><%= User.human_attribute_name("referrer") %></th>
    </tr>
    <% User.latest.each do |user| %>
      <tr>
        <td><%= l(user.created_at, :format => :short) %></td>
        <td><%= link_to(user.facebook_id, fb_profile_url(user), :target => :_blank) %></td>
        <td><%= user.character ? link_to(user.character.character_type.name, character_url(user.character.key, :canvas => true)) : content_tag(:span, t(".no_character"), :class => :empty) %></td>
        <td><%= user.reference %></td>
        <td>
          <% if user.referrer.try(:character) %>
            <%= link_to(character_name(user.referrer.character), character_url(user.referrer.character.key, :canvas => true)) %>
            <%= link_to(t(".profile"), fb_profile_url(user.referrer),
                  :class  => :profile,
                  :target => :_blank
                ) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>