<%= admin_title(t('.title'))%>

<%= render("controls") %>

<div class="total_visits">
  <h2><%= t(@hour ? ".total_visits_hourly" : ".total_visits_by_date") %></h2>

  <p id="total_visits">
    <strong><%= @total %></strong>

    <%= @hour ? admin_requests_average_amount_per_minute(@total, @hour) : admin_requests_average_amount_per_hour(@total, @day) %>
  </p>
</div>

<table id="visits_data">
  <tr>
    <td>
      <table id="character_list" class="data">
        <tr>
          <th>#</th>
          <th><%= Character.human_attribute_name("id") %></th>
          <th><%= Character.human_attribute_name("name") %></th>
          <th><%= Character.human_attribute_name("level") %></th>
          <th><%= Character.human_attribute_name("created_at") %></th>
          <th><%= t(".count_requests") %></th>
          <th><%= t(@hour ? ".average_per_minute" : ".average_per_hour") %></th>
        </tr>
        <% @users.each_with_index do |user, index| %>
          <tr class="<%= :cheater if @requests[index] > Statistics::Visits::MAX_NUMBER_REQUEST_PER_DAY %>">
            <td><%= index + 1 %></td>
            <td><%= link_to(user.character.id, character_url(user.character.key, :canvas => true)) if user.try(:character) %></td>
            <td>
              <% if user.try(:character) %>
                <%= link_to(admin_character_name(user.character), admin_character_path(user.character)) %>
              <% else %>
                <span class="empty">
                  <%= user ? t(".no_character") : t(".no_user") %>
                </span>
              <% end %>

              <%= link_to(t(".profile"), fb_profile_url(user),
                      :class  => :profile,
                      :target => :_blank
                    ) if user %>
            </td>
            <td><%= user.character.level if user.try(:character) %></td>
            <td><%= l(user.character ? user.character.created_at : user.created_at, :format => :short) if user %></td>
            <td><%= @requests[index] %></td>
            <td><%= @hour ? Statistics::Visits.average_amount_hourly(@requests[index], @hour)  : Statistics::Visits.average_amount(@requests[index], @day) %></td>
          </tr>
        <% end %>
      </table>
    </td>

    <td class="dates">
      <table class="data">
        <tr>
          <th><%= t(".dates") %></th>
        </tr>
        <% (14).times do |day| %>
          <tr>
            <td>
              <% if !@hour && @day == Date.today - day %>
                <%= Date.today - day %>
              <% else %>
                <%= link_to(Date.today - day, :date => Date.today - day) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </td>

    <td class="hourly">
      <table class="data">
        <tr>
          <th><%= t(".hourly") %></th>
        </tr>
        <% (24).times do |hour| %>
          <tr>
            <td>
              <% if @hour && @hour.to_i == Time.now.hour - hour %>
                <%= Time.now.hour - hour %>
              <% elsif (h = Time.now.hour - hour) > 0 %>
                <%= link_to("#{h}", :date => Date.today, :hour => h) %>
              <% else %>
                <%= link_to("#{24 + Time.now.hour - hour}", :date => (Date.today - 1), :hour => (24 + Time.now.hour - hour)) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </td>
  </tr>
</table>