<div class="item_collection clearfix" id="<%= dom_id(collection) %>">
  <div class="info">
    <h2><%= collection.name %></h2>

    <div class="items clearfix">
      <% collection_items(collection) do |item, inventory| %>
        <div class="<%= [:item, dom_id(item), ('present' if inventory && collection.enough_of?(inventory))].join(" ") %>">
          <div class="name"><%= item.name %></div>

          <div class="image"><%= item_image(item, :small) %></div>
          <div class="amount">
            <% if collection.amount_of_item(item) > 1 %>
              <%= t(".required_amount",
                    :required => collection.amount_of_item(item),
                    :amount => inventory.try(:amount).to_i
                   ) %>
            <% else %>
              <%= inventory.try(:amount).to_i %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="payouts">
    <h3><%= ItemCollection.human_attribute_name("payouts") %></h3>

    <%= payout_list(collection, collection.payouts,
          :format   => :preview,
          :triggers => current_character.collections.next_payout_triggers(collection)
        ) %>

    <div class="controls">
      <% if Setting.b(:stream_dialog_enabled) and collection.exchangeable? %>
        <%= link_to_function(button(:request), stream_dialog(:collection_missing_items, collection),
              :class => 'publish button'
            ) unless collection.missing_items(current_character).empty? %>
      <% end %>

      <%= link_to(button(:collect), item_collection_path(collection),
            :remote => true,
            :method => :put,
            :"data-click-once" => true,
            :class => "collect button"
          ) %>
    </div>
  </div>
</div>