<ul class="character_attributes">
  <li class="attack">
    <b><%= fb_i("Attack") %></b>
    <div class="value">
      <%= "%d (%d+%d)" % [
            character.attack_points,
            character.attack,
            character.inventory_effects[:attack].value
          ] %>
    </div>
  </li>
  <li class="defence">
    <b><%= fb_i("Defence") %></b>
    <div class="value">
      <%= "%d (%d+%d)" % [
            character.defence_points,
            character.defence,
            character.inventory_effects[:defence].value
          ] %>
    </div>
  </li>
  <% if character == current_character %>
  <li class="health">
    <b><%= fb_i("Health") %></b>
    <div class="value"><%= "%d/%d" % [character.hp, character.health] %></div>
  </li>
  <li class="energy">
    <b><%= fb_i("Energy") %></b>
    <div class="value"><%= "%d/%d" % [character.ep, character.energy] %></div>
  </li>
  <li class="basic_money">
    <b><%= fb_i("Money") %></b>
    <div class="value"><%= character.basic_money %></div>
  </li>
  <li class="vip_money">
    <b><%= fb_i("Gems") %></b>
    <div class="value"><%= character.vip_money %></div>
  </li>
  <% end %>
</ul>