<table class="character_attributes" cellspacing="0" cellpadding="0">
  <% if character == current_character %>
    <tr class="attack">
      <th><%= Character.human_attribute_name("attack") %></th>
      <td class="value">
        <%= character.attack %>

        <span class="bonus">
          <%= t(".bonus",
                :amount => span_tag(character.inventory.effects[:attack])
              ).html_safe %>
        </span>
      </td>
    </tr>
    <tr class="defence">
      <th><%= Character.human_attribute_name("defence") %></th>
      <td class="value">
        <%= character.defence %>

        <span class="bonus">
          <%= t(".bonus",
                :amount => span_tag(character.inventory.effects[:defence])
              ).html_safe %>
        </span>
      </td>
    </tr>
    <tr class="health">
      <th><%= Character.human_attribute_name("health") %></th>
      <td class="value">
        <%= "%d/%d" % [character.hp, character.health_points] %>
      </td>
    </tr>
    <tr class="energy">
      <th><%= Character.human_attribute_name("energy") %></th>
      <td class="value">
        <%= "%d/%d" % [character.ep, character.energy_points] %>
      </td>
    </tr>
    <tr class="stamina">
      <th><%= Character.human_attribute_name("stamina") %></th>
      <td class="value">
        <%= "%d/%d" % [character.sp, character.stamina_points] %>
      </td>
    </tr>
    <tr class="basic_money">
      <th><%= Character.human_attribute_name("basic_money") %></th>
      <td class="value">
        <%= number_to_currency(character.basic_money) %>
      </td>
    </tr>
    <tr class="vip_money">
      <th><%= Character.human_attribute_name("vip_money") %></th>
      <td class="value">
        <%= number_to_currency(character.vip_money) %>
      </td>
    </tr>
  <% else %>
    <tr class="attack">
      <th><%= Character.human_attribute_name("attack") %></th>
      <td class="value"><%= character.attack_points %></td>
    </tr>
    <tr class="defence">
      <th><%= Character.human_attribute_name("defence") %></th>
      <td class="value"><%= character.defence_points %></td>
    </tr>
  <% end %>
</table>
