<table class="character_attributes">
  <tr class="attack">
    <th><%= fb_i("Attack:") %></th>
    <td class="value">
      <%= "%d (%d+%d+%d)" % [
            character.attack_points,
            character.attack,
            character.inventory_effects[:attack].value,
            character.relations.size
          ] %>
    </td>
  </tr>
  <tr class="defence">
    <th><%= fb_i("Defence:") %></th>
    <td class="value">
      <%= "%d (%d+%d+%d)" % [
            character.defence_points,
            character.defence,
            character.inventory_effects[:defence].value,
            character.relations.size
          ] %>
    </td>
  </tr>
  <% if character == current_character %>
  <tr class="health">
    <th><%= fb_i("Health:") %></th>
    <td class="value">
      <%= "%d/%d" % [character.hp, character.health] %>
    </td>
  </tr>
  <tr class="energy">
    <th><%= fb_i("Energy:") %></th>
    <td class="value">
      <%= "%d/%d" % [character.ep, character.energy] %>
    </td>
  </tr>
  <tr class="basic_money">
    <th><%= fb_i("Money:") %></th>
    <td class="value">
      <%= character.basic_money %>
    </td>
  </tr>
  <tr class="vip_money">
    <th><%= fb_i("Gems:") %></th>
    <td class="value">
      <%= character.vip_money %>
    </td>
  </tr>
  <% end %>
</table>