<% if form.object.new_record? or form.object.character_type.nil? %>
  <%= form.hidden_field :character_type_id %>

  <% if character_types.size > 1 %>
    <% types = capture do %>
      <div id="character_types" class="clearfix">
        <% character_types.each do |type| %>
          <% description = capture do %>
            <div class="description">
              <h3><%= type.name %></h3>

              <p><%= type.description %></p>
            </div>
          <% end %>

          <div
            class="character_type"
            id="<%= dom_id(type) %>"
            data-value="<%= type.id %>"
            data-tooltip-content="<%= escape_once(description).html_safe %>"
          >
            <span class="name"><%= type.name %></span>
            <%= image_tag(type.pictures.url(:small)) if type.pictures? %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= form.field :character_type, types, :label => t(".labels.character_type") %>

    <% if type = form.object.character_type || character_types.first %>
      <% dom_ready do %>
        CharacterForm.set_character_type('#<%= dom_id(type) %>');
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if form.object.new_record? or @allow_name %>
  <%= form.text_field :name, :label => t(".labels.name") %>
<% end %>
