<h3><%= t('.title') %></h3>

<table id="invitation_list" cellspacing="0" cellpadding="0">
  <% invitations.each do |invitation| %>
    <tr>
      <td class="picture"><%= character_picture_link(invitation.sender) %></td>
      <td class="name"><%= character_name_link(invitation.sender) %></td>
      <td class="level">
        <span class="label"><%= Character.human_attribute_name("level") %></span>
        <span class="value"><%= invitation.sender.character.level %></span>
      </td>
      <% content_tag(:td, :id => dom_id(invitation, :controls), :class => :controls) do %>
        <%= link_to_remote(button(:accept),
              :url    => accept_invitation_url(invitation, :canvas => false),
              :update => dom_id(invitation, :controls),
              :html   => {:class => "accept button"}
            ) %>
        <%= link_to_remote(button(:ignore),
              :url    => ignore_invitation_url(invitation, :canvas => false),
              :update => dom_id(invitation, :controls),
              :html   => {:class => "ignore button"}
            ) %>
      <% end %>
    </tr>
  <% end %>
</table>
