<h3><%= fb_i(t('.title')) %></h3>

<table cellspacing="0" id="invitation_list">
  <% invitations.each do |invitation| %>
    <tr>
      <td class="picture"><%= character_picture_link(invitation.sender) %></td>
      <td class="name"><%= character_name_link(invitation.sender) %></td>
      <td class="level">
        <%= fb_i(Character.human_attribute_name("level")) %>
        <%= invitation.sender.character.level %>
      </td>
      <% content_tag(:td, :id => dom_id(invitation, :controls), :class => :controls) do %>
        <%= link_to_remote(button(:accept),
              :url    => accept_invitation_url(invitation, :canvas => false),
              :update => dom_id(invitation, :controls),
              :html   => {:class => "accept button"}
            ) %>
        <%= link_to_remote(button(:ignore),
              :url    => ignore_invitation_url(invitation, :canvas => false),
              :update => dom_id(invitation, :controls),
              :html   => {:class => "ignore button"}
            ) %>
      <% end %>
    </tr>
  <% end %>
</table>
