<div id="level_up">
  <div class="buttons">
    <%= link_to(fb_i(t(".buttons.upgrade")), upgrade_character_url(current_character), :class => "upgrade button") %>
  </div>

  <h2><%= fb_i(t(".title")) %></h2>

  <div class="text">
    <% fb_i do %>
      <%= t(".text") %>
    
      <%= fb_it(:upgrade, link_to(fb_i(t(".upgrade_link")), upgrade_character_url(current_character)))  %>
    <% end %>
  </div>
</div>

<% content_for :script do %>
  Character.onNewLevel();

  <%= show_feed_dialog(Publisher::Character, :level_up,
        :template_data => {
          :pronoun => fb_pronoun(current_user, :useyou => false, :capitalize => true),
          :level   => current_character.level
        }
      ) %>
<% end %>