<table id="character">
  <tr>
    <td>Money</td><td id="character_money"><%= current_character.money %></td>
    <td>Experience</td><td id="character_experience"><%= current_character.experience %></td>
    <td>Level</td><td id="character_level"><%= current_character.level %></td>
    <td>Health</td><td id="character_health"><%= "%d/%d" % [current_character.hp, current_character.health] %></td>
    <td>Energy</td><td id="character_energy"><%= "%d/%d" % [current_character.ep, current_character.energy] %></td>
    <td>
      <%= link_to("Profile", character_path(current_character)) %>
      
      <span id="character_points" <% if current_character.points == 0 %>style="display:none;"<% end %>>
        (<%= link_to("+%d" % current_character.points, upgrade_character_path(current_character), :id => :character_points_link) %>)
      </span>
    </td>
  </tr>
</table>