<table class="character_statistics">
  <tr class="fights_won">
    <th><%= fb_i("Fights Won:") %></th>
    <td class="value">
      <%= character.fights_won %>
    </td>
  </tr>
  <tr class="fights_lost">
    <th><%= fb_i("Fights Lost:") %></th>
    <td class="value">
      <%= character.fights_lost %>
    </td>
  </tr>
  <tr class="missions_succeeded">
    <th><%= fb_i("Missions Succeded:") %></th>
    <td class="value">
      <%= character.missions_succeeded %>
    </td>
  </tr>
  <tr class="missions_completed">
    <th><%= fb_i("Missions Completed:") %></th>
    <td class="value">
      <%= character.missions_completed %>
    </td>
  </tr>
  <tr class="alliance_size">
    <th><%= fb_i("Alliance Size:") %></th>
    <td class="value">
      <%= character.relations_count %>
    </td>
  </tr>
</table>