<table id="upgrade_list" cellspacing="0">
  <tr class="points">
    <td class="name"><%= fb_i(Character.human_attribute_name("points")) %></td>
    <td class="value" id="upgrade_points"><%= current_character.points %></td>
  </tr>
  <% Character::UPGRADABLE_ATTRIBUTES.each do |attribute| %>
    <tr>
      <td class="name"><%= fb_i(Character.human_attribute_name(attribute.to_s)) %></td>
      <td class="value" id="upgrade_<%= attribute %>"><%= current_character.send(attribute) %></td>
      <td class="controls">
        <%= link_to_remote(Configuration["character_#{attribute}_upgrade"],
              :url    => upgrade_character_url(current_character, :attribute => attribute, :canvas => false),
              :update => :result,
              :html   => {:class => :button}
            ) %>
      </td>
    </tr>
  <% end %>
</table>