<% dialog :hospital do %>
  <h2><%= t(".title") %></h2>

  <% if current_character.hospital_price < 0 %>
  
    <p><%= t(".messages.full_health") %></p>
    
  <% else %>
  
    <% if current_character.hospital_recently_used? %>
      <p><%= t(".recently_used") %></p>
    <% else %>
      <% if current_character.hospital_enough_money? %>
        <p><%= t(".note") %></p>
      <% else %>
        <p><%= t(".not_enough_money") %></p>
      <% end %>
    <% end %>
  
    <p>
      <strong><%= t(".price") %></strong>

      <% if current_character.hospital_may_heal? %>
        <%= span_tag(number_to_currency(current_character.hospital_price), :basic_money).html_safe %>
      <% else %>
        <%= span_tag(Setting.i(:premium_health_price), :vip_money).html_safe %>
      <% end %>
    </p>

    <div class="buttons clearfix">
      <% if current_character.hospital_may_heal? %>
        <%= link_to(button(:heal), hospital_heal_character_path(:current),
              :remote => true,
              :method => :post,
              :"data-click-once" => true,
              :class => "button heal"
            ) %>
      <% else %>
        <%= link_to(button(:refill_health), premium_path(:type => :refill_health),
              :remote => true,
              :method => :put,
              :onclick => "$(document).trigger('close.dialog')",
              :class => 'button premium'
            ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
