<% dialog :id => :hospital do %>
  <h2><%= t(".title") %></h2>

  <% if @result.nil? %>
    <p><%= t(".note") %></p>

    <% if current_character.hospital_price > 0 %>
      <p>
        <strong><%= t(".price") %></strong>

        <%= basic_money_tag(number_to_currency(current_character.hospital_price)) %>
      </p>
    <% end %>

    <% if current_character.full_hp? %>
      <p><%= t(".messages.full_health") %></p>
    <% else %>
      <div class="buttons">
        <%= link_to_remote(button(:heal),
              :url    => hospital_character_path(:current),
              :update => :ajax,
              :html   => {
                :"data-click-once" => true,
                :class => "button heal"
              }
            ) %>
      </div>
    <% end %>
  <% elsif @result %>
    <p><%= t(".messages.success") %></p>
  <% else %>
    <div class="unsatisfied_requirements">
      <%= render("requirements/not_satisfied/basic_money",
            :requirement  => Requirements::BasicMoney.new(:value => current_character.hospital_price)
          ) %>
    </div>
  <% end %>
<% end %>
