<div id="dashboard">
  <div class="profile">
    <%= link_to(fb_i("Profile Overview"), character_path(current_character), :class => :title) %>

    <ul>
      <li>
        <b><%= fb_i("Attack") %></b>
        <div class="attack"><%= current_character.attack %></div>
      </li>
      <li>
        <b><%= fb_i("Defence") %></b>
        <div class="defence"><%= current_character.defence %></div>
      </li>
      <li>
        <b><%= fb_i("Health") %></b>
        <div class="health"><%= "%d/%d" % [current_character.hp, current_character.health] %></div>
      </li>
      <li>
        <b><%= fb_i("Energy") %></b>
        <div class="energy"><%= "%d/%d" % [current_character.ep, current_character.energy] %></div>
      </li>
    </ul>
  </div>

  <div class="latest_fights">
    <h3><%= fb_i("Latest Fights") %></h3>

    <% if @latest_fights.any? %>
      <% @latest_fights.each do |fight| %>
        <% div_for(fight) do %>
          <div class="attacker"><%= fb_profile_pic(fight.attacker.user) %></div>
          <div class="victim"><%= fb_profile_pic(fight.victim.user) %></div>
          <div class="description"><%= fight_description(fight) %></div>
        <% end %>
      <% end %>
      </table>
    <% end %>
  </div>
</div>ы