<table id="dashboard">
  <tr>
    <td class="profile">
      <h3><%= link_to(fb_i(t(".overview.title")), character_path(current_character)) %></h3>

      <%= render :partial => "characters/attributes", :locals => {:character => current_character} %>

      <%= render :partial => "layouts/fan_specials" if current_user.show_fan_specials? %>
      <%= render :partial => "layouts/bookmark" if current_user.show_bookmark? %>
    </td>

    <td class="wall">
      <%= render :partial => "layouts/next_steps" if current_user.show_next_steps? %>

      <% if @alliance_invitations.any? %>
        <%= render(
              :partial => "invitations",
              :locals => {:invitations => @alliance_invitations}
            ) %>
      <% end %>

      <% if @latest_fights.any? %>
        <h3><%= fb_i(t(".fights.title")) %></h3>

        <%= render "fights/latest", :fights => @latest_fights %>
      <% end %>
    </td>
  </tr>
</table>