<table id="dashboard" cellspacing="0" cellpadding="0">
  <tr>
    <td class="profile">
      <h3><%= link_to(t(".overview.title"), character_path(current_character.key)) %></h3>

      <%= render "characters/attributes", :character => current_character %>

      <%= render "layouts/fan_specials" if current_user.show_fan_specials? %>
      <%= render "layouts/bookmark" if current_user.show_bookmark? %>
    </td>

    <td class="wall">
      <%!#= render("layouts/next_steps") if current_user.show_next_steps? %>
      <div class="block"></div><!-- Removing next steps block breaks layout, this empty block repairs it -->

      <%= render("invitations/block", :invitations => @alliance_invitations) if @alliance_invitations.any? %>

      <%= render("items/specials", :items => @special_items) if @special_items.any? %>

      <% if @latest_fights.any? %>
        <h3><%= t(".fights.title") %></h3>

        <%= render "fights/latest", :fights => @latest_fights %>
      <% end %>
    </td>
  </tr>
</table>
