<table id="dashboard">
  <tr>
    <td class="profile">
      <%= link_to(fb_i(t(".overview.title")), character_path(current_character), :class => :title) %>

      <%= render :partial => "characters/attributes", :locals => {:character => current_character} %>
    </td>

    <td class="wall">
      <%= render :partial => "layouts/next_steps" if current_user.show_next_steps? %>

      <% if @alliance_invitations.any? %>
        <%= render(
              :partial => "invitations",
              :locals => {:invitations => @alliance_invitations}
            ) %>
      <% end %>

      <% if @latest_fights.any? %>
        <h3><%= fb_i(t(".fights.title")) %></h3>

        <table cellspacing="0" id="fight_list">
        <% @latest_fights.each do |fight| %>
          <% content_tag_for(:tr, fight) do %>
            <td class="attacker"><%= character_picture_link(fight.attacker) %></td>
            <td class="description">
              <div class="time"><%= fb_time(fight.created_at) %>:</div>
              <div><%= fight_description(fight) %></div>
            </td>
            <td class="victim"><%= character_picture_link(fight.victim) %></td>
          <% end %>
        <% end %>
        </table>
      <% end %>
    </td>
  </tr>
</table>