<table id="dashboard">
  <tr>
    <td class="profile">
      <%= link_to(fb_i("Profile Overview"), character_path(current_character), :class => :title) %>

      <%= render :partial => "characters/attributes", :locals => {:character => current_character} %>
    </td>

    <td class="fights">
      <h3><%= fb_i("Latest Fights") %></h3>

      <% if @latest_fights.any? %>
        <table cellspacing="0">
        <% @latest_fights.each do |fight| %>
          <% content_tag_for(:tr, fight) do %>
            <td class="attacker"><%= link_to(fb_profile_pic(fight.attacker.user, :linked => false), fight.attacker) %></td>
            <td class="description">
              <div class="time">
                <%= distance_of_time_in_words_to_now(fight.created_at).capitalize %> ago:
              </div>

              <div><%= fight_description(fight) %></div>
            </td>
            <td class="victim"><%= link_to(fb_profile_pic(fight.victim.user, :linked => false), fight.victim) %></td>
          <% end %>
        <% end %>
        </table>
      <% end %>
    </td>
  </tr>
</table>