<%= title(t(".title", :app => t("app_name"))) %>

<% form_for @character do |form| %>
  <%= hidden_field_tag :reference_code, params[:reference_code] %>
  <%= hidden_field_tag :reference, reference_key %>
  <%= hidden_field_tag(:request_ids, params[:request_ids]) %>

  <%= form.fields %>

  <%= form.submit %>

  <div class="note">
    <p>
      <%= t(".note",
            :submit => t(".submit"),
            :application => t("app_name")
          ).html_safe %>
    </p>

    <p>
      <%= t(".already_registered.text",
            :skip_form => link_to(t(".already_registered.skip_form"), root_url, :class => :skip)
          ).html_safe %>
    </p>
  </div>
<% end %>

<% dom_ready do %>
  CharacterForm.setup('form.new_character');
<% end %>
