<%= title(t(".title", :app => t("app_name"))) %>

<% form_for @character do |form| %>
  <%= hidden_field_tag :reference, params[:reference] %>

  <%= form.fields %>

  <%= form.submit %>

  <div class="note">
    <p>
      <%= raw t(".note",
            :submit => t(".submit"),
            :application => t("app_name")
          ) %>
    </p>

    <p>
      <%= raw t(".already_registered.text",
            :skip_form => link_to(t(".already_registered.skip_form"), root_url)
          ) %>
    </p>
  </div>
<% end %>

<% dom_ready do %>
  CharacterForm.setup('form.new_character');
<% end %>