<%= title(fb_i(t(".title"))) %>

<div id="rating_position">
  <b><%= t(".rating_position.label") %></b>

  <span class="value"><%= current_character.rating_position %></span>
</div>

<table id="rating" cellspacing="0">
  <tr>
    <th>#</th>
    <th colspan="3"><%= fb_i(Character.human_name) %></th>
    <th><%= fb_i(Character.human_attribute_name("rating")) %></th>
    <th><%= fb_i(Character.human_attribute_name("fights_won")) %></th>
    <th><%= fb_i(Character.human_attribute_name("experience")) %></th>
    <th><%= fb_i(Character.human_attribute_name("missions_completed")) %></th>
  </tr>
  <% @characters.each_with_index do |character, index| %>
    <% content_tag(:tr, :class => ("current" if character == current_character)) do %>
      <td class="position"><%= index + 1 %></td>
      <td class="picture"><%= character_picture_link(character) %></td>
      <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
      <td class="level"><%= Character.human_attribute_name("level") %> <%= character.level %></td>
      <td class="rating"><%= character.rating %></td>
      <td class="fights_won"><%= character.fights_won %></td>
      <td class="experience"><%= character.experience %></td>
      <td class="missions_completed"><%= character.missions_completed %></td>
    <% end %>
  <% end %>
</table>