<%= title(fb_i(t(".title"))) %>

<div id="rating_position">
  <b><%= t(".rating_position.label") %></b>

  <span class="value"><%= current_character.rating_position %></span>
</div>

<table id="rating" cellspacing="0">
  <tr>
    <th>#</th>
    <th colspan="3"><%= fb_i(t(".columns.user")) %></th>
    <th><%= fb_i(t(".columns.rating")) %></th>
  </tr>
  <% @characters.each_with_index do |character, index| %>
    <% content_tag(:tr, :class => ("current" if character == current_character)) do %>
      <td class="position"><%= index + 1 %></td>
      <td class="picture"><%= character_picture_link(character) %></td>
      <td class="name"><%= character_name_link(character) %></td>
      <td class="level"><%= Character.human_attribute_name("level") %> <%= character.level %></td>
      <td class="rating"><%= character.rating %></td>
    <% end %>
  <% end %>
</table>