<%= title(fb_i("Your Profile")) %>

<table>
  <tr><td><%= fb_i("Attack") %></td><td><%= @character.attack %></td></tr>
  <tr><td><%= fb_i("Defence") %></td><td><%= @character.defence %></td></tr>
  <tr><td><%= fb_i("Health") %></td><td><%= "%d/%d" % [@character.hp, @character.health] %></td></tr>
  <tr><td><%= fb_i("Energy") %></td><td><%= "%d/%d" % [@character.ep, @character.energy] %></td></tr>
</table>


<% if weapon = @character.inventories.weapons.first %>
  <b><%= fb_i("Weapon") %></b>

  <div>
    <%= weapon.item.name %>
  </div>
<% end %>

<% if armor = @character.inventories.armors.first %>
  <b><%= fb_i("Armor") %></b>

  <div>
    <%= armor.item.name %>
  </div>
<% end %>