<% if @character.user.banned? %>
  <%= title(t(".banned", :user => character_name(@character))) %>
<% else %>
<% if @character == current_character %>
  <%= title(t(".title_my", :user => character_name(@character))) %>
<% else %>
  <%= title(
        t(".title",
          :user   => character_name(@character),
          :level  => @character.level
        )
      ) %>
<% end %>

<div id="character">
  <table class="profile_controls">
    <tr>
      <td>
        <div class="controls clearfix">
          <% if @character == current_character %>
            <%= link_to(button(:upgrade), upgrade_character_path(@character),
                  :remote => true,
                  :class => "upgrade button"
                ) if current_character.points > 0 %>
            
            <%= link_to(button(:achievements), achievements_path, :class => 'achievements button') if Setting.b(:achievements_enabled) %>
          <% elsif @secured %>
            <%= link_to(button(:attack), fights_path(:victim_id => @character),
                  :remote => true,
                  :method => :post,
                  :class => "attack button"
                ) if Fight.can_attack?(current_character, @character) %>
      
            <%= link_to(button(:hitlist), new_character_hit_listing_path(@character),
                  :remote => true,
                  :class => "hitlist button"
                ) if current_character.can_hitlist?(@character) %>
          <% end %>
        </div>
      </td>
      <% if @character != current_character %>
        <td class="complaints">
          <div class="controls">
            <%= link_to(t(".buttons.report"), new_complaint_path(:offender_id => @character.id),
                  :remote => true
              ) %> 
          </div>
        </td>
      <% end %>  
      
    </tr>
  </table>       

  <table class="info" cellspacing="0" cellpadding="0">
    <tr>
      <td class="picture"><%= character_picture(@character, :size => :large) %></td>
      <td>
        <%= render("characters/attributes", :character => @character) %>
      </td>
      <td>
        <%= render("characters/statistics", :character => @character) %>
      </td>
    </tr>
  </table>
  
  <% if Setting.b(:achievements_enabled) %>
    <% collection(@character.achievements, :empty_set => false) do |achievements| %>
      <div class="achievements clearfix">
        <h2><%= t('.achievements') %></h2>
        
        <% achievements.each do |achievement| %>
          <div class="achievement">
            <div class="name"><%= achievement.name %></div>
            
            <div class="image"><%= image_tag(achievement.pictures.url(:small)) if achievement.pictures? %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% ItemGroup.find_each do |group| %>
    <% collection(@character.inventories.by_item_group(group), :empty_set => false) do |items| %>
      <div class="item_group">
        <h2><%= group.name %></h2>

        <div class="items clearfix">
          <% items.each do |inventory| %>
            <div class="item">
              <%= item_image(inventory.item, :small, :tooltip => true, :tooltip_on_click => true) %>

              <% if @character == current_character %>
                <div class="amount">
                  <%= t(".items.amount",
                        :name   => inventory.name,
                        :amount => inventory.amount
                      ).html_safe %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% collection(@character.properties, :empty_set => false) do |properties| %>
    <div class="properties">
      <h2><%= t(".properties.title") %></h2>

      <div class="items clearfix">
        <% properties.each do |property| %>
          <div class="item">
            <%= property_image(property, :small) %>


            <div class="name">
              <% if @character == current_character %>
                <%= t(".properties.name",
                      :name  => property.name,
                      :level => property.level
                    ).html_safe %>
              <% else %>
                <%= property.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @wall_enabled %>
    <div id="wall">
      <h2>
        <%= t(".wall.title",
              :user => character_name(@character, :possessive => true, :capitalize => true)
            ).html_safe %>
      </h2>

      <%= render('wall_posts/form', :character => @character, :wall_post => WallPost.new) %>
      <%= render('wall_posts/list', :wall_posts => @wall_posts) %>
    </div>
  <% end %>
</div>

<% end %>
