<%= title(fb_i("#{fb_name(@character.user, :possessive => true, :capitalize => true)} Profile")) %>

<div id="character">
  <div class="controls">
    <%= link_to_remote(fb_i("Attack!"),
                  :url => fights_url(:victim_id => @character, :canvas => false),
                  :update => :result,
                  :html => {:class => :attack}
                ) if current_character.can_attack?(@character) %>
  </div>

  <table width="100%">
    <tr>
      <td><%= render :partial => "characters/attributes", :locals => {:character => @character} %></td>
      <td><%= render :partial => "characters/statistics", :locals => {:character => @character} %></td>
      <td id="rank_list">
        <% if @character.ranks.completed.any? %>
          <% @character.ranks.completed.each do |rank| %>
            <%= content_tag(:div, rank.mission.title, :class => :rank) %>
          <% end %>
        <% else %>
          <%= fb_i("#{fb_name(@character.user, :firstnameonly => true, :capitalize => true, :linked => false)} don't have any titles yet") %>
        <% end %>
      </td>
    </tr>
  </table>

  <hr />

  <div class="placements">
    <%= render :partial => "inventories/placements", :locals => {:character => @character} %>
  </div>
</div>