<h1 class="title">
  <% fb_i do %>
    {character_name} Profile
    <%= fb_it(:character_name, character_name(@character, :possessive => true, :capitalize => true, :useyou => false)) %>
  <% end %>
</h1>

<table>
  <tr><td><%= fb_i("Attack") %></td><td><%= @character.attack %></td></tr>
  <tr><td><%= fb_i("Defence") %></td><td><%= @character.defence %></td></tr>
  <tr><td><%= fb_i("Health") %></td><td><%= "%d/%d" % [@character.hp, @character.health] %></td></tr>
  <tr><td><%= fb_i("Energy") %></td><td><%= "%d/%d" % [@character.ep, @character.energy] %></td></tr>
</table>