<%= title(fb_i(t(".title", :user => fb_name(@character.user, :possessive => true, :capitalize => true)))) %>

<div id="character">
  <div class="controls">
    <% if @character == current_character %>
      <%= link_to(button(:upgrade), upgrade_character_path(@character),
            :class => "upgrade button"
          ) if current_character.points > 0 %>
    <% else %>
      <%= link_to_remote(button(:attack),
            :url => fights_url(:victim_id => @character, :canvas => false),
            :update => :result,
            :html => {:class => "attack button"}
          ) if current_character.can_attack?(@character) %>
    <% end %>
  </div>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td><%= render :partial => "characters/attributes", :locals => {:character => @character} %></td>
      <td><%= render :partial => "characters/statistics", :locals => {:character => @character} %></td>
      <td id="rank_list">
        <% if @character.titles.any? %>
          <% @character.titles.each do |title| %>
            <%= content_tag(:div, title, :class => :rank) %>
          <% end %>
        <% else %>
          <%= fb_i(t(".titles.empty_set", :user => character_name(@character, :firstnameonly => true, :capitalize => true, :useyou => true))) %>
        <% end %>
      </td>
    </tr>
  </table>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <% ItemGroup.find_each do |group| %>
          <div class="item_group">
            <h2><%= fb_i(group.name) %></h2>

            <% collection(@character.inventories.by_item_group(group),
                :empty_set => fb_i(t(".items.empty_set", :group => group.name.mb_chars.downcase))
               ) do |items| %>
              <div class="items clearfix">
                <% items.each do |inventory| %>
                  <div class="item">
                    <%= item_image(inventory, :small) %>

                    <% if @character == current_character %>
                      <div class="amount">
                        <%= raw t(".items.amount",
                              :name   => fb_i(inventory.name),
                              :amount => inventory.amount
                            ) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="properties">
          <h2><%= fb_i(t(".properties.title")) %></h2>

          <% collection(@character.properties, :empty_set => fb_i(t(".properties.empty_set"))) do |properties| %>
            <div class="items clearfix">
              <% properties.each do |property| %>
                <div class="item">
                  <%= property_image(property, :small) %>

                  <% if @character == current_character %>
                    <div class="amount">
                      <%= raw t(".properties.amount",
                            :name   => fb_i(property.name),
                            :amount => property.amount
                          ) %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </td>
      <% if Configuration[:wall_enabled] %>
      <td class="wall">
        <h2>
          <% fb_i t(".wall.title") do %>
            <%= fb_it(:user, character_name(@character, :possessive => true, :capitalize => true)) %>
          <% end %>
        </h2>
        
        <%= character_wall(@character) %>
      </td>
      <% end %>
    </tr>
  </table>
</div>