<%= title(fb_i("#{fb_name(@character.user, :possessive => true, :capitalize => true)} Profile")) %>

<div id="character">
  <%= render :partial => "characters/attributes", :locals => {:character => @character} %>

  <% if @character.ranks.completed.any? %>
    <div class="ranks">
      <h2><%= fb_i("Titles") %></h2>
      <% @character.ranks.completed.each do |rank| %>
        <%= content_tag(:div, rank.mission.title, :class => :rank) %>
      <% end %>
    </div>
  <% end %>

  <div class="placements">
    <%= render :partial => "inventories/placements", :locals => {:character => @character} %>
  </div>
</div>