<%= title(fb_i("{username} Profile" + fb_it(:username, fb_name(@character.user, :possessive => true)))) %>

<div id="character">
  <table class="attributes">
    <tr><td><%= fb_i("Attack") %></td><td class="attack"><%= @character.attack_points %></td></tr>
    <tr><td><%= fb_i("Defence") %></td><td class="defence"><%= @character.defence_points %></td></tr>
  </table>

  <% if @character.ranks.completed.any? %>
    <div class="ranks">
      <h2><%= fb_i("Titles") %></h2>
      <% @character.ranks.completed.each do |rank| %>
        <%= content_tag(:div, rank.mission.winner_title, :class => :rank) %>
      <% end %>
    </div>
  <% end %>

  <div class="placements">
    <%= render :partial => "inventories/placements", :locals => {:character => @character} %>
  </div>
</div>