<%= title("My Profile") %>

<table>
  <tr><td>Attack</td><td><%= @character.attack %></td></tr>
  <tr><td>Defence</td><td><%= @character.defence %></td></tr>
  <tr><td>Health</td><td><%= "%d/%d" % [@character.hp, @character.health] %></td></tr>
  <tr><td>Energy</td><td><%= "%d/%d" % [@character.ep, @character.energy] %></td></tr>
</table>