<%= title(fb_i("Upgrade")) %>

<div id="upgrade_result"></div>

<table>
  <% %w{attack defence health energy}.each do |attribute| %>
    <tr>
      <td><%= fb_i(attribute.capitalize) %></td>
      <td id="upgrade_<%= attribute %>"><%= current_character.send(attribute) %></td>
      <td>
        <%= link_to_remote("+",
              :url    => upgrade_character_url(current_character, :attribute => attribute, :canvas => false),
              :update => :upgrade_result
            ) %>
      </td>
    </tr>
  <% end %>
</table>