<% result = capture do %>
  <% if @success %>
    <% Character::UPGRADABLE_ATTRIBUTES.each do |attribute| %>
      <% if params[attribute.to_s].to_i > 0 %>
        <p>
          <%= t(".messages.success",
                :attribute  => Character.human_attribute_name(attribute),
                :number     => content_tag(:span, current_character.attributes[attribute.to_s], :class => :value)
              ).html_safe %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <p>
      <%= t(".messages.not_enough_points") %>
    </p>
  <% end %>
<% end %>


<% dom_ready do %>
  $('#upgrade_result').html(<%= result.to_json.html_safe %>);
  $('#upgrade_result').show();

  <% Character::UPGRADABLE_ATTRIBUTES.each do |attribute| %>
    $('#upgrade_list .<%= attribute.to_s %> .value').text('<%= current_character.attributes[attribute.to_s] %>');
    $('#upgrade_list .attribute_item .points').text('');
  <% end %>
  
  <% if current_character.points == 0 %>
    $(document).trigger('character.upgrade_complete');
    $(".upgrade").hide();
  <% else %>
    $('#upgrade_points').text('<%= current_character.points %>');
  <% end %>

  $(document).trigger('remote_content.received');
  
  <%= ga_track_event('Character', 'Upgrade') %>
  
  $.upgradeSliders(<%= current_character.points %>);
<% end %>
