<div id="upgrade_result">
  <% if @success %>
    <p>
    <% fb_i do %>
      <%= t(".messages.success", :attribute => Character.human_attribute_name(params[:attribute])) %>
      
      <%= fb_it(:number, content_tag(:b, current_character.attributes[params[:attribute]])) %>
    <% end %>
    </p>
  <% else %>
    <p>
      <%= fb_i(t(".messages.not_enough_points", :attribute => Character.human_attribute_name(params[:attribute]))) %>
    </p>
  <% end %>

  <% content_for :script do %>
    $('upgrade_<%= params[:attribute] %>').setTextValue('<%= current_character.attributes[params[:attribute]] %>');

    <% if current_character.points == 0 %>
      $('upgrade_list').hide();
      $('upgrade_finished').show();
    <% else %>
      $('upgrade_points').setTextValue('<%= current_character.points %>');
    <% end %>
  <% end %>
</div>

<% content_for :script do %>
  $('result').show();
<% end %>