<div id="upgrade_result">
  <% if @success %>
    <p>
      <%= raw t(".messages.success",
            :attribute  => Character.human_attribute_name(params[:attribute]),
            :number     => content_tag(:b, current_character.attributes[params[:attribute]])
          ) %>
    </p>
  <% else %>
    <p>
      <%= t(".messages.not_enough_points", :attribute => Character.human_attribute_name(params[:attribute])) %>
    </p>
  <% end %>
</div>

<% dom_ready do %>
  $('#upgrade_<%= params[:attribute] %>').text('<%= current_character.attributes[params[:attribute]] %>');

  <% if current_character.points == 0 %>
    $(document).trigger('character.upgrade_complete');
  <% else %>
    $('#upgrade_points').text('<%= current_character.points %>');
  <% end %>

  $(document).trigger('result.received')
<% end %>