<% dialog :id => :upgrade_dialog do |d| %>
  <h2><%= t(".title") %></h2>

  <div id="upgrade_result"></div>

  <% form_tag do %>
    <table id="upgrade_list" cellspacing="0" cellpadding="0" style="display:none">
      <tr class="points">
        <td class="name"><%= Character.human_attribute_name("points") %></td>
        <td class="value" id="upgrade_points"><%= current_character.points %></td>
        <td class="buy_more" colspan="2">
          <%= link_to(t(".buy_more"), premium_path(:anchor => :services)) %>
        </td>
      </tr>
      <% Character::UPGRADABLE_ATTRIBUTES.each do |attribute| %>
        <tr class="<%= attribute %> attribute_item">
          <td class="name"><%= Character.human_attribute_name(attribute.to_s) %></td>
          <td class="value"><%= current_character.send(attribute) %></td>
          <td class="points"></td>
          <td class="controls">	
          	<%= hidden_field_tag(attribute, 0, :class => :hidden_value) %>
            <span class="ui-icon ui-icon-circle-minus minus_value_attribute" data-action="minus"></span>	
            <div id="<%= Character.human_attribute_name(attribute.to_s) %>-slider" data-count-points="<%= Setting.i("character_#{attribute}_upgrade_points") %>" data-character-upgrade="<%= Setting.i("character_#{attribute}_upgrade") %>" class="attribute_slider"></div>
            <span class="ui-icon ui-icon-circle-plus plus_value_attribute" data-action="plus"></span>
          </td>
        </tr>
      <% end %>
    </table>

    <div>
  	  <%= link_to_remote(button("Upgrade", :disable_asset => true),
            :url    => upgrade_character_path(current_character),
            :update => :ajax,
            :with => "$(this).parents('form').serialize()",
            :html   => {:class => "button upgrade"}
          ) %>
    </div> 	
  <% end %>

  <div id="upgrade_finished" style="display:none;" class="note">
    <%= t(".finished.note") %>
    <%= link_to(t(".finished.get_more"), premium_path(:anchor => :services)) %>
  </div>

  <% d.on_ready do %>
    $(document).bind('character.upgrade_complete', function(){
      $('#upgrade_list').hide();
      $('#upgrade_finished').show();
    });

    $('#<%= current_character.points > 0 ? :upgrade_list : :upgrade_finished %>').show();

    $(document).trigger('character.upgrade_dialog');
    
    $.sliders(<%= current_character.points %>);
  <% end %>
<% end %>
