<%= title(fb_i(t(".title"))) %>

<table id="upgrade_list" cellspacing="0">
  <tr class="points">
    <td class="name"><%= fb_i(Character.human_attribute_name("points")) %></td>
    <td class="value" id="upgrade_points"><%= current_character.points %></td>
  </tr>
  <% %w{attack defence health energy}.each do |attribute| %>
    <tr>
      <td class="name"><%= fb_i(Character.human_attribute_name(attribute)) %></td>
      <td class="value" id="upgrade_<%= attribute %>"><%= current_character.send(attribute) %></td>
      <td class="controls">
        <%= link_to_remote(Character::UPGRADES[attribute.to_sym],
              :url    => upgrade_character_url(current_character, :attribute => attribute, :canvas => false),
              :update => :result
            ) %>
      </td>
    </tr>
  <% end %>
</table>

<div id="upgrade_finished" style="display:none;">
  <%= fb_i(t(".finished.note")) %>
  <%= link_to(fb_i(t(".finished.link")), character_path(current_character)) %>
</div>