<%= admin_title(t(".title")) %>

<div id="character_search" class="data_filter clearfix">
  <h2><%= t(".search.title") %></h2>

  <%= form_tag(search_admin_characters_path) do %>
    <%= label_tag :search_profile_ids, t(".search.profile_ids") %>
    <%= text_field_tag "search[profile_ids]", (params[:search] || {})[:profile_ids], :size => 70 %>

    <%= label_tag :search_signed_request, t(".search.signed_request") %>
    <%= text_field_tag 'search[signed_request]', (params[:search] || {})[:signed_request], :size => 70 %>

    <br />
    <%= submit_tag t(".search.submit") %>
  <% end %>
</div>

<table>
  <tr>
    <td>
      <%= will_paginate @characters %>

      <% collection(@characters) do %>
        <%= form_tag("", :id => :character_form) do %>
          <table id="character_list" class="data">
            <tr>
              <th><%= check_box_tag("all_ids") %></th>
              <th><%= Character.human_attribute_name("id") %></th>
              <th><%= Character.human_attribute_name("name") %></th>
              <th><%= Character.human_attribute_name("level") %></th>
              <th><%= Character.human_attribute_name("created_at") %></th>
              <th><%= User.human_attribute_name("reference") %></th>
            </tr>
            <% @characters.each do |character| %>
              <tr class="<%= 'banned' if character.user.banned? %> <%= 'uninstalled' unless character.user.installed %>">
                <td><%= check_box_tag("ids[]", character.id) %></td>
                <td><%= link_to(character.id, character_url(character.key, :canvas => true)) %></td>
                <td>
                  <%= link_to(admin_character_name(character), admin_character_path(character)) %>
                  <%= link_to("➚", fb_profile_url(character.user),
                        :target => :_blank
                      ) %>
                  <%= link_to(character.user.paying ? "$" : "◊", report_admin_vip_money_operation_path(character)) %>
                </td>
                <td><%= character.level %></td>
                <td><%= l(character.created_at, :format => :short) %></td>
                <td><%= character.user.reference %></td>
                <td class="controls">
                  <%= link_to(t(".controls.edit"), edit_admin_character_path(character)) %>
                  <%= link_to(t(".controls.payout"), payout_admin_characters_path(:ids => character)) %>
                  <%= link_to(t(".controls.edit_user"), edit_admin_user_path(character.user)) %>
                  <%= link_to(t(".controls.simulate"), simulate_admin_character_path(character),
                        :method => :put,
                        :remote => true
                      ) %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>

        <%= will_paginate @characters %>
      <% end %>
    </td>
    <td>
      <div id="character_batch" style="display: none;">
        <h2><%= t(".batch.title") %></h2>

        <p><%= t(".batch.note") %></p>

        <div class="controls">
          <%= link_to_function(
                t(".batch.payout"),
                "$('#character_form').attr({action : '%s'}).submit();" % payout_admin_characters_path
              ) %>
        </div>
      </div>
    </td>
  </tr>
</table>
