<div class="effect" id="effect_<%= effect.object_id %>">
  <div class="<%= effect.name %> serializable_item">
    <%= hidden_field_tag("#{container}[effects][effect_#{effect.object_id}][type]", effect.name) %>

    <%= link_to_function(t(".remove"), "$('#effect_#{effect.id}').remove()", :class => :remove) %>

    <%= render(
          :partial  => "admin/effects/form_fields/#{effect.name}",
          :locals   => {
            :effect     => effect,
            :container  => container
          }
        ) %>

    <br />

    <%= render(
          :partial => "admin/effects/form_fields/common",
          :locals => {
            :effect     => effect,
            :container  => container
          }
        ) %>
  </div>
</div>