<%= title(t('.title')) %>

<%= render("relations/buttons", :current => :accept_requests) %>

<% collection(@app_requests) do %>
  <table id="app_request_list">
    <% @app_requests.each do |app_request| %>
      <tr class="<%= dom_class(app_request) %>" id="<%= dom_id(app_request) %>">
        <td class="sender_picture">
          <%= character_picture_link(app_request.sender, {}, {:size => :normal}) %>
        </td>

        <%= render("app_requests/details/#{ app_request.type_name }", :app_request => app_request) %>

        <td class="ignore">
          <%= link_to(asset_image_tag(:icons_hide, :alt => t('.buttons.ignore')),
                ignore_app_request_path(app_request),
                :remote => true,
                :method => :put,
                :'data-click-once' => true,
                :class => :ignore
              ) %>
        </td>

      </tr>
    <% end %>
  </table>
<% end %>
