{
  "exclude_ids":
    {
      "clan_invite"     : <%= AppRequest::ClanInvite.ids_to_exclude_for(current_character).to_json %>,
      "invitation"      : <%= AppRequest::Invitation.ids_to_exclude_for(current_character).to_json %>,
      "gift"            : <%= AppRequest::Gift.ids_to_exclude_for(current_character).to_json %>,
      "property_worker" : <%= AppRequest::PropertyWorker.ids_to_exclude_for(current_character).to_json %>
    },
  "dialog_template":
"<script id=\"invite_dialog_template\" type=\"text/x-jquery-tmpl\"><div id=\"invite_dialog\"><h3>${options.dialog.title}</h3><div class=\"note\"><%= t('.note') %></div><div class=\"friend_selector\"><div class=\"search\"><input type=\"text\" title=\"<%= t('.search') %>\"></input></div><ul class=\"filters\"><li data-filter=\"all\" class=\"filter\"><a name=\"all\"><span><%= t('.filters.all') %></span></a></li><li data-filter=\"app_users\" class=\"filter\"><a name=\"app_users\"><span><%= t('.filters.app_users', :app_name => t('app_name')) %></span></a></li></ul><div class=\"user_list\"><div class=\"previous\"></div><div class=\"next\"></div><div class=\"users\">{{each(i, user) users}}<div class=\"user hidden selected {{if user.is_app_user}}app_user{{/if}}\" data-uid=\"${user.uid}\"><img data-image=\"https://graph.facebook.com/${user.uid}/picture?type=square&return_ssl_resources=1\" src=\"<%= asset_image_path('1px') %>\" alt=\"\" width=\"50\" height=\"50\"/><input type=\"checkbox\" checked=\"yes\"><div class=\"icon\"></div><div class=\"name\">${user.name}</div></div>{{/each}}</div><div class=\"stats\"><span class=\"control deselect_all\"><%= t('.stats.deselect_all') %></span> <span class=\"control select_all\"><%= t('.stats.select_all') %></span> <%= t('.stats.text',:value => '<span class=\"value\"></span>',:total => '<span class=\"total\"></span>').html_safe %></div></div></div><div class=\"progress_bar\"><div class=\"percentage\" style=\"width: 0%;\"></div></div><span class=\"button send\"><%= button(:send) %></span></div></script>"
}