<% content_for :result do %>
  <% if @help_result %>
    <% if !@help_result.new_record? %>
      <% if @help_request.context.is_a?(Mission) %>
        <% result_for :mission, :inline => true do |builder| %>
          <%= builder.success t(".success",
                :user     => character_name_link(@help_request.character),
                :mission  => content_tag(:strong, @help_request.context.name)
              ) %>

          <div class="payouts">
            <h3><%= t(".you_received") %></h3>

            <%= payout(:basic_money, number_to_currency(@help_result.money)) %>
            <%= payout(:experience, @help_result.experience) %>
          </div>
        <% end %>
      <% elsif @help_request.context.is_a?(Fight) %>
        <%= render :file => "fights/create" %>
      <% end %>
    <% else %>
      <% result_for :help_request, :inline => true do |builder| %>
        <%= builder.fail @help_result.errors.full_messages.first %>
      <% end %>
    <% end %>
  <% else %>
    <% result_for :help_request, :inline => true do |builder| %>
      <%= builder.fail t(".friends_only.message") %>
    <% end %>
  <% end %>
<% end %>