<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_help_page_path) %>
</div>

<% collection(@pages) do %>
  <table id="help_page_list" class="data">
    <tr>
      <th><%= HelpPage.human_attribute_name("name") %></th>
      <th><%= HelpPage.human_attribute_name("alias") %></th>
      <th><%= HelpPage.human_attribute_name("state") %></th>
      <th><%= t(".page_preview") %></th>
      <th></th>
    </tr>
    <% @pages.each do |page| %>
      <%= content_tag_for(:tr, page) do %>
        <td class="name"><%= link_to(page.name, edit_admin_help_page_path(page)) %></td>
        <td class="alias"><%= page.alias %></td>
        <td class="state"><%= admin_state(page) %></td>
        <td class="preview">
          <%= link_to(t(".controls.preview.dialog"), help_page_path(page.alias), :class => :help) %>
          <%= link_to(t(".controls.preview.page"), help_page_url(page.alias, :canvas => true), :target => :_blank) %>
        </td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_help_page_path(page)) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
