<table id="item_fields">
  <tr>
    <td>
      <%= form.text_field :name, :required => true %>
      <%= form.text_field :plural_name %>
      
      <%= form.text_area :description %>

      <%= form.file_field :image,
            :after_field => (form.object.image? ? content_tag(:div, "Current Image:") + image_tag(form.object.image(:small)) : "") %>
      
      <%= form.select :availability, PropertyType::AVAILABILITIES, :required => true %>

      <%= form.text_field :level, :required => true, :size => 6, :autocomplete => :off %>
      <%= form.text_field :basic_price, :required => true, :size => 6, :autocomplete => :off %>
      <%= form.text_field :vip_price, :size => 6, :autocomplete => :off %>
      <%= form.text_field :income, :size => 6, :required => true, :autocomplete => :off %>
      <%= form.text_field :inflation, :size => 6, :autocomplete => :off %>
      <%= form.text_field :purchase_limit, :size => 6, :autocomplete => :off %>
    </td>
  </tr>
</table>