<%= form.text_field :name, :required => true, :size => 50 %>
<%= form.text_field :plural_name, :size => 50 %>

<%= form.text_area :description, :cols => 80, :rows => 5 %>

<%= form.file_field :image, :after_field => (image_tag(form.object.image(:small)) if form.object.image?) %>

<%= form.select :availability, PropertyType::AVAILABILITIES, :required => true %>

<%= form.text_field :level, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :basic_price, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :vip_price, :size => 6, :autocomplete => :off %>
<%= form.text_field :income, :size => 6, :required => true, :autocomplete => :off %>
<%= form.text_field :collect_period, :size => 6, :required => true, :autocomplete => :off %>
<%= form.text_field :upgrade_cost_increase, :size => 6, :autocomplete => :off %>
<%= form.text_field :upgrade_limit, :size => 6, :autocomplete => :off %>

<% invisibility = capture do %>
  <% CharacterType.all.each do |ct| %>
    <div>
      <%= hidden_field_tag "#{form.object_name}[itypes_ids][#{ct.id}]", 0 %>
      <%= check_box_tag "#{form.object_name}[itypes_ids][#{ct.id}]", 1, form.object.itypes.include?(ct), :id => "invisibility_#{ct.id}" %>
      <%= label_tag "invisibility_#{ct.id}", ct.name %>
    </div>
  <% end %>
<% end %>

<%= form.field 'Hidden for', invisibility %>
