<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_title_path) %>
</div>

<% collection @titles do %>
  <table id="title_list" class="data">
    <tr>
      <th><%= Title.human_attribute_name("name") %></th>
      <th><%= Title.human_attribute_name("state") %></th>
      <th></th>
    </tr>

    <% @titles.each do |title| %>
      <% content_tag_for(:tr, title) do %>
        <td class="name"><%= link_to(title.name, edit_admin_title_path(title)) %></td>
        <td class="state"><%= admin_state(title) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_title_path(title)) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
