<%= admin_title(t(".title"), :settings) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_setting_path) %>
</div>

<% collection @settings do %>
  <table id="setting_list" class="data">
    <tr>
      <th><%= Setting.human_attribute_name("alias") %></th>
      <th><%= Setting.human_attribute_name("value") %></th>
      <th></th>
    </tr>
    <% @settings.each do |setting| %>
      <% group_header setting.alias.split("_").first do |group| %>
        <tr>
          <th colspan="3" class="subheader"><a name="<%= group %>"></a><%= group %></th>
        </tr>
      <% end %>

      <%= content_tag_for(:tr, setting) do %>
        <td><%= setting.alias %></td>
        <td>
          <% if setting.value.present? %>
            <%= setting.value %>
          <% else %>
            <span class="empty"><%= t(".empty_value") %></span>
          <% end %>
        </td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_setting_path(setting)) %>
          <%= link_to(t(".controls.delete"), admin_setting_path(setting),
                :remote   => true,
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
