<div id="credit_packages">
  <h2><%= t('.title', :vip_money => Character.human_attribute_name('vip_money')) %></h2>

  <div class="select_package"><%= t('.select_package') %></div>

  <table cellspacing="0" cellpadding="0">
    <% CreditPackage.with_state(:visible).each do |package| %>
      <% content_tag_for(:tr, package) do %>
        <td class="selector">
          <%= radio_button_tag(:credit_package_id, package.id, package.default?) %>
        </td>
        <td class="vip_money">
          <span class="value"><%= package.vip_money %></span>
          <%= Character.human_attribute_name('vip_money') %>
        </td>
        <td class="credits">
          <span class="value"><%= package.price %></span>
          <%= t('.credits') %>
        </td>
        
        <td class="discount">
          <% if discount = package.discount %>
            <%= t(".discount", :discount => discount) %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        
      <% end %>
    <% end %>
  </table>
    
  <div class="buttons">
    <span class="purchase button"><%= button(:purchase) %></span>
  </div>
</div>

<% dom_ready do %>
  $('#credit_packages').creditPackageForm();
<% end %>