<% div_for(item) do %>
  <div class="picture"><%= item_image(item, :small) %></div>

  <div class="info">
    <div class="name"><%= item.name %></div>
    <div class="description"><%= item.description %></div>

    <% if item.left or item.available_till %>
      <%= render("items/limit", :item => item) %>
    <% end %>
  </div>
  
  <div class="payouts">
    <%= render("items/effects", :item => item) %>
  </div>

  <div class="requirements">
    <%= render("items/requirements", :item => item) %>
  </div>

  <div class="controls">
    <%= render("items/buy_button", :item => item) %>
  </div>
<% end %>
