<% content_tag_for :tr, item, :class => item.availability do %>
  <td class="picture"><%= item_image(item, :small) %></td>
  <td class="info">
    <div class="name"><%= fb_i(item.name) %></div>
    <div class="description"><%= fb_i(item.description) %></div>
    
    <% if item.left %>
      <div class="sale_limit">
        <% fb_i do %>
          <%= t(".sale_limit") %>

          <%= fb_it(:amount, content_tag(:strong, item.left)) %>
        <% end %>
      </div>
    <% end %>

    <% if item.available_till %>
      <div class="time_limit">
        <% fb_i do %>
          <%= t(".time_limit") %>

          <%= fb_it(:amount, content_tag(:strong, "", :id => dom_id(item, :timer))) %>
        <% end %>
      </div>

      <script>Timer.start('<%= dom_id(item, :timer) %>', <%= item.time_left %>)</script>
    <% end %>
  </td>
  <td class="details">
    <%= attack(item.attack) %>
    <%= defence(item.defence) %>
    
    <% item.effects.each do |effect| %>
      <%= content_tag(:div, effect.value, :class => effect.name) %>
    <% end %>
  </td>
  <td class="requires">
    <%= basic_price(item.basic_price) %>
    <%= vip_price(item.vip_price) %>
  </td>
  <td class="controls">
    <%= link_to_remote(fb_i(t(".buttons.buy")),
          :url => inventories_url(:item_id => item.id, :canvas => false),
          :update => :result,
          :html => {:class => "buy button"}
        ) %>
  </td>
<% end %>