<% content_tag_for :tr, item, :class => item.availability do %>
  <td class="picture"><%= item_image(item, :small) %></td>
  <td class="info">
    <div class="name"><%= fb_i(item.name) %></div>
    <div class="description"><%= fb_i(item.description) %></div>
    
    <% if item.left %>
      <div class="sale_limit">
        <% fb_i t(".sale_limit") do %>
          <%= fb_it(:amount, content_tag(:strong, item.left)) %>
        <% end %>
      </div>
    <% end %>

    <% if item.available_till %>
      <div class="time_limit">
        <% fb_i t(".time_limit") do %>
          <%= fb_it(:amount, content_tag(:strong, "", :id => dom_id(item, :timer))) %>
        <% end %>
      </div>

      <% content_for :script do %> 
        Timer.start('<%= dom_id(item, :timer) %>', <%= item.time_left %>)
      <% end %>
    <% end %>
  </td>
  <td class="payout_preview">
    <%= payout_preview(:attack, "+%d" % item.attack) if item.attack > 0 %>
    <%= payout_preview(:defence, "+%d" % item.defence) if item.defence > 0 %>
    
    <% item.effects.each do |effect| %>
      <%= payout_preview(effect.name, effect.value, :label => t("effects.#{effect.name}.name")) %>
    <% end %>
  </td>
  <td class="requirements">
    <%= attribute_requirement(:basic_money, number_to_currency(item.basic_price)) if item.basic_price > 0 %>
    <%= attribute_requirement(:vip_money, number_to_currency(item.vip_price)) if item.vip_price > 0 %>
  </td>
  <td class="controls">
    <% form_tag "", :class => :clearfix do %>
      <%= amount_select_tag %>

      <%= link_to_remote(button(:buy),
            :url => inventories_url(:item_id => item.id, :canvas => false),
            :update => :result,
            :with => "this.getParentNode().serialize()", 
            :html => {:class => "buy button"}
          ) %>
    <% end %>
  </td>
<% end %>