<% content_tag_for :tr, item, :class => item.availability do %>
  <td class="picture"><%= item_image(item, :small) %></td>
  <td class="info">
    <div class="name"><%= item.name %></div>
    <div class="description"><%= item.description %></div>

    <% if item.left or item.available_till %>
      <%= render("items/limit", :item => item) %>
    <% end %>
  </td>
  
  <td class="payouts">
    <%= render("items/effects", :item => item) %>
  </td>

  <td class="requirements">
    <%= render("items/requirements", :item => item) %>
  </td>
  <td class="controls">
    <%= render("items/buy_button", :item => item) %>
  </td>
<% end %>
