<% content_tag_for :tr, item, :class => item.availability do %>
  <td class="picture"><%= image_tag(item.image.url(:small)) %></td>
  <td class="info">
    <div class="name"><%= fb_i(item.name) %></div>
    <div class="description"><%= fb_i(item.description) %></div>
  </td>
  <td class="details">
    <% item.effects.each do |effect| %>
      <%= content_tag(:div, effect.value, :class => effect.name) %>
    <% end %>
  </td>
  <td class="requires">
    <% %w{basic_price vip_price}.each do |attr| %>
      <%= content_tag(:div, item.send(attr), :class => attr)  if item.send(attr).to_i > 0 %>
    <% end %>
  </td>
  <td class="controls">
    <%= link_to_remote(fb_i(t(".buttons.buy")),
          :url => inventories_url(:item_id => item.id, :canvas => false),
          :update => :result,
          :html => {:class => :buy}
        ) if current_character.can_buy?(item) %>

    <%= link_to(fb_i(t(".buttons.get_vip")), premium_path,
          :class => :buy_vip
        ) if current_character.need_vip_money?(item)  %>
  </td>
<% end %>