<div class="item" id="<%= item.key %>">
  <div class="picture"><%= item_image(item, :medium) %></div>

  <div class="info">
    <div class="name"><%= item.name %></div>

    <% unless item.description.blank? %>
      <div class="description"><%= item.description %></div>
    <% end %>

    <div class="payouts">
      <%= item_effects(item) %>
    </div>
  </div>

  <div class="purchase_options clearfix">
    <div class="controls">
      <%= render("items/buy_button", :item => item) %>
    </div>

    <div class="requirements">
      <%= render("items/requirements", :item => item) %>
    </div>

    <%= render("items/limit", :item => item) if item.limited? %>
  </div>
</div>