<div class="limit">
  <% if item.left %>
    <span class="amount_limit">
      <%= t(".amount_limit",
            :amount => strong_tag(item.left)
          ).html_safe %>
    </span>
  <% end %>

  <% if item.available_till %>
    <span class="time_limit">
      <%= t(".time_limit") %>

      <strong id="<%= dom_id(item, :timer) %>"></strong>
    </span>

    <% dom_ready do %>
      $('#<%= dom_id(item, :timer) %>').timer(<%= item.time_left %>);
    <% end %>
  <% end %>
</div>
