<%= title(fb_i(t(".title"))) %>

<div id="item_groups">
  <% ItemGroup.visible_in_shop.each do |group| %>
    <% if group == @item_group %>
      <b><%= fb_i(@item_group.name) %></b>
    <% else %>
      <%= link_to(fb_i(group.name), item_group_items_path(:item_group_id => group.id)) %>
    <% end %>
  <% end %>
</div>

<%= will_paginate @items %>

<table class="item_list" cellspacing="0">
  <% @special_items.each do |item| %>
    <tr class="special">
      <%= render :partial => item %>
    </tr>
  <% end %>
  <% @items.each do |item| %>
    <%= render :partial => item %>
  <% end %>
</table>

<%= will_paginate @items %>