<%= title(t(".title")) %>

<%= render("inventories/buttons", :current => :shop) %>

<%= render('layouts/promo_block', :context => :shop) if current_character.show_promo_block? %>

<%= render('items/tabs', :groups => @item_groups, :current => @current_group) %>

<%= will_paginate @items %>

<div id="item_list" class="item_list">
  <%= render("list", :items => @items) %>
</div>

<% if @next_item %>
  <div id="next_item">
    <%= t(".next_item",
          :level => span_tag(@next_item.level, :level),
          :group => span_tag(@next_item.item_group.name.mb_chars.downcase, :weapon)
        ).html_safe %>
  </div>
<% end %>

<%= will_paginate @items %>

<% dom_ready do %>

  Shop.setup();

  $(document).bind('item.purchase', function(){
    <%= remote_function(
          :url => item_group_items_path(@current_group),
          :method => :get
        ) %>
  });
<% end %>
