<%= title(fb_i("Shop")) %>

<table id="item_list" cellspacing="0">
  <% Item::TYPES.each do |type| %>
    <% if @items.send(type).any? %>
      <tr>
        <th colspan="3"><h3><%= fb_i(type.capitalize) %></h3></th>
        <th><%= fb_i("Price") %></th>
      </tr>
      <% @items.send(type).each do |item| %>
        <tr>
          <td class="picture"><%= image_tag(item.image.url(:small)) %></td>
          <td class="info">
            <div class="name"><%= fb_i(item.name) %></div>
            <div class="description"><%= fb_i(item.description) %></div>
          </td>
          <td class="details">
            <% item.effects.each do |effect| %>
              <%= content_tag(:div, effect.value, :class => effect.name) %>
            <% end %>
          </td>
          <td class="requires">
            <% %w{basic_price vip_price}.each do |attr| %>
              <%= content_tag(:div, item.send(attr), :class => attr)  if item.send(attr).to_i > 0 %>
            <% end %>
          </td>
          <td class="controls">
            <%= link_to_remote(fb_i("Buy"),
                  :url => inventories_url(:item_id => item.id, :canvas => false),
                  :update => :result
                ) if current_character.can_buy?(item) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr><td colspan="5" class="spacer">&nbsp;</td></tr>
  <% end %>
</table>

<h2><%= fb_i("Buy Gems") %></h2>

<%= fb_super_rewards_iframe %>