<%= title(t(".title")) %>

<%= render("inventories/buttons", :current => :shop) %>

<%= render('layouts/promo_block', :context => :shop) if current_character.show_promo_block? %>

<button id="buy_vip_money" onclick="BuyVipDialogController.show()">
  <%= t('.buttons.buy_vip_money') %>
</button>

<% tabs :id => :shop_tabs do |t| %>
  <% @item_groups.each do |group| %>

    <% if group == @current_group %>
      <% t.tab(group.key, group.name) do %>
        <%= render("list", :items => @items, :next_items => @next_items) %>
      <% end %>
    <% else %>
      <% t.tab(group.key, group.name, item_group_items_path(group.key)) do %>
      <% end %>
    <% end %>

  <% end %>

  <% t.tab(:services, nil, service_premium_path) do %>
  <% end %>
<% end %>

<% dom_ready do %>
  Shop.setup();
<% end %>
