<%= title(fb_i("Shop")) %>

<div id="shop_result" class="result" style="display:none;"></div>

<table id="item_list" cellspacing="0">
  <% %w{weapons armors}.each do |type| %>
    <% if @items.send(type).any? %>
      <tr>
        <th colspan="3"><h3><%= fb_i(type.capitalize) %></h3></th>
        <th><%= fb_i("Price") %></th>
      </tr>
      <% @items.send(type).each do |item| %>
        <tr>
          <td class="picture"><%= image_tag(item.image.url(:small)) %></td>
          <td class="info">
            <div class="name"><%= fb_i(item.name) %></div>
            <div class="description"><%= fb_i(item.description) %></div>
          </td>
          <td class="details">
            <% %w{attack defence}.each do |attribute| %>
              <%= content_tag(:div, item.send(attribute), :class => attribute) if item.send(attribute).to_i > 0 %>
            <% end %>
          </td>
          <td class="requires">
            <div class="basic_money"><%= item.price %></div>
          </td>
          <td class="controls">
            <%# if current_character.basic_money >= item.price %>
              <%= link_to_remote(fb_i("Buy"),
                    :url => inventories_url(:item_id => item.id, :canvas => false),
                    :update => :shop_result
                  ) %>
            <%# end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr><td colspan="5" class="spacer">&nbsp;</td></tr>
  <% end %>
</table>

<%#= fb_super_rewards_iframe %>