<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_tip_path) %>
</div>

<% collection @tips do %>
  <%= will_paginate @tips %>

  <table id="tip_list" class="data">
    <tr>
      <th><%= Tip.human_attribute_name("text") %></th>
      <th></th>
    </tr>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.text.html_safe %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_tip_path(tip)) %>
          <%= link_to(t(".controls.delete"), admin_tip_path(tip),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @tips %>
<% end %>