<%= admin_title(t(".title")) %>

<div class="data_filter clearfix">
  <strong><%= t('.player') %></strong>
  <%= link_to(admin_character_name(@character), admin_character_url(@character.key)) %>
</div>

<table id="vip_operation_summary" class="data">
  <tr><th colspan="2"><%= t('.summary.title') %></th></tr>
  <tr>
    <td><%= t('.summary.total') %></td>
    <td><%= @summary[:total] %></td>
  </tr>
  <tr>
    <td><%= t('.summary.deposits') %></td>
    <td><%= @summary[:deposits] %></td>
  </tr>
  <tr>
    <td><%= t('.summary.withdrawals') %></td>
    <td><%= @summary[:withdrawals] %></td>
  </tr>
  <tr>
    <td><%= t('.summary.payments') %></td>
    <td><%= @summary[:payments] %></td>
  </tr>
  <tr class="payment">
    <td><%= t('.summary.purchased') %></td>
    <td><%= @summary[:purchased] %></td>
  </tr>
</table>

<table class="data">
  <tr>
    <th>#</th>
    <th><%= VipMoneyOperation.human_attribute_name(:created_at) %></th>
    <th colspan="2"><%= VipMoneyOperation.human_attribute_name(:amount) %></th>
    <th><%= VipMoneyOperation.human_attribute_name(:reference) %></th>
  </tr>

  <% @operations.each do |operation| %>
    <tr class=<%= 'payment ' if VipMoneyDeposit::PAYMENT_PROVIDERS.include?(operation.reference) %>
      <%= 'recent' if operation.created_at > 24.hours.ago %>
    >
      <td><%= operation.id %></td>
      <td><%= l(operation.created_at, :format => :long) %></td>

      <% if operation.is_a?(VipMoneyDeposit) %>
        <td class="amount deposit">+ <%= operation.amount %></td>
        <td class="amount withdrawal"></td>
      <% else %>
        <td class="amount deposit"></td>
        <td class="amount withdrawal">- <%= operation.amount %></td>
      <% end %>

      <td class="reference"><%= admin_statistics_reference(operation.reference) %></td>
    </tr>
  <% end %>

  <tr>
    <th colspan="2"><%= t('.total') %></th>
    <th>+ <%= @operations.sum{|o| o.is_a?(VipMoneyDeposit) ? o.amount : 0 } %></th>
    <th>- <%= @operations.sum{|o| o.is_a?(VipMoneyWithdrawal) ? o.amount : 0 } %></th>
    <th><%= @operations.sum{|o| o.is_a?(VipMoneyDeposit) ? o.amount : -o.amount } %></th>
  </tr>
</table>
