<%= title(fb_i("Treasury")) %>

<div id="bank_balance">
  <% fb_i do %>
    Current Balance: {amount}

    <%= fb_it(:amount, content_tag(:span, current_character.bank, :class => :value)) %>
  <% end %>
</div>

<table id="bank">
  <tr>
    <td>
      <% form_for(:bank_operation, @deposit, :url => bank_operations_path) do |f| %>
        <%= hidden_field_tag :type, "deposit" %>

        <%= f.text_field fb_i("Deposit"), :amount, :value => current_character.basic_money %>

        <p><%= fb_i("A 10% laundering fee will be taken out of all incoming funds.") %></p>

        <% fb_tag(:input) do %>
          <%= fb_ta(:type, :submit) %>
          <%= fb_ta(:value, fb_i("Deposit")) %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% form_for(:bank_operation, @withdraw, :url => bank_operations_path) do |f| %>
        <%= hidden_field_tag :type, "withdraw" %>

        <%= f.text_field fb_i("Withdraw"), :amount %>

        <p><%= fb_i("Withdrawing money to cash is free.") %></p>

        <% fb_tag(:input) do %>
          <%= fb_ta(:type, :submit) %>
          <%= fb_ta(:value, fb_i("Withdraw")) %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>