<%= title(t(".title")) %>

<div id="bank_balance">
  <%= raw t(".current_balance",
        :amount => content_tag(:span, number_to_currency(current_character.bank), :class => :value)
      ) %>
</div>

<table id="bank" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <% form_for(:bank_operation, @deposit, :url => bank_operations_path) do |f| %>
        <%= hidden_field_tag :type, "deposit" %>

        <%= f.text_field :amount, :value => current_character.basic_money, :label => t(".deposit.title") %>

        <p><%= raw t(".deposit.note", :fee => Configuration[:bank_deposit_fee]) %></p>

        <%= submit_tag(t(".deposit.submit")) %>
      <% end %>
    </td>
    <td>
      <% form_for(:bank_operation, @withdraw, :url => bank_operations_path) do |f| %>
        <%= hidden_field_tag :type, "withdraw" %>

        <%= f.text_field :amount, :label => t(".withdraw.title") %>

        <p><%= t(".withdraw.note") %></p>

        <%= submit_tag(t(".withdraw.submit")) %>
      <% end %>
    </td>
  </tr>
</table>