<% dialog do %>
  <h2><%= t(".title") %></h2>

  <div id="bank_balance">
    <%= t(".current_balance",
          :amount => span_tag(number_to_currency(current_character.bank), :value)
        ).html_safe %>
  </div>

  <table id="bank" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <%= form_for(@deposit || BankDeposit.new, :as => :bank_operation, 
              :url => deposit_bank_operations_path, :remote => true) do |f| %>
          <%= f.text_field :amount, :label => t(".deposit"), :size => 10 %>

          <%= submit_tag(t(".deposit")) %>
        <% end %>
      </td>
      <td>
        <%= form_for(@withdrawal || BankWithdraw.new, :as => :bank_operation, 
              :url => withdraw_bank_operations_path, :remote => true) do |f| %>
          <%= f.text_field :amount, :label => t(".withdraw"), :size => 10 %>

          <%= submit_tag(t(".withdraw")) %>
        <% end %>
      </td>
    </tr>
  </table>

  <p><%= t(".note", :fee => Setting.i(:bank_deposit_fee)).html_safe %></p>
<% end %>