<%= title(fb_i(t(".title"))) %>

<div id="bank_balance">
  <% fb_i() do %>
    <%= t(".current_balance") %>

    <%= fb_it(:amount, content_tag(:span, number_to_currency(current_character.bank), :class => :value)) %>
  <% end %>
</div>

<table id="bank">
  <tr>
    <td>
      <% form_for(:bank_operation, @deposit, :url => bank_operations_path) do |f| %>
        <%= hidden_field_tag :type, "deposit" %>

        <%= f.text_field :amount, :value => current_character.basic_money, :label => fb_i(t(".deposit.title")) %>

        <p><%= fb_i(t(".deposit.note")) %></p>

        <% fb_tag(:input) do %>
          <%= fb_ta(:type, :submit) %>
          <%= fb_ta(:value, fb_i(t(".deposit.submit"))) %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% form_for(:bank_operation, @withdraw, :url => bank_operations_path) do |f| %>
        <%= hidden_field_tag :type, "withdraw" %>

        <%= f.text_field :amount, :label => fb_i(t(".withdraw.title")) %>

        <p><%= fb_i(t(".withdraw.note")) %></p>

        <% fb_tag(:input) do %>
          <%= fb_ta(:type, :submit) %>
          <%= fb_ta(:value, fb_i(t(".withdraw.submit"))) %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>