<h2><%= fb_i(t(".title")) %></h2>

<p>
  <%= fb_i(t(".message")) %>
</p>

<% unless mission_result.group.title.blank? %>
  <p>
    <%= fb_i(t(".title_received")) %>
  </p>
  
  <h3 class="title"><%= fb_i(mission_result.group.title) %></h3>
<% end %>

<% if mission_result.group_payouts.any? %>
  <div class="payouts">
    <div class="received">
      <h3><%= fb_i(t(".you_received")) %></h3>

      <%= payout_list(mission_result.group_payouts, :add) %>
    </td>
  </div>
<% end %>
