<h2><%= t(".title") %></h2>

<p>
  <%= t(".message") %>
</p>

<% unless result.mission_group.title.blank? %>
  <p>
    <%= t(".title_received") %>
  </p>
  
  <h3 class="title"><%= result.mission_group.title %></h3>
<% end %>

<% if result.group_payouts.try(:any?) %>
  <div class="payouts">
    <div class="received">
      <h3><%= t(".you_received") %></h3>

      <%= payout_list(result.group_payouts, :add) %>
    </td>
  </div>
<% end %>
