<% if groups.previous_page and previous_group = groups.first.previous_group %>
  <% content_for :previous_group do %>
    <% content_tag_for :td, previous_group, :class => "previous first" do %>
      <%= link_to(fb_i(t(".previous.name")), mission_group_url(previous_group),
            :class => :name
          ) %>

      <div class="level">
        <% fb_i t(".previous.level") do %>
          <%= fb_it(:level, groups.first.level) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if groups.next_page and next_group = groups.last.next_group %>
  <% content_for :next_group do %>
    <% content_tag_for :td, next_group, :class => "next last" do %>
      <%= link_to(fb_i(t(".next.name")), mission_group_url(next_group),
            :class => :name
          ) %>

      <div class="level">
        <% fb_i t(".next.level") do %>
          <%= fb_it(:level, next_group.level) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<table cellspacing="0">
  <tr>
    <%= yield(:previous_group) %>

    <% groups.each do |group| %>
      <% locked = group.locked?(current_character) %>

      <% 
        content_tag_for(:td, group,
          :class => [
            (:locked if locked),
            (:current if group == current),
            (:first if group == groups.first && yield(:previous_group).blank?),
            (:last if group == groups.last && yield(:next_group).blank?)
          ].compact.join(" ")
        ) do %>
        <%= link_to(fb_i(locked ? t(".locked") : group.name), mission_group_url(group),
              :class => :name
            ) %>

        <div class="level">
          <% fb_i t(".level") do %>
            <%= fb_it(:level, group.level) %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= yield(:next_group) %>
  </tr>
</table>