<% if groups.previous_page and previous_group = groups.first.previous_group %>
  <% content_for :previous_group do %>
    <% content_tag_for :td, previous_group, :class => "previous first" do %>
      <%= link_to(t(".previous.name").html_safe, mission_group_path(previous_group),
            :class => :name
          ) %>

      <div class="level">
        <%= t(".previous.level", :level => groups.first.level) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if groups.next_page and next_group = groups.last.next_group %>
  <% content_for :next_group do %>
    <% content_tag_for :td, next_group, :class => "next last" do %>
      <%= link_to(t(".next.name").html_safe, mission_group_path(next_group),
            :class => :name
          ) %>

      <div class="level">
        <%= t(".next.level", :level => next_group.level) %>
      </div>
    <% end %>
  <% end %>
<% end %>

<table cellspacing="0" cellpadding="0">
  <tr>
    <%= yield(:previous_group) %>

    <% groups.each do |group| %>
      <% locked = group.locked?(current_character) %>

      <% 
        content_tag_for(:td, group,
          :class => [
            (:locked if locked),
            (:current if group == current),
            (:first if group == groups.first && yield(:previous_group).blank?),
            (:last if group == groups.last && yield(:next_group).blank?)
          ].compact.join(" ")
        ) do %>
        <%= link_to(locked ? t(".locked") : group.name, mission_group_path(group),
              :class => :name
            ) %>

        <div class="level"><%= t(".level", :level => group.level) %></div>
      <% end %>
    <% end %>

    <%= yield(:next_group) %>
  </tr>
</table>