<%= title(t(".title")) %>

<%= latest_help_request_for(:mission) %>

<div id="mission_group_list">
  <%= render("tabs") %>
</div>

<% unless @mission_group.locked?(current_character) %>
  <div id="mission_list">
    <%= render "missions/list", :missions => @missions %>
  </div>

  <div id="boss_list">
    <%= render "bosses/list", :bosses => @bosses %>
  </div>
<% else %>
  <div class="empty_set" id="locked_mission_group">
    <%= t(".locked_group",
          :level => content_tag(:span, @mission_group.level, :class => :level)
        ).html_safe %>
  </div>
<% end %>

<% dom_ready do %>
  $(document).bind('item.purchase', function(){
    <%= remote_function(:url => mission_group_path(@mission_group), :method => :get).html_safe %>
  });
<% end %>