<%= title(fb_i(t(".title"))) %>

<%= render :partial => "help_requests/latest", :locals => {:context => :mission} %>

<div id="mission_group_list">
  <%= render(
        :partial  => "tabs",
        :locals   => {
          :groups   => current_character.mission_groups.current_page,
          :current  => @mission_group
        }
      ) %>
</div>

<div id="mission_list">
  <% unless @mission_group.locked?(current_character) %>
    <%= render "missions/list", :missions => @mission_group.missions %>
  <% else %>
    <div class="empty_set" id="next_mission_group">
      <% fb_i t(".locked_group") do %>
        <%= fb_it(:level, content_tag(:span, @mission_group.level, :class => :level)) %>
      <% end %>
    </div>
  <% end %>
</div>