<%= title(fb_i(t(".title"))) %>

<%= latest_help_request_for(:mission) %>

<div id="mission_group_list">
  <%= render(
        :partial  => "tabs",
        :locals   => {
          :groups   => current_character.mission_groups.current_page,
          :current  => @mission_group
        }
      ) %>
</div>

<% unless @mission_group.locked?(current_character) %>
  <div id="mission_list">
    <%= render "missions/list", :missions => @mission_group.missions %>
  </div>

  <div id="boss_list">
    <% @mission_group.bosses.each do |boss| %>
      <%= render "bosses/boss", :boss => boss %>
    <% end %>
  </div>
<% else %>
  <div class="empty_set" id="next_mission_group">
    <% fb_i t(".locked_group") do %>
      <%= fb_it(:level, content_tag(:span, @mission_group.level, :class => :level)) %>
    <% end %>
  </div>
<% end %>
