<%= title(t(".title")) %>

<%= latest_help_request_for(:mission) %>

<div id="mission_group_list">
  <%= render("tabs",
        :groups   => current_character.mission_groups.current_page,
        :current  => @mission_group
      ) %>
</div>

<% unless @mission_group.locked?(current_character) %>
  <div id="mission_list">
    <%= render "missions/list", :missions => @missions %>
  </div>

  <div id="boss_list">
    <% @bosses.each do |boss| %>
      <%= render "bosses/boss", :boss => boss %>
    <% end %>
  </div>
<% else %>
  <div class="empty_set" id="locked_mission_group">
    <%= raw t(".locked_group",
          :level => content_tag(:span, @mission_group.level, :class => :level)
        ) %>
  </div>
<% end %>
