<table id="fight_list" cellspacing="0" cellpadding="0">
  <% fights.each do |fight| %>
    <% content_tag_for(:tr, fight) do %>
      <td class="attacker"><%= character_picture_link(fight.attacker) %></td>
      <td class="description">
        <div class="time"><%= l(fight.created_at, :format => :short) %>:</div>
        <div><%= fight_description(fight) %></div>

        <div class="controls">
          <%= link_to_remote(button(:respond),
                :url    => respond_fight_path(fight),
                :update => :result,
                :html   => {
                  :id     => dom_id(fight, :respond),
                  :class  => "respond button"
                }
              ) if fight.victim == current_character and fight.respondable? %>
        </div>
      </td>
      <td class="victim"><%= character_picture_link(fight.victim) %></td>
    <% end %>
  <% end %>
</table>