<table id="victim_list" cellspacing="0">
  <tr>
    <th colspan="2"><%= fb_i(Character.human_name) %></th>
    <th><%= fb_i(Character.human_attribute_name("level")) %></th>
    <th><%= fb_i(Character.human_attribute_name("relations_count")) %></th>
  </tr>
  <% victims.each do |victim| %>
    <% content_tag_for(:tr, victim) do %>
      <td class="picture"><%= character_picture_link(victim) %></td>
      <td class="name"><%= character_name_link(victim) %></td>
      <td class="level"><%= victim.level %></td>
      <td class="relations">
        <%= content_tag(:span, victim.relations.size,
              :class => (:larger if victim.relations.size > current_character.relations.size)
            ) %>
      </td>
      <td class="controls">
        <%= link_to_remote(fb_i(t(".buttons.attack")),
              :url => fights_url(:victim_id => victim, :canvas => false),
              :update => :result
            ) %>
      </td>
    <% end %>
  <% end %>
</table>
