<table id="victim_list" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2"><%= fb_i(Character.human_name) %></th>
    <th><%= fb_i(Character.human_attribute_name("level")) %></th>
    <th><%= fb_i(Character.human_attribute_name("relations_count")) %></th>
  </tr>
  <% victims.each do |victim| %>
    <% if victim.is_a?(Character) %>
      <tr class="character" id="<%= dom_id(victim) %>">
        <td class="picture"><%= character_picture_link(victim) %></td>
        <td class="name"><%= character_name_link(victim) %></td>
        <td class="level"><%= victim.level %></td>
        <td class="relations">
          <% if victim.relations.effective_size > current_character.relations.effective_size %>
            <span class="larger"><%= victim.relations.effective_size %></span>
          <% else %>
            <%= victim.relations.effective_size %>
          <% end %>
        </td>
        <td class="controls">
          <%= link_to_remote(button(:attack),
                :url    => fights_url(:victim_id => victim.id, :canvas => false),
                :update => :result,
                :html   => {:class => :button}
              ) %>
        </td>
      </tr>
    <% else %>
      <tr class="invitee" id="character_<%= victim %>">
        <td class="picture"><%= fb_profile_pic(victim, :linked => false) %></td>
        <td class="name"><%= fb_name(victim, :linked => false) %></td>
        <td class="level"><%= t(".invitee.level") %></td>
        <td class="relations">0</td>
        <td class="controls">
          <%= link_to_remote(button(:attack_and_invite),
                :url    => invite_fights_url(:victim_id => victim, :canvas => false),
                :update => :result,
                :html   => {:class => :button}
              ) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
