<table id="victim_list" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="2"><%= Character.human_name %></th>
    <th><%= Character.human_attribute_name("level") %></th>
    <th><%= Character.human_attribute_name("relations_count") %></th>
  </tr>
  
  <%= render('victims', :victims => victims) if flash[:show_tutorial] == true %>
</table>

<div id="loading_opponents"><%= t(".loading") %></div>

<% dom_ready do %>
  $(document).bind({
    // reload opponents on levelup
    'character.new_level.reload_victims': function() {
      $.get('/fights', function(data) {
        $('#victim_list .character').remove();
        $('#victim_list').append(data);
      });
    },

    // load new victims if list is empty
    'fights.create.reload_victims': function() {
      if ($('#victim_list .character:visible').length == 0) {

        $.get('/fights', function(data) {
          // double checking. if user gets new level and won last player in list
          if ($('#victim_list .character:visible').length == 0) {
            $('#victim_list').append(data);
          }
        });

      }
    }
  });
<% end %>