<% result_for :fight do %>
  <% if !@fight.new_record? %>
    <% if @fight.winner == current_character %>
      <%= render "fights/create/success", :fight => @fight %>
    <% else %>
      <%= render "fights/create/failure", :fight => @fight %>
    <% end %>

    <%= render "fights/create/details", :fight => @fight %>
  <% elsif !@fight.enough_stamina? %>
    <%= render "requirements/not_satisfied/stamina", :required_value => Setting.i(:fight_stamina_required) %>
  <% else %>
    <p><%= @fight.errors.on(:character) %></p>
  <% end %>
<% end %>

<%= character_level_up_block %>

<% dom_ready do %>
  <% if @fight.cause %>
    $('#<%= dom_id(@fight.cause, :respond) %>').hide();
  <% end %>

  $(document).trigger('result.received');
<% end %>