<div id="fight_result">
  <% if !@fight.new_record? %>
    <% if @fight.winner == current_character %>
      <%= render :partial => "fights/create/success", :locals => {:fight => @fight} %>
    <% else %>
      <%= render :partial => "fights/create/failure", :locals => {:fight => @fight} %>
    <% end %>

    <%= render :partial => "fights/create/details", :locals => {:fight => @fight} %>
  <% else %>
    <p><%= @fight.errors.on(:character) %></p>
  <% end %>
</div>

<%= character_level_up_block %>

<% dom_ready do %>
  <% if @fight.cause %>
    $('#<%= dom_id(@fight.cause, :respond) %>').hide();
  <% end %>

  $(document).trigger('result.received');
<% end %>