<div id="fight_result">
  <% if !@fight.new_record? %>
    <% if @fight.winner == current_character %>
      <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Fight, :attack,
            :template_data => {
              :victim           => fb_name(@fight.victim.user),
              :money            => @fight.money,
              :experience       => @fight.experience,
              :attacker_hp_loss => @fight.attacker_hp_loss,
              :victim_hp_loss   => @fight.victim_hp_loss
            },
            :html => {:class => "publish button"}
          ) %>

      <p class="success">
        <% fb_i do %>
          <%= t(".messages.success", :pronoun => fb_pronoun(@fight.victim.user, :objective => true)) %>
          
          <%= fb_it(:user_name, character_name_link(@fight.victim)) %>
        <% end %>
      </p>

      <table>
        <tr>
          <td class="received">
            <h3><%= fb_i(t(".you_received.title")) %></h3>
            <ul>
              <li class="experience">
                <b><%= fb_i(Character.human_attribute_name("experience")) %></b>
                <div><%= @fight.experience %></div>
              </li>
              <li class="basic_money">
                <b><%= fb_i(Character.human_attribute_name("basic_money")) %></b>
                <div><%= @fight.money %></div>
              </li>
            </ul>
          </td>
          <td class="lost">
            <h3><%= fb_i(t(".you_lost.title")) %></h3>
            <ul>
              <li class="energy">
                <b><%= fb_i(Character.human_attribute_name("energy")) %></b>
                <div>1</div>
              </li>
              <li class="health">
                <b><%= fb_i(Character.human_attribute_name("health")) %></b>
                <div><%= @fight.attacker_hp_loss %></div>
              </li>
            </ul>
          </td>
          <td class="victim_lost">
            <h3>
              <% fb_i do %>
                <%= t('.victim_lost.title') %>
                
                <%= fb_it(:user_name, character_name_link(@fight.victim)) %>
              <% end %>
            </h3>
            <ul>
              <li class="health">
                <b><%= fb_i(Character.human_attribute_name("health")) %></b>
                <div><%= @fight.victim_hp_loss %></div>
              </li>
            </ul>
          </td>
        </tr>
      </table>

      <% content_for :script do %>
        Fight.hideVictim(<%= @victim.id %>);
      <% end %>
    <% else %>
      <%= link_to_remote(fb_i(t(".buttons.attack_again")),
            :url    => fights_url(:victim_id => @victim, :canvas => false),
            :update => :result,
            :html   => {:class => "attack_again button"}
          ) if current_character.energy > 0 %>

      <p class="fail">
        <% fb_i do %>
          <%= t(".messages.fail", :pronoun => fb_pronoun(@fight.victim.user, :objective => true)) %>

          <%= fb_it(:user_name, character_name_link(@fight.victim)) %>
        <% end %>
      </p>

      <table>
        <tr>
          <td class="lost">
            <h3><%= fb_i(t(".you_lost.title")) %></h3>
            <ul>
              <li class="energy">
                <b><%= fb_i(Character.human_attribute_name("energy")) %></b>
                <div>1</div>
              </li>
              <li class="health">
                <b><%= fb_i(Character.human_attribute_name("health")) %></b>
                <div><%= @fight.attacker_hp_loss %></div>
              </li>
              <li class="basic_money">
                <b><%= fb_i(Character.human_attribute_name("basic_money")) %></b>
                <div><%= @fight.money %></div>
              </li>
            </ul>
          </td>
          <td class="victim_lost">
            <h3>
              <% fb_i do %>
                <%= t(".victim_lost.title") %>
                
                <%= fb_it(:user_name, character_name_link(@fight.victim)) %>
              <% end %>
            </h3>
            <ul>
              <li class="health">
                <b><%= fb_i(Character.human_attribute_name("health")) %></b>
                <div><%= @fight.victim_hp_loss %></div>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  <% else %>
    <p><%= fb_i(@fight.errors.on(:character)) %></p>
  <% end %>
</div>

<% content_for :script do %>
  $('result').show();
<% end %>