<div id="fight_result">
  <% if @fight.valid? %>
    <p class="success">
      <%= raw t(".message", 
            :pronoun    => fb_pronoun(@fight.victim, :objective => true),
            :user_name  => fb_name(@fight.victim)
          ) %>
    </p>

    <table class="payouts" cellspacing="0" cellpadding="0">
      <tr>
        <td class="received">
          <h3><%= t(".you_received.title") %></h3>

          <%= payout(:experience, @fight.experience) %>
          <%= payout(:basic_money, number_to_currency(@fight.money)) %>
        </td>
        <td class="lost">
          <h3><%= t(".you_lost.title") %></h3>

          <%= payout(:energy, Configuration[:fight_with_invite_energy_required]) %>
          <%= payout(:health, @fight.attacker_hp_loss) %>
        </td>
        <td class="victim_lost">
          <h3><%= raw t(".victim_lost.title", :user_name => fb_name(@fight.victim)) %></h3>

          <%= payout(:health, @fight.victim_hp_loss) %>
        </td>
      </tr>
    </table>

    <% content_for :script do %>
      Fight.hideVictim('<%= @fight.victim %>');
    <% end %>
  <% elsif @fight.attacker.weak? %>
    <p><%= t("activerecord.errors.models.fight.attributes.character.too_weak") %></p>
  <% elsif not @fight.enough_energy? %>
    <p><%= t("activerecord.errors.models.fight.attributes.character.not_enough_energy") %></p>
  <% end %>
</div>

<%= character_level_up_block %>

<% content_for :script do %>
  $('result').show();
<% end %>