<div id="fight_result">
  <% if @fight.valid? %>
    <p class="success">
      <% fb_i do %>
        <%= raw t(".message", :pronoun => fb_pronoun(@fight.victim, :objective => true)) %>

        <%= fb_it(:user_name, fb_name(@fight.victim)) %>
      <% end %>
    </p>

    <table class="payouts">
      <tr>
        <td class="received">
          <h3><%= fb_i(t(".you_received.title")) %></h3>

          <%= payout(:experience,
                Character.human_attribute_name("experience"),
                @fight.experience
              ) %>
          <%= payout(:basic_money,
                Character.human_attribute_name("basic_money"),
                number_to_currency(@fight.money)
              ) %>
        </td>
        <td class="lost">
          <h3><%= fb_i(t(".you_lost.title")) %></h3>

          <%= payout(:energy,
                Character.human_attribute_name("energy"),
                Configuration[:fight_with_invite_energy_required]
              ) %>
          <%= payout(:health,
                Character.human_attribute_name("health"),
                @fight.attacker_hp_loss
              ) %>
        </td>
        <td class="victim_lost">
          <h3>
            <% fb_i t(".victim_lost.title")do %>
              <%= fb_it(:user_name, fb_name(@fight.victim)) %>
            <% end %>
          </h3>

          <%= payout(:health,
                Character.human_attribute_name("health"),
                @fight.victim_hp_loss
              ) %>
        </td>
      </tr>
    </table>

    <% content_for :script do %>
      Fight.hideVictim('<%= @fight.victim %>');
    <% end %>
  <% elsif @fight.attacker.weak? %>
    <%= t("activerecord.errors.models.fight.attributes.character.too_weak") %>
  <% elsif not @fight.enough_energy? %>
    <%= t("activerecord.errors.models.fight.attributes.character.not_enough_energy") %>
  <% end %>
</div>

<%= character_level_up_block %>

<% content_for :script do %>
  $('result').show();
<% end %>