<%= title(t(".title")) %>

<%= render "fights/buttons", :current => :fight %>

<%= render "inventories/boosts", :type => :fight, :destination => :damage %>
<%= render "inventories/boosts", :type => :fight, :destination => :defence %>
<div class="clearfix"></div>

<% if unsatisfied_requirement = unsatisfied_requirement_first(current_character.fight_requirements) and !unsatisfied_requirement.empty? %>
  <% render_to_result do %>
    <% result_for :fight do %>
      <div class="unsatisfied_requirements">
        <%= unsatisfied_requirement %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% collection(@victims) do %>
  <%= render "victim_list", :victims => @victims %>
<% end %>

<div class="more_opponents controls">
  <%= link_to_remote(button(:more_opponents), 
        :url => fights_path,
        :method => :get,
        :success => "$('#victim_list').append(request)",
        :html   => {
            :class => "button more_opponents"
          }
      ) %>
</div>
