<%= render :partial => "characters/fight_attributes" %>

<%= title(fb_i(t(".title"))) %>

<% if current_character.weak? %>
  <p>
  <% fb_i do %>
    <%= t(".messages.too_weak") %>
    
    <%= fb_it(:hp_number, current_character.weakness_minimum) %>
    <%= fb_it(:minute_number, (current_character.hp_restore_time(current_character.weakness_minimum) / 1.minute).ceil) %>
  <% end %>
  </p>
<% elsif current_character.ep == 0 %>
  <p>
    <% fb_i do %>
      <%= t(".messages.not_enough_energy") %>
      
      <%= fb_it(:minute_number, (current_character.ep_restore_time(1) / 1.minute).ceil) %>
    <% end %>
  </p>
<% else %>
  <% if @victims.any? %>
    <%= render :partial => "victim_list", :locals => {:victims => @victims} %>
  <% else %>
    <div class="empty_set"><%= fb_i(t(".empty_set")) %></div>
  <% end %>
<% end %>