<%= title(fb_i(t(".title"))) %>

<% if current_character.weak? %>
  <p>
  <% fb_i do %>
    <%= t(".messages.too_weak") %>
    
    <%= fb_it(:hp_number, current_character.weakness_minimum) %>
    <%= fb_it(:minute_number, (current_character.hp_restore_time(current_character.weakness_minimum) / 1.minute).ceil) %>
  <% end %>
  </p>
<% elsif current_character.ep == 0 %>
  <p>
    <% fb_i do %>
      <%= t(".messages.not_enough_energy") %>
      
      <%= fb_it(:minute_number, (current_character.ep_restore_time(1) / 1.minute).ceil) %>
    <% end %>
  </p>
<% else %>
  <% if @victims.any? %>
    <table id="victim_list" cellspacing="0">
      <tr>
        <th colspan="2"><%= fb_i(t(".columns.user")) %></th>
        <th><%= fb_i(t(".columns.level")) %></th>
      </tr>
      <% @victims.each do |victim| %>
        <% content_tag_for(:tr, victim) do %>
          <td class="picture"><%= character_picture_link(victim) %></td>
          <td class="name"><%= character_name_link(victim) %></td>
          <td class="level"><%= victim.level %></td>
          <td class="controls">
            <%= link_to_remote(fb_i(t(".buttons.attack")),
                  :url => fights_url(:victim_id => victim, :canvas => false),
                  :update => :result
                ) %>
          </td>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <div class="empty_set"><%= fb_i(t(".empty_set")) %></div>
  <% end %>
<% end %>