<%= title(fb_i("Fighting Arena")) %>

<div id="fight_result" class="result" style="display:none"></div>

<% if current_character.weak? %>
  <p>
  <% fb_i do %>
    You are too weak to fight! Take a rest until your health will grow to {hp_number} points.
    You need to wait about {minute_number} minutes.
    <%= fb_it(:hp_number, current_character.weakness_minimum) %>
    <%= fb_it(:minute_number, (current_character.hp_restore_time(current_character.weakness_minimum) / 1.minute).ceil) %>
  <% end %>
  </p>
<% elsif current_character.ep == 0 %>
  <p>
    <% fb_i do %>
      You don't have enough energy to fight! Take a rest until your energy will grow.
      You need to wait about {minute_number} minutes.
      <%= fb_it(:minute_number, (current_character.ep_restore_time(1) / 1.minute).ceil) %>
    <% end %>
  </p>
<% else %>
  <% if @victims.any? %>
    <table id="victim_list" cellspacing="0">
      <tr>
        <th colspan="2"><%= fb_i("User") %></th>
        <th><%= fb_i("Level") %></th>
      </tr>
      <% @victims.each do |victim| %>
        <% content_tag_for(:tr, victim) do %>
          <td class="picture"><%= character_picture_link(victim) %></td>
          <td class="name"><%= character_name_link(victim) %></td>
          <td class="level"><%= victim.level %></td>
          <td class="controls">
            <%= link_to_remote(fb_i("Attack!"),
                  :url => fights_url(:victim_id => victim, :canvas => false),
                  :update => :fight_result
                ) %>
          </td>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <div class="empty_set"><%= fb_i("There is no opponents for you at this time.") %></div>
  <% end %>
<% end %>