<table class="items" cellspacing="0" cellpadding="0">
  <tr>
    <td class="attacker">
      <h3><%= t(".attacker") %></h3>

      <% ItemGroup.all.each do |group| %>
        <div class="group">
          <strong><%= group.name %></strong>

          <%= @fight.attacker.inventories.by_item_group(group).equipped.collect{|i|
                t(".item", :name => i.name, :amount => i.equipped)
              }.join(", ").html_safe! %>
        </div>
      <% end %>
    </td>
    <td class="victim">
      <h3><%= t(".victim") %></h3>

      <% ItemGroup.all.each do |group| %>
        <div class="group">
          <strong><%= group.name %></strong>

          <%= @fight.victim.inventories.by_item_group(group).equipped.collect{|i|
                t(".item", :name => i.name, :amount => i.equipped)
              }.join(", ").html_safe! %>
        </div>
      <% end %>
    </td>
  </tr>
</table>