<%= admin_title(t(".title")) %>

<div class="note">
  <%= t('.note') %>
</div>

<% collection @bosses do %>
  <table id="boss_list" class="data">
    <tr>
      <th><%= Boss.human_attribute_name("image") %></th>
      <th><%= Boss.human_attribute_name("name") %></th>
      <th><%= MissionGroup.human_name %></th>
      <th><%= Boss.human_attribute_name("health") %></th>
      <th><%= Boss.human_attribute_name("attack") %></th>
      <th><%= Boss.human_attribute_name("defence") %></th>
      <th><%= Boss.human_attribute_name("requirements") %></th>
      <th><%= Boss.human_attribute_name("payouts") %></th>
      <th><%= Boss.human_attribute_name("state") %></th>
      <th></th>
    </tr>
    <% @bosses.each do |boss| %>
      <% content_tag_for(:tr, boss) do %>
        <td class="image"><%= image_tag(boss.pictures.url(:icon)) if boss.pictures? %></td>
        <td class="name"><%= link_to(boss.name, edit_admin_boss_path(boss)) %></td>
        <td class="mission_group"><%= boss.mission_group.name %></td>
        <td class="health"><%= boss.health %></td>
        <td class="attack"><%= boss.attack %></td>
        <td class="defence"><%= boss.defence %></td>
        <td class="requirements"><%= admin_requirements_preview(boss.requirements) %></td>
        <td class="payouts"><%= admin_payouts_preview(boss.payouts) %></td>
        <td class="state"><%= admin_state(boss) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_boss_path(boss)) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
