<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_credit_package_path) %>
</div>

<% collection @packages do %>
  <table id="credit_package_list" class="data">
    <tr>
      <th></th>
      <th><%= Character.human_attribute_name("vip_money") %></th>
      <th><%= CreditPackage.human_attribute_name("price") %></th>
      <th><%= CreditPackage.human_attribute_name("state") %></th>
      <th></th>
    </tr>
    
    <% @packages.each do |package| %>
      <% content_tag_for(:tr, package) do %>
        <td class="default"><%= CreditPackage.human_attribute_name("default") if package.default? %></td>
        <td class="vip_money"><%= package.vip_money %></td>
        <td class="price"><%= package.price %></td>
        <td class="state"><%= admin_state(package) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_credit_package_path(package)) %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>