<%= admin_title(t(".title")) %>

<div class="note"><%= t(".note") %></div>

<div class="feature">
  <h2><%= t(".delete_users.title") %></h2>

  <p><%= t(".delete_users.note", :limit => delete_user_limit) %></p>

  <p>
    <%= link_to_remote(t(".delete_users.perform"), 
          :url      => delete_users_admin_global_task_path,
          :method   => :delete,
          :confirm  => t(".delete_users.confirm")
        ) %>
  </p>
</div>

<div class="feature">
  <h2><%= t(".restart.title") %></h2>

  <p><%= t(".restart.note") %></p>

  <p>
    <%= link_to_remote(t(".restart.perform"), 
          :url      => restart_admin_global_task_path,
          :confirm  => t(".restart.confirm")
        ) %>
  </p>
</div>
