<% content_tag_for(:tr, mission) do %>
  <td class="image"><%= image_tag(mission.image.url(:small)) if mission.image? %></td>
  <td class="details">
    <div class="name"><%= fb_i(mission.name) %></div>
    <div class="description"><%= fb_i(mission.description) %></div>
  </td>
  <td class="payout">
    <div class="experience"><%= mission.experience %></div>
    <div class="basic_money">
      <%= "%s - %s" % [number_to_currency(mission.money_min), number_to_currency(mission.money_max)] %>
    </div>
  </td>
  <td class="payout_advanced"><%= mission_payouts(mission) %></td>
  <td class="requires">
    <div class="energy"><%= mission.ep_cost %></div>
    <%= mission_requirements(mission) %>
  </td>
  <td class="progress"><%= mission_progress(current_character, mission) %></td>
  <td class="controls">
    <%= link_to_remote(fb_i(t(".buttons.fulfill")),
          :url    => fulfill_mission_url(mission, :canvas => false, :tutorial => controller_name == "tutorials"),
          :update => :result,
          :html   => {:class => :button}
        ) %>
  </td>
<% end %>