<% content_tag_for(:tr, mission) do %>
  <td class="image"><%= image_tag(mission.image.url(:small)) if mission.image? %></td>
  <td class="details">
    <div class="name"><%= mission.name %></div>
    <div class="description"><%= mission.description %></div>
  </td>
  <td class="payout_preview">
    <%= payout_preview(:experience, mission.experience) %>
    <%= payout_preview(:basic_money, mission_money(mission)) %>
    <%= payout_list(mission.payouts, :add, :preview) %>
  </td>
  <td class="requirements">
    <%= attribute_requirement(:energy, mission.ep_cost, current_character.ep >= mission.ep_cost) %>

    <%= requirement_list(mission.requirements) %>
  </td>
  <td class="progress" id="<%= dom_id(mission, :progress) %>"><%= mission_progress(current_character, mission) %></td>
  <td class="controls">
    <%= link_to_remote(button(:fulfill),
          :url    => fulfill_mission_url(mission, :canvas => false),
          :update => :result,
          :html   => {:class => :button}
        ) unless !mission.repeatable? && current_character.missions.completed?(mission) %>
  </td>
<% end %>