<% content_tag_for(:tr, mission) do %>
  <td class="info">
    <% if mission.image? %>
      <div class="image"><%= image_tag(mission.image.url(:small)) %></div>
    <% end %>

    <div class="name"><%= mission.name %></div>
    <div class="description"><%= mission.description %></div>

    <% if mission.repeatable? || rank.nil? || !rank.completed? %>
      <div class="controls">
        <%= link_to_remote(button(:fulfill),
              :url    => fulfill_mission_path(mission),
              :update => :result,
              :html   => {:class => "fulfill button"}
            ) %>
      </div>
    <% end %>

    <div class="progress" id="<%= dom_id(mission, :progress) %>">
      <%= mission_progress(rank) %>
    </div>
  </td>
  <td class="details">
    <div class="payouts">
      <h3><%= Mission.human_attribute_name("payouts") %></h3>

      <%= payout(:experience, level.experience) %>
      <%= payout(:basic_money, mission_money(level)) %>

      <%= payout_list(level, level.payouts,
            :format   => :preview,
            :triggers => rank.next_payout_triggers
          ) %>
    </div>

    <div class="requirements">
      <h3><%= Mission.human_attribute_name("requirements") %></h3>

      <%= attribute_requirement(:energy, level.energy, current_character.ep >= level.energy) %>

      <%= requirement_list(mission.requirements) %>
    </div>
  </td>
<% end %>
