<div id="mission_result">
  <% if @result.saved %>
    <% if @result.rank.just_completed? %>
      <%= render("missions/fulfill/completed",
            :mission  => @mission,
            :result   => @result,
            :missions => @missions
          ) %>
    <% elsif @result.success %>
      <%= render "missions/fulfill/success", :mission => @mission, :result => @result %>
    <% else %>
      <%= render "missions/fulfill/failure", :mission => @mission, :result => @result %>
    <% end %>

    <%= render "missions/fulfill/payouts", :mission => @mission, :result => @result %>

    <% if @result.group_rank.try(:just_created?) %>
      <%= render "mission_groups/complete", :result => @result %>
    <% end %>
  <% elsif !@result.enough_energy? %>
    <p>
      <% fb_i t(".not_enough_energy.message") do %>
        <%= fb_it(:ep_number, @mission.ep_cost) %>
        <%= fb_it(:minute_number, (current_character.ep_restore_time(@mission.ep_cost) / 1.minute).ceil) %>
      <% end %>
    </p>
  <% elsif !@result.requirements_satisfied? %>
    <p><%= fb_i(t(".requirements_not_satisfied.message")) %></p>

    <div class="requirements clearfix">
      <%= requirement_list(@mission.requirements, :unsatisfied) %>
    </div>
  <% elsif @result.rank.completed? %>
    <p><%= fb_i(t(".already_completed.message")) %></p>
  <% end %>
</div>

<% if @mission_groups %>
  <% fb_js_string :mission_group_list do %>
    <%= render("mission_groups/tabs",
          :groups   => @mission_groups,
          :current  => current_character.mission_groups.current
        ) %>
  <% end %>

  <% content_for :script do %>
    if($('mission_group_list')){
      $('mission_group_list').setInnerFBML(mission_group_list);
    }
  <% end %>
<% end %>

<%= character_level_up_block %>

<% content_for :script do %>
  $('result').show();
<% end %>