<div id="mission_result">
  <% if @result.saved %>
    <% if @result.rank.just_completed? %>
      <%= render(
            :partial  => "missions/fulfill/completed",
            :locals   => {
              :mission  => @mission,
              :result   => @result,
              :missions => @missions
            }
          ) %>
    <% elsif @result.success %>
      <%= render :partial => "missions/fulfill/success", :locals => {:mission => @mission, :result => @result} %>
    <% else %>
      <%= render :partial => "missions/fulfill/failure", :locals => {:mission => @mission, :result => @result} %>
    <% end %>

    <%= render :partial => "missions/fulfill/payouts", :locals => {:mission => @mission, :result => @result} %>

    <% if @result.group_rank %>
      <%= render :partial => "mission_groups/complete", :locals => {:mission_result => @result} %>
    <% end %>
  <% elsif !@result.enough_energy? %>
    <p>
      <% fb_i t(".not_enough_energy.message") do %>
        <%= fb_it(:ep_number, @mission.ep_cost) %>
        <%= fb_it(:minute_number, (current_character.ep_restore_time(@mission.ep_cost) / 1.minute).ceil) %>
      <% end %>
    </p>
  <% elsif !@result.requirements_satisfied? %>
    <p>
      <%= fb_i(t(".requirements_not_satisfied.message")) %>

      <div class="requirements clearfix">
        <%= mission_requirements(@mission, :unsatisfied) %>
      </div>
    </p>
  <% elsif @result.rank.completed? %>
    <p><%= fb_i(t(".already_completed.message")) %></p>
  <% end %>
</div>

<% if @mission_groups %>
  <% fb_js_string :mission_group_list do %>
    <%= render(
          :partial => "mission_groups/tabs",
          :locals => {
            :groups   => @mission_groups,
            :current  => current_character.mission_groups.current
          }
        ) %>
  <% end %>

  <% content_for :script do %>
    if($('mission_group_list')){
      $('mission_group_list').setInnerFBML(mission_group_list);
    }
  <% end %>
<% end %>

<%= character_level_up_block %>

<% content_for :script do %>
  $('result').show();
<% end %>