<div id="mission_result">
  <% if @result.saved %>
    <% if @result.rank.completed? %>
      <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Mission, :completed,
            :template_data => {
              :title    => @mission.title,
              :mission  => @mission.name
            },
            :html => {:class => "publish button"}
          ) %>

      <h2><%= fb_i(t(".completed.title")) %></h2>

      <p>
        <%= fb_i(@mission.complete_text) %>

        <%= fb_i(t(".completed.message")) %>
      </p>

      <h3 class="title"><%= fb_i(@mission.title) %></h3>

      <% content_for :script do %>
        Mission.hideControls(<%= @mission.id %>);

        <%= show_feed_dialog(Publisher::Mission, :completed,
              :template_data => {
                :title    => @mission.title,
                :mission  => @mission.name
              }
            ) %>
      <% end %>
    <% elsif @result.success %>
      <%= link_to_remote(fb_i(t(".buttons.continue")),
            :url => fulfill_mission_url(@mission, :canvas => false),
            :update => :result,
            :html   => {:class => "fulfill_again button"}
          ) if current_character.can_fulfill?(@mission) %>

      <%= help_request_link(fb_i(t(".buttons.request_help")), @mission, 
            :class => "request_help button"
          ) %>

      <p>
        <%= fb_i(t(".succeeded.message")) %> <%= fb_i(@mission.success_text) %>
      </p>
    <% else %>
      <%= help_request_link(fb_i(t(".buttons.request_help")), @mission,
            :class => "request_help button"
          ) %>
      
      <%= link_to_remote(fb_i(t(".buttons.try_again")),
            :url => fulfill_mission_url(@mission, :canvas => false),
            :update => :result,
            :html   => {:class => "fulfill_again button"}
          ) if current_character.can_fulfill?(@mission) %>

      <p>
        <%= fb_i("Ouch!") %> <%= fb_i(@mission.failure_text) %>
      </p>
    <% end %>

    <table class="payouts">
      <tr>
        <% if @result.received_something? %>
          <td class="received">
            <h3><%= fb_i(t(".you_received.title")) %></h3>
            
            <% if @result.experience %>
              <%= payout(:experience,
                    Character.human_attribute_name("experience"),
                    @result.experience
                  ) %>
            <% end %>

            <% if @result.money %>
              <%= payout(:basic_money,
                    Character.human_attribute_name("basic_money"),
                    @result.money
                  ) %>
            <% end %>

            <%= payout_list(@result, :add) %>
          </td>
        <% end %>
        <td class="spent">
          <h3><%= fb_i(t(".you_spent.title")) %></h3>

          <% if @result.free_fulfillment %>
            <% payout("energy zero", Character.human_attribute_name("energy"), 0) do %>
              <span class="relation">
                <% fb_i do %>
                  <%= t(".you_spent.zero_energy") %>
                  <%= fb_it(:user,
                        character_name_link(
                          current_character.assignments.by_role(:mission_energy).relation.target_character
                        )
                      ) %>
                <% end %>
              </span>
            <% end %>
          <% else %>
            <%= payout(:energy, Character.human_attribute_name("energy"), @mission.ep_cost) %>
          <% end %>
          
          <%= payout_list(@result, :remove) %>
        </td>
        <td class="progress">
          <h3><%= fb_i(t(".progress.title")) %></h3>

          <%= mission_progress(current_character, @mission) %>
        </td>
      </tr>
    </table>

    <% fb_js_string :mission_progress do %>
      <%= mission_progress(current_character, @mission) %>
    <% end %>
      
    <% content_for :script do %>
      Mission.setProgress(<%= @mission.id %>, mission_progress);
    <% end %>
  <% elsif !@result.enough_energy? %>
    <p>
      <% fb_i do %>
        <%= t(".not_enough_energy.message") %>
        
        <%= fb_it(:ep_number, @mission.ep_cost) %>
        <%= fb_it(:minute_number, (current_character.ep_restore_time(@mission.ep_cost) / 1.minute).ceil) %>
      <% end %>
    </p>
  <% elsif !@result.requirements_satisfied? %>
    <p>
      <%= fb_i(t(".requirements_not_satisfied.message")) %>
      
      <%= mission_requirements(@mission, :unsatisfied) %>
    </p>
  <% elsif @result.completed? %>
    <p><%= fb_i(t(".already_completed.message")) %></p>
  <% end %>
</div>

<%= character_level_up_block %>

<% content_for :script do %>
  <% if @result.completed? %>
    Mission.onComplete();
  <% end %>
  
  $('result').show();
<% end %>