<div id="mission_result">
  <% if @result.saved %>
    <% if @result.rank.completed? %>
      <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Mission, :completed,
            :template_data => {
              :title => @mission.title,
              :mission => @mission.name
            },
            :html => {:class => "publish button"}
          ) %>

      <h2><%= fb_i(t(".completed.title")) %></h2>

      <p>
        <%= fb_i(@mission.complete_text) %>

        <%= fb_i(t(".completed.message")) %>
      </p>

      <h3 class="title"><%= fb_i(@mission.title) %></h3>

      <% content_for :script do %>
        Mission.hideControls(<%= @mission.id %>);
      <% end %>
    <% elsif @result.success %>
      <%= link_to_remote(fb_i(t(".buttons.continue")),
            :url => fulfill_mission_url(@mission, :canvas => false),
            :update => :result,
            :html   => {:class => "fulfill_again button"}
          ) if current_character.can_fulfill?(@mission) %>

      <p>
        <%= fb_i(t(".succeeded.message")) %> <%= fb_i(@mission.success_text) %>
      </p>
    <% else %>
      <%= link_to_remote(fb_i(t(".buttons.try_again")),
            :url => fulfill_mission_url(@mission, :canvas => false),
            :update => :result,
            :html   => {:class => "fulfill_again button"}
          ) if current_character.can_fulfill?(@mission) %>

      <p>
        <%= fb_i("Ouch!") %> <%= fb_i(@mission.failure_text) %>
      </p>
    <% end %>

    <table>
      <tr>
        <% if @result.received_something? %>
          <td class="received">
            <h3><%= fb_i(t(".you_received.title")) %></h3>
            <ul>
              <% if @result.experience %>
                <li class="experience">
                  <b><%= fb_i(Character.human_attribute_name("experience")) %></b>
                  <div><%= @result.experience %></div>
                </li>
              <% end %>

              <% if @result.money %>
                <li class="basic_money">
                  <b><%= fb_i(Character.human_attribute_name("basic_money")) %></b>
                  <div><%= @result.money %></div>
                </li>
              <% end %>

              <% @result.payouts.each do |payout| %>
                <%= render(
                      :partial => "missions/received_payouts/#{payout.class.to_s.underscore}",
                      :locals => {:payout => payout}
                    ) %>
              <% end %>
            </ul>
          </td>
        <% end %>
        <td class="spent">
          <h3><%= fb_i(t(".you_spent.title")) %></h3>
          <ul>
            <li class="energy">
              <b><%= fb_i(Character.human_attribute_name("energy")) %></b>
              <div><%= @mission.ep_cost %></div>
            </li>
          </ul>
        </td>
      </tr>
    </table>

    <% content_for :script do %>
      Mission.setProgress(<%= @mission.id %>, '<%= mission_progress(current_character, @mission) %>');
    <% end %>
  <% elsif !@result.enough_energy? %>
    <p>
      <% fb_i do %>
        <%= t(".not_enough_energy.message") %>
        
        <%= fb_it(:ep_number, @mission.ep_cost) %>
        <%= fb_it(:minute_number, (current_character.ep_restore_time(@mission.ep_cost) / 1.minute).ceil) %>
      <% end %>
    </p>
  <% end %>
</div>

<% content_for :script do %>
  $('result').show();
<% end %>