<div id="mission_result">
  <% if @result.saved %>
    <% if @result.rank.just_completed? %>
      <div class="buttons">
        <%= link_to_feed_dialog(t(".buttons.publish"), Publisher::Mission, :completed,
              :template_data => {
                :title    => @mission.title,
                :mission  => @mission.name
              },
              :html => {:class => "publish button"}
            ) %>
      </div>

      <h2><%= fb_i(t(".completed.title")) %></h2>

      <p>
        <%= fb_i(@mission.complete_text) %>
      </p>

      <% unless @mission.title.blank? %>
        <p><%= fb_i(t(".completed.message")) %></p>

        <h3 class="title"><%= fb_i(@mission.title) %></h3>
      <% end %>

      <% if @mission.child_missions.any? %>
        <div class="child_missions">
          <p><%= fb_i(t(".completed.child_missions")) %></p>

          <% @mission.child_missions.each do |child| %>
            <div class="child"><%= child.name %></div>
          <% end %>
        </div>
      <% end %>

      <% content_for :script do %>
        <%= show_feed_dialog(Publisher::Mission, :completed,
              :template_data => {
                :title    => @mission.title,
                :mission  => @mission.name
              }
            ) %>
      <% end %>
    <% elsif @result.success %>
      <div class="buttons">
        <%= link_to_remote(fb_i(t(".buttons.continue")),
              :url => fulfill_mission_url(@mission, :canvas => false, :tutorial => tutorial?),
              :update => :result,
              :html   => {:class => "fulfill_again button"}
            ) if current_character.can_fulfill?(@mission) %>

        <%= help_request_link(fb_i(t(".buttons.request_help")), @mission,
              :class => "request_help button"
            ) %>
      </div>

      <p>
        <%= fb_i(t(".succeeded.message")) %> <%= fb_i(@result.success_text) %>
      </p>
    <% else %>
      <div class="buttons">
        <%= help_request_link(fb_i(t(".buttons.request_help")), @mission,
              :class => "request_help button"
            ) %>

        <%= link_to_remote(fb_i(t(".buttons.try_again")),
              :url => fulfill_mission_url(@mission, :canvas => false),
              :update => :result,
              :html   => {:class => "fulfill_again button"}
            ) if current_character.can_fulfill?(@mission) %>
      </div>

      <p>
        <%= fb_i(t(".failed.message")) %> <%= fb_i(@mission.failure_text) %>
      </p>
    <% end %>

    <table class="payouts">
      <tr>
        <% if @result.received_something? %>
          <td class="received">
            <h3><%= fb_i(t(".you_received.title")) %></h3>
            
            <% if @result.experience %>
              <%= payout(:experience,
                    Character.human_attribute_name("experience"),
                    @result.experience
                  ) %>
            <% end %>

            <% if @result.money %>
              <%= payout(:basic_money,
                    Character.human_attribute_name("basic_money"),
                    number_to_currency(@result.money)
                  ) %>
            <% end %>

            <%= payout_list(@result.payouts, :add) %>

            <% if @result.loot %>
              <div class="loot">
                <div class="relation">
                  <% fb_i do %>
                    <% if @result.looter %>
                      <%= t(".you_received.loot_with_looter") %>

                      <%= fb_it(:user, 
                            @result.looter.is_a?(FriendRelation) ? character_name_link(@result.looter.target_character) : @result.looter.name
                          ) %>
                    <% else %>
                      <%= t(".you_received.loot_without_looter") %>
                    <% end %>

                    <%= fb_it(:item, content_tag(:strong, @result.loot.name)) %>
                  <% end %>
                </div>

                <%= item_image(@result.loot, :icon) %>
              </div>
            <% end %>
          </td>
        <% end %>
        <td class="spent">
          <h3><%= fb_i(t(".you_spent.title")) %></h3>

          <% if @result.free_fulfillment %>
            <% payout("energy zero", Character.human_attribute_name("energy"), 0) do %>
              <span class="relation">
                <% fb_i do %>
                  <%= t(".you_spent.zero_energy") %>
                  <%= fb_it(:user,
                        character_name_link(
                          current_character.assignments.by_role(:mission_energy).relation.target_character
                        )
                      ) %>
                <% end %>
              </span>
            <% end %>
          <% else %>
            <%= payout(:energy, Character.human_attribute_name("energy"), @mission.ep_cost) %>
          <% end %>
          
          <%= payout_list(@result.payouts, :remove) %>
        </td>
        <td class="progress">
          <h3><%= fb_i(t(".progress.title")) %></h3>

          <%= mission_progress(current_character, @mission) %>
        </td>
      </tr>
    </table>

    <% if @result.group_rank %>
      <%= render :partial => "mission_groups/complete", :locals => {:mission_result => @result} %>
    <% end %>
  <% elsif !@result.enough_energy? %>
    <p>
      <% fb_i do %>
        <%= t(".not_enough_energy.message") %>
        
        <%= fb_it(:ep_number, @mission.ep_cost) %>
        <%= fb_it(:minute_number, (current_character.ep_restore_time(@mission.ep_cost) / 1.minute).ceil) %>
      <% end %>
    </p>
  <% elsif !@result.requirements_satisfied? %>
    <p>
      <%= fb_i(t(".requirements_not_satisfied.message")) %>

      <div class="requirements clearfix">
        <%= mission_requirements(@mission, :unsatisfied) %>
      </div>
    </p>
  <% elsif @result.rank.completed? %>
    <p><%= fb_i(t(".already_completed.message")) %></p>
  <% end %>
</div>

<% if @missions %>
  <% fb_js_string :mission_list do %>
    <%= render(
          :partial => "list",
          :locals => {
            :missions => @missions
          }
        ) %>
  <% end %>

  <% content_for :script do %>
    if($('mission_list')){
      $('mission_list').setInnerFBML(mission_list);
    }
  <% end %>
<% end %>

<% if @mission_groups %>
  <% fb_js_string :mission_group_list do %>
    <%= render(
          :partial => "mission_groups/tabs",
          :locals => {
            :groups   => @mission_groups,
            :current  => current_character.mission_groups.current
          }
        ) %>
  <% end %>

  <% content_for :script do %>
    if($('mission_group_list')){
      $('mission_group_list').setInnerFBML(mission_group_list);
    }
  <% end %>
<% end %>

<%= character_level_up_block %>

<% content_for :script do %>
  <% if @result.rank.just_completed? %>
    Mission.onComplete();
  <% end %>

  
  $('result').show();
<% end %>