<% if @rank %>
  <p>
    <%= fb_i("Well done!") %> <%= fb_i(@mission.won_text) %>
  </p>

  <table>
    <tr>
      <td class="received">
        <h3><%= fb_i("You received:") %></h3>
        <ul>
          <li class="experience">
            <b><%= fb_i("Experience:") %></b>
            <div><%= @mission.experience %></div>
          </li>
          <li class="basic_money">
            <b><%= fb_i("Money:") %></b>
            <div><%= @mission.money %></div>
          </li>
        </ul>
      </td>
      <td class="spent">
        <h3><%= fb_i("You spent:") %></h3>
        <ul>
          <li class="energy">
            <b><%= fb_i("Energy:") %></b>
            <div><%= @mission.experience %></div>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  
  <% content_for :script do %>
    Mission.setCompleteness(<%= @mission.id %>, '<%= @rank.completeness %>');
  <% end %>

  <% if @rank.completed? %>
    <h2><%= fb_i("Congratulations!") %></h2>

    <p>
      <%= fb_i(@mission.complete_text) %>

      <%= fb_i("You completed this mission and received new title:") %>
    </p>

    <h3 class="title"><%= fb_i(@mission.title) %></h3>

    <% content_for :script do %>
      Mission.hideControls(<%= @mission.id %>);
    <% end %>
  <% else %>
    <%= link_to_remote(fb_i("Fulfill Again!"),
          :url => fulfill_mission_url(@mission, :canvas => false),
          :update => :mission_result,
          :html   => {:class => :fulfill_again}
        ) if current_character.ep >= @mission.ep_cost %>
  <% end %>
<% else %>
  <p>
    <% fb_i do %>
      You don't have enough energy. Take a rest until your energy will grow to {ep_number} points.
      You need to wait about {minute_number} minutes.
      <%= fb_it(:ep_number, @mission.ep_cost) %>
      <%= fb_it(:minute_number, (current_character.ep_restore_time(@mission.ep_cost) / 1.minute).ceil) %>
    <% end %>
  </p>
<% end %>

<% content_for :script do %>
  Mission.showResult();
<% end %>