<% result_for(:mission) do |builder| %>
  <% if @result.saved %>
    <% if @result.level_rank.just_completed? %>
      <%= builder.render("missions/fulfill/completed",
            :mission  => @mission,
            :result   => @result,
            :missions => @missions
          ) %>
    <% elsif @result.success %>
      <%= builder.render "missions/fulfill/success", :mission => @mission, :result => @result %>
    <% else %>
      <%= builder.render "missions/fulfill/failure", :mission => @mission, :result => @result %>
    <% end %>

    <%= builder.render "missions/fulfill/payouts", :mission => @mission, :result => @result %>

    <% if @result.group_rank.try(:just_created?) %>
      <%= builder.render "mission_groups/complete", :result => @result %>
    <% end %>

    <% builder.on_ready do %>
      $('#mission_group_list').html('<%= escape_javascript(render("mission_groups/tabs")) %>');
    <% end %>
  <% elsif !@result.enough_energy? %>
    <%= builder.render("requirements/not_satisfied/energy_point",
          :requirement => @result.level.energy_requirement
        ) %>
  <% elsif !@result.requirements_satisfied? %>
    <% builder.fail do %>
      <%= t(".requirements_not_satisfied") %>
    <% end %>

    <div class="requirements clearfix">
      <%= unsatisfied_requirement_list(@mission.requirements) %>
    </div>

    <% builder.on_ready do %>
      Mission.requirementCallback = function(){
        <%= remote_function(
              :url    => fulfill_mission_path(@mission),
              :update => :result
            ) %>
      };

      $(document).bind('requirement.satisfy', Mission.onRequirementSatisfy);
    <% end %>
  <% elsif @result.mission_rank.completed? %>
    <% builder.fail do %>
      <%= t(".already_completed.message") %>
    <% end %>
  <% end %>
<% end %>