<% result_for(:mission) do %>
  <% if @result.saved %>
    <% if @result.rank.just_completed? %>
      <%= render("missions/fulfill/completed",
            :mission  => @mission,
            :result   => @result,
            :missions => @missions
          ) %>
    <% elsif @result.success %>
      <%= render "missions/fulfill/success", :mission => @mission, :result => @result %>
    <% else %>
      <%= render "missions/fulfill/failure", :mission => @mission, :result => @result %>
    <% end %>

    <%= render "missions/fulfill/payouts", :mission => @mission, :result => @result %>

    <% if @result.group_rank.try(:just_created?) %>
      <%= render "mission_groups/complete", :result => @result %>
    <% end %>
  <% elsif !@result.enough_energy? %>
    <%= render("requirements/not_satisfied/energy_point",
          :requirement => @mission.energy_requirement
        ) %>
  <% elsif !@result.requirements_satisfied? %>
    <p><%= t(".requirements_not_satisfied.message") %></p>

    <div class="requirements clearfix">
      <%= unsatisfied_requirement_list(@mission.requirements) %>
    </div>

    <% dom_ready do %>
      Mission.requirementCallback = function(){
        <%= remote_function(
              :url    => fulfill_mission_path(@mission),
              :update => :result
            ) %>
      };

      $(document).bind('requirement.satisfy', Mission.onRequirementSatisfy);
    <% end %>
  <% elsif @result.rank.completed? %>
    <p><%= t(".already_completed.message") %></p>
  <% end %>
<% end %>

<%= character_level_up_block %>

<% dom_ready do %>
  <% if @mission_groups %>
    $('#mission_group_list').html('<%=
      escape_javascript(
        render("mission_groups/tabs",
          :groups   => @mission_groups,
          :current  => current_character.mission_groups.current
        )
      ) %>');
  <% end %>

  $(document).trigger('result.received');
<% end %>