<%= title(fb_i(t(".title"))) %>

<% if help_request = current_character.help_requests.latest(Mission) and help_request.should_be_displayed? %>
  <div id="latest_help_request">
    <% fb_i do %>
      <%= t(".latest_help_request") %>

      <%= fb_it(:mission, help_request.context.name) %>
      <%= fb_it(:friend_amount, content_tag(:strong, help_request.help_results.size)) %>
      <%= fb_it(:money_amount, content_tag(:span, number_to_currency(help_request.money), :class => :basic_money)) %>
    <% end %>
  </div>
<% end %>

<% if @mission_groups.any? %>
  <div id="mission_group_list">
    <%= render(
          :partial  => "mission_groups/tabs",
          :locals   => {
            :groups   => @mission_groups,
            :current  => @current_mission_group
          }
        ) %>
  </div>
<% end %>

<div id="mission_list">
  <% unless @current_mission_group.locked?(current_character) %>
    <%= render :partial => "list", :locals => {:missions => @missions} %>
  <% else %>
    <div class="empty_set" id="next_mission_group">
      <% fb_i do %>
        <%= t(".locked_group") %>

        <%= fb_it(:level, content_tag(:span, @current_mission_group.level, :class => :level)) %>
      <% end %>
    </div>
  <% end %>
</div>