<%= title(fb_i(t(".title"))) %>

<% if @missions.any? %>
  <table id="mission_list" cellspacing="0">
    <% @missions.each do |mission| %>
      <% group_header mission.mission_group do |group| %>
        <tr>
          <th class="mission_group"><%= fb_i(group.name) %></th>
          <th colspan="2"><%= fb_i(t(".columns.payout")) %></th>
          <th><%= fb_i(t(".columns.requires")) %></th>
          <th><%= fb_i(t(".columns.progress")) %></th>
          <th></th>
        </tr>
      <% end %>

      <% content_tag_for(:tr, mission) do %>
        <td class="details">
          <div class="name"><%= fb_i(mission.name) %></div>
          <div class="description"><%= fb_i(mission.description) %></div>
        </td>
        <td class="payout">
          <div class="experience"><%= mission.experience %></div>
          <div class="basic_money"><%= "%d - %d" % [mission.money_min, mission.money_max] %></div>
        </td>
        <td class="payout_advanced"><%= mission_payouts(mission) %></td>
        <td class="requires">
          <div class="energy"><%= mission.ep_cost %></div>
          <%= mission_requirements(mission) %>
        </td>
        <td class="progress"><%= mission_progress(current_character, mission) %></td>
        <td class="controls">
          <% if current_character.can_fulfill?(mission) %>
            <%= link_to_remote(fb_i(t(".buttons.fulfill")),
                  :url => fulfill_mission_url(mission, :canvas => false),
                  :update => :result
                ) %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set"><%= fb_i(t(".empty_set")) %></div>
<% end %>

<% if next_group = MissionGroup.next_for(current_character).first %>
  <div id="next_mission_group">
    <h2><%= fb_i(next_group.name) %></h2>
    
    <p>
      <% fb_i do %>
        <%= t(".next_group") %>

        <%= fb_it(:level, content_tag(:span, next_group.level, :class => :level)) %>
      <% end %>
    </p>
  </div>
<% end %>