<%= title(fb_i(t(".title"))) %>

<% if help_request = current_character.help_requests.latest and help_request.should_be_displayed? %>
  <div id="latest_help_request">
    <% fb_i do %>
      <%= t(".latest_help_request") %>

      <%= fb_it(:mission, help_request.mission.name) %>
      <%= fb_it(:friend_amount, help_request.help_results.size) %>
      <%= fb_it(:money_amount, content_tag(:span, help_request.money, :class => :basic_money)) %>
    <% end %>
  </div>
<% end %>

<% if @missions.any? %>
  <table id="mission_list" cellspacing="0">
    <% @missions.each do |mission| %>
      <% group_header mission.mission_group do |group| %>
        <tr>
          <th class="mission_group" colspan="2"><%= fb_i(group.name) %></th>
          <th colspan="2"><%= fb_i(t(".columns.payout")) %></th>
          <th><%= fb_i(t(".columns.requires")) %></th>
          <th><%= fb_i(t(".columns.progress")) %></th>
          <th></th>
        </tr>
      <% end %>

      <% if mission.visible_for?(current_character) %>
        <%= render(
              :partial  => "mission",
              :locals   => {:mission => mission}
            ) %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="empty_set"><%= fb_i(t(".empty_set")) %></div>
<% end %>

<% if next_group = MissionGroup.next_for(current_character).first %>
  <div id="next_mission_group">
    <h2><%= fb_i(next_group.name) %></h2>
    
    <p>
      <% fb_i do %>
        <%= t(".next_group") %>

        <%= fb_it(:level, content_tag(:span, next_group.level, :class => :level)) %>
      <% end %>
    </p>
  </div>
<% end %>