<%= title(fb_i("Missions")) %>

<div id="mission_result" class="result" style="display:none;"></div>

<table id="mission_list" cellspacing="0">
  <tr>
    <th></th>
    <th><%= fb_i("Payout") %></th>
    <th><%= fb_i("Requires") %></th>
    <th><%= fb_i("Completeness") %></th>
  </tr>
  <% @missions.each do |mission| %>
    <% content_tag_for(:tr, mission) do %>
      <td class="details">
        <div class="name"><%= fb_i(mission.name) %></div>
        <div class="description"><%= fb_i(mission.description) %></div>
      </td>
      <td class="payout">
        <div class="experience"><%= mission.experience %></div>
        <div class="basic_money"><%= "%d - %d" % [mission.money_min, mission.money_max] %></div>
      </td>
      <td class="requires">
        <div class="energy"><%= mission.ep_cost %></div>
      </td>
      <% rank = mission.ranks.for_character(current_character) %>
      <td class="completeness"><%= rank.completeness %></td>
      <td class="controls">
        <% if current_character.ep >= mission.ep_cost and !rank.completed? %>
          <%= link_to_remote(fb_i("Fulfill"),
                :url => fulfill_mission_url(mission, :canvas => false),
                :update => :mission_result
              ) %>
        <% end %>
      </td>
    <% end %>
  <% end %>
</table>