<%= title(fb_i(t(".title"))) %>

<%= render :partial => "help_requests/latest", :locals => {:context => :mission} %>

<% if @mission_groups.any? %>
  <div id="mission_group_list">
    <%= render(
          :partial  => "mission_groups/tabs",
          :locals   => {
            :groups   => @mission_groups,
            :current  => @current_mission_group
          }
        ) %>
  </div>
<% end %>

<div id="mission_list">
  <% unless @current_mission_group.locked?(current_character) %>
    <%= render :partial => "list", :locals => {:missions => @missions} %>
  <% else %>
    <div class="empty_set" id="next_mission_group">
      <% fb_i do %>
        <%= t(".locked_group") %>

        <%= fb_it(:level, content_tag(:span, @current_mission_group.level, :class => :level)) %>
      <% end %>
    </div>
  <% end %>
</div>