<%= title("Missions") %>

<table id="mission_list">
  <% @missions.each do |mission| %>
    <tr>
      <td class="info">
        <div class="name"><%= mission.name %></div>
        <div class="description"><%= mission.description %></div>
      </td>
      <td class="details">
        <div class="energy"><%= "-%d" % mission.ep_cost %></div>
        <div class="experience"><%= "+%d" % mission.experience %></div>
        <div class="money"><%= "%d - %d" % [mission.money_min, mission.money_max] %></div>
      </td>
      <td class="completeness">
        <%= "%d%%" % mission.completeness_for(current_character) %>
      </td>
      <td class="controls">
        <%= link_to("Fulfill", fulfill_mission_path(mission), :method => :post) if current_character.ep >= mission.ep_cost %>
      </td>
    </tr>
  <% end %>
</table>