<%= title(fb_i("Missions")) %>

<div id="mission_result"></div>

<table id="mission_list">
  <tr>
    <th><%= fb_i("Description") %></th>
    <th><%= fb_i("Payout") %></th>
    <th><%= fb_i("Requires") %></th>
  </tr>
  <% @missions.each do |mission| %>
    <tr>
      <td class="info">
        <div class="name"><%= fb_i(mission.name) %></div>
        <div class="description"><%= fb_i(mission.description) %></div>
      </td>
      <td class="details">
        <div class="experience"><%= "+%d" % mission.experience %></div>
        <div class="money"><%= "%d - %d" % [mission.money_min, mission.money_max] %></div>
      </td>
      <td class="energy"><%= "-%d" % mission.ep_cost %></td>
      <td class="completeness">
        <%= "%d%%" % mission.completeness_for(current_character) %>
      </td>
      <td class="controls">
        <% if current_character.ep >= mission.ep_cost %>
          <%= link_to_remote(fb_i("Fulfill"),
                :url => fulfill_mission_url(mission, :canvas => false),
                :update => :mission_result
              ) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>