<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <script>
    var facebook_api_key = '<%= #Facebooker.api_key %>';
  </script>
  
  <%= stylesheet_link_tag("admin") %>

  <%= include_jquery_from_google %>
  <%= javascript_include_tag "jrails", "jquery/dialog", "admin" %>

  <title><%= @admin_title %></title>
</head>
<body>
  <%= render "admin/layouts/main_menu" %>

  <div id="content">
    <%= admin_flash_block %>

    <div id="result" style="display:none"></div>

    <%= yield %>

    <div id="footer">
      <%= t(".footer.text",
            :engine   => link_to(t(".footer.engine"), "http://railorz.com", :target => :_blank),
            :version  => File.read(Rails.root.join("VERSION"))
          ).html_safe %>
    </div>

  </div>

  <% fb_connect_async_js do %>
    $(document).trigger('facebook.ready');
  <% end %>

  <%= dom_ready %>
</body>