<fb:fbml>
  <% if Rails.env.development? %>
    <style><%= raw File.read(File.join(RAILS_ROOT, "public", "stylesheets", "admin.css")) %></style>

    <script>
      <%= raw File.read(File.join(RAILS_ROOT, "public", "javascripts", "facebooker.js")) %>
    
      <%= raw File.read(File.join(RAILS_ROOT, "public", "javascripts", "application.js")) %>
    </script>
  <% else %>
    <%= stylesheet_link_tag("admin") %>
    
    <%= javascript_include_tag "facebooker", "application" %>
  <% end %>

  <%= render :partial => "admin/layouts/main_menu" %>
      
  <div id="spinner" style="display:none;">
    <%= asset_image_tag("spinner", :alt => t(".spinner.alt")) %>

    <%= t(".spinner.text") %>
  </div>

  <%= fb_success(flash[:success]) if flash[:success] %>
  <%= fb_error(flash[:error]) if flash[:error] %>

  <div id="result" style="display:none"></div>

  <%= yield %>

  <script><%= yield :script %></script>
</fb:fbml>