<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_newsletter_path) %>
</div>

<% collection @newsletters do %>
  <%= will_paginate @newsletters %>

  <table id="newsletter_list" class="data">
    <tr>
      <th><%= Newsletter.human_attribute_name("created_at") %></th>
      <th><%= Newsletter.human_attribute_name("text") %></th>
      <th><%= Newsletter.human_attribute_name("recipients") %></th>
      <th><%= Newsletter.human_attribute_name("state") %></th>
      <th></th>
    </tr>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td class="created_at"><%= l(newsletter.created_at, :format => :short) %></td>
        <td class="text"><%= newsletter.text.html_safe %></td>
        <td class="recipients">
          <%= User.count - User.after(newsletter.last_recipient).count %>/<%= User.count %>
        </td>
        <td class="state"><%= admin_state(newsletter) %></td>
        <td class="controls">
          <% if newsletter.draft? %>
            <%= link_to(t(".controls.edit"), edit_admin_newsletter_path(newsletter)) %>
          <% end %>

          <% if newsletter.can_start_delivery? %>
            <%= link_to(t(".controls.deliver"), deliver_admin_newsletter_path(newsletter),
                  :method   => :post,
                  :confirm  => t(".controls.deliver_confirm")
                ) %>
          <% end %>

          <% if newsletter.can_pause_delivery? %>
            <%= link_to(t(".controls.pause"), pause_admin_newsletter_path(newsletter),
                  :method   => :post,
                  :confirm  => t(".controls.pause_confirm")
                ) %>
          <% end %>

          <% unless newsletter.delivering? %>
            <%= link_to(t(".controls.delete"), admin_newsletter_path(newsletter),
                  :method   => :delete,
                  :confirm  => t(".controls.delete_confirm")
                ) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @newsletters %>
<% end %>