<div class="exchangeables">
  <h2><%= t(".make_offer") %></h2>

  <% if inventories_exchangeable_grouped_by_item_group.any? %>

    <p><%= t(".exchangeables_help") %></p>

    <div id="exchangeables_tabs">
      <ul>
        <% inventories_exchangeable_grouped_by_item_group.each do |item_group, inventories| %>
          <li>
            <a href="#<%= dom_id(item_group, :inventories) %>"><%= item_group.name %></a>
          </li>
        <% end %>
      </ul>

      <% inventories_exchangeable_grouped_by_item_group.each do |item_group, inventories| %>
        <div class="item_group" id="<%= dom_id(item_group, :inventories) %>">
          <ul class="carousel-container">
            <% inventories.each do |inventory| %>
              <li>
                <div
                  class="inventory <%= :active if @exchange_offer.inventory == inventory %>"
                  id="<%= dom_id(inventory, :equipment) %>"
                  data-id="<%= inventory.item_id %>"
                >
                  <%= inventory_item_image(inventory, :small,
                        :count => true,
                        :tooltip => {
                          :position => {
                            :my => 'bottom center',
                            :at => 'top center'
                          }
                        }
                      ) %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <% form_for(@exchange_offer) do |f| %>
      <%= f.hidden_field :exchange_id %>
      <%= f.hidden_field :item_id %>
      <%= f.text_field :amount %>

      <%= link_to_function(button(:add), "$(this).parent('form').submit()",
            :class => 'button add',
            :"data-click-once" => true
          ) %>
    <% end %>

  <% else %>

    <p><%= t(".empty_inventory") %></p>

  <% end %>
</div>

<% dom_ready do %>
  Exchange.setup();
<% end %>
