<div class="proposed_for_transactor">
  <h2><%= t(".title") %></h2>
  
  <% collection(exchange.exchange_offers) do %>
    <table class="offers" cellpadding="0" cellspacing="0">
      <% exchange.exchange_offers.each do |offer| %>
        <tr class="exchange_offer" id="<%= dom_id(offer) %>">
          <td class="character">
            <%= character_picture(offer.character) %>
            <%= character_name_link(offer.character) %>
          </td>
          <td class="image"><%= item_image(offer.item, :small, :tooltip => true) %></td>
          <td class="name"><%= t('.item_name', :item => offer.item.name, :amount => offer.amount) %></td>
          <td class="buttons">
            <%= link_to(button(:accept), accept_exchange_offer_path(offer),
                  :remote   => true,
                  :method   => :post,
                  :confirm  => t(".buttons.accept_confirm"),
                  :class => 'button accept'
                ) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
