<% if @transacted %>
  <%= render_to_result :accept_exchange_offer do |builder| %>
    <p>
      <%= t(".text") %>
    </p>

    <table class="payouts" cellspacing="0" cellpadding="0">
      <tr>
        <td class="received">
          <h3><%= t(".you_received") %></h3>

          <%= render('payouts/preview/item', :payout => @exchange_offer.payout) %>
        </td>

        <td class="lost">
          <h3><%= t(".you_lost") %></h3>

          <%= render('payouts/preview/item', :payout => @exchange.payout) %>
        </td>
      </tr>
    </table>
  <% end %>

  $("#show_exchange").replaceWith("<%= escape_javascript(%{<div class="note">#{ t('.text') }</div>}).html_safe %>");

<% else %>

  <%= render_to_result :accept_exchange_offer_error do |builder| %>
    <% builder.fail do %>
      <%= t(".errors.exchange_creator") if @exchange.errors.on(:amount) %>

      <%= t(".errors.exchange_offer_creator") if @exchange_offer.errors.on(:amount) %>
    <% end %>
  <% end %>

<% end %>
