<% content_for :result do %>
  <div id="promotion_result">
    <p><%= @promotion.text %></p>

    <h3><%= t(".you_received") %></h3>

    <div class="payouts">
      <%= payout_list(@result.payouts, :add) %>
    </div>

    <% if @promotion.forwardable? %>
      <div class="forward">
        <h3><%= t(".forward.title") %></h3>

        <p><%= raw t(".forward.text", :app => t("app_name")) %></p>

        <%= fb_chat_invite(
              t(".forward.invitation", :app => t("app_name"), :link => promotion_url(@promotion))
            ) %>
      </div>
    <% end %>
  </div>
<% end %>