<td class="image"></td>
<td class="info">
  <div class="name"><%= relation.name %></div>
  <div class="attack"><%= fb_i(Character.human_attribute_name("attack")) %> <%= relation.attack_points %></div>
  <div class="defence"><%= fb_i(Character.human_attribute_name("defence")) %> <%= relation.defence_points %></div>
</td>
