<div id="personal_discount">
  <h2><%= t(".title") %></h2>
  
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <div class="picture">
          <%= item_image(discount.item, :large) %>
        </div>
      </td>
      <td>
        <div class="name"><%= discount.item.name %></div>
                    
        <div class="description"><%= discount.item.description %></div>

        <div class="requirements">
          <h3>
            <%= PersonalDiscount.human_attribute_name("price") %>
            <%= item_package(discount.item) %>
          </h3>

          <%= attribute_requirement(:basic_money, number_to_currency(discount.item.basic_price)) if discount.item.basic_price > 0 %>
          <%= vip_money_requirement(discount.price, 
                span_tag(t('.discount', :amount => discount.percentage), :discount)
              ) %>

          <div class="limit">
            <span class="time_limit">
              <%= t(".time_limit") %>
              <span class="value" id="<%= dom_id(discount, :timer) %>"></span>
            </span>

            <% dom_ready do %>
              $('#<%= dom_id(discount, :timer) %>').timer(<%= discount.time_left %>);
            <% end %>
          </div>

          <div class="controls">
              <%= link_to(button(:buy), personal_discount_path(discount),
                    :remote => true,
                    :method => :put,
                    :'data-click-once' => true,
                    :class => "buy button"
                  ) %>
          </div>
        </div>

        <div class="payouts">
          <%= item_effects(discount.item) %>
        </div>
      </td>
    </tr>
  </table>
</div>