<table class="boss" cellspacing="0" cellpadding="0">
  <tr>
    <td class="image">
      <%= image_tag(boss.image.url(:normal)) if boss.image? %>
    </td>
    <td class="info">
      <h2><%= fb_i(boss.name) %></h2>
      <div class="description"><%= boss.description %></div>

      <table class="details">
        <tr>
          <td class="payout_preview">
            <h4><%= fb_i(t(".payout")) %></h4>

            <%= payout_preview(:experience, boss.experience) %>

            <%= payout_list(boss.payouts, :add, :preview) %>
          </td>

          <td class="requirements">
            <h4><%= fb_i(t(".requirements")) %></h4>

            <%= attribute_requirement(:energy, boss.ep_cost, current_character.ep >= boss.ep_cost) %>

            <%= requirement_list(boss.requirements) %>
          </td>
        </tr>
      </table>

      <div class="buttons">
        <%= link_to_remote(button(:attack),
              :url    => boss_fights_url(:boss_id => boss, :canvas => false),
              :update => :result,
              :html   => {:class => "button attack"}
            ) %>
      </div>
    </td>
  </tr>
</table>