<div id="browser_check" class="block">
  <%= hide_block_link(:browser_check) %>
    
  <span class="text"></span>

  <div class="browser_type" id="firefox" style="display:none;">
  	<%= link_to(t('browser_check.update.firefox'), 
  	    "http://www.mozilla.org/en-US/firefox/update/", 
  	    :class => :firefox_logo, 
  	    :target => "_blank"
  	  )%>
  </div>

  <div class="browser_type" id="chrome" style="display:none;">
  	<%= link_to(t('browser_check.update.chrome'), 
  	    "http://www.google.com/chrome/", 
  	    :class => :chrome_logo, 
  	    :target => "_blank"
  	  )%>
  </div>

  <div class="browser_type" id="opera" style="display:none;">
  	<%= link_to(t('browser_check.update.opera'), 
  	    "http://www.opera.com/download/", 
  	    :class => :opera_logo, 
  	    :target => "_blank"
  	  )%>
  	<span>OR</span>
  	<%= link_to(t('browser_check.install.firefox'), 
  	    "http://www.mozilla.org/en-US/firefox/update/", 
  	    :class => :firefox_logo, 
  	    :target => "_blank"
  	  )%>
  </div>

  <div class="browser_type" id="explorer" style="display:none;">
  	<%= link_to(t('browser_check.install.firefox'), 
  	    "http://www.mozilla.org/en-US/firefox/update/", 
  	    :class => :firefox_logo, 
  	    :target => "_blank"
  	  )%>
  	<span>OR</span>
  	<%= link_to(t('browser_check.update.explorer'), 
  	    "http://windows.microsoft.com/is-IS/windows-vista/Update-Internet-Explorer/", 
  	    :class => :explorer_logo, 
  	    :target => "_blank"
  	  )%>
  </div>
</div>

<% dom_ready do %>
  $("#browser_check").browserCheck();
<% end %>
