<table id="co" cellspacing="0" cellpadding="0">
  <tr>
    <td class="basic_money">
      <div class="label"><%= Character.human_attribute_name("basic_money") %></div>
      <div class="value"></div>

      <%= link_to(t(".bank"), new_bank_operation_path,
            :remote => true,
            :class => :bank
          ) %>
    </td>
    <td class="vip_money">
      <div class="label"><%= Character.human_attribute_name("vip_money") %></div>
      <div class="value"></div>

      <a class="buy"><%= t('.buy_vip') %></a>
    </td>
    <td class="health">
      <div class="timer"></div>
      <div class="label"><%= Character.human_attribute_name("health") %></div>
      <div class="value"></div>

      <a data-type="health" class="refill"><%= t(".refill") %></a>
    </td>
    <td class="energy">
      <div class="timer"></div>
      <div class="label"><%= Character.human_attribute_name("energy") %></div>
      <div class="value"></div>

      <a data-type="energy" class="refill"><%= t(".refill") %></a>
    </td>
    <td class="stamina">
      <div class="timer"></div>
      <div class="label"><%= Character.human_attribute_name("stamina") %></div>
      <div class="value"></div>

      <a data-type="stamina" class="refill"><%= t(".refill") %></a>
    </td>
    <td class="experience">
      <div class="label"><%= Character.human_attribute_name("experience") %></div>
      <div class="value"></div>

      <%= percentage_bar(0) %>
    </td>
    <td class="level">
      <div class="label"><%= Character.human_attribute_name("level") %></div>
      <div class="value"></div>

      <%= link_to(t(".upgrade"), '#upgrade', :class => :upgrade) %>
    </td>
  </tr>
</table>