<div id="fan_specials" class="block">
  <%= hide_block_link(:fan_specials) %>

  <h2><%=fb_i(t(".title")) %></h2>

  <p>
    <% fb_i do %>
      <%= t(".text") %>

      <%= fb_it(:app, fb_app_name) %>
    <% end %>
  </p>

  <%= link_to(image_tag("become_fan.jpg", :alt => t(".link")), fb_app_page_url, :class => :link) %>
</div>