<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<% if fb_canvas? %>
  <%= javascript_tag do %>
    var signed_request = '<%= escape_javascript(fb_signed_request) %>';
    var callback_location = '<%= facepalm.callback_url('http://') %>';
  <% end %>
<% end %>

<%= stylesheet_link_tag    "application" %>

<%= javascript_include_tag "application" %>

<%= csrf_meta_tag %>

<%= javascript_tag do %>
  if(typeof window.jsLoadedProperly === 'undefined'){
    if( confirm('The page wasn\'t loaded properly because of some connection problem. Would you like to reload it?') ) {
      // TODO: Send notification to exception tracking if this code was triggered
      window.location.reload();
    }
  }

  <% if @split_test %>
    window.experiment_<%= @split_test[:id] %> = '<%= @split_test[:variation] %>';
  <% end %>
<% end %>

<title><%= t('app_name') %></title>

<%= tag(:meta, :property => 'fb:app_id', :content => facepalm.app_id) %>

<%= yield(:html_header) %>

<% google_analytics do %>
  <% if current_character %>
    <%= ga_set_variable(1, 'Level', character_level_group(current_character), :visitor) %>
    <%= ga_set_variable(2, 'Gender', current_user.gender.to_s.titleize, :visitor) %>
    <%= ga_set_variable(3, 'ID', current_character.id, :visitor) %>

    <% if @split_test %>
      <%= ga_set_variable(5, "Experiment %{id}: %{name}" % @split_test, @split_test[:variation].to_s.titleize, :visitor) %>
    <% end %>
  <% end %>
<% end %>
