<table id="main_menu">
  <tr>
    <td>
      <%= link_to(fb_i(t(".home")), root_path, :class => :home) %>
      <%= link_to(fb_i(t(".character")), character_path(current_character), :class => :profile) %>
    </td>
    <td>
      <%= link_to(fb_i(t(".missions")), mission_groups_path, :class => :missions) %>
      <%= link_to(fb_i(t(".fights")), new_fight_path, :class => :fights) %>
    </td>
    <td>
      <%= link_to(fb_i(t(".items")), items_path, :class => :shop) %>
      <%= link_to(fb_i(t(".vip")), premium_path, :class => :vip_money) %>
    </td>
    <td>
      <%= link_to(fb_i(t(".inventories")), inventories_path, :class => :inventory) %>
      <%= link_to(fb_i(t(".properties")), properties_path, :class => :properties) %>
    </td>
    <td>
      <%= link_to(fb_i(t(".relations")) + " (%d)" % current_character.relations.effective_size, relations_path, :class => :alliance) %>
      <%= link_to(fb_i(t(".rating")), rating_path, :class => :rating) %>
    </td>
  </tr>
</table>
