<table id="main_menu" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <%= link_to_function(t(".missions"), 'MissionController.show()', :class => :missions) %>
      <%= link_to_function(t(".monsters"), "MonsterListController.show()", :class => :monsters) %>
    </td>
    <td>
      <%= link_to(t(".fights"), new_fight_path, :class => :fights) %>
      <%= link_to(t(".relations") + " (%d)" % current_character.relations.effective_size, relations_path, :class => :alliance) %>
    </td>
    <td>
      <%= link_to(t(".items"), items_path, :class => :shop) %>
      <%= link_to(t(".inventories"), inventories_path, :class => :inventory) %>
    </td>
    <td>
      <%= link_to(t(".properties"), properties_path, :class => :properties) %>
      <%= link_to(t(".character"), character_path(current_character.key), :class => :profile) %>
    </td>
    <td>
      <%= link_to(t(".rating"), rating_path, :class => :rating) %>
      <%= link_to(t(".clans"), clans_path, :class => :clans ) %>
    </td>
  </tr>
</table>