<div id="next_steps">
  <%= hide_block_link(:next_steps) if current_user.customized? %>

  <h2><%= fb_i(t(".title")) %></h2>

  <% unless current_user.customized? %>
    <div class="step">
      <%= link_to(fb_i(t(".links.profile")), edit_user_path(current_user)) %>
    </div>
  <% end %>

  <div class="step">
    <%= link_to(fb_i(t(".links.missions")), missions_path) %>
  </div>

  <div class="step">
    <%= link_to(fb_i(t(".links.fights")), new_fight_path) %>
  </div>

  <div class="step">
    <%= link_to(fb_i(t(".links.invite")), invite_users_path) %>
  </div>
</div>