<div id="next_steps">
  <%= hide_block_link(:next_steps) if current_user.customized? %>

  <h2><%= fb_i("Next Steps") %></h2>

  <% unless current_user.customized? %>
    <div class="step">
      <%= link_to(fb_i("Customize your profile"), edit_user_path(current_user)) %>
    </div>
  <% end %>

  <div class="step">
    <%= link_to(fb_i("Fulfill missions"), missions_path) %>
  </div>

  <div class="step">
    <%= link_to(fb_i("Fight with other players"), new_fight_path) %>
  </div>

  <div class="step">
    <%= link_to(fb_i("Grow up your Alliance"), invite_users_path) %>
  </div>
</div>