<div id="next_steps" class="block">
  <%= hide_block_link(:next_steps) if current_user.customized? %>

  <h2><%= t(".title") %></h2>

  <% unless current_user.customized? %>
    <div class="step">
      <%= link_to(t(".links.profile"), edit_user_path(current_user)) %>
    </div>
  <% end %>

  <div class="step">
    <%= link_to(t(".links.missions"), mission_groups_path) %>
  </div>

  <div class="step">
    <%= link_to(t(".links.fights"), new_fight_path) %>
  </div>

  <div class="step">
    <%= link_to(t(".links.invite"), invite_users_path) %>
  </div>
</div>