<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  <%= render('layouts/html_header') %>
</head>
<body>
  <%= fb_connect_js(:channel_url => facebook_callback_url + '/channel.html', :weak_cache => Setting.b(:app_weak_fb_js_cache)) do %>
    $(function(){
      $(document).trigger('facebook.ready');
    });
  <% end %>

  <div id="browser_check" class="block" style="display:none;"></div>

  <% maintenance_warning do |settings| %>
    <div id="maintenance_warning">
      <%= t(".maintenance_warning",
            :start_time => distance_of_time_in_words_to_now(settings[:start]),
            :length => distance_of_time_in_words(settings[:length])
          ).html_safe %>
    </div>
  <% end %>

  <% if current_user.simulated? && @real_user && @real_user.admin? %>
    <div id="simulation">
      <%= t(".simulating", :name => character_name(current_user.character)).html_safe %>

      <%= link_to(t(".stop_simulate"), stop_simulate_admin_characters_path) %>
    </div>
  <% end %>

  <%= app_toolbar %>

  <% if message = current_character.message %>
    <%= render('notifications/information', :message => message) %>
  <% end %>

  <div id="content">
    <div id="header">
      <%= global_chat %>
      <%= app_requests_counter %>

      <%= link_to("", root_path, :id => :logo) %>

      <%= render("layouts/main_menu") %>
      <%= render("layouts/character_overview") %>
    </div>

    <%= flash_block %>

    <%= render("layouts/spinner") %>

    <% if result = yield(:result) and !result.blank? %>
      <div id="result">
        <%= result %>
      </div>
    <% else %>
      <div id="result" style="display:none;"></div>
    <% end %>

    <div id="page">
      <%= yield %>
    </div>

    <%= render("layouts/footer") %>
  </div>

  <div id="ajax" style="display:none;"></div>

  <% admin_only do %>
    <div id="admin_menu">
      <%= link_to(t(".admin_interface"), admin_statistics_path, :target => :_blank)  %>
    </div>
  <% end %>

  <% dom_ready do %>
    Character.update(<%= current_character.to_json_for_overview.html_safe %>);

    <% if Setting.b(:browser_check_enabled) and current_user.show_browser_check %>
      var browser_check = new BrowserCheckController();
    <% end %>

    $(document).trigger('application.ready');
  <% end %>

  <%= dom_ready %>
</body>
</html>
