<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <script type="text/javascript">
    var facebook_api_key = '<%= Facebooker.facebooker_config["api_key"] %>';
    var session_id = '<%= request.session_options[:id] %>';
  </script>

  <%= fb_connect_javascript_tag.html_safe %>
  
  <%= include_jquery_from_google %>
  <%= javascript_include_tag "jrails", "jquery/tabs", "jquery/dialog", "jquery/scroll_to", "jquery/tooltip", "application", :cache => "all" %>
  
  <%= stylesheet_link_tag(skin_path) %>
</head>
<body>
  <% admin_only do %>
    <div id="admin_menu">
      <%= link_to(t(".admin_interface"), admin_missions_path, :target => :admin)  %>
    </div>
  <% end %>

  <% maintenance_warning do |settings| %>
    <div id="maintenance_warning">
      <%= t(".maintenance_warning",
            :start_time => distance_of_time_in_words_to_now(settings[:start]),
            :length => distance_of_time_in_words(settings[:length])
          ).html_safe %>
    </div>
  <% end %>

  <div id="content">
    <div id="header">
      <%= link_to("", root_path, :id => :logo) %>

      <%= render "layouts/main_menu" %>
      <%= render "layouts/character_overview" %>
      <%= render "layouts/tip" if current_user.show_tips? %>
    </div>

    <%= flash_block %>

    <%= render "layouts/spinner" %>

    <% if result = yield(:result) and !result.blank? %>
      <%= content_tag(:div, result, :id => :result) %>
    
      <% dom_ready do %>
        $(document).trigger('result.available');
      <% end %>
    <% else %>
      <%= content_tag(:div, result, :id => :result, :style => "display:none;") %>
    <% end %>


    <% if (current_boss_fights = current_character.boss_fights.with_state(:progress)).any? %>
      <%= render "boss_fights/block", :fights => current_boss_fights %>
    <% elsif current_user.show_tutorial? %>
      <%= render "tutorials/block" %>
    <% end %>

    <%= yield %>
  </div>

  <!-- Smart resizing hack --><div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div><!-- /Smart resizing hack -->

  <div id="ajax" style="display:none;"></div>
  
  <%= user_permission_dialog(:email) %>

  <%= display_notifications %>

  <% dom_ready do %>
    $(document).trigger('application.ready');
  <% end %>
    
  <%= dom_ready %>

  <%= google_analytics %>
</body>
</html>