<%= javascript_include_tag "facebooker", "application" %>

<div id="spinner" style="display:none;">This is spinner!!!</div>

<div class="main_menu">
  <% if current_user %>
    <%= link_to(fb_i("Settings"), edit_user_path(current_user), :class => :customize) %>
  <% else %>
  <% end %>

  <%= link_to(fb_i("Home"), root_path, :class => :home) %>
  <%= link_to(fb_i("Missions"), missions_path, :class => :missions) %>
  <%= link_to(fb_i("Shop"), items_path, :class => :items) %>
  <%= link_to(fb_i("Fight"), new_fight_path, :class => :fight) %>
</div>

<%= reference("stylesheets/main.css.erb", dynamic_stylesheet_url(:main, :canvas => false)) %>

<%= fb_success(fb_i(flash[:success])) if flash[:success] %>
<%= fb_error(fb_i(flash[:error])) if flash[:error] %>

<%= render :partial => "layouts/next_steps" %>

<%= render :partial => "characters/overview" %>

<%= yield %>

<%= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>