<fb:fbml>
  <script>
    root_url = '<%= root_url(:canvas => false) %>';
  </script>

  <%= editable_stylesheet_link %>

  <% if Rails.env.development? %>
    <script>
      <%= raw File.read(File.join(RAILS_ROOT, "public", "javascripts", "facebooker.js")) %>

      <%= raw File.read(File.join(RAILS_ROOT, "public", "javascripts", "application.js")) %>
    </script>
  <% else %>
    <%= javascript_include_tag "facebooker", "application" %>
  <% end %>

  <%= render :partial => "admin/layouts/main_menu" %>

  <div id="content">
    <div id="header">
      <%= link_to("&nbsp;", root_path, :id => :logo) %>

      <%= render :partial => "layouts/main_menu" %>
      <%= render :partial => "layouts/character_overview" %>
      <%= render(:partial => "layouts/tip") if current_user.show_tips? %>
    </div>

    <%= flash_block %>

    <%= render "layouts/spinner" %>

    <%= content_tag(:div, yield(:result), :id => :result, :style => ("display:none" if @content_for_result.blank?)) %>

    <% if (current_boss_fights = current_character.boss_fights.with_state(:progress)).any? %>
      <%= render "boss_fights/block", :fights => current_boss_fights %>
    <% elsif current_user.show_tutorial? %>
      <%= render "tutorials/block" %>
    <% end %>

    <%= yield %>
  </div>

  <script><%= yield :script %></script>
  
  <%= fb_google_analytics(Configuration[:app_google_analytics_id]) unless Configuration[:app_google_analytics_id].blank? %>
</fb:fbml>