<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <%= render('layouts/html_header') %>
  
  <%= javascript_include_tag "tutorial" if tutorial_visible? %>

  <% google_analytics do %>
    <%= ga_set_variable(1, 'Level', character_level_group(current_character), :visitor) %>
    <%= ga_set_variable(2, 'Gender', current_user.gender.to_s.titleize, :visitor) if current_user.gender %>
  <% end%>
</head>
<body>
  <% fb_connect_js(:channel_url => facebook_callback_url + '/channel.html', :weak_cache => Setting.b(:app_weak_fb_js_cache)) do %>
    $(function(){
      $(document).trigger('facebook.ready');
    });
  <% end %>

  <% admin_only do %>
    <div id="admin_menu">
      <%= link_to(t(".admin_interface"), admin_statistics_path, :target => :admin)  %>
    </div>
  <% end %>
  
  <% if tutorial_visible? %>
    <%= render "tutorials/block" %>
  <% end %>

  <% maintenance_warning do |settings| %>
    <div id="maintenance_warning">
      <%= t(".maintenance_warning",
            :start_time => distance_of_time_in_words_to_now(settings[:start]),
            :length => distance_of_time_in_words(settings[:length])
          ).html_safe %>
    </div>
  <% end %>

  <div id="content">
    <div id="header">
      <%= app_requests_counter %>
      <%= link_to("", root_path, :id => :logo) %>

      <%= render "layouts/main_menu" %>
      <%= render "layouts/character_overview" %>
      <%= render "layouts/tip" if current_user.show_tips? %>
    </div>

    <%= flash_block %>

    <%= render "layouts/spinner" %>

    <% if result = yield(:result) and !result.blank? %>
      <%= content_tag(:div, result, :id => :result) %>
    <% else %>
      <%= content_tag(:div, "", :id => :result, :style => "display:none;") %>
    <% end %>


    <% if (current_boss_fights = current_character.boss_fights.with_state(:progress)).any? %>
      <%= render "boss_fights/block", :fights => current_boss_fights %>
    <% end %>
    
    <%= yield %>
    
    <%= render "layouts/footer" %>
  </div>

  <div id="ajax" style="display:none;"></div>

  <%= display_notifications %>

  <% dom_ready do %>
    $(document).trigger('application.ready');
  <% end %>

  <%= dom_ready %>
</body>
</html>
