<%= javascript_include_tag "facebooker", "application" %>

<div id="spinner" style="display:none;">This is spinner!!!</div><form id="dummy_form"></form>

<div class="main_menu">
  <% if current_user %>
    <%= link_to("Customize", edit_user_path(current_user), :class => :customize) %>
  <% else %>
  <% end %>

  <%= link_to("Home", root_path, :class => :home) %>
  <%= link_to("Missions", missions_path, :class => :missions) %>
</div>

<%= reference("stylesheets/main.css.erb", dynamic_stylesheet_url(:main, :canvas => false)) %>

<%= fb_success(flash[:success]) if flash[:success] %>
<%= fb_error(flash[:error]) if flash[:error] %>

<%= render :partial => "layouts/next_steps" %>

<%= render :partial => "characters/overview" %>

<%= yield %>

<%= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>