<fb:fbml>
  <input type="text" style="width: 1px; height: 1px; border:0px;" id="top_field"/>
  
<%= reference("stylesheets/main.css.erb", dynamic_stylesheet_url(:main, :canvas => false)) %>

<div id="spinner" style="display:none;">
  <%= image_tag("spinner.gif", :alt => t(".spinner.alt")) %>

  <%= fb_i(t(".spinner.text")) %>
</div>

<div id="header">
  <%= link_to(image_tag("logo_200x60.jpg", :alt => "Home"), root_path, :id => :logo) %>

  <ul id="co">
    <li class="first">
      <b><%= fb_i(Character.human_attribute_name("basic_money")) %></b>
      <div id="co_basic_money"></div>
    </li>
    <li class="second">
      <b><%= fb_i(Character.human_attribute_name("experience")) %></b>
      <div id="co_experience"></div>
    </li>
    <li class="third">
      <b><%= fb_i(Character.human_attribute_name("health")) %></b>
      <div id="co_health"></div>
      <div id="co_health_timer" class="timer"></div>
    </li>
    <li class="first">
      <b><%= fb_i(Character.human_attribute_name("vip_money")) %></b>
      <div id="co_vip_money"></div>
    </li>
    <li class="second">
      <b><%= fb_i(Character.human_attribute_name("level")) %></b>
      <div id="co_level"></div>
      <div id="co_points" style="display:none">(<%= link_to("", upgrade_character_path(current_character), :id => :co_point_link) %>)</div>
    </li>
    <li class="third">
      <b><%= fb_i(Character.human_attribute_name("energy")) %></b>
      <div id="co_energy"></div>
      <div id="co_energy_timer" class="timer"></div>
    </li>
  </ul>

  <div id="main_menu">
    <%= link_to(fb_i(t(".main_menu.home")), root_path, :class => :home) %>
    <%= link_to(fb_i(t(".main_menu.missions")), missions_path, :class => :missions) %>
    <%= link_to(fb_i(t(".main_menu.fights")), new_fight_path, :class => :fights) %>
    <%= link_to(fb_i(t(".main_menu.items")), items_path, :class => :shop) %>
    <%= link_to(fb_i(t(".main_menu.inventories")), inventories_path, :class => :inventory) %>
    <%= link_to(fb_i(t(".main_menu.character")), character_path(current_character), :class => :profile) %>
    <%= link_to(fb_i(t(".main_menu.relations")) + " (%d)" % current_character.relations.size, relations_path, :class => :alliance) %>
    <%= link_to(fb_i(t(".main_menu.rating")), rating_characters_path, :class => :rating) %>
  </div>
</div>

<%= fb_i(fb_success(flash[:success])) if flash[:success] %>
<%= fb_i(fb_error(flash[:error])) if flash[:error] %>

<div id="result" style="display:none"></div>

<%= yield %>

<%= javascript_include_tag "facebooker", "application" %>

<script type="text/javascript">
  root_url = '<%= root_url(:canvas => false) %>';

  Character.update(<%= current_character.to_json %>);
</script>

<%#= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>
</fb:fbml>