<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <script type="text/javascript">
    var facebook_api_key = '<%= Facebooker.facebooker_config["api_key"] %>';
    var character_key = '<%= current_character.key %>';
  </script>

  <%= raw fb_connect_javascript_tag %>
  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag "jrails", "jquery/tabs", "jquery/dialog", "jquery/scroll_to", "application", :cache => "all" %>
  
  <%= stylesheet_link_tag(skin_path) %>
</head>
<body>
  <% admin_only do %>
    <%= render "admin/layouts/main_menu" %>
  <% end %>

  <div id="content">
    <div id="header">
      <%= link_to("&nbsp;", root_path, :id => :logo) %>

      <%= render "layouts/main_menu" %>
      <%= render "layouts/character_overview" %>
      <%= render "layouts/tip" if current_user.show_tips? %>
    </div>

    <%= flash_block %>

    <%= render "layouts/spinner" %>

    <%= content_tag(:div, yield(:result), :id => :result, :style => "display:none") %>
    
    <% if yield(:result).present? %>
      <% dom_ready do %>
        $(document).trigger('result.available');
      <% end %>
    <% end %>


    <% if (current_boss_fights = current_character.boss_fights.with_state(:progress)).any? %>
      <%= render "boss_fights/block", :fights => current_boss_fights %>
    <% elsif current_user.show_tutorial? %>
      <%= render "tutorials/block" %>
    <% end %>

    <%= yield %>
  </div>

  <!-- Smart resizing hack --><div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div><!-- /Smart resizing hack -->

  <div id="ajax" style="display:none;"></div>
  
  <%= dom_ready %>

  <%= google_analytics %>
</body>
</html>