<fb:fbml>
  <% if Rails.env.development? %>
    <style><%= render :file => "pages/stylesheets/default.css.erb" %></style>
    <% %w{facebooker application}.each do |f| %>
      <script><%= File.read(File.join(RAILS_ROOT, "public", "javascripts", "#{f}.js")) %></script>
    <% end %>
  <% else %>
    <%= stylesheet_link_tag("default") %>
    <%= javascript_include_tag "facebooker", "application" %>
  <% end %>

  <input type="text" style="width: 1px; height: 1px; border:0px;" id="top_field"/>

<div id="spinner" style="display:none;">
  <%= image_tag("spinner.gif", :alt => t(".spinner.alt")) %>

  <%= fb_i(t(".spinner.text")) %>
</div>

<div id="header">
  <%= link_to(image_tag("logo_200x60.jpg", :alt => "Home"), root_path, :id => :logo) %>

  <table id="main_menu">
    <tr>
      <td>
        <%= link_to(fb_i(t(".main_menu.home")), root_path, :class => :home) %>
        <%= link_to(fb_i(t(".main_menu.character")), character_path(current_character), :class => :profile) %>
      </td>
      <td>
        <%= link_to(fb_i(t(".main_menu.missions")), missions_path, :class => :missions) %>
        <%= link_to(fb_i(t(".main_menu.fights")), new_fight_path, :class => :fights) %>
      </td>
      <td>
        <%= link_to(fb_i(t(".main_menu.items")), items_path, :class => :shop) %>
        <%= link_to(fb_i(t(".main_menu.inventories")), inventories_path, :class => :inventory) %>
      </td>
      <td>
        <%= link_to(fb_i(t(".main_menu.relations")) + " (%d)" % current_character.relations.size, relations_path, :class => :alliance) %>
        <%= link_to(fb_i(t(".main_menu.rating")), rating_characters_path, :class => :rating) %>
      </td>
    </tr>
  </table>

  <table id="co">
    <tr>
      <td class="basic_money">
        <b><%= fb_i(Character.human_attribute_name("basic_money")) %></b>
        (<%= link_to(fb_i(t(".character_overview.bank")), new_bank_operation_path) %>)
        <div id="co_basic_money"></div>
      </td>
      <td>
        <b><%= fb_i(Character.human_attribute_name("vip_money")) %></b>
        <div id="co_vip_money"></div>
      </td>
      <td>
        <b><%= fb_i(Character.human_attribute_name("health")) %></b>
        <div id="co_health_timer" class="timer"></div>
        <div id="co_health"></div>
      </td>
      <td>
        <b><%= fb_i(Character.human_attribute_name("energy")) %></b>
        <div id="co_energy_timer" class="timer"></div>
        <div id="co_energy"></div>
      </td>
      <td>
        <b><%= fb_i(Character.human_attribute_name("experience")) %></b>
        <div id="co_experience"></div>
      </td>
      <td>
        <b><%= fb_i(Character.human_attribute_name("level")) %></b>
        <span id="co_points" style="display:none;">
          (<%= link_to("", upgrade_character_path(current_character), :id => :co_point_link) %>)
        </span>
        <div id="co_level"></div>
      </td>
    </tr>
  </table>
</div>

<%= fb_i(fb_success(flash[:success])) if flash[:success] %>
<%= fb_i(fb_error(flash[:error])) if flash[:error] %>

<div id="result" style="display:none"></div>

<%= yield %>

<script type="text/javascript">
  root_url = '<%= root_url(:canvas => false) %>';

  Character.update(<%= current_character.to_json %>);
</script>

  <% admin_only do %>
    <div style="border: 1px solid #0000ff; padding:5px; margin:5px;">
      <%= link_to("Statistics", statistics_pages_path) %>
    </div>
  <% end %>

<%#= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>
</fb:fbml>