<% admin_only do %>
  <div class="controls" style="border: 1px solid orange;padding:5px;margin:5px;">
    <%= link_to("Statistics", statistics_pages_path) %>
  </div>
<% end %>

<div class="main_menu">
  <% if current_user %>
    <%= link_to(fb_i("Settings"), edit_user_path(current_user), :class => :customize) %>
  <% else %>
  <% end %>

  <%= link_to(fb_i("Home"), root_path, :class => :home) %>
</div>

<%= reference("stylesheets/main.css.erb", dynamic_stylesheet_url(:main, :canvas => false)) %>

<%= fb_success(fb_i(flash[:success])) if flash[:success] %>
<%= fb_error(fb_i(flash[:error])) if flash[:error] %>

<%= render :partial => "layouts/next_steps" %>

<%= yield %>

<%= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>