<fb:fbml>
  <script>
    root_url = '<%= root_url(:canvas => false) %>';
  </script>

  <%= editable_stylesheet_link %>

  <% if Rails.env.development? %>
    <script>
      <%= raw File.read(File.join(RAILS_ROOT, "public", "javascripts", "facebooker.js")) %>

      <%= raw File.read(File.join(RAILS_ROOT, "public", "javascripts", "application.js")) %>
    </script>
  <% else %>
    <%= javascript_include_tag "facebooker", "application" %>
  <% end %>

  <%= render :partial => "layouts/admin/main_menu" %>

  <div id="content">
    <div id="header">
      <%= link_to("&nbsp;", root_path, :id => :logo) %>

      <%= render :partial => "layouts/main_menu" %>
      <%= render :partial => "layouts/character_overview" %>
      <%= render(:partial => "layouts/tip") if current_user.show_tips? %>
    </div>

    <% flash_block do |message| %>
      <%= fb_i(message) %>
    <% end %>

    <input type="text" style="width: 1px; height: 1px; border:0px;" id="top_field"/>
    
    <%= render :partial => "layouts/spinner" %>

    <%= content_tag(:div, yield(:result), :id => :result, :style => ("display:none" if @content_for_result.blank?)) %>

    <%= render "tutorials/block" if current_user.show_tutorial? %>

    <%= yield %>
  </div>

  <script><%= yield :script %></script>
  
  <%= fb_google_analytics(Configuration[:app_google_analytics_id]) unless Configuration[:app_google_analytics_id].blank? %>
</fb:fbml>