<%= javascript_include_tag "facebooker", "application" %>

<script>root_url = '<%= root_url(:canvas => false) %>';</script>

<%= reference("stylesheets/main.css.erb", dynamic_stylesheet_url(:main, :canvas => false)) %>

<div id="spinner" style="display:none;">This is spinner!!!</div>

<div id="header">
  <ul id="co">
    <li class="first">
      <b><%= fb_i("Money:") %></b>
      <div id="co_basic_money"></div>
    </li>
    <li class="second">
      <b><%= fb_i("Experience:") %></b>
      <div id="co_experience"></div>
    </li>
    <li class="third">
      <b><%= fb_i("Health:") %></b>
      <div id="co_health"></div>
      <div id="co_health_timer" class="timer"></div>
    </li>
    <li class="first">
      <b><%= fb_i("Gems:") %></b>
      <div id="co_vip_money"></div>
    </li>
    <li class="second">
      <b><%= fb_i("Level:") %></b>
      <div id="co_level"></div>
      <div id="co_points" style="display:none">(<%= link_to("", upgrade_character_path(current_character), :id => :co_point_link) %>)</div>
    </li>
    <li class="third">
      <b><%= fb_i("Energy:") %></b>
      <div id="co_energy"></div>
      <div id="co_energy_timer" class="timer"></div>
    </li>
  </ul>

  <div id="main_menu">
    <%= link_to(fb_i("Home"), root_path, :class => :home) %>
    <%= link_to(fb_i("Missions"), missions_path, :class => :missions) %>
    <%= link_to(fb_i("Fight"), new_fight_path, :class => :fights) %>
    <%= link_to(fb_i("Shop"), items_path, :class => :shop) %>
    <%= link_to(fb_i("Inventory"), inventories_path, :class => :inventory) %>
    <%= link_to(fb_i("Profile"), character_path(current_character), :class => :profile) %>
  </div>
</div>

<%= fb_i(fb_success(flash[:success])) if flash[:success] %>
<%= fb_i(fb_error(flash[:error])) if flash[:error] %>

<%= render :partial => "layouts/next_steps" if current_user.show_next_steps? %>

<%= yield %>

<script>
  Character.update(<%= current_character.to_json %>);
</script>
<%#= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>