<%= javascript_include_tag "facebooker", "application" %>
<%= reference("stylesheets/main.css.erb", dynamic_stylesheet_url(:main, :canvas => false)) %>

<div id="spinner" style="display:none;">This is spinner!!!</div>

<div id="header">
  <ul id="main_menu">
    <li><%= link_to(fb_i("Home"), root_path, :class => :home) %></li>
    <li><%= link_to(fb_i("Missions"), missions_path, :class => :missions) %></li>
    <li><%= link_to(fb_i("Inventory"), inventories_path, :class => :inventory) %></li>
    <li><%= link_to(fb_i("Profile"), character_path(current_character), :class => :profile) %></li>
    <li><%= link_to(fb_i("Fight"), new_fight_path, :class => :fights) %></li>
    <li><%= link_to(fb_i("Shop"), items_path, :class => :shop) %></li>
  </ul>
  <ul id="co">
    <li class="first">
      <b><%= fb_i("Money:") %></b>
      <div id="co_basic_money"><%= current_character.basic_money %></div>
    </li>
    <li class="second">
      <b><%= fb_i("Experience:") %></b>
      <div id="co_experience"><%= current_character.experience %></div>
    </li>
    <li class="third">
      <b><%= fb_i("Health:") %></b>
      <div id="co_health"><%= "%d/%d" % [current_character.hp, current_character.health] %></div>
    </li>
    <li class="first">
      <b><%= fb_i("Gems:") %></b>
      <div id="co_vip_money"><%= current_character.vip_money %></div>
    </li>
    <li class="second">
      <b><%= fb_i("Level:") %></b>
      <div id="co_level"><%= current_character.level %></div>
      <div id="co_points" <%= 'style="display:none;"' if current_character.points == 0 %>>
        (<%= link_to("+%d" % current_character.points, upgrade_character_path(current_character), :id => :co_point_link) %>)
      </div>
    </li>
    <li class="third">
      <b><%= fb_i("Energy:") %></b>
      <div id="co_energy"><%= "%d/%d" % [current_character.ep, current_character.energy] %></div>
    </li>
  </ul>
</div>

<%= fb_success(fb_i(flash[:success])) if flash[:success] %>
<%= fb_error(fb_i(flash[:error])) if flash[:error] %>

<%= render :partial => "layouts/next_steps" if current_user.show_next_steps? %>

<%= yield %>

<%= fb_google_analytics("UA-111105-16") unless in_profile_tab? %>