<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  <%= render('layouts/html_header') %>
</head>
<body>
  <% fb_connect_js(:channel_url => facebook_callback_url + '/channel.html', :weak_cache => Setting.b(:app_weak_fb_js_cache)) do %>
    $(function(){
      $(document).trigger('facebook.ready');
    });
  <% end %>

  <div id="content">
    <div id="header" class="clearfix">
      <%= link_to("", root_path, :id => :logo) %>
    </div>

    <%= render("layouts/spinner") %>

    <%= yield %>
   
    <%= render("layouts/footer_unauthorised")%> 
  </div>

  <%= dom_ready %>

  <%= google_analytics %>
</body>
</html>
