<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <script>
    var facebook_api_key = '<%= Facebooker.facebooker_config["api_key"] %>';
  </script>

  <%= raw fb_connect_javascript_tag %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag "jrails", "application" %>

  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <div id="content">
    <div id="header" class="clearfix">
      <%= link_to("&nbsp;", root_path, :id => :logo) %>
    </div>

    <%= yield %>
  </div>

  <!-- Smart resizing hack --><div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div><!-- /Smart resizing hack -->

  <%= dom_ready %>

  <%= google_analytics %>
</body>
</html>