<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <script type="text/javascript">
    var facebook_api_key = '<%= Facebooker.facebooker_config["api_key"] %>';
  </script>

  <%= fb_connect_javascript_tag.html_safe %>
  
  <%= include_jquery_from_google %>
  <%= javascript_include_tag "jquery/tooltip", "jrails", "application" %>

  <%= stylesheet_link_tag(skin_path) %>
</head>
<body>
  <div id="content">
    <div id="header" class="clearfix">
      <%= link_to("", root_path, :id => :logo) %>
    </div>

    <%= render "layouts/spinner" %>

    <%= yield %>
  </div>

  <!-- Smart resizing hack --><div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div><!-- /Smart resizing hack -->

  <%= dom_ready %>

  <%= google_analytics %>
</body>
</html>