<% requirement(requirement.name, false) do %>
  <% if current_character.energy_points >= requirement.value %>
    <p>
      <%= t(".restorable.message",
            :required_value => content_tag(:strong, requirement.value),
            :restore_time   => content_tag(:strong, (current_character.ep_restore_time(requirement.value) / 1.minute).ceil)
          ).html_safe %>
    </p>
    
    <div id="refill_options_list" class="clearfix">
      <div class="item">
        <div class="name"><%= t(".restorable.title") %></div>
        <div class="image"><%= asset_image_tag(:refill_energy) %></div>
        <div class="controls">
          <%= refill_button(:refill_energy) %>
        </div>
      </div>
      
      <%= render("requirements/not_satisfied/inventories_list", :payout_name => :energy_point) %>
    </div>

  <% else %>
    <p>
      <%= t(".low_base_level.message",
            :premium_page => link_to(t("layouts.main_menu.items"), premium_path(:anchor => :services))
          ).html_safe %>
    </p>

    <div class="buttons">
      <%= link_to(button(:get_points), premium_path(:anchor => :services),
            :class => "premium button"
          ) %>
    </div>
  <% end %>
<% end %>
