<% requirement(requirement.name, false) do %>
  <% if Item::PURCHASEABLE.include?(requirement.item.availability) %>
    <p>
      <span class="image">
        <%= item_image(requirement.item, :icon,
              :alt    => t(".shop_link_title", :item => requirement.item.plural_name),
              :title  => t(".shop_link_title", :item => requirement.item.plural_name),
              :tooltip => true,
              :details => true
            ) %>
      </span>

      <span class="label">
        <%= t(".message",
              :name   => span_tag(requirement.item.name, :value),
              :amount => requirement.amount
            ).html_safe %>
      </span>
    </p>

    <p>
      <%= t(".buy_missing",
            :amount => requirement.missing_amount(current_character),
            :price  => span_tag(item_price_inline(requirement.item, requirement.missing_amount(current_character)), :price)
          ).html_safe %>
    </p>

    <div class="buttons">
      <%= link_to(button(:buy),
            inventories_path(
              :item_id  => requirement.item,
              :amount   => requirement.missing_amount(current_character)
            ),
            :remote => true,
            :method => :post,
            :onclick => "$(document).one('item.purchase', function(){ $(document).trigger('requirement.satisfy') });",
            :"data-click-once" => true,
            :class => "buy button"
          ) %>
    </div>
  <% else %>
    <p>
      <span class="image">
        <%= item_image(requirement.item, :icon) %>
      </span>

      <span class="label">
        <%= t(".message",
              :name   => span_tag(requirement.item.name, :value),
              :amount => requirement.amount
            ).html_safe %>
      </span>
    </p>
  <% end %>
<% end %>
