<% requirement(requirement.name, false) do %>
  <% if [:shop, :special].include?(requirement.item.availability) %>
    <% link = capture do %>
      <span class="image">
        <%= item_image(requirement.item, :icon,
              :alt    => t(".shop_link_title", :item => requirement.item.plural_name),
              :title  => t(".shop_link_title", :item => requirement.item.plural_name)
            ) %>
      </span>

      <span class="label">
        <%= raw t(".message",
              :name   => content_tag(:span, requirement.item.name, :class => :value),
              :amount => requirement.amount
            ) %>
      </span>
    <% end %>

    <%= link_to_remote(link,
          :url    => new_inventory_path(
            :item_id  => requirement.item,
            :amount   => requirement.missing_amount(current_character)
          ),
          :method => :get,
          :update => :ajax,
          :html => { 
            :title => t(".shop_link_title", :item => requirement.item.plural_name)
          }
        ) %>
  <% else %>
    <span class="image">
      <%= item_image(requirement.item, :icon) %>
    </span>

    <span class="label">
      <%= raw t(".message",
            :name   => content_tag(:span, requirement.item.name, :class => :value),
            :amount => requirement.amount
          ) %>
    </span>
  <% end %>
<% end %>