<% requirement(requirement.name, false) do %>
  <% if current_character.stamina_points >= requirement.value %>
    <p>
      <%= t(".restorable.message",
            :required_value => strong_tag(requirement.value),
            :restore_time   => strong_tag((current_character.sp_restore_time(requirement.value) / 1.minute).ceil)
          ).html_safe %>
    </p>

    <div id="refill_options_list" class="clearfix">
      <div class="item">
        <div class="name"><%= t(".restorable.title") %></div>
        <div class="image"><%= image_tag("refill_stamina.png") %></div>
        <div class="controls">
          <%= refill_button(:stamina) %>
        </div>
      </div>
      
      <%= render("requirements/not_satisfied/inventories_list", :payout_name => :stamina_point) %>
    </div>

  <% else %>
    <p>
      <%= t(".low_base_level.message",
            :premium_page => link_to(t("layouts.main_menu.items"), items_path(:anchor => :services))
          ).html_safe %>
    </p>

    <div class="buttons">
      <%= link_to(button(:get_points), items_path(:anchor => :services),
            :class => "premium button"
          ) %>
    </div>
  <% end %>
<% end %>
